@*// *********************************************************************************************************
    //  View Name                : PrintGetUserDetails
    //  Desciption               : Print User Details
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@

@{
    ViewBag.Title = "Print User Details";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.TransporterModel
 
<section class="wrapper main-wrapper row">

    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">

                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="table-responsive" id="divPrint">
                            @Html.Hidden("Type")
                            <table id="tablePRint" style="border: 1px solid #dadada;width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <img id="imgLogo" src="/CMSimg/govt-logo.png" style="height: 100px; width: 100px; margin: 0 auto; display: block;" alt="LOGO">
                                        <br>
                                        <h2 style="text-align: center;">GOVERNMENT OF CHHATTISGARH</h2>

                                        <h4 style="text-align: center;">MINERAL RESOURCES DEPARTMENT</h4>
                                        <h5 style="text-align: center;">(@(Html.DisplayFor(model => model.DistrictName)) District)</h5>
                                    </td>
                                </tr>
                            </table>
                            <table id="tablePRint2" style="border: 1px solid #dadada;width: 100%;">
                                <tbody>

                                    <tr>
                                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; text-align: center;">
                                            <span id="spnFormNumber" class="lead Certificate" style="display: none;">Form: 18 (<span class="hindifont Certificate">iz:i &18</span>)</span>

                                            <br />
                                            <span class="lead Certificate">See Rele 17(2) (<span class="hindifont Certificate">¼nsf[k;s fu;e 17¼2½½</span>)</span>
                                            <br />

                                            <span class="lead" id="ApplicatinoForm">Vehicle Owner Registration Form (<span id="ApplicatinoForm2" class=" hindifont">okys okgu ekfyd dk iath;u iz:i½</span>)</span>
                                            <br />

                                            <span class="lead Certificate"> Vehicle Owner Registration Application Form (<span class="Certificate hindifont">¼okgu ekfyd dk iath;u vkosnu iz:i½</span>)</span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;"><strong>Date and Time : </strong>@DateTime.Now.ToString() </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span class="Certificate">
                                                <strong> Registration No. : </strong>@Model.RegistrationNumber
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Transporter Type <b>(Individual,Firm,Association,Company)</b></span>
                                            <br />
                                            <span class="hindifont"><b>ifjogudrkZ dk izdkj ¼O;fDr] QeZ] ,lksfl,'ku vFkok daiuh½</b></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;" colspan="3">@Model.TransporterTypeStatus</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Name of Individual/Firm/Association/Company</span>
                                            <br />
                                            <span class="hindifont">O;fDr@QeZ@@,lksfl,'ku@daiuh dk uke</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            @Model.CompanyName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Name of Applicant </span>
                                            <br />
                                            <span class="hindifont">vkosnudrkZ dk uke</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@Model.ApplicantName</span>
                                        </td>

                                    </tr>


                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Complete Address </span>
                                            <br />
                                            <span class="hindifont">iw.kZ irk</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.Address</td>

                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Pin Code </span>
                                            <br />
                                            <span class="hindifont">fiu dksM</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.PinCode</td>

                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Mobile Number </span>
                                            <br />
                                            <span class="hindifont">eksckbZy uacj</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.MobileNo</td>

                                    </tr>


                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>E-mail ID </span>
                                            <br />
                                            <span class="hindifont">bZ&esy vkbZMh</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.EmailID</td>

                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>PAN Card Number </span>
                                            <br />
                                            <span class="hindifont">isu&dkMZ uacj</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.PAN</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Aadhaar Card Number <b>(In case of an Individual)</b></span>
                                            <br />
                                            <span class="hindifont"><b>vk/kkj dkMZ uacj ¼O;fDr gksus dh n'kk esa½</b></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.AadhaarNo</td>

                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>TIN Number <b>(For Comapany/Firm/Association)</b></span>
                                            <br />
                                            <span class="hindifont"><b>fVu uacj ¼daiuh@QeZ@@,lksfl,'ku ds fy,½</b></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">@Model.TINNo</td>

                                    </tr>
                                    <tr>
                                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">
                                            <span class="hindifont">?kks"k.kk &  eSa ;g ?kks"k.kk djrk gwWa fd Åij nh xbZ leLr tkudkjh esjh tkudkjh ,oa fo'okl ds vuqlkj lR; gSA eq>s Kkr gS fd mDr dksbZ tkudkjh xyr vFkok vlR; ik;s tkus ij mi;qDr fu;eksa ds rgr~ tqekZuk@n.M gks ldrk gSA</span><br />
                                            <span style="color: red;" class="hindifont">
                                                vLohdj.k & [kfut lk/ku foHkkx mi;qZDr fdlh Hkh tkudkjh dh izekf.kdrk ds fy, mRrjnk;h ugha gksxkA
                                            </span>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">
                                            <label>
                                                <i id="Cer">This is a system generated certificate. So physical signature is not required. </i>
                                                <i id="Frm">This is a system generated form. So physical signature is not required. </i>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        debugger;
        // var m = new Date();
        //$("#datetime").text(m.getDate() + " - " + m.getMonth() + " - " + m.getFullYear() + " " + m.getHours() + " : " + m.getMinutes());
        var type = $('#Type').val();
        if (type == 'Form') {
            $(".Certificate").hide();
            $("#Cer").hide();
            getFormPDF();
        }
        else {
            $("#ApplicatinoForm").hide();
            $("#ApplicatinoForm2").hide();
            $(".Certificate").show();
            $("#Frm").hide();
            $("#Cer").show();
            getCeftificatePDF();
        }
    });
    function getCeftificatePDF() {
        debugger;
        $("#ApplicatinoForm").hide();
        $("#ApplicatinoForm2").hide();
        $(".Certificate").show();

        html2canvas($('#divPrint')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("TrasnporterCertificate.pdf");
            }
        });

    }

    function getFormPDF() {
        $(".Certificate").hide();
    }

</script>