@*// *********************************************************************************************************
    //  View Name                : Profile
    //  Desciption               : View Profile,Edit and Downlod
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using userregistrationApp.Helper;
@model userregistrationEF.TransporterModel
<script>

    $(document).ready(function () {
        loadNavigation('Profile', 'ql', 'pl', 'tl', 'Vehicle Owner', 'Profile', ' ');

    });
</script>
<section class="wrapper main-wrapper row">
    @{
        if (ViewBag.msg != null)
        {
            <script>
                alert('@ViewBag.msg');
            </script>
        }
    }
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Profile
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="bg-light p-4 mb-4">
                            <div class="row">
                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Owner Type </label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.TransporterTypeStatus</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Aadhaar Number</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.AadhaarNumber</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Name of Applicant</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.TransporterName</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">State</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.StateName</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.MobileNo</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">District</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.DistrictName</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">PAN Card Number</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.PAN</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Pin Code</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.PinCode</strong></label>
                                </div>

                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Complete Address</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.Address</strong></label>
                                </div>
                                <label class="col-lg-2 col-md-3 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-3 col-md-9 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span><strong>@Model.EmailID</strong></label>
                                </div>



                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <a class="btn btn-dark mr-3" href="/VehicleOwner/VehicleOwner/EditProfile">
                                    Edit
                                </a>
                                <a class="btn btn-danger" href="@CustomQueryStringHelper.EncryptString("VehicleOwner","PrintGetUserDetails","VehicleOwner",new { Type = "Certificate" })">
                                    Download
                                </a>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>