@*// *********************************************************************************************************
    //  View Name                : Submission_of_Complaint
    //  Desciption               : Add Submission of Complaint
    //  Created By               : Debaraj Swain
    //  Created On               : 22 May 2021
    // ********************************************************************************************************
*@

@model SupportEF.PublicGrievanceModel
@{
    ViewData["Title"] = "ProfileView";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";

}
<script type="text/javascript">
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Submission_of_Complaint', 'glTMng', 'plmineralform', 'tl', 'Grievance', 'Submission of Complaint', '');
        $('.searchableselect').searchableselect();
        $('.datetime').datetimepicker({
            format: 'LT',
            format: "DD/MM/YYYY",
            daysOfWeekDisabled: [],
        });
    })
</script>
@if (!String.IsNullOrEmpty(ViewBag.ResponseMessageDD))
{
    <script>

    if (@ViewBag.ResponseMessageDD== "6")
    {
        swal("", "Complaint Closed Successfully", "success");
    }
    else if (@ViewBag.ResponseMessageDD== "3")
    {
        swal("", "Complaint request not forwarded !", "warning");
    }
      else if (@ViewBag.ResponseMessageDD== "4")
    {
        swal("", "Please fill all mandatory fields", "warning");
    }

    </script>
}
@if (!String.IsNullOrEmpty(ViewBag.ResponseMessage))
{
    <script>
            swal("", "@ViewBag.ResponseMessage", "success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item mr-md-1">
                            <a class="nav-link active" href="@Url.Action("Register", "Grievance")">
                                Submission of Complaint
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("Submission_of_Complaint", "Grievance", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "__EUAntiForgeryForm", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
                        {

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <h4 style="color:red">1) Details of Complain</h4>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Subject of Complaint  <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">

                                            @Html.DropDownListFor(model => model.SUBJECT_OF_COMPLAINT, ViewBag.ViewCType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus" })
                                            @Html.ValidationMessageFor(x => x.SUBJECT_OF_COMPLAINT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label"> Name of Complainer <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(x => x.NAME_OF_COMPLAINER, new { @class = "form-control", @maxlength = "150", onkeypress = "lettersOnly();" })
                                            @Html.ValidationMessageFor(x => x.NAME_OF_COMPLAINER, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label"> Complete Address Of Complainer <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextAreaFor(x => x.ADDRESS, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(x => x.ADDRESS, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">District<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.C_DISTRICT, ViewBag.ViewDistList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus" })
                                            @Html.ValidationMessageFor(x => x.C_DISTRICT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label"> Complaint Date <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="input-group-prepend">
                                                <input type="text" class="form-control datetime" name="Date" />
                                                <label class="input-group-text" for="inputDate"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label"> Attachment  <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input name="ATTACHMENT" type="file" class="form-control custom-file-input" id="ATTACHMENT">
                                            <label class="custom-file-label">Choose Files</label>
                                            <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>
                                            @Html.ValidationMessageFor(x => x.ATTACHMENT, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                                @section Scripts
                                    {

                                    <script>
                                        $(document).ready(function () {



                                            $('#ATTACHMENT').on("change", function () {
                                                debugger;
                                                var label = $(this).siblings('.custom-file-label');
                                                var files = $(this)[0].files;
                                                var Size = files[0].size;
                                                if (Size < 2048000) {
                                                    label.html(files[0].name);
                                                    Aadhaar_FileSize = files.length;
                                                }
                                                else {
                                                    swal("", "Please make sure your Doc is less than 2 MB!", "warning");
                                                    $('#doc').focus();

                                                }

                                            });
                                        });
                                    </script>

                                }
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6 offset-sm-2">

                                    <input type="button" value="Submit" id="btnSubmit" onclick="return btnSubmitClick();" class="btn btn-primary btn-md" style="margin-right: 10px;" />
                                </div>
                            </div>

                        }
                    </div>
                </section>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#MOBILE_NUMBER_OF_COMPLAINER").focusout(function () {
        $('#VerifyOTP').val('');
    });
    $("#EMAIL_ADDRESS_OF_COMPLAINER").focusout(function () {
        $('#VerifyOTP').val('');
    });
    $("#MOBILE_NUMBER_OF_COMPLAINER").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $("#MOBILE_NUMBER").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });
    $("#PINCODE").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $("#btnsendOtp").click(function () {
        if (ValidateForm()) {
            var mobileNumber = $("#MOBILE_NUMBER_OF_COMPLAINER").val();
            var EmailID = $("#EMAIL_ADDRESS_OF_COMPLAINER").val();
            $.ajax({
                url: '@Url.Content("~/Grievance/Grievance/SendOTP")',
                dataType: "",
                type: "POST",
                data: {
                    MobileNumber: mobileNumber,
                    EmailID: EmailID
                },
                success: function (data) {
                    console.log(data);
                    if (data != null) {

                        if (data == "SUCCESS") {
                            swal("", "Enter Verification Code received on submitted Mobile/Email Id", "success");
                        }
                        else {
                            alert(data);
                        }
                    }
                }
            })
        }
    });
      function btnSubmitClick() {
          if (ValidateForm()) {
              $("#__EUAntiForgeryForm").submit();
              return true;
          }
          else {
              return false;
          }
    };
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
    $("#MOBILE_NUMBER_OF_COMPLAINER").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    function ValidateForm() {

        if (!blankFieldValidation("SUBJECT_OF_COMPLAINT", "SUBJECT OF COMPLAINT")) {
            return false;
        }

        if (!blankFieldValidation("NAME_OF_COMPLAINER", "NAME OF COMPLAINER")) {
            return false;
        }


        if (!blankFieldValidation("ADDRESS", "Complete Address")) {
            return false;
        }

        if (!blankFieldValidation("C_DISTRICT", "DISTRICT")) {
            return false;
        }

        if (!blankFieldValidation("Date", "Complaint Date")) {
            return false;
        }

        if (!blankFieldValidation("ATTACHMENT", "ATTACHMENT")) {
            return false;
        }
        return true;


    }
</script>











