@{
    ViewBag.Title = "ePermit Required Fields";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PermitEF.ValidityExpiredEF

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")

        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Validity Expired
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="dialog">
                            <div style="border-color: #CCC">
                                <h2><span style="text-align: left; color: red;">Validity Expired!</span></h2>
                            </div>
                            <p>
                                <br />
                                <b class="blink_me_red">Environmental Clearance Quantity : </b><b>@Model.TotalECApprovedQty </b>
                                @*<br />
            <b class="blink_me_red">Environmental Clearance Validity : </b><b>@Model.ECValidity </b>*@
                                <br />
                                <b class="blink_me_red">Mining Plan Quantity : </b><b>@Model.TotalMiningProductionQty </b>
                                @*<br />
            <b class="blink_me_red">Mining Plan Validity : </b><b>@Model.MPValidity </b>*@
                                <br />
                                <b class="blink_me_red">Lease Validity : </b><b>@Model.LeaseValidity </b>
                                <br />
                                <b class="blink_me_red">Total Dispatched : </b><b>@Model.TotalDispatched </b>
                                <br />
                                <br />
                                @*<b>Please update your profile.<a href="@Url.Action("Dashboard", "Profile", new { Area = "Lessee" })">Click Here</a> to update Profile</b>*@
                            </p>
                        </div>
                            
                           
                      

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<uc1:footer runat="server" ID="footer" />
