@*// ************************************************************************************************************
    //  View Name                : ViewCTEDetails
    //  Desciption               : To View CTE Deatils for Licensee
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 25 June 2021
    // **********************************************************************************************************
*@

@model MasterEF.CTEDetails;
@{
    ViewData["Title"] = "CTEDetails";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Licensee/UserInformationLiensee/CTEDetails">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Consent To Establish Details</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report<i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/UserInformationLiensee/CTEDetails" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">CTE Approval Number</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CTE_ORDER_NO</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">CTE Order Date</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CTE_ORDER_DATE</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">CTE Valid From</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CTE_VALID_FROM</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">CTE Valid To</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CTE_VALID_TO</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">CTE Letter</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.FILE_CTE_LETTER
                                        @if (Model.FILE_CTE_LETTER != null && Model.FILE_CTE_LETTER != "")
                                        {
                                            <a href='~/@Model.CTE_LETTER_PATH' title="" class="ml-2" data-original-title="Download CTE Letter" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Remarks</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Remarks</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter1'>
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

