@*// *********************************************************************************************************
    //  View Name                : Add
    //  Desciption               : To View Lesee Application Details
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 06 July 2021
    // ********************************************************************************************************
*@
@model MasterEF.ApplicationDetails;
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    $(document).ready(function () {
        loadNavigation('CompareApplicationDetails', 'glUIS', 'pllesseprof', 'tl', 'Licensee Profile', 'Application Details', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Licensee/ApplicationDetails/Create">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Licensee Information</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/ApplicationDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Category</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MINERAL_CATEGORY_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Form</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralFormName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Grade</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralGradeName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Licensee Capacity</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblstorage"><span class="colon">:</span>@Model.STORAGE_CAPACITY</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Licensee Capacity Unit</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblunit"><span class="colon">:</span>@Model.UnitName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Application No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblapplicationno"><span class="colon">:</span>@Model.APPLICATION_NUMBER</label>
                                </div>

                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Application Form</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_APPLICATION_FORM_COPY != null)
                                    {
                                        <label class="form-control-plaintext"><span class="colon">:</span>@(Model.FILE_APPLICATION_FORM_COPY) <a href='~/@Model.APPLICATION_FORM_COPY_PATH' title="" class="ml-2" data-original-title="Download PAN Card Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>

                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">PAN Card No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblPaancardNo"><span class="colon">:</span>@Model.PAN_CARD_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">PAN Card No Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_PAN_CARD != null && Model.FILE_PAN_CARD != "")
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_PAN_CARD) <a href='~/@Model.PAN_CARD_PATH' title="" class="ml-2" data-original-title="Download PAN Card Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Adhar Card No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblAdharCardNo"><span class="colon">:</span>@Model.ADHAR_CARD_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Adhar Card Scan Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_ADHAR_CARD != null && Model.FILE_ADHAR_CARD != "")
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_ADHAR_CARD) <a href='~/@Model.ADHAR_CARD_PATH' title="" class="ml-2" data-original-title="Download AAdhar Card Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Tin No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblTinNo"><span class="colon">:</span>@Model.TIN_CARD_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Tin Scan Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_TIN_CARD != null && Model.FILE_TIN_CARD != "")
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_TIN_CARD) <a href='~/@Model.TIN_CARD_PATH' title="" class="ml-2" data-original-title="Download GST Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Firm Registration Deed No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblRegDeedNo"><span class="colon">:</span>@Model.FIRM_REGISTRATION_DEED_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Firm Registration Deed Document</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_FIRM_REGISTRATION_DEED != null && Model.FILE_FIRM_REGISTRATION_DEED != "")
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_FIRM_REGISTRATION_DEED) <a href='~/@Model.FIRM_REGISTRATION_DEED_PATH' title="" class="ml-2" data-original-title="Download Firm Registration Deed Document" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Incorporation Certification No.</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblIncorporateNO"><span class="colon">:</span>@Model.CERTIFICATE_OF_INCORPORATION_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Certification of Incorporation Document</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_CERTIFICATE_OF_INCORPORATION != null && Model.FILE_CERTIFICATE_OF_INCORPORATION != "")
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_CERTIFICATE_OF_INCORPORATION) <a href='~/@Model.CERTIFICATE_OF_INCORPORATION_PATH' title="" class="ml-2" data-original-title="Download Incorporation Certification Document" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Licensee Type</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.APPLICATION_TYPE_NAME</label>
                                </div>

                            </div>
                            <ul class="timeline custom-scroll log-box" id="collapsefillter1">
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Attachments Information</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter2">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/ApplicationDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Power of Attorney</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_POWER_OF_ATORNY != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_POWER_OF_ATORNY) <a href='~/@Model.POWER_OF_ATORNY_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Affidavits / Mining Due Certificate</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_AFFIDAVITS_MINING_DUE != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_AFFIDAVITS_MINING_DUE) <a href='~/@Model.AFFIDAVITS_MINING_DUE_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Khasara Panchsala</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_KHASARA_PANCHSALA != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_KHASARA_PANCHSALA) <a href='~/@Model.KHASARA_PANCHSALA_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Map / Plan of applied area</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_MAP_PLAN_OF_APPLIED_AREA != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_MAP_PLAN_OF_APPLIED_AREA) <a href='~/@Model.MAP_PLAN_OF_APPLIED_AREA_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Forest Report</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_FOREST_REPORT != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_FOREST_REPORT) <a href='~/@Model.FOREST_REPORT_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Revenue Officer Report</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_REVENUE_OFFICER_REPORT != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_REVENUE_OFFICER_REPORT) <a href='~/@Model.REVENUE_OFFICER_REPORT_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Spot Inspection and Analysis Report</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_SPOT_INSPECTION_AND_ANALYSIS_REPORT != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_SPOT_INSPECTION_AND_ANALYSIS_REPORT) <a href='~/@Model.SPOT_INSPECTION_AND_ANALYSIS_REPORT_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Mining Inspector Report</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_MININIG_INSPECTOR_REPORT != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_MININIG_INSPECTOR_REPORT) <a href='~/@Model.MINING_INSPECTOR_REPORT_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                                <label class="col-lg-3 col-md-5 col-sm-12 col-form-label">Gram Panchayat Proposal</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    @if (Model.FILE_GRAM_PANCHAYAT_PROPOSAL != null)
                                    {
                                        <label class="form-control-plaintext">@(Model.FILE_GRAM_PANCHAYAT_PROPOSAL) <a href='~/@Model.GRAM_PANCHAYAT_PROPOSAL_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                            </div>
                            <ul class="timeline custom-scroll log-box" id="collapsefillter2">
                                @Html.Raw((String)ViewBag.tableLB)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Fees Information</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter3">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/ApplicationDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                              
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Application Fees (in <i class="fas fa-rupee-sign"></i>)</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.APPLICATION_FEES
                                        @if (Model.FILE_APPLICATION_FEES_CHALLAN != null && Model.FILE_APPLICATION_FEES_CHALLAN != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.FILE_APPLICATION_FEES_CHALLAN) <a href='~/@Model.APPLICATION_FEES_CHALLAN_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Application Fees Date</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.APPLICATION_FEES_DATE</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Security Deposit Challan / DD Amount (in <i class="fas fa-rupee-sign"></i>)</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.CHALLAN_DD_AMOUNT
                                        @if (Model.FILE_CHALLAN_DD != null && Model.FILE_CHALLAN_DD != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.FILE_CHALLAN_DD) <a href='~/@Model.CHALLAN_DD_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Security Deposit Challan/DD Date</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CHALLAN_DD_DATE </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Bank Guarrantee Amount (in <i class="fas fa-rupee-sign"></i>)</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.BANK_GUARRANTEE_AMOUNT
                                        @if (Model.FILE_BANK_GUARRANTEE != null && Model.FILE_BANK_GUARRANTEE != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.FILE_BANK_GUARRANTEE) <a href='~/@Model.BANK_GUARRANTEE_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Bank Guarranty Date</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BANK_GUARRANTEE_DATE</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Surety Bond Amount (in <i class="fas fa-rupee-sign"></i>)</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.SURETY_BOND_AMOUNT
                                        @if (Model.FILE_SURETY_BOND != null && Model.FILE_SURETY_BOND != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.FILE_SURETY_BOND) <a href='~/@Model.SURETY_BOND_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Surety Bond Amount Date</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SURETY_BOND_DATE</label>
                                </div>
                                
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Fixed Deposits Monthly Income Scheme Certificate</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>
                                        @if (Model.FILE_FIXED_DEPOSITS_MONTHLY_INCOME_SCHEME_CERTIFICATE != null && Model.FILE_FIXED_DEPOSITS_MONTHLY_INCOME_SCHEME_CERTIFICATE != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.FILE_FIXED_DEPOSITS_MONTHLY_INCOME_SCHEME_CERTIFICATE) <a href='~/@Model.FIXED_DEPOSITS_MONTHLY_INCOME_SCHEME_CERTIFICATE_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                
                            </div>
                            <ul class="timeline custom-scroll log-box" id="collapsefillter3">
                                @Html.Raw((String)ViewBag.tableLC)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Transfer Information</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter4">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/ApplicationDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Transferee Name</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.NameOfTransferee</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Transferee Address</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AddressOfTransferee</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Transfer Grant Order Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.Transfer_GrantOrderCopy_File
                                        @if (Model.Transfer_GrantOrderCopy_File != null && Model.Transfer_GrantOrderCopy_File != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.Transfer_GrantOrderCopy_File) <a href='~/@Model.Transfer_GrantOrderCopy_Path' title="" class="ml-2" data-original-title="Download Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Transfer Lease Deed Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.Transfer_LeaseDeedCopy_File
                                        @if (Model.Transfer_LeaseDeedCopy_File != null && Model.Transfer_LeaseDeedCopy_File != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.Transfer_LeaseDeedCopy_File) <a href='~/@Model.Transfer_LeaseDeedCopy_Path' title="" class="ml-2" data-original-title="Download Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Transfer Date</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.DateOfTransfer</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Remarks</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Remarks</label>
                                </div>
                            </div>
                            <ul class="timeline custom-scroll log-box" id="collapsefillter4">
                                @Html.Raw((String)ViewBag.tableLD)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Renewal</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter5">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/ApplicationDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter mb-0">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Date Of Renewal</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.DateOfRenewal </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Renewal Grant Order Copy</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.Renewal_GrantOrderCopy_File
                                        @if (Model.Renewal_GrantOrderCopy_File != null && Model.Renewal_GrantOrderCopy_File != "")
                                        {
                                            <label class="form-control-plaintext">@(Model.Renewal_GrantOrderCopy_File) <a href='~/@Model.Renewal_GrantOrderCopy_Path' title="" class="ml-2" data-original-title="Download Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Period Of Renewal From</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.PeriodOfRenewalFrom</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Period Of Renewal To</label>
                                <div class="col-lg-3 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.PeriodOfRenewalTo</label>
                                </div>

                            </div>
                            <ul class="timeline custom-scroll log-box" id="collapsefillter5">
                                @Html.Raw((String)ViewBag.tableLE)
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

