@model IEnumerable<EpassEF.EndUser_ETransitPassModel>;
@{
    ViewData["Title"] = "Receive Mineral Report";
     Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@*@inject EpassApp.KhanijSecurity.KhanijIDataProtection protector;*@
@if (TempData["Masg"] != null)
{
    <script>
        swal("",'@TempData["Masg"]', "success");
    </script>
    TempData["Masg"] = null;
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Content("~/EPass/MineralReceive/MineralReceive")">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link " href="javascript:void(0)">
                                View
                            </a>
                        </li>
                    </ul>

                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">


                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">


                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>

                                                <th width="30px">Sl#</th>
                                                <th>Year/Month</th>
                                                <th>Received From</th>
                                                <th>License/Mining Area</th>
                                                <th>Transit Pass No</th>
                                                <th>Transportation Mode</th>
                                                <th>Date of Issuance</th>

                                                <th>Mineral Name</th>
                                                <th>Mineral Form</th>
                                                <th>Mineral Grade</th>
                                                <th>Vehicle No</th>
                                                <th>Mineral Unit</th>

                                                <th>Quantity</th>
                                                <th>Vehicle Type</th>
                                                <th>Trip Status</th>



                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="active-row">



                                                        <td>@item.srNo</td>
                                                        <td>@item.DateOfDispatche</td>

                                                        <td>@item.LesseeName</td>
                                                        <td>@item.MiningArea</td>
                                                        <td>@item.TransitPassNo</td>
                                                        <td>@item.TransportationMode</td>
                                                        <td>@item.DateOfDispatche</td>
                                                        <td>@item.MineralName</td>
                                                        <td>@item.MineralNature</td>
                                                        <td>@item.MineralGradeName</td>
                                                        <td>@item.VehicleNumber</td>

                                                        <td>@item.UnitName</td>
                                                        <td>@item.ReceivedWeight</td>
                                                        <td>@item.VehicleTypeName</td>
                                                        <td>@item.TripRemark</td>



                                                    </tr>

                                                }
                                            }


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    excelMe = "yes"
    pdfMe = "yes"

    $(document).ready(function () {
        loadNavigation('MineralReceiptReports', 'glempprofile', 'plofficetype', 'tl', 'ReceiveMineral', 'MineralReceiptReports', ' ');

        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });



    });
</script>