@model EstablishmentEf.SectionEF 
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Section
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Content("~/EmpPro/Section/Viewlist")">
                                View  Section
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">


                        @using (Html.BeginForm("Add", "OfficeLevel", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">



                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Section Name<span class="text-danger">*</span></label>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            @*<input type="text" class="form-control">*@
                                            @Html.TextBoxFor(m => m.VchSectionName, new { @maxlength = 50, @class = "form-control" })
                                            @Html.HiddenFor(m => m.IntSectionId)
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Status<span class="text-danger">*</span></label>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.bitSatus, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" }) Active
                                                @Html.RadioButtonFor(n => n.bitSatus, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })Inactive


                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />

                                </div>

                                


                                @*<div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Section Name<span class="text-danger">*</span></label>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>




                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Status<span class="text-danger">*</span></label>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="py-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="radiop" name="radio-iRequirement" value="1">
                                    <label class="custom-control-label" for="radiop">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="radiopro" name="radio-iRequirement" value="2">
                                    <label class="custom-control-label" for="radiopro">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-lg-6 offset-lg-2 offset-md-4">
                    <a href="ViewSection.aspx" class="btn btn-primary btn-md ml-0">Submit</a>
                    <a href="#" class="btn btn-danger btn-md">Reset</a>
                </div>*@


                            </div>
                        }
                        </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>


