@{
    ViewData["Title"] = "View Epass Configuration";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@model IEnumerable<EpassEF.ePassConfigurationEF>

@if (ViewBag.msg != null)
{
    <script>

 swal("",'@ViewBag.msg',"success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" href="/epass/epassconfiguration/passconfiguration">Add</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/epass/epassconfiguration/passconfigurationView">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                   
                        <div class="content-body">

                            <div class="row">
                                @*@using (Html.BeginForm("PassConfigurationView", "ePassConfiguration", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                                {*@
                                    <div class="col-sm-12">
                                        <div id="viewtable">
                                            <table id="datatable" class="table table-sm table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Serial No</th>
                                                        <th>Pass Configuration Type</th>
                                                        <th>District</th>
                                                        <th>User Type</th>
                                                        <th>User Name</th>
                                                        <th>Mineral Type</th>
                                                        <th>Mineral Name</th>
                                                        <th>Transportation Mode</th>
                                                        <th>Allow Consignee</th>
                                                        <th>Route Fetch From</th>
                                                        <th>Trip Close By</th>
                                                        <th>Time</th>
                                                        <th width="100" class="text-center noprint">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int rowNo = 0;

                                                        foreach (var item in Model)
                                                        {

                                                            //var dyclass = @item.Status == "Active" ? "active-row" : "inactive-row";

                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                @(rowNo += 1)
                                                                                                            </td>
                                                                                                            <td>@item.PassConfigType</td>
                                                                                                            <td>@item.DistrictName</td>
                                                                                                            <td>@item.UserType</td>
                                                                                                            <td>@item.UserName</td>
                                                                                                            <td>@item.MineralType</td>
                                                                                                            <td>@item.MineralName</td>
                                                                                                            <td>@item.TransportationMode</td>
                                                                                                            <td>@item.AllowConsigneeType</td>
                                                                                                            <td>@item.RouteFetch</td>
                                                                                                            <td>@item.TripClose</td>
                                                                                                            <td>@item.Time</td>
                                                                                                            @*@if (@item.Status == "Active")
        {
                <td class="text-success">@item.Status</td>
        }
        else
        {
                <td class="text-orange">@item.Status</td>
        }*@
                                                                                                            <td class="noprint text-center">
                                                                                                                <a href="/epass/epassconfiguration/passconfiguration/@item.id"
                                                                                                                   class="btn-floating btn-outline-primary btn-sm"
                                                                                                                   title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                                                                                <a href="@Url.Content("~/EPass/ePassConfiguration/Delete/")@item.id"
                                                                                                                   class="btn-floating btn-outline-danger btn-sm"
                                                                                                                   title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>

                                                                                                            </td>
                                                                                                        </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                @*}*@
                                </div>
                        </div>
                                                   
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    excelMe = "yes"
    pdfMe = "yes"
    printMe = "yes"
    $(document).ready(function () {
        debugger;
        loadNavigation('EpassConfigurationView', 'glRoleRes', 'plUser', 'tl', 'eTransitPass', 'EpassConfiguration', ' ');
        $('#datatable').DataTable();
    });

</script>
