@using  DashboardApp.Web
@using DashboardEF
@using Microsoft.Extensions.Options;
@inject IOptions<KeyList> _objKeyList
@{
    ViewData["Title"] = "DD Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href='@Url.Content("~/css/DD-dashboard.css")' type="text/css" />

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="row mt-lg-2 top-total-section">
                    <div class="col-lg-3 col-md-6">
                        <div class="top-card bg-light-blue">
                            <div class="top-card-header">
                                <h4 class="text-blue">Lessee </h4>
                                <h3 class="text-blue"><small class="mr-1">Total</small> 53 </h3>
                            </div>
                            <div class="top-card-body">


                                <div class="details">
                                    <ul>


                                        <li>Working <span>43</span></li>
                                        <li>Not Working <span>10</span></li>

                                    </ul>

                                    <div class="chart-section">
                                        <div id="lesseePieChart" class="top-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-card bg-light-purple">
                            <div class="top-card-header">
                                <h4 class="text-purple">Licensee  </h4>
                                <h3 class="text-purple"><small class="mr-1">Total</small> 84 </h3>
                            </div>
                            <div class="top-card-body">



                                <div class="details">
                                    <ul>


                                        <li>Working <span>65</span></li>
                                        <li>Not Working <span>19</span></li>

                                    </ul>

                                    <div class="chart-section">
                                        <div id="licenseePieChart" class="top-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="top-card bg-light-red">
                            <div class="top-card-header">
                                <h4 class="text-red">End-user</h4>
                                <h3 class="text-red"><small class="mr-1">Total</small> 66 </h3>
                            </div>
                            <div class="top-card-body">

                                <div class="details">
                                    <ul>


                                        <li>Working <span>43</span></li>
                                        <li>Not Working <span>23</span></li>

                                    </ul>

                                    <div class="chart-section">
                                        <div id="EnduserPieChart" class="top-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="top-card bg-light-yellow">
                            <div class="top-card-header">
                                <h4 class="text-yellow">Regd. Vehicles</h4>
                                <h3 class="text-yellow"><small class="mr-1">Total</small> 12,356 </h3>
                            </div>
                            <div class="top-card-body">

                                <div class="details">
                                    <ul>


                                        <li>Active <span>10,353</span></li>
                                        <li>Inactive <span>2,350</span></li>

                                    </ul>

                                    <div class="chart-section">
                                        <div id="vehiclePieChart" class="top-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Head Wise Revenue</h5>
                                <div class="filter-section">


                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cumulative</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Month Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Last 3 Years</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="dashboard-portlet__content ">


                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="dashboard-portlet__content__chart" id="headwiseRevenue">
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="dashboard-portlet__content__chart" id="headwiseMonthlyRevenue">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="dashboard-portlet__content__chart" id="headwiseYearlyRevenue">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <a href="#" class="btn btn-primary" title="View Details">
                                        <span class="icon-eye-solid"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Mineral Wise Revenue</h5>

                                <div class="filter-section">


                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Cumulative" role="tab" aria-controls="Cumulative" aria-selected="true">Cumulative</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#MonthWise" role="tab" aria-controls="MonthWise" aria-selected="false">Month Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#yearwise" role="tab" aria-controls="yearwise" aria-selected="false">Last 3 Years</a>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <div class="dashboard-portlet__content ">

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="Cumulative" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="dashboard-portlet__content__chart" id="mineralwiseRevenue">
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="MonthWise" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="dashboard-portlet__content__chart" id="mineralwiseMonthlyRevenue">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="yearwise" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="dashboard-portlet__content__chart" id="mineralwiseYearlyRevenue">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <a href="#" class="btn btn-primary" title="View Details">
                                        <span class="icon-eye-solid"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Pendency</h5>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="portlet-pendency">
                                    <ul class="permit-list mr-3">
                                        <li>
                                            <a href="http://khanijmasterapp.khanij.com/LesseeProfile/Profile/AllRequest">Lessee Profile Request</a>
                                            <span>20 </span>
                                        </li>
                                        <li>
                                            <a href="#">Licensee Profile Request</a>
                                            <span>38</span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname/EndUserRegistration/EndUserProfile/AllRequest">End-User Profile Request</a>
                                            <span>74 </span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname/Contractor/Contractor/VTDAllRequest">VTD-User Profile Request</a>
                                            <span>74 </span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname/Licensee/LicenseApplication/LeaseDeedExtendRequest">Approve Lease Deed Extend Request</a>
                                            <span>15 </span>
                                        </li>
                                        <li>

                                            <a href="@_objKeyList.Value.UserregDomenname@CustomQueryStringHelper.EncryptString("Licensee","LicenseRegisteredList","LicenseApplication",new {id=2 })">New License Application</a>
                                            <span>10</span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname@CustomQueryStringHelper.EncryptString("Licensee","LicenseRegisteredList","LicenseApplication",new {id=3 })">Acknowledgement Issued</a>
                                            <span>22 </span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname@CustomQueryStringHelper.EncryptString("Licensee","LicenseRegisteredList","LicenseApplication",new {id=4 })">Grant Order Issued</a>
                                            <span>12 </span>
                                        </li>
                                        <li>
                                            <a href="@_objKeyList.Value.UserregDomenname@CustomQueryStringHelper.EncryptString("Licensee","LicenseRegisteredList","LicenseApplication",new {id=5 })">Security Deposit Received</a>
                                            <span>15 </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>DMF</h5>
                                <div class="filter-section">
                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#DMFCumulative" role="tab" aria-controls="Cumulative" aria-selected="true">Cumulative</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#DMFMonthWise" role="tab" aria-controls="MonthWise" aria-selected="false">Month Wise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#DMFyearwise" role="tab" aria-controls="yearwise" aria-selected="false">Last 3 Years</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="dashboard-portlet__content ">

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="DMFCumulative" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="dashboard-portlet__content__chart" id="dmfwiseRevenue">
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="DMFMonthWise" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="dashboard-portlet__content__chart" id="dmfwiseMonthlyRevenue">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="DMFyearwise" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="dashboard-portlet__content__chart" id="dmfwiseYearlyRevenue">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <a href="#" class="btn btn-primary" title="View Details">
                                        <span class="icon-eye-solid"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Lessee</h5>
                                <div class="filter-section">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#graphview1"><i class="icon-chart-pie-solid"></i></a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" data-toggle="tab" href="#listview1"><i class="icon-list-solid"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="graphview1">
                                        <div class="dashboard-portlet__content__chart" id="working"></div>

                                    </div>
                                    <div class="tab-pane fade" id="listview1">

                                        <div class="portlet-lessee">
                                            <ul class="permit-list mr-3">
                                                <li>
                                                    <a href="#">Working</a>
                                                    <span>10 </span>
                                                </li>
                                                <li>
                                                    <a href="#"> Non Producing </a>
                                                    <span>8</span>
                                                </li>
                                                <li>
                                                    <a href="#">Temporary Working For Dispatch</a>
                                                    <span>4 </span>
                                                </li>
                                                <li>
                                                    <a href="#">Suspended</a>
                                                    <span>0</span>
                                                </li>
                                                <li>
                                                    <a href="#">Surrendered</a>
                                                    <span>2</span>
                                                </li>
                                                <li>
                                                    <a href="#">Cancelled</a>
                                                    <span>1</span>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Licensee</h5>
                                <div class="filter-section">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link " data-toggle="tab" href="#graphview2"><i class="icon-chart-pie-solid"></i></a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link active" data-toggle="tab" href="#listview2"><i class="icon-list-solid"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="graphview2">
                                        <div class="dashboard-portlet__content__chart" id="e-Transit-Pass"></div>

                                    </div>
                                    <div class="tab-pane  active" id="listview2">

                                        <ul class="permit-list mr-3">
                                            <li>
                                                <a href="#">In Force</a>
                                                <span>10 </span>
                                            </li>
                                            <li>
                                                <a href="#"> Lapsed</a>
                                                <span>8</span>
                                            </li>
                                            <li>
                                                <a href="#">Suspended</a>
                                                <span>4 </span>
                                            </li>
                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4">
                        <div class="dashboard-portlet">
                            <div class="dashboard-portlet__header">
                                <h5>Through Licensee</h5>
                                <div class="filter-section">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#graphview3"><i class="icon-chart-pie-solid"></i></a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" data-toggle="tab" href="#listview3"><i class="icon-list-solid"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dashboard-portlet__content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="graphview3">
                                        <div class="dashboard-portlet__content__chart" id="Through-Licensee"></div>

                                    </div>
                                    <div class="tab-pane fade" id="listview3">

                                        <div class="portlet-lessee">
                                            <ul class="permit-list mr-3">
                                                <li>
                                                    <a href="#">Transit Pass</a>
                                                    <span>10 </span>
                                                </li>
                                                <li>
                                                    <a href="#"> Royality Paid Transit Pass </a>
                                                    <span>8</span>
                                                </li>
                                                <li>
                                                    <a href="#">Railway Transit Pass</a>
                                                    <span>4 </span>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="dashboard-portlet portlet-challan">
                            <div class="dashboard-portlet__header">
                                <h5>Payments through challan</h5>
                                <div class="filter-section">



                                    <select class="form-control mr-2">
                                        <option>Month</option>
                                        <option>Jan</option>
                                        <option>Feb</option>
                                        <option>Mar</option>
                                        <option>Apr</option>
                                        <option>May</option>
                                        <option>Jun</option>
                                        <option>Jly</option>
                                        <option>Aug</option>
                                        <option>Sep</option>
                                        <option>Oct</option>
                                        <option>Nov</option>
                                        <option>Dec</option>
                                    </select>

                                    <select class="form-control">
                                        <option>Year</option>
                                        <option>20-21</option>
                                        <option>19-20</option>
                                        <option>19-18</option>
                                        <option>18-17</option>
                                    </select>

                                </div>
                            </div>
                            <div class="dashboard-portlet__content ">

                                <div class="table-responsive ">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Payment Type</th>
                                                <th class="text-right">
                                                    <small class="icon-rupee-sign-solid"></small>Total Amount
                                                    <small>Cr.</small>
                                                </th>
                                                <th class="text-right">
                                                    <small class="icon-rupee-sign-solid"></small>Paid Amount
                                                    <small>Cr.</small>
                                                </th>
                                                <th class="text-right">
                                                    <small class="icon-rupee-sign-solid"></small>
                                                    Paid but pending for verification
                                                    <small>Cr.</small>
                                                </th>
                                                <th class="text-right">
                                                    <small class="icon-rupee-sign-solid"></small>Balance
                                                    <small>Cr.</small>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <td>TCS</td>
                                                <td class="text-right"> 1,20,634</td>
                                                <td class="text-right">900</td>
                                                <td class="text-right">54,640</td>
                                                <td class="text-right">21,45,844</td>
                                            </tr>

                                            <tr>
                                                <th>Demand Note</th>
                                                <td>TCS </td>
                                                <td class="text-right">1,20,634</td>
                                                <td class="text-right">900</td>
                                                <td class="text-right">54,640</td>
                                                <td class="text-right">21,45,844</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td>Infrastructure &amp; Development Cess</td>
                                                <td class="text-right">1,20,634</td>
                                                <td class="text-right">900</td>
                                                <td class="text-right">54,640</td>
                                                <td class="text-right">21,45,844</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                                <div class="text-right">
                                    <a href="#" class="btn btn-primary" title="View Details">
                                        <span class="icon-eye-solid"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script src="@Url.Content("~/js/highcharts.js")"></script>
<script>
    $(document).ready(function () {
        loadNavigation('lesseedashboard', 'gldashboard', 'plLnk', 'tl', 'District Office Dashboard', '', '');
    });
</script>
<script type="text/javascript">
    var winwidth = $(window).width();
    var yside;
    if (winwidth > 1440) {
        yside = -30;

    } else if ((winwidth <= 1440) && (winwidth > 1050)) {
        yside = -30;

    } else if ((winwidth <= 1050) && (winwidth > 900)) {
        yside = -50;

    } else if ((winwidth <= 901) && (winwidth > 480)) {
        yside = -20;

    } else if ((winwidth <= 420) && (winwidth > 374)) {
        yside = -15;

    } else {
        yside = -10;

    }


    var isBig = $(window).width() > 1366;

    var legendBig = {
        align: 'center',
        verticalAlign: 'bottom',
        layout: 'horizontal'

    };

    var legendSmall = {
        align: 'center',
        verticalAlign: 'bottom',
        layout: 'horizontal',
        width: '200'
    }
    Highcharts.chart('Through-Licensee', {
        colors: ['#7367f0', '#ff9f43', '#28c76f'],
        chart: {
            type: 'pie',
            backgroundColor: "rgba(0,0,0,0)",
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            spacingTop: 0,
            spacingRight: 0,
            spacingBottom: 0,
            spacingLeft: 0
        },
        title: {
            text: ' '
        },
        /*legend: {
              align:'right',
                verticalAlign: 'middle',
                enabled: true,
                width:'200'
          },*/

        legend: isBig ? legendBig : legendSmall,
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45,
                dataLabels: {
                    distance: -40,
                    enabled: true,
                    style: {
                        fontSize: '14px',
                        fontFamily: 'Mulish, arial, sans-serif',
                        textShadow: false,
                        fontWeight: 'normal'
                    },
                    format: '{point.y}'
                }
            }
        },
        series: [{
            showInLegend: true,
            data: [
                ['Transit Pass', 10],
                ['Royality Paid Transit Pass', 8],
                ['Railway Transit Pass', 4]
            ]
        }]
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        Highcharts.chart('lesseePieChart', {
            colors: ['#00a4ff', '#499dcc', '#79c0e8', '#afe2ff', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'rgba(255,255,255,.4)',
                marginTop: 0,
                marginBottom: 0,
            },
            title: {
                text: ' '
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {

                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    innerSize: 35,
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,


                    },
                    center: ["25px", "50%"]
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '10px'
                },
                layout: 'vertical',
                align: 'right',
                x: 5,
                y: 10,
                format: '${name:,.0f}',

            },
            series: [{
                name: '',
                data: [
                    { name: 'Coal', y: 28 },
                    { name: 'Non Coal', y: 68 },
                    { name: 'Minor Mineral', y: 22 },

                ]
            }]
        });
        Highcharts.chart('licenseePieChart', {
            colors: ['#7530ff', '#8244ff', '#9763ff', '#a97eff', '#bf9eff', '#d1baff', '#e4d6ff', '#64E572', '#ae84ff', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'rgba(255,255,255,.3)',
                marginTop: 0,
                marginBottom: 0,
            },
            title: {
                text: ' '
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {

                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    innerSize: 35,
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,


                    },
                    center: ["25px", "50%"]
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '10px'
                },
                layout: 'vertical',
                align: 'right',
                x: 5,
                y: 10,
                format: '${name:,.0f}',

            },
            series: [{
                name: '',
                data: [
                    { name: 'Coal', y: 22 },
                    { name: 'Non Coal', y: 65 },
                    { name: 'Minor Mineral', y: 23 },

                ]
            }]
        });

        Highcharts.chart('EnduserPieChart', {
            colors: ['#ff3c49', '#d55961', '#ff828a', '#ffb3b8', '#fed500', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'rgba(255,255,255,.5)',
                marginTop: 0,
                marginBottom: 0,
            },
            title: {
                text: ' '
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {

                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    innerSize: 35,
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,


                    },
                    center: ["25px", "50%"]
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '10px'
                },
                layout: 'vertical',
                align: 'right',
                x: 5,
                y: 10,
                format: '${name:,.0f}',

            },
            series: [{
                name: '',
                data: [
                    { name: 'Coal', y: 28 },
                    { name: 'Non Coal', y: 68 },
                    { name: 'Minor Mineral', y: 44 },

                ]
            }]
        });
        Highcharts.chart('vehiclePieChart', {
            colors: ['#ff9800', '#f9b046', '#fdc676', '#ffd8a0', '#fed500', '#ffe9ca', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'rgba(255,255,255,.5)',
                marginTop: 0,
                marginBottom: 0,
            },
            title: {
                text: ' '
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {

                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    innerSize: 35,
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,


                    },
                    center: ["25px", "50%"]
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '10px'
                },
                layout: 'vertical',
                align: 'right',
                x: 5,
                y: 10,
                format: '${name:,.0f}',



            },
            series: [{
                name: '',
                data: [
                    { name: 'Indivisual', y: 28 },
                    { name: 'Company', y: 68 },
                    { name: 'Association', y: 44 },

                ]
            }]
        });
        Highcharts.chart('headwiseRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#11b2ff', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            legend: {
                enabled: false,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            xAxis: {
                categories: [
                    'Royalty',
                    'DMF',
                    'NMET',
                    'Infrastructure &amp; Development Cess',
                    'Environmental Cess'


                ],

                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cr</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10,

                },
                series: {
                    pointWidth: 20,
                    dataLabels: {
                        enabled: true,
                        align: 'center',

                        x: 0
                    },
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Amount',
                data: [49.9, 71.5, 106.4, 129.2, 144.0]

            }]
        });

        Highcharts.chart('headwiseMonthlyRevenue', {
            chart: {
                type: 'areaspline',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0ba1d6', '#52dfb5', '#57463f', '#fed500', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: ''
            },
            legend: {
                enabled: true,
                useHTML: true,
                align: 'center',
                symbolWidth: 1,
                symbolHeight: 1,
                symbolRadius: 2,
                labelFormatter: function () {
                    return '<div class="lgwrapper"><div class="label">' + this.name + '</div></div>';
                }
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jly',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                shared: true,
                valueSuffix: ' Cr'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5,
                    dataLabels: {
                        enabled: true
                    }
                },

                series: {
                    events: {
                        show: function () {
                            var chart = this.chart,
                                series = chart.series,
                                i = series.length,
                                otherSeries;
                            while (i--) {
                                otherSeries = series[i];
                                if (otherSeries != this && otherSeries.visible) {
                                    otherSeries.hide();
                                }
                            }
                        },
                        legendItemClick: function () {
                            if (this.visible) {
                                return false;
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Royalty',
                data: [22, 12, 12, 34, 43, 34, 34, 23, 23, 32, 23, 34]
            }, {
                name: 'DMF',
                data: [32, 32, 32, 22, 23, 23, 34, 22, 54, 22, 21, 21],
                visible: false
            }
                , {
                name: 'NMET',
                data: [42, 14, 44, 23, 23, 123, 23, 63, 23, 33, 32, 34],
                visible: false
            }, {
                name: 'Infrastructure &amp; Development Cess',
                data: [43, 23, 21, 23, 23, 23, 23, 12, 43, 32, 23, 32],
                visible: false
            }
                , {
                name: 'Environmental Cess',
                data: [23, 32, 23, 32, 23, 44, 45, 37, 34, 28, 29, 22],
                visible: false
            }]
        });


        Highcharts.chart('headwiseYearlyRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#11b2ff', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            legend: {
                enabled: true,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            xAxis: {
                categories: [
                    '2021',
                    '2020',
                    '2019'



                ],

                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cr</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    borderRadius: 2
                },
                series: {
                    pointWidth: 20,

                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Royalty',
                data: [49.9, 71.5, 106.4],

            }, {
                name: 'DMF',
                data: [83.6, 78.8, 98.5],


            }, {
                name: 'NMET',
                data: [48.9, 38.8, 39.3],


            }, {
                name: 'Infrastructure &amp; Development Cess',
                data: [42.4, 33.2, 34.5],


            }, {
                name: 'Environmental Cess',
                data: [83.6, 78.8, 98.5],


            }
            ]
        });



        Highcharts.chart('mineralwiseRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#8b68f4', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Iron ore',
                    'Coal',
                    'Limestone',
                    'Dolomite',
                    'Bauxite'

                ],
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            legend: {
                enabled: false,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.05)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.05)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cr.</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10
                },
                series: {
                    pointWidth: 20,
                    dataLabels: {
                        enabled: true,
                        align: 'center',

                        x: 0
                    },
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Amount',
                data: [49.9, 71.5, 106.4, 129.2, 119.2]

            }]
        });

        Highcharts.chart('mineralwiseMonthlyRevenue', {
            chart: {
                type: 'areaspline',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0ba1d6', '#52dfb5', '#57463f', '#fed500', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: ''
            },
            legend: {
                enabled: true,
                useHTML: true,
                align: 'center',
                symbolWidth: 1,
                symbolHeight: 1,
                symbolRadius: 2,
                labelFormatter: function () {
                    return '<div class="lgwrapper"><div class="label">' + this.name + '</div></div>';
                }
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jly',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                shared: true,
                valueSuffix: ' Cr'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5,
                    dataLabels: {
                        enabled: true
                    }
                },
                series: {
                    events: {
                        show: function () {
                            var chart = this.chart,
                                series = chart.series,
                                i = series.length,
                                otherSeries;
                            while (i--) {
                                otherSeries = series[i];
                                if (otherSeries != this && otherSeries.visible) {
                                    otherSeries.hide();
                                }
                            }
                        },
                        legendItemClick: function () {
                            if (this.visible) {
                                return false;
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Iron ore',
                data: [22, 12, 12, 34, 43, 34, 34, 23, 23, 32, 23, 34]
            }, {
                name: 'Coal',
                data: [32, 32, 32, 22, 23, 23, 34, 22, 54, 22, 21, 21],
                visible: false
            }
                , {
                name: 'Limestone',
                data: [42, 14, 44, 23, 23, 123, 23, 63, 23, 33, 32, 34],
                visible: false
            }, {
                name: 'Dolomite',
                data: [43, 23, 21, 23, 23, 23, 23, 12, 43, 32, 23, 32],
                visible: false
            }
                , {
                name: 'Bauxite',
                data: [23, 32, 23, 32, 23, 44, 45, 37, 34, 28, 29, 22],
                visible: false
            }]
        });


        Highcharts.chart('mineralwiseYearlyRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#11b2ff', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            legend: {
                enabled: true,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            xAxis: {
                categories: [
                    '2021',
                    '2020',
                    '2019'



                ],

                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount In Cr.'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cr</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    borderRadius: 2
                },
                series: {
                    pointWidth: 20,

                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Iron Ore',
                data: [49.9, 71.5, 106.4],

            }, {
                name: 'Coal',
                data: [83.6, 78.8, 98.5],


            }, {
                name: 'Limestone',
                data: [48.9, 38.8, 39.3],


            }, {
                name: 'Dolomite',
                data: [42.4, 33.2, 34.5],


            }, {
                name: 'Bauxite',
                data: [83.6, 78.8, 98.5],


            }
            ]
        });

        Highcharts.chart('dmfwiseRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#795548'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'District 1',
                    'District 2',
                    'District 3',
                    'District 4',
                    'District 5'

                ],
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            legend: {
                enabled: false,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total DMF'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.05)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.05)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10
                },
                series: {
                    pointWidth: 20,
                    dataLabels: {
                        enabled: true,
                        align: 'center',

                        x: 0
                    },
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Total',
                data: [49.9, 71.5, 106.4, 129.2, 119.2]

            }]
        });

        Highcharts.chart('dmfwiseMonthlyRevenue', {
            chart: {
                type: 'areaspline',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0ba1d6', '#52dfb5', '#57463f', '#fed500', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: ''
            },
            legend: {
                enabled: true,
                useHTML: true,
                align: 'center',
                symbolWidth: 1,
                symbolHeight: 1,
                symbolRadius: 2,
                labelFormatter: function () {
                    return '<div class="lgwrapper"><div class="label">' + this.name + '</div></div>';
                }
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jly',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total DMF'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                shared: true,
                valueSuffix: ' '
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5,
                    dataLabels: {
                        enabled: true
                    }
                },
                series: {
                    events: {
                        show: function () {
                            var chart = this.chart,
                                series = chart.series,
                                i = series.length,
                                otherSeries;
                            while (i--) {
                                otherSeries = series[i];
                                if (otherSeries != this && otherSeries.visible) {
                                    otherSeries.hide();
                                }
                            }
                        },
                        legendItemClick: function () {
                            if (this.visible) {
                                return false;
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'District 1',
                data: [22, 12, 12, 34, 43, 34, 34, 23, 23, 32, 23, 34]
            }, {
                name: 'District 2',
                data: [32, 32, 32, 22, 23, 23, 34, 22, 54, 22, 21, 21],
                visible: false
            }
                , {

                name: 'District 3',
                data: [42, 14, 44, 23, 23, 123, 23, 63, 23, 33, 32, 34],
                visible: false
            },
            {
                name: 'District 4',
                data: [43, 23, 21, 23, 23, 23, 23, 12, 43, 32, 23, 32],
                visible: false
            }
                ,
            {
                name: 'District 5',
                data: [23, 32, 23, 32, 23, 44, 45, 37, 34, 28, 29, 22],
                visible: false
            }]
        });

        Highcharts.chart('dmfwiseYearlyRevenue', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#11b2ff', '#fe7211', '#0d79d6', '#64E572', '#ae84ff', '#6AF9C4'],
            title: {
                text: '',

            },
            subtitle: {
                text: ''
            },
            legend: {
                enabled: true,
                itemStyle: {
                    color: '#a1a1a7'

                }
            },
            xAxis: {
                categories: [
                    '2021',
                    '2020',
                    '2019'



                ],

                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total DMF'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    borderRadius: 2
                },
                series: {
                    pointWidth: 20,

                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'District 1',
                data: [49.9, 71.5, 106.4],

            }, {
                name: 'District 2',
                data: [83.6, 78.8, 98.5],


            }, {
                name: 'District 3',
                data: [48.9, 38.8, 39.3],


            }, {
                name: 'District 4',
                data: [42.4, 33.2, 34.5],


            }, {
                name: 'District 5',
                data: [83.6, 78.8, 98.5],


            }
            ]
        });

        Highcharts.chart('e-Transit-Pass', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0d79d6', '#fe7211', '#ae84ff'],
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'e-Transit Pass'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10,

                },
                series: {
                    pointWidth: 20,
                    dataLabels: {

                        enabled: true,
                        align: 'center',

                        x: 0
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: "Total",
                    colorByPoint: true,
                    data: [
                        {
                            name: "In Force",
                            y: 62,

                        },
                        {
                            name: "Lapsed",
                            y: 43,

                        },
                        {
                            name: "Suspended",
                            y: 44,

                        }
                    ]
                }
            ]

        });

        Highcharts.chart('working', {
            chart: {
                type: 'column',
                backgroundColor: 'rgba(0,0,0,0)',
                spacingTop: 5,
                spacingBottom: 0,
                spacingRight: 1,
                spacingLeft: 1,
            },
            colors: ['#0d79d6', '#fe7211', '#ae84ff', '#0d79d6', '#ffc107', '#f44336b3'],
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                minorTickLength: 0,
                tickLength: 0,
                lineWidth: 1,
                minorGridLineWidth: 0,
                //lineColor: 'transparent',
                lineColor: 'rgba(0,0,0,.05)',
                crosshair: false,
                gridLineColor: 'rgba(0,0,0,.05)',
                gridLineWidth: 1,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'e-Transit Pass'
                },
                gridLineWidth: 1,
                gridLineColor: 'rgba(0,0,0,.06)',
                lineWidth: 1,
                lineColor: 'rgba(0,0,0,.06)',

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    borderRadius: 10,

                },
                series: {
                    pointWidth: 20,
                    dataLabels: {

                        enabled: true,
                        align: 'center',

                        x: 0
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: "Total",
                    colorByPoint: true,
                    data: [
                        {
                            name: "Working",
                            y: 62,

                        },
                        {
                            name: "Non Producing",
                            y: 43,

                        },
                        {
                            name: "Temporary Working For Dispatch",
                            y: 32,

                        },
                        {
                            name: "Suspended",
                            y: 44,

                        },
                        {
                            name: "Surrendered",
                            y: 24,

                        },
                        {
                            name: " Cancelled",
                            y: 14,

                        }

                    ]
                }
            ]

        });
    });
</script>

