@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@model HomeEF.LoginEF
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.msg != null)
{
    <script>
        swal("", @ViewBag.msg, "success");
    </script>
}
@if (TempData["Message"] != null)
{
    <script>
        swal("", @TempData["Message"], "success");
    </script>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online Login</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
    <link href="~/CMScss/login.css" rel="stylesheet" />
    <link href="~/CMScss/loginicon.css" rel="stylesheet" />
    <script src="~/CMSjs/jquery.min.js"></script>
    <script src="~/CMSjs/login-animation.js"></script>
    <script src="~/CMSjs/specialChar.js"></script>
    <script src='@Url.Content("~/CMSjs/CSMValidation.js")'></script>
    <script src='@Url.Content("~/CMSjs/sweetalert.min.js")'></script>
    <style>
        .login-button {
            margin: 2rem 0rem;
        }
    </style>
    <script>
                debugger
            $(document).ready(function () {
                $(".forgot-sec").hide();
            });
    </script>
    <script>
        $(document).ready(function () {
            updateCaptcha();
        });
        function updateCaptcha() {
            debugger;
            $.ajax({
                url: '/Home/CaptchaImage',
                data: {},
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    $("#capt1").html(data);
                },
                error: function (err) {
                    swal("", err, "error");
                }
            });
        }
    </script>
    <script>
        function Validate() {
            debugger
            var Iss = false;
            if (!blankFieldValidation("UserName", "User Name")) {
                return false;
            }

            Iss = true;
            return Iss;
        }
        function Validate1() {
            debugger
            var Iss = false;
            if (!blankFieldValidation("UserName", "User Name")) {
                return false;
            }
            else if (!blankFieldValidation("Password", "User Password")) {
                return false;
            }
            else if (!blankFieldValidation("txtCaptcha", "Captcha")) {
                return false;
            }
            else if ($('#capt1').html() != $('#txtCaptcha').val()) {
                swal("", 'Invalid Captcha', "warning");
                return false;
            }
            Iss = true;
            if (Iss == true) {
                $(".forgot-sec").show();
                $(".retrive-sec").hide();
            }

            return Iss;
        }
        function Validate2() {
            var status = false;
            if (!blankFieldValidation("txtNewPassword", "New Password")) {
                return false;
            }
            else if (!blankFieldValidation("txtCofirmPassword", "Confirm Password")) {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="login-section">
        <div class="section__left">
            <div class="hexa gon position-1 two animation1b">
                <span><span class="text-num">2,000</span> <br /> e-Permit</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-1 one animation1a">
                <span><span class="text-num">5,400</span> <br /> e-Return</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-2 two animation3b">
                <i class="icon-Mail--SMS"></i>
                <span>Mail & SMS </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-2 one animation3a">
                <i class="icon-Royalty_Mineral_mapping"></i>
                <span>Royality & <br /> Mineral Mapping </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-3 two animation4b">
                <i class="icon-Notice"></i>
                <span>Notice </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-3 one animation4a">
                <i class="icon-Issuance_of_License"></i>
                <span>Insurance of <br /> License </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-4 two animation5b">
                <i class="icon-Master_data"></i>
                Master Data
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-4 one animation5a">
                <i class="icon-Mineral_Concession_Application_Module"></i>
                Mineral concession Application Module
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-5 two animation2b">
                <span class="text-left"> End <br /> User</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-5 one animation2a">
                <span> Payment <br /> Gateway</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-6 two animation6b">
                <i class="icon-User_information"></i>
                <span> User <br /> Information</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-6 one animation6a">
                <i class="icon-Demand_Credit_Note"></i>
                <span> Demand / <br /> Credit Note </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-7 two animation5b">
                <span><span class="text-num">236</span> <br />Inspection</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-7 one animation5a">
                <span><span class="text-num">400</span> <br />Transport & Individual <br />   Vehicle Owner Registration</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-8 two animation4b">

                <span><span class="text-num">400</span> <br>Transport &amp; <br>  Individual <br>   Vehicle Owner   <br /> Registration</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-8 one animation4a">
                <i class="icon-Role_and_Access_Based_Administration_Module"></i>
                <span>Role and  <br />Access Based <br /> Administration <br /> Module </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-9 two animation3b">
                <i class="icon-Grievance"></i>
                Grievance
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-9 one animation3a">
                <i class="icon-e-Transit-Pass"></i>
                e-Transit Pass
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-10 two animation2b">
                <i class="icon-Check-Post"></i>
                <span> Check Post </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-10 one animation2a">
                <span><span class="text-num">2,583</span> <br /> Weighbridge <br /> Integration </span>
                <div class="border-bottom"></div>
            </div>
            <div class="hexa gon position-11 two animation6b">
                <span> Star <br /> Rating </span>
                <div class="border-bottom"></div>
            </div>
            <div class="hexa gon position-11 one animation6a">
                <span>Mineral <br /> Vigilance </span>
                <div class="border-bottom"></div>
            </div>
            <div class="hexa gon position-12 two animation1b">
                <span> Static <br /> Reports </span>
                <div class="border-bottom"></div>
            </div>
            <div class="hexa gon position-12 one animation1a">
                <span> Helpdesk <br /> Support  </span>
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="section__right">
            <div class="right__form">
                <div class="logo-sec">
                    <img src="~/CMSimg/khanij-online.jpg" alt="Khanij Logo">
                </div>
                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="retrive-sec">
                        <div class="form-group">
                            <div class="user-code-sec">
                                <div class="sec-left">
                                    <label class="form-label">Enter user code</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text email-phone-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17.714" height="19.678" viewBox="0 0 17.714 19.678">
                                                    <g id="G1" data-name="Group 95" transform="translate(-1387 -402.627)">
                                                        <path id="Path1" data-name="Path 2506" d="M21.714,28.393V26.428A3.928,3.928,0,0,0,17.785,22.5H9.928A3.928,3.928,0,0,0,6,26.428v1.964" transform="translate(1382 392.912)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                        <path id="Path2" data-name="Path 2439" d="M19.857,8.428A3.928,3.928,0,1,1,15.928,4.5,3.928,3.928,0,0,1,19.857,8.428Z" transform="translate(1379.929 399.127)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <input type="text" id="UserName" name="UserName" class="form-control">
                                    </div>
                                </div>
                                <div class="sec-right">
                                    <input type="button" value="Fetch" name="GetMobileEmail" id="GetMobileEmail" class="submit-btn form-control" onclick="return Validate()" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Enter OTP / Verification Code Received</label>
                            <div class="input-group">
                                <div class="input-group-prepend">

                                </div>
                                <input type="password" name="Password" class="form-control">
                            </div>
                        </div>
                        <div class="captcha-sec">
                            <div class="enter-captcha">
                                <label class="form-label">Enter Captcha</label>
                                <input type="text" id="txtCaptcha" name="txtCaptcha" class="form-control">
                            </div>
                            <div class="captcha-img">
                                <div id="capt1" class="captch-code"></div>
                                <a href="javascript:void(0);" onclick="updateCaptcha();">
                                    <i class="icon-Icon-ionic-ios-refresh"></i>
                                </a>
                            </div>
                        </div>
                        <input type="button" value="Retrive Password" name="Submit" id="Submit" class="login-button retrive-btn form-control" onclick="return Validate1()" />
                    </div>
                    <div class="forgot-sec">
                        <p class="note">
                            Password must be minimum 8 characters long with at least <br /> 1 Uppercase Alphabet,  1 Lowercase Alphabet and 1 Number
                        </p>
                        <div class="form-group">
                            <label class="form-label">New Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17.714" height="19.46" viewBox="0 0 17.714 19.46">
                                            <g id="G2" data-name="Icon feather-lock" transform="translate(1 1)">
                                                <path id="Path3" data-name="Path 2436" d="M6.246,16.5H18.468a1.746,1.746,0,0,1,1.746,1.746v6.111A1.746,1.746,0,0,1,18.468,26.1H6.246A1.746,1.746,0,0,1,4.5,24.357V18.246A1.746,1.746,0,0,1,6.246,16.5Z" transform="translate(-4.5 -8.643)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <path id="Path4" data-name="Path 2437" d="M10.5,10.857V7.365a4.365,4.365,0,0,1,8.73,0v3.492" transform="translate(-7.008 -3)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" name="NewPassword" id="txtNewPassword" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17.714" height="19.46" viewBox="0 0 17.714 19.46">
                                            <g id="G3" data-name="Icon feather-lock" transform="translate(1 1)">
                                                <path id="Path5" data-name="Path 2436" d="M6.246,16.5H18.468a1.746,1.746,0,0,1,1.746,1.746v6.111A1.746,1.746,0,0,1,18.468,26.1H6.246A1.746,1.746,0,0,1,4.5,24.357V18.246A1.746,1.746,0,0,1,6.246,16.5Z" transform="translate(-4.5 -8.643)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <path id="Path6" data-name="Path 2437" d="M10.5,10.857V7.365a4.365,4.365,0,0,1,8.73,0v3.492" transform="translate(-7.008 -3)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" name="ConfirmPassword" id="txtCofirmPassword" class="form-control">
                            </div>
                        </div>
                        <input type="submit" value="Reset Password" name="Reset Password" id="Submit" class="login-button form-control" onclick="return Validate2()" />
                    </div>
                    <div class="text-center">
                        <div class="form-footer">
                            <span>
                                @{
                                    string Path = Configuration.GetSection("NavigationPath")["BacktoHome"];
                                }
                                <a href="index" class="text-grey-dark">Back to login</a> &nbsp;|  &nbsp;
                                <a href="@Path" class="text-grey-dark">Go to Home</a>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
         $('#GetMobileEmail').click(function () {
        var UserName = $('#UserName').val();
        if (UserName == "") {
            swal("", "Enter User code to fetch the registered Details", "warning");
            return false;
        }
        else {
            $.ajax({
                
                url: '@Url.Action("GetMobileEmail", "Home")',
                type: 'POST',
                data: { UserName: UserName },
                success: function (data) {
                    if (data=="success") {
                        swal("", "Your OTP has sent to your registred mobile number and email id!!", "success");
                    }
                    else {
                        swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                    }
                },
                error: function (data)
                { }
            })
        }
    })
    </script>
</body>
</html>