@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@model HomeEF.LoginEF
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online Login</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
    <link href="~/CMScss/login.css" rel="stylesheet" />
    <link href="~/CMScss/loginicon.css" rel="stylesheet" />
    <script src="~/CMSjs/jquery.min.js"></script>
    <script src="~/CMSjs/login-animation.js"></script>
    <script src="~/CMSjs/CSMValidation.js"></script>
    <script src="~/CMSjs/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            updateCaptcha();
        });
        function updateCaptcha() {
            debugger;
            //var d = new Date();
            //var url = 'Url.Action("CaptchaImage", "VehicleOwner")?' + d.getTime();
            //$("#capt1").attr("src", url);
            $.ajax({
                url: '/Home/CaptchaImage',
                data: {},
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    $("#capt1").html(data);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
    </script>
    <script>
        //$(document).ready(function () {

        //});
        function Validate() {
            debugger
            var Iss = false;
            if (!blankFieldValidation("UserName", "User Name")) {
                return false;
            }
            else if (!blankFieldValidation("Password", "User Password")) {
                return false;
            }
            else if (!blankFieldValidation("txtCaptcha", "Captcha")) {
                return false;
            }
            else if ($('#capt1').html() != $('#txtCaptcha').val()) {
                //alert('Invalid Captcha');
                swal("", 'Invalid Captcha', "warning");
                return false;
            }
            Iss = true;
            return Iss;
        }
    </script>
</head>
<body>
    <div class="login-section">
        <div class="section__left">
            <div class="hexa gon position-1 two animation1b">
                <span><span class="text-num">2,000</span> <br /> e-Permit</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-1 one animation1a">
                <span><span class="text-num">5,400</span> <br /> e-Return</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-2 two animation3b">
                <i class="icon-Mail--SMS"></i>
                <span>Mail & SMS </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-2 one animation3a">
                <i class="icon-Royalty_Mineral_mapping"></i>
                <span>Royality & <br /> Mineral Mapping </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-3 two animation4b">
                <i class="icon-Notice"></i>
                <span>Notice </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-3 one animation4a">
                <i class="icon-Issuance_of_License"></i>
                <span>Insurance of <br /> License </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-4 two animation5b">
                <i class="icon-Master_data"></i>
                Master Data
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-4 one animation5a">
                <i class="icon-Mineral_Concession_Application_Module"></i>
                Mineral concession Application Module
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-5 two animation2b">
                <span class="text-left"> End <br /> User</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-5 one animation2a">
                <span> Payment <br /> Gateway</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-6 two animation6b">
                <i class="icon-User_information"></i>
                <span> User <br /> Information</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-6 one animation6a">
                <i class="icon-Demand_Credit_Note"></i>
                <span> Demand / <br /> Credit Note </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-7 two animation5b">
                <span><span class="text-num">236</span> <br />Inspection</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-7 one animation5a">
                <span><span class="text-num">400</span> <br />Transport & Individual <br />   Vehicle Owner Registration</span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-8 two animation4b">

                <span><span class="text-num">400</span> <br>Transport &amp; <br>  Individual <br>   Vehicle Owner   <br /> Registration</span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-8 one animation4a">
                <i class="icon-Role_and_Access_Based_Administration_Module"></i>
                <span>Role and  <br />Access Based <br /> Administration <br /> Module </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-9 two animation3b">
                <i class="icon-Grievance"></i>
                Grievance
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-9 one animation3a">
                <i class="icon-e-Transit-Pass"></i>
                e-Transit Pass
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-10 two animation2b">
                <i class="icon-Check-Post"></i>
                <span> Check Post </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-10 one animation2a">
                <span><span class="text-num">2,583</span> <br /> Weighbridge <br /> Integration </span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-11 two animation6b">
                <span> Star <br /> Rating </span>
                <div class="border-bottom"></div>
            </div>


            <div class="hexa gon position-11 one animation6a">
                <span>Mineral <br /> Vigilance </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-12 two animation1b">
                <span> Static <br /> Reports </span>
                <div class="border-bottom"></div>
            </div>

            <div class="hexa gon position-12 one animation1a">
                <span> Helpdesk <br /> Support  </span>
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="section__right">
            <div class="right__form">
                <div class="logo-sec">
                    <img src="~/CMSimg/khanij-online.jpg" alt="Khanij Logo">
                </div>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <label class="form-label">User Id</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.714" height="19.678" viewBox="0 0 17.714 19.678">
                                        <g id="Group_95" data-name="Group 95" transform="translate(-1387 -402.627)">
                                            <path id="Path_2506" data-name="Path 2506" d="M21.714,28.393V26.428A3.928,3.928,0,0,0,17.785,22.5H9.928A3.928,3.928,0,0,0,6,26.428v1.964" transform="translate(1382 392.912)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            <path id="Path_2439" data-name="Path 2439" d="M19.857,8.428A3.928,3.928,0,1,1,15.928,4.5,3.928,3.928,0,0,1,19.857,8.428Z" transform="translate(1379.929 399.127)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Id" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.714" height="19.46" viewBox="0 0 17.714 19.46">
                                        <g id="Icon_feather-lock" data-name="Icon feather-lock" transform="translate(1 1)">
                                            <path id="Path_2436" data-name="Path 2436" d="M6.246,16.5H18.468a1.746,1.746,0,0,1,1.746,1.746v6.111A1.746,1.746,0,0,1,18.468,26.1H6.246A1.746,1.746,0,0,1,4.5,24.357V18.246A1.746,1.746,0,0,1,6.246,16.5Z" transform="translate(-4.5 -8.643)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            <path id="Path_2437" data-name="Path 2437" d="M10.5,10.857V7.365a4.365,4.365,0,0,1,8.73,0v3.492" transform="translate(-7.008 -3)" fill="none" stroke="#d7764b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Passwords" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="captcha-sec">
                        <div class="enter-captcha">
                            <label class="form-label">Enter Captcha</label>
                            <input type="text" id="txtCaptcha" class="form-control">
                        </div>
                        <div class="captcha-img">
                            <div id="capt1" class="captch-code" ondrag="return false" oncopy="return false" onselectstart="return false" oncut="return false"></div>
                            <a href="javascript:void(0);" onclick="updateCaptcha();">
                                <i class="icon-Icon-ionic-ios-refresh"></i>
                            </a>

                        </div>
                    </div>

                    @* <a href="DashboardSub" class="login-button">Login</a>*@
                    <input type="submit" value="Login" name="Submit" id="Submit" class="login-button form-control" onclick="return Validate()" />
                    <div class="text-center">
                        <div class="form-footer">
                            <span>
                                <a class="text-grey text-decoration-0" href="/Home/ForgotPassword">Forgot password ?</a> <a href="/Home/Index" class="text-grey-dark text-decoration-0">Reset Now</a> <br />
                                @{
                                    string path = Configuration.GetSection("NavigationPath")["BacktoHome"];
                                }
                                <a href="@path" class="text-grey-dark">Back to Home</a>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
    @if (TempData["msg"] != null)
    {
        <script>
        swal("", '@TempData["msg"]', "warning");
        </script>
    }
</body>
</html>