
@{
    ViewData["Title"] = "IndividualRegistrationRenewal";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<script>

    $(document).ready(function () {
        loadNavigation('IndividualRegistrationRenewal', 'weigbrig', 'weigbrigone', 'tl', 'Weigh Bridge', 'Weigh Bridge Renew', ' ');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == "renewalrequested") {
            swal("","WeighBridge Renewal Requested.","success");
        }
        else if (vv == "error") {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="/WeightBridge/WeightBridge/IndividualRegistration">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/WeightBridge/WeightBridge/IndividualRegistrationView">
                                View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/WeightBridge/WeightBridge/IndividualRegistrationRenewal">
                                Renewal
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Application No./ Date</th>
                                            <th>Lessee Name / code</th>
                                            <th>Weigh Bridge Type</th>
                                            <th>Address/District</th>
                                            <th>Status</th>
                                            <th>Stamp Copy</th>
                                            <th>Stamping Validity From</th>
                                            <th>Stamping Validity To</th>
                                            <th>History</th>
                                            <th width="100" class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in (List<userregistrationEF.ViewWeighBridgeModel>)ViewData["WBList"])
                                            {
                                                <tr>
                                                    <td><a data-toggle="modal" onclick="GetWBDetailsByID(@item.WeighBridgeID)" data-target="#exampleModal" class="text-primary">@item.ApplicationNo</a> <br />@item.AppliedDate.ToString("dd-MMM-yyyy") </td>
                                                    <td>@item.ApplicantName <br /> @item.UserCode</td>
                                                    <td>@item.WeighBridgeType</td>
                                                    <td>@item.Address<br />@item.District</td>
                                                    @*<td class="text-danger">@item.Status</td>*@
                                                <td>
                                                    @{
                                                        if (item.Status == "5")
                                                        {
                                                            <span class="text-info">
                                                                <strong>Renewal Request</strong> not initiated
                                                            </span>
                                                        }
                                                        else if (item.Status == "6")
                                                        {
                                                            <span class="text-warning">
                                                                Pending for <strong>Renewal</strong> at DD <br /> from @item.AppliedDate.ToString("dd MMM yyyy")
                                                            </span>
                                                        }
                                                        else if (item.Status == "7")
                                                        {
                                                            <span class="text-danger">
                                                                <strong>Renewal</strong> Objected by DD <br /> on @item.ApprovedOn.ToString("dd MMM yyyy")
                                                            </span>
                                                            <br />
                                                        }
                                                        else if (item.Status == "71")
                                                        {
                                                            <span class="text-danger">
                                                                <strong>Renewal</strong> Rejected by DD <br /> on @item.ApprovedOn.ToString("dd MMM yyyy")
                                                            </span>
                                                            <br />
                                                        }
                                                        else if (item.Status == "8")
                                                        {
                                                            <span class="text-success">
                                                                <strong>Renewal</strong> Approved by DD <br /> on @item.ApprovedOn.ToString("dd MMM yyyy")
                                                            </span>
                                                        }
                                                    }
                                                </td>
                                                    <td><a href="~/Upload/WeighBridge/@item.StampCopyFilePath" target="_blank"><i class="icon-file-pdf-solid text-danger h4"></i></a></td>
                                                    <td>@item.StampValidFrom.ToString("dd-MMM-yyyy")</td>
                                                    <td>@item.StampValidTo.ToString("dd-MMM-yyyy")</td>
                                                    <td><a data-toggle="modal" data-target="#ModalStatusHistory" onclick="GetHistoryByID(@item.WeighBridgeID)" class="text-primary">Log Details</a></td>
                                                    <td class="text-center noprint">
                                                        @{
                                                            if (item.Status == "5" || item.Status == "6" || item.Status == "7" || item.Status == "8")
                                                            {
                                                                <a class="btn btn-danger btn-sm" onclick="" href="@userregistrationApp.Helper.CustomQueryStringHelper.EncryptString("WeightBridge","UpdateWBValidity","WeightBridge",new { ID = item.WeighBridgeID, Status=item.Status })">Renew</a>
                                                            }
                                                        }


                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Weigh Bridge Registration Details

                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mineral-concesion-details">
                <p> <small><span id="spusertype"></span> Name : <span id="spName" class="font-weight-bold"></span></small> | <small> Code : <span id="spCode" class="font-weight-bold"></span></small></p>
                <p class="font-weight-bold"> WeighBridge Information</p>
                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Weigh Bridge Name</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblWeighBridgeName" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Supervisor Name</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label id="lblSupervisorName" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Contact Number</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label id="lblSupervisorContact" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Capacity</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblcapacity" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Land / Area Type</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblareatype" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Area of Land</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblareaofland" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Location</label>
                    <div class="col-lg-3 col-12">
                        <label id="lbllocation" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Electricity Availability</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblelectricityavail" class="form-control-plaintext"><span class="colon">:</span>yes</label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Internet Availability</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblinternetavail" class="form-control-plaintext"><span class="colon">:</span>yes</label>
                    </div>
                </div>
                <hr />
                <p class="font-weight-bold"> Technical Information</p>
                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Make</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label id="lblmake" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Model</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label id="lblmodel" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Modem Baud Rate</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblmodembaudrate" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Data Bit</label>
                    <div class="col-lg-3 col-12">
                        <label id="lbldatabit" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Stop Bit</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblstopbit" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Parity</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblparity" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">String Read From HyperTerminal</label>
                    <div class="col-lg-3 col-12">
                        <label id="lblhyperterminalread" class="form-control-plaintext"><span class="colon">:</span></label>
                    </div>
                </div>
                <hr />
                <p class="font-weight-bold"> Location Information</p>
                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Point 1</label>
                    <div class="col-lg-3 col-12">
                        <label id="Lat1" class="form-control-plaintext"></label>
                        <label id="Lon1" class="form-control-plaintext"></label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Point 2</label>
                    <div class="col-lg-3 col-12">
                        <label id="Lat2" class="form-control-plaintext"></label>
                        <label id="Lon2" class="form-control-plaintext"></label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Point 3</label>
                    <div class="col-lg-3 col-12">
                        <label id="Lat3" class="form-control-plaintext"></label>
                        <label id="Lon3" class="form-control-plaintext"></label>
                    </div>
                    <label class="col-lg-3 col-12 col-form-label">Point 4</label>
                    <div class="col-lg-3 col-12">
                        <label id="Lat4" class="form-control-plaintext"></label>
                        <label id="Lon4" class="form-control-plaintext"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalStatusHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    History
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="timeline" id="timeline">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function GetWBDetailsByID(weighbridgeID) {
        $.ajax({
            type: "post",
            url: "/WeightBridge/WeightBridge/GetWBDetailsByID",
            data: { 'weighbridgeID': weighbridgeID },
            datatype: "json",
            traditional: true,
            success: function (data) {
                debugger;
                console.log(data);
                $('#spusertype').text(data.userType);
                $('#spName').text(data.applicantName);
                $('#spCode').text(data.userCode);
                $('#lblWeighBridgeName').text(data.weighBridgeName);
                $('#lblSupervisorName').text(data.supervisorName);
                $('#lblSupervisorContact').text(data.supervisorContact);
                $('#lbllocation').text(data.location);
                $('#lblmake').text(data.make);
                $('#lblmodel').text(data.model);
                $('#lblmodembaudrate').text(data.modelBaudRate);
                $('#lbldatabit').text(data.dataBit);
                $('#lblstopbit').text(data.stopBit);
                $('#lblparity').text(data.parity);
                $('#lblhyperterminalread').text(data.hyperterminalReading);
                $('#lblcapacity').text(data.capacity + ' mt.');
                $('#lblareatype').text(data.landAreaType);
                $('#lblareaofland').text(data.areaofLand + ' acre');
                $('#lblelectricityavail').text((data.electricityAvailablity === true) ? 'Yes' : 'No');
                $('#lblinternetavail').text((data.internetAvailability === true) ? 'Yes' : 'No');
                $('#Lat1').text('Lattitude : ' + data.lat1);
                $('#Lon1').text('Longitude : ' + data.lon1);
                $('#Lat2').text('Lattitude : ' + data.lat2);
                $('#Lon2').text('Longitude : ' + data.lon2);
                $('#Lat3').text('Lattitude : ' + data.lat3);
                $('#Lon3').text('Longitude : ' + data.lon3);
                $('#Lat4').text('Lattitude : ' + data.lat4);
                $('#Lon4').text('Longitude : ' + data.lon4);
            }
        });
    }
    function GetHistoryByID(weighbridgeID) {
        $.ajax({
            type: "post",
            url: "/WeightBridge/WeightBridge/GetHistoryByID",
            data: { 'weighbridgeID': weighbridgeID },
            datatype: "json",
            traditional: true,
            success: function (data) {
                debugger;
                console.log(data);
                $('#timeline').empty();
                var elements = "";
                $.each(data, function (ind, item) {
                    debugger
                    if (item.status == '8') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>DD</span>";
                        elements += "<span class='content_tag approve'><i class='icon-check-double-solid mr-2'></i>Renewal Approved</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.approvedOn) + "</span>";
                        elements += "<p class='content_p'>" + item.approveRemarks + "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '7') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>DD</span>";
                        elements += "<span class='content_tag reject'><i class='icon-trash-alt-solid mr-2'></i>Renewal Objected</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.approvedOn) + "</span>";
                        elements += "<p class='content_p'>" + item.approveRemarks + "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '6') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>" + item.applicantName + "<br> <small class='font-weight-bold'> (Applicant) </small></span>";
                        elements += "<span class='content_tag reject'><i class='icon-check-double-solid mr-2'></i>Renewal Requested</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.appliedDate) + "</span>";
                        elements += "<p class='content_p'>" + item.remarks + "</p>";
                        elements += "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '5') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>DD</span>";
                        elements += "<span class='content_tag approve'><i class='icon-check-double-solid mr-2'></i>Approved</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.approvedOn) + "</span>";
                        elements += "<p class='content_p'>" + item.approveRemarks + "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '4') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>DD</span>";
                        elements += "<span class='content_tag reject'><i class='icon-trash-alt-solid mr-2'></i>Reject</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.approvedOn) + "</span>";
                        elements += "<p class='content_p'>" + item.approveRemarks + "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '3') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>DD</span>";
                        elements += "<span class='content_tag reject'><i class='icon-times-solid mr-2'></i>Objection</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.approvedOn) + "</span>";
                        elements += "<p class='content_p'>" + item.approveRemarks + "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '2') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>" + item.applicantName + "<br> <small class='font-weight-bold'> (Applicant) </small></span>";
                        elements += "<span class='content_tag reject'><i class='icon-check-double-solid mr-2'></i>Forwarded</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.appliedDate) + "</span>";
                        elements += "<p class='content_p'>";
                        elements += "<span class='font-weight-bold d-block'>Weight Bridge Name</span> " + item.weighBridgeName + "";
                        elements += "<span class='font-weight-bold d-block'>District</span> " + item.district + "";
                        elements += "</p>";
                        elements += "</div>";
                    }
                    if (item.status == '1') {
                        elements += "<div class='timeline__content'>";
                        elements += "<span class='content_degination'>" + item.applicantName + "<br> <small class='font-weight-bold'> (Applicant) </small></span>";
                        elements += "<span class='content_tag approve'><i class='icon-check-double-solid mr-2'></i>Weight Bridge Registered</span>";
                        elements += "<span class='content_date'>" + ChangeDateFormat(item.appliedDate) + "</span>";
                        elements += "<p class='content_p'>";
                        elements += "<span class='font-weight-bold d-block'>Weight Bridge Name</span> " + item.weighBridgeName + "";
                        elements += "<span class='font-weight-bold d-block'>District</span> " + item.district + "";
                        elements += "</p>";
                        elements += "</div>";
                    }
                });
                $('#timeline').append(elements);

            }
        });
    }
    function ChangeDateFormat(date) {
        const formattedDate = new Date(date).toLocaleDateString('en-GB', {
            day: 'numeric', month: 'short', year: 'numeric'
        }).replace(/ /g, '-');
        return formattedDate;
    }
</script>














