@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View and Delete Block Details
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 25 Dec 2021
    // ********************************************************************************************************
*@
@model IEnumerable<MasterEF.ModuleMasterModel>
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using MasterApp.Web;
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("", "Module updated successfully.", "success");
        }
        else if (vv == 2) {
            swal("","Module already exists.","warning");
        }
        else if (vv == 3){
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
        else if (vv == 4) {
            swal("", "Module Deleted Sucessfully!!", "success");
        }
    </script>
}
<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glRoleRes', 'plUser', 'tl', 'Master', 'Module', ' ');
        $('.searchableselect').searchableselect();
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Master/Module/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> InActive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="20px">Sl#</th>
                                            <th>Module Name</th>
                                            <th>Status</th>
                                            <th class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                var dyclass = @item.ActiveStatus == "Active" ? "active-row" : "inactive-row";
                                                <tr class="@dyclass">
                                                    <td>@count</td>

                                                    <td>@item.ModuleName</td>
                                                    <td>@item.ActiveStatus</td>
                                                    <td class="text-center noprint">
                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Add","Module",new {id=item.ModuleId })"
                                                           class="btn-floating btn-outline-primary btn-sm">
                                                            <i class="icon-pencil-alt-solid"></i>
                                                        </a>
                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Delete","Module",new {id=item.ModuleId })"
                                                           class="btn-floating btn-outline-danger btn-sm"
                                                           onclick="return confirm('Are you sure to delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

