@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View Log History of Lesee Office Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 15 July 2021
    // ********************************************************************************************************
*@
@model MasterEF.OfficeMasterViewModel;
@using MasterEF;
@using MasterApp.Web;
@using Microsoft.AspNetCore.Mvc;
@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
    UserLoginSession profile = HttpContextAccessor.HttpContext.Session.Get<UserLoginSession>(KeyHelper.UserKey);
}
<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('ViewList', 'glUIS', 'pllesseprof', 'tl', 'Lessee Profile', 'Lessee Office Details', ' ');
          var mineraltypename='@profile.MineralTypeName';
        if (mineraltypename == "Minor Mineral") {
            $(".BO").hide();
            $(".AO").hide();
        }
        else {
            $(".BO").show();
            $(".AO").show();
        }

        if (@profile.UserTypeId!= 7) { /*Other than Lessee Login*/
            $("#navlinkAdd").hide(); //Hide Add tab
            $(".ml-3").hide(); //Hide Edit button
        }
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" id="navlinkAdd" href="~/LesseeProfile/LesseeOfficeDetails/Create">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Category Of Lessee</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="@CustomQueryStringHelper.EncryptString("LesseeProfile","Create","LesseeOfficeDetails",new {id=Model.INT_CREATED_BY })" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Category Of Lessee</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.CategoryOfLicensee</label>
                                </div>
                                @if (Model.CategoryOfLicensee == "Firm")
                                {
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Firm as</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.Firm</label>
                                </div>
                                }
                                @if (Model.CategoryOfLicensee == "Company")
                                {
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Company as</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company</label>
                                </div>
                                }
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Company Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CompanyName</label>
                                </div>
                                @if (Model.Company == "PSU" && profile.MineralName=="COAL")
                                {
                                <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Colliery Code</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CollieryCode</label>
                                </div>
                                }
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">GST No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.GSTNo</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mines Type</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MinesType</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter1'>
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Corporate Office</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter2">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="@CustomQueryStringHelper.EncryptString("LesseeProfile","Create","LesseeOfficeDetails",new {id=Model.INT_CREATED_BY })" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name Prefix</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.CORPORATE_NAME_PREFIX</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.CORPORATE_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CORPORATE_ADDRESS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CORPORATE_CONTACT_DETAILS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">LandLine No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CORPORATE_LANDLINE_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Designation</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CORPORATE_DESIGNATION</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CORPORATE_MAIL_ID</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter2'>
                                @Html.Raw((String)ViewBag.tableLB)
                            </ul>
                        </div>
                        <div class="message-heading BO" style="display:none;">
                            <h5 class="font-weight-bold text-brown">Branch Office</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter3">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="@CustomQueryStringHelper.EncryptString("LesseeProfile","Create","LesseeOfficeDetails",new {id=Model.INT_CREATED_BY })" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter BO" style="display:none;">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name Prefix</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.BRANCH_NAME_PREFIX</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.BRANCH_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BRANCH_ADDRESS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BRANCH_CONTACT_DETAILS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">LandLine No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BRANCH_LANDLINE_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Designation</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BRANCH_DESIGNATION</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BRANCH_MAIL_ID</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter3'>
                                @Html.Raw((String)ViewBag.tableLC)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Site Office</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter4">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="@CustomQueryStringHelper.EncryptString("LesseeProfile","Create","LesseeOfficeDetails",new {id=Model.INT_CREATED_BY })" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <h5 class="font-weight-bold text-brown">Primary Contact Details</h5>
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name Prefix</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.SITE_NAME_PREFIX</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.SITE_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SITE_ADDRESS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SITE_CONTACT_DETAILS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">LandLine No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SITE_LANDLINE_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Designation</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SITE_DESIGNATION</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SITE_MAIL_ID</label>
                                </div>
                            </div>
                            <h5 class="font-weight-bold text-brown">Secondary Contact Details</h5>
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name Prefix</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.SECONDARY_SITE_NAME_PREFIX</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.SECONDARY_SITE_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SECONDARY_SITE_ADDRESS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SECONDARY_SITE_CONTACT_DETAILS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">LandLine No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SECONDARY_SITE_LANDLINE_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Designation</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SECONDARY_SITE_DESIGNATION</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.SECONDARY_SITE_MAIL_ID</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter4'>
                                @Html.Raw((String)ViewBag.tableLD)
                            </ul>
                        </div>
                        <div class="message-heading AO" style="display:none;">
                            <h5 class="font-weight-bold text-brown">Agent Office</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter5">Log Report <i class="icon-angle-down-solid"></i></a>
                                <a href="@CustomQueryStringHelper.EncryptString("LesseeProfile","Create","LesseeOfficeDetails",new {id=Model.INT_CREATED_BY })" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter AO" style="display:none;">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name Prefix</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.AGENT_NAME_PREFIX</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext" id="lblLeaseTypeId"><span class="colon">:</span>@Model.AGENT_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Address</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AGENT_ADDRESS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mobile Number</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AGENT_CONTACT_DETAILS</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">LandLine No</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AGENT_LANDLINE_NO</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Designation</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AGENT_DESIGNATION</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Email Id</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AGENT_MAIL_ID</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Letter Of Appointment</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    @if (Model.LETTER_OF_APPOINTMENT_OF_AGENT_FILE_NAME != null && Model.LETTER_OF_APPOINTMENT_OF_AGENT_FILE_NAME != "")
                                    {
                                    <label class="form-control-plaintext">@(Model.LETTER_OF_APPOINTMENT_OF_AGENT_FILE_NAME) <a href='~/@Model.LETTER_OF_APPOINTMENT_OF_AGENT_FILE_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                    }
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter5'>
                                @Html.Raw((String)ViewBag.tableLE)
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

