@model IEnumerable<MasterEF.RoleTypeModel>
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using MasterApp.Web;
@if (ViewBag.msg != null)
{
    <script>
          swal("", "@ViewBag.msg", "success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" href="~/Master/Department/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/Master/Department/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="legend-box">
                                    <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                        <li><span class="bg-success"></span> Active</li>
                                        <li><span class="bg-warning"></span> Inactive</li>
                                    </ul>
                                </div>

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sl#</th>
                                            <th>User Type</th>
                                            <th> Department</th>
                                            <th>Status</th>
                                            <th class="text-center noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                var dyclass = @item.Status == "Active" ? "active-row" : "inactive-row";

                                                <tr class="@dyclass">
                                                    <td>@count</td>
                                                    <td>@item.UserType</td>
                                                    <td>@item.RoleTypeName</td>
                                                    @if (@item.Status == "Active")
                                                    {
                                                        <td class="text-success">@item.Status</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-orange">@item.Status</td>
                                                    }

                                                    <td class="text-center noprint">

                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Add","Department",new {id=item.RoleTypeId })"
                                                           class="btn-floating btn-outline-primary btn-sm"
                                                           title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Delete","Department",new {id=item.RoleTypeId })"
                                                           class="btn-floating btn-outline-danger btn-sm"
                                                           title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        debugger;
        loadNavigation('ViewList', 'glRoleRes', 'plUser', 'tl', 'Master', 'Department', ' ');
        $('.searchableselect').searchableselect();
    });
</script>
