@model PermitEF.ePermitModel
@{
    ViewData["Title"] = "ePermitApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")

        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Dynamic Payment Configuration
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-4 col-form-label">Mines Type <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("MinesType", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Mines Type", Value = "1" },
    new SelectListItem{ Text="Auction Mines", Value = "2" },
    new SelectListItem{ Text="Non-Auction Mines", Value = "3" },
 }, new { @class = "form-control searchableselect" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-4 col-form-label">ML Granted <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("ML", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Mines Lease Type", Value = "1" },
    new SelectListItem{ Text="Before", Value = "2" },
    new SelectListItem{ Text="After", Value = "3" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Captive Type <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Captive", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Captive Type", Value = "1" },
    new SelectListItem{ Text="Captive", Value = "2" },
    new SelectListItem{ Text="Non-Captive", Value = "3" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Company Type <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Campany", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Company Type", Value = "1" },
    new SelectListItem{ Text="Gov.", Value = "2" },
    new SelectListItem{ Text="copration", Value = "3" },
    new SelectListItem{ Text="Others", Value = "4" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Lease Extend <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Lease", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Lease Type", Value = "1" },
    new SelectListItem{ Text="Yes", Value = "2" },
    new SelectListItem{ Text="No", Value = "3" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("MineralName", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Mineral Type", Value = "1" },
    new SelectListItem{ Text="Iron ore and chromite", Value = "2" },
    new SelectListItem{ Text="Copper", Value = "3" },
    new SelectListItem{ Text="Coal and lignite", Value = "4" },
    new SelectListItem{ Text="Other", Value = "5" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Mineral Form<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Form", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Mineral Form", Value = "1" },
    new SelectListItem{ Text="Iron ore and chromite", Value = "2" },
    new SelectListItem{ Text="Copper", Value = "3" },
    new SelectListItem{ Text="Coal and lignite", Value = "4" },
    new SelectListItem{ Text="Other", Value = "5" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6" id="Primium" style="display:none">
                                <div class="form-group row">
                                    <label for="dropdownDepart" class="col-sm-4 col-form-label">Premium Amt.<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Premium", new List<SelectListItem>
{
    new SelectListItem{ Text="Select Lease Type", Value = "1" },
    new SelectListItem{ Text="Yes", Value = "2" },
    new SelectListItem{ Text="No", Value = "3" },
 }, new { @class = "form-control searchableselect" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="CaptiveMines" style="display:none">
                                <div class="form-group row">
                                    <label for="dropdownDesign" class="col-sm-8 col-form-label">
                                        Sale of Mineral more than 25% and up to 50% of annual production
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-4">
                                        @Html.RadioButton("CaptiveMines", "1") Equivalent to 50% royalty payable

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" id="Fifth" style="display: none">
                                <div class="form-group row">
                                    <label for="dropdownUserType" class="col-sm-4 col-form-label">Fifth Schedule<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.RadioButton("Fifth", "1") Equivalent to 150% of the royalty
                                        <br />
                                        @Html.RadioButton("Fifth", "2")Equivalent to 50% of the royalty
                                        <br />
                                        @Html.RadioButton("Fifth", "3")Equivalent to the royalty
                                        <br />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" id="Sixth" style="display: none">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Sixth Schedule<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.RadioButton("Sixth", "1") Equivalent to 500% of the royalty
                                        <br />
                                        @Html.RadioButton("Sixth", "2") Equivalent to 250% of the royalty
                                        <br />
                                        @Html.RadioButton("Sixth", "3") Equivalent to 200% of the royalty
                                        <br />
                                        @Html.RadioButton("Sixth", "4") Equivalent to 150% of the royalty
                                        <br />
                                        @Html.RadioButton("Sixth", "5")Equivalent to 50% of the royalty
                                        <br />
                                        @Html.RadioButton("Sixth", "6")Equivalent to the royalty
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 offset-sm-2">
                                <a href="javascript:void(0);" class="btn btn-primary btn-md ml-0" data-toggle="modal"
                                   data-target=".alert-modal">Submit</a>

                                <a href="#" class="btn btn-danger btn-md">Reset</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<uc1:footer runat="server" ID="footer" />


<script>
    indicateMe = "yes";
    $(document).ready(function () {
        loadNavigation('NewE-permit', 'glepermit', 'Epermit', 'tl', 'E-Permit', 'Payment Config', ' ');
        $('.searchableselect').searchableselect();
    });
</script>
<script>
    $(document).ready(function () {
        $("#MinesType").change(function () {
            if ($('#MinesType').val() == "2" ) {
                $("#Primium").show();
            }
            else {
                $("#Primium").hide();
            }
        });
        $("#MinesType").change(function () {
            if ($('#MinesType').val() == "2" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#CaptiveMines").show();
                $("#Sixth").hide();
            }else if ($('#MinesType').val() == "3" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#Sixth").show();
                $("#CaptiveMines").hide();
            }
            else {
                $("#Sixth").hide();
                $("#CaptiveMines").hide();
            }
        });
        $("#Captive").change(function () {
            if ($('#MinesType').val() == "2" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#CaptiveMines").show();
                $("#Sixth").hide();
            }
            else if ($('#MinesType').val() == "3" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#Sixth").show();
                $("#CaptiveMines").hide();
            }
            else {
                $("#Sixth").hide();
                $("#CaptiveMines").hide();
            }
        });
        $("#MineralName").change(function () {
            if ($('#MinesType').val() == "2" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#CaptiveMines").show();
                $("#Sixth").hide();
            } else if ($('#MinesType').val() == "3" && $('#Captive').val() == '2' && $('#MineralName').val() != '4' && $('#MineralName').val() != '1') {
                $("#Sixth").show();
                $("#CaptiveMines").hide();
            }
            else {
                $("#Sixth").hide();
                $("#CaptiveMines").hide();
            }
        });
        $("#Campany").change(function () {
            if (($('#Campany').val() == "2" || $('#Campany').val() == '3') && $('#Lease').val() == '2' ) {
                $("#Fifth").show();
            } 
            else {
                $("#Fifth").hide();
                
            }
        });
        $("#Lease").change(function () {
            if (($('#Campany').val() == "2" || $('#Campany').val() == '3') && $('#Lease').val() == '2') {
                $("#Fifth").show();
            }
            else {
                $("#Fifth").hide();

            }
        });
    });
</script>


