@model UserInformationEF.LeaseApplicationModel;

<div class="col-12">
    @Html.Partial("_navigation")
    <!-- MAIN CONTENT AREA STARTS -->
    <div class="row">
        <div class="col-12">


            <section class="box form-container">
                <div class="content-body">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="Submission_of_Clearances" style="color: #089c4c;font-size: 1rem;font-weight:bold">Create Profile</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="Submission_of_Clearances" style="font-size: 0.9rem;font-weight:bold">Status of Preferred Bidder</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">

                                <div class="col-sm-3">
                                    @Html.RadioButtonFor(x => x.CategoryOfLicensee, "Individual", new { onchange = "onRadioChange()", id = "Individual", @checked = "checked" })
                                    Individual/Proprietor

                                </div>
                                <div class="col-sm-3">
                                    @Html.RadioButtonFor(x => x.CategoryOfLicensee, "Firm", new { onchange = "onRadioChange()", id = "Firm" })
                                    Firm

                                </div>

                                <div class="col-sm-3">
                                    @Html.RadioButtonFor(x => x.CategoryOfLicensee, "Association", new { onchange = "onRadioChange()", id = "Association" })
                                    Association

                                </div>
                                <div class="col-sm-3">
                                    @Html.RadioButtonFor(x => x.CategoryOfLicensee, "Company", new { onchange = "onRadioChange()", id = "Company" })
                                    Company
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" id="firm_toggle">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="Submission_of_Clearances" style="font-size: 0.9rem;font-weight:bold">Firm as</label>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group row">

                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(x => x.FirmAs, "Partnership", new { @checked = "checked", id = "Partnership" })
                                    Partnership
                                </div>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(x => x.FirmAs, "Proprietary", new { id = "Proprietary" })
                                    Proprietary
                                </div>


                            </div>
                        </div>
                    </div>

                    <div style="display: none;" id="company_toggle pointer">
                        @(Html.Label("Company as"))

                        <div class="input-group input-group-sg">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                @*<input type="radio" id="Private" name="CompanyAs" value="Private" checked="checked" />*@
                                @Html.RadioButtonFor(x => x.CompanyAs, "Private", new { @checked = "checked", id = "Private" })
                                Private
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                @*<input type="radio" id="PublicLimited" name="CompanyAs" value="PublicLimited" />*@
                                @Html.RadioButtonFor(x => x.CompanyAs, "PublicLimited", new { id = "PublicLimited" })
                                Public Limited
                            </div>
                            <div class="col-sm-12">
                                @*<input type="radio" id="PSU" name="CompanyAs" value="PSU" />*@
                                @Html.RadioButtonFor(x => x.CompanyAs, "PSU", new { id = "PSU" })
                                PSU
                            </div>
                            <div class="col-sm-12">
                                @*<input type="radio" id="Joint_Venture" name="CompanyAs" value="JointVenture" />*@
                                @Html.RadioButtonFor(x => x.CompanyAs, "JointVenture", new { id = "Joint_Venture" })
                                Joint Venture
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label font-weight-bolder">Company</label>
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.CompanyId, ViewBag.Companylist as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control searchableselect pointer", autofocus = "autofocus", required = "required" })

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Name of Authorized Person</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.NameOfApplicant, new { @class = "form-control", @style = "width:100%;", onkeydown = "return false;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Designation</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.Designation, new { @class = "form-control", @style = "width:100%;", onkeydown = "return false;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Contact No</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.ApplicantMobileNo, new { @class = "form-control", @style = "width:100%;", onkeydown = "return false;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Email-Id</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.ApplicantEmailId, new { @class = "form-control", @style = "width:100%;", onkeydown = "return false;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Address</label>
                                <div class="col-sm-7">
                                    @Html.TextAreaFor(x => x.AddressOfApplicant, new { @class = "form-control", @style = "width:100%;overflow:both;resize:none;", @rows = "6", @maxlength = 500 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">PAN Card</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.PAN_Card_File)">
                                        <label class="custom-file-label" for="customFile">Choose Files</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">TIN Card / GST</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.TIN_Card_File)">
                                        <label class="custom-file-label" for="customFile">Choose Files</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="Submission_of_Clearances" style="color: #089c4c;font-size: 1rem;font-weight:bold">Lease / License Area Information</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">State</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.StateName, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Disrict</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.DistrictName, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Tehsil</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.TehsilName, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Village</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.VillageName, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Block/Forest Range</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.BlockForestRange, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Pin Code</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.Pincode, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Area in Hect.*</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.AreaInHect, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Type of Land</label>

                                @if (Model.TypeOfLand != null)
                                {
                                    foreach (var i in @Model.TypeOfLand)
                                    {
                                        <div class="col-sm-3 ">
                                            <input type="checkbox" id="@i.id" name="TypeOfLands" checked="@i.IsSelected" value="@i.Value" onchange="onTOIChange()" />
                                            @i.Text

                                        </div>
                                    }
                                    <div class="row">
                                    </div>
                                }


                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row" style="display: none; margin-left: 45px;" id="Government_toggle">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Government As</label>
                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(x => x.Revenue, new { @onchange = "onTOIChange()" })
                                    Revenue
                                    @Html.TextBoxFor(x => x.txtRevenue, new { @class = "form-control txtArea", @placeholder = "Revenue Area" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(x => x.RevenueForest, new { @onchange = "onTOIChange()" })
                                    Revenue Forest
                                    @Html.TextBoxFor(x => x.txtRevenueForest, new { @class = "form-control txtArea", @placeholder = "Revenue Forest Area" })
                                </div>

                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(x => x.Nistar, new { @onchange = "onTOIChange()" })
                                    Nistar
                                    @Html.TextBoxFor(x => x.txtNistar, new { @class = "form-control txtArea", @placeholder = "Nistar Area" })
                                </div>

                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(x => x.Forest, new { @onchange = "onTOIChange()" })
                                    Forest
                                    @Html.TextBoxFor(x => x.txtForest, new { @class = "form-control txtArea", @placeholder = "Forest Area" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row" style="display: none; margin-left: 35px;" id="Private_toggle">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Private As</label>
                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(x => x.Tribal, new { @onchange = "onTOIChange()" })
                                    Tribal<br />
                                    @Html.TextBoxFor(x => x.txtTribal, new { @class = "form-control txtArea", @placeholder = "Tribal Area" })
                                </div>
                                <div class="col-sm-5">
                                    @Html.CheckBoxFor(x => x.NonTribal, new { @onchange = "onTOIChange()" })
                                    Non-Tribal
                                    @Html.TextBoxFor(x => x.txtNonTribal, new { @class = "form-control txtArea", @placeholder = "Non Tribal Area" })
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Toposheet No.*</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" onchange="onUploadSelect(this);" name="@Html.NameFor(Model => Model.TopoSheetNo_File)">
                                        <label class="custom-file-label" for="customFile">Choose Files</label>
                                        <label><span class="text-danger text-sm">Only jpg, jpeg, png, pdf, tif file types are allowed.</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Kharsa No./Compartment No.*</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.KhasraNo_File)">
                                        <label class="custom-file-label" for="customFile">Choose Files</label>
                                        <label><span class="text-danger text-sm">Only jpg, jpeg, png, pdf, tif file types are allowed.</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Coordinates*</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.Coordinates_File)" multiple>
                                        <label class="custom-file-label" for="customFile">Choose Files</label>
                                        <label><span class="text-danger text-sm">Only jpg, jpeg, png, pdf, tif file types are allowed.</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder">Demarcation Report</label>
                                <div class="col-sm-7">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.DemarcationReport_File)" multiple>
                                        <label class="custom-file-label" for="customFile">Choose Files</label>
                                        <label><span class="text-danger text-sm">Only jpg, jpeg, png, pdf, tif file types are allowed.</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder"></label>
                                <div class="col-sm-7">
                                    <input id="responsable" name="checkResp" value="true" checked="checked" type="checkbox" class="k-valid">
                                    Import to DB
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="ExcelKharsa" name="@Html.NameFor(Model=>Model.ExcelKharsa)" >
                                        <label class="custom-file-label" for="customFile">Choose Files</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label font-weight-bolder"></label>
                                <div class="col-sm-7">
                                    <input id="responsable" name="checkResp" value="true" checked="checked" type="checkbox" class="k-valid">
                                    Import to DB
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.ExcelCoordinates)" multiple>
                                        <label class="custom-file-label" for="customFile">Choose Files</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="Submission_of_Clearances" style="color: #089c4c;font-size: 1rem;font-weight:bold">Basic Information</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Mineral Category*</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.MineralType, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Mineral Name*</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.MineralName, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Lease Type*</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.LeaseType, new { @maxlength = "100", @class = "form-control", @style = "width:100%;overflow:both;resize:none;" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>
