@*// *********************************************************************************************************
    //  View Name                : Form7
    //  Desciption               : To Download PDF and Send To Applicant
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@


@{
    ViewBag.Title = "Form 7";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using userregistrationApp.Helper;
@model userregistrationEF.LicenseApplication
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                Form 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="table-responsive" id="divPrint" style="margin-bottom: 1rem;">
                            @(Html.HiddenFor(model => model.LicenseAppId))
                            @(Html.HiddenFor(model => model.PaymentRecieptId))
                            @(Html.HiddenFor(model => model.DSCLesseeFilePath))
                            @(Html.HiddenFor(model => model.Conditions.Count))
                            <table id="tablePRint" style="border: 1px solid #dadada;width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <img id="imgLogo" src="/CMSimg/govt-logo.png" style="height: 100px; width: 100px; margin: 0 auto; display: block;" alt="LOGO">
                                        <br>
                                        <h2 style="text-align: center;">MINERAL RESOURCES DEPARTMENT</h2>
                                        <h5 style="text-align: center;color:red">GOVERNMENT OF CHHATTISGARH</h5>

                                    </td>
                                </tr>
                            </table>
                            <table id="tablePRint2" style="border: 1px solid #dadada;width: 100%;">
                                <tr>
                                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px; text-align: center;">
                                        <span class="lead" style="font-size: 16px; text-align: center">Form 7</span>
                                        <br />
                                        <span class="lead" style="font-size: 16px; text-align: center">[See Rule 7(1) of CG Mineral(Mining Transportation and Storage)Rules,2009]</span>
                                        <br />
                                        <span class="lead" style="font-size: 16px; text-align: center">Grant of Permit for Temporary Storage/Beneficiation/Crushing</span>
                                        <br />
                                        <span class="lead" style="font-size: 16px; text-align: center">Office of the Collector</span>
                                        <br />
                                        <span class="lead" style="font-size: 16px; text-align: center">District ( @(Html.DisplayFor(m => m.AppDistrictName)) ) Chhattisgarh</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;"><strong>Sr No : </strong>@(Html.DisplayFor(model => model.LicenseAppId)) </td>
                                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;"> <strong>Date : </strong>@System.DateTime.Now.ToString("dd/MM/yyyy")</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        Mineral permit is hereby Granted/Renewed as per the conditions given below under the Chattisgarh Mineral ( <span style="color: red;">Prevention of Illegal </span>Mining
                                        Transportation and Storage) Rules, 2009 in favour of Shri ( <b>@(Html.DisplayFor(m => m.ApplicantName)) </b>) Resident of ( <b>@(Html.DisplayFor(m => m.CompleteAddress)) </b>)
                                        for storage/beneficiation place indicated below.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>1</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>Mineral/Product(s) name for which permit is being given</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@(Html.DisplayFor(m => m.MineralName))</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>2</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>Maximum quantity(Tonnes) of Stored Mineral at a time  </span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@(Html.DisplayFor(model => model.StorageCapicity))</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>3</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>Location of Storage/Beneficiation/Crushing Plant</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@(Html.DisplayFor(model => model.Place))</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style="border: 1px solid #ddd; padding: 10px;">
                                        <span></span>
                                    </td>
                                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">
                                        <span><b>Description of Boundary</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span><b>East</b></span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@Model.South</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span><b>West</b></span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@Model.West</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span><b>North</b></span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@Model.North</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span><b>South</b></span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@Model.South</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>4</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>Period of Storage Permit</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@(Html.DisplayFor(model => model.Period))</span>
                                    </td>
                                </tr>



                                <tr>

                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>5</span>
                                    </td>
                                    <td colspan="7" style="border: 1px solid #ddd; padding: 10px;">
                                        <b><span> Conditions of the Permit</span></b>
                                    </td>

                                </tr>

                                @foreach (var condition in Model.Conditions)
                                {

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">
                                            <span> @condition </span>
                                        </td>
                                    </tr>

                                }

                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>6</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>Generated Date and Time</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>@(System.DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt"))</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>7</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <span>DSC</span>
                                    </td>
                                    <td style="border: 1px solid #ddd; padding: 10px;"></td>
                                </tr>

                                <tr>
                                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">
                                        <label>
                                            <i>This is a system generated form. So physical signature is not required. </i>
                                        </label>
                                    </td>
                                </tr>

                            </table>

                        </div>



                        <div class="row">
                            <div class="col-sm-12 ">
                                <a href="javascript:void(0);" id="btnPrint" title="Print" onclick="DownloadForm();" class="btn btn-success btn-md ml-0 mb-2  waves-effect waves-light rounded-0">print</a>
                                <a href="javascript:void(0);" title="Approve Grant Order" id="btnSave" onclick="getPDF();" class="btn btn-success btn-md  mb-2  waves-effect waves-light rounded-0">Approve Grant Order</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<input id="fName" type="hidden" />
<input id="fid" type="hidden" />
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>*@

<script src="~/CMSjs/jquery-1.12.4.js"></script>
<script src="~/CMSjs/jspdf.min.js"></script>
<script src="~/CMSjs/html2canvas.js"></script>
<script>
    $(document).ready(function () { loadNavigation('Form7', 'ql', 'pl', 'tl', 'License', 'Form7', ' '); });
    function DownloadForm() {
        debugger;
        var HTML_Width = $("#divPrint").width();
        var HTML_Height = $("#divPrint").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($("#divPrint")[0], { allowTaint: true }).then(function (canvas) {
            debugger;
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);

            // var data = canvas.toDataURL();
            var data = canvas.toDataURL("image/JPEG", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(data, 'JPEG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(data, 'JPEG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            //data = data.replace('data:image/png;base64,', '');
            data = pdf.save($("#LicenseAppId").val() + "_Form7.pdf");

        });

    }

    function getPDF() {
        debugger;
        var HTML_Width = $("#divPrint").width();
        var HTML_Height = $("#divPrint").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($("#divPrint")[0], { allowTaint: true }).then(function (canvas) {
            debugger;
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);

            // var data = canvas.toDataURL();
            var data = canvas.toDataURL("image/JPEG", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(data, 'JPEG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(data, 'JPEG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            //data = data.replace('data:image/png;base64,', '');
            data = pdf.output("datauristring").replace('data:application/pdf;base64,', '');
                    //-----------------
                     try {
                    var dt = new Date();
                    var FNID = $("#LicenseAppId").val();
                    var FileName = FNID + "_Form4_" + dt.getDate() + "" + (dt.getMonth() + 1) + "" + dt.getFullYear() + "_" + dt.getHours() + "_" + dt.getMinutes() + "_" + dt.getSeconds() + ".pdf";
                    $("#fName").val(FileName).change();
                    $.ajax({
                        url: "/Licensee/LicenseApplication/SaveNormalPdfFile",
                        data: { base64BinaryStr: data, fileName: $("#fName").val(), ID: $("#LicenseAppId").val(), UpdateIn: "LICENSE_APP_GRANT_ORDER" },
                        type: "post",
                        dataType:'json',
                        success: function (msg) {
                            debugger;
                            if (msg == "SUCCESS") {

                                var FPath = '@ViewBag.DSCReadFilePath' + $("#fName").val();
                                var OutPath = "";
                                var Postdata = 'action=signpdf' + "\n" + 'datatosign=' + FPath + '' + "\n" + 'signaction=2' + "\n" + 'outputpath=' + OutPath + '' + "\n" + 'signtype=sign' + "\n" + 'expirycheck=false' + "\n" + 'coordinate=600,100,1300,50' + "\n" + 'issuername=' + "\n" + 'certtype=ALL' + "\n" + 'certclass=0';
                                connection.send(Postdata);
                                connection.onerror = function (error) {
                                    alert('Please check the server connection: ' + error);
                                    alert(error);
                                };

                                connection.onmessage = function (e) { // when DSC is success then following function executed.
                                    debugger;
                                    if (e.data.indexOf("subProtocol") == -1) {

                                        $.ajax(
                                            {
                                                url: "/Licensee/LicenseApplication/CheckVerifyResponse",
                                                type: "POST",
                                                data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                                                async: false,
                                                success: function (msg) {
                                                    debugger;
                                                    if (msg == "SUCCESS") {

                                                        var FNID = $("#fName").val();
                                                        var LicenseAppId = $("#LicenseAppId").val();
                                                        var signData = e.data;
                                                        $.ajax({
                                                            url:"/Licensee/LicenseApplication/SavePdfFile",
                                                            type: "POST",
                                                            async: false,
                                                            data: { base64BinaryStr: e.data, fileName: FNID, ID: LicenseAppId, UpdateIn: "LICENSE_APP_GRANT_ORDER" },
                                                            success: function (msg) {
                                                                if (msg == "SUCCESS") {
                                                                    alert("You have successfully approve the grant order to the Applicant.");
                                                                     window.location.href ='@CustomQueryStringHelper.EncryptString("Licensee", "LicenseRegisteredList","LicenseApplication",new {id=2 })';
                                                                            }
                                                                else {
                                                                    alert(msg);
                                                                        }
                                                                    }
                                                        });
                                                    }
                                                }
                                            });
                                    }
                                    else {
                                        alert(e.data);
                                    }
                                };
                            }
                            else {
                                alert(msg);

                            }
                        }
                    });
                }
                catch (e) {
                    alert("Your DSC Connection is not working. Please try after some time.");
                }
                    //-------------------------



        });



    }
    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');

        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
            //  alert('Please check the DSC connection: ' + error);
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
                //  alert(e.data);
            }
        };
    }
    catch (e) {
        alert("No DSC Connection Found");
    }
    //-----------------------------
</script>