@*// *********************************************************************************************************
    //  View Name                : Form6
    //  Desciption               : To Download PDF and Send To Applicant
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@

@{
    ViewBag.Title = "Form 6";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.LicenseApplication

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                Form 6
                            </a>

                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="table-responsive" id="divPrint" style="margin-bottom: 1rem;">
                            @(Html.HiddenFor(model => model.LicenseAppId))
                            @(Html.HiddenFor(model => model.PaymentRecieptId))
                            @(Html.HiddenFor(model => model.DSCLesseeFilePath))

                            <table id="tablePRint" style="border: 1px solid #dadada;width: 100%;">
                                <tr>
                                    <td style="border: 1px solid #ddd; padding: 10px;">
                                        <img id="imgLogo" src="/CMSimg/govt-logo.png" style="height: 100px; width: 100px; margin: 0 auto; display: block;" alt="LOGO">
                                        <br>
                                        <h2 style="text-align: center;">MINERAL RESOURCES DEPARTMENT</h2>
                                        <h5 style="text-align: center;color:red">GOVERNMENT OF CHHATTISGARH</h5>

                                    </td>
                                </tr>
                            </table>
                            <table id="tablePRint2" style="border: 1px solid #dadada;width: 100%;">
                                <tbody>

                                    <tr>
                                        <td colspan="3" style="border: 1px solid #ddd; padding: 10px; text-align: center;">
                                            <span class="lead" style="font-size: 16px; text-align: center">Form 6</span>
                                            <br />
                                            <span class="lead" style="font-size: 16px; text-align: center">[See Rule 9 of CG Mineral(Mining Transportation and Storage)Rules,2009]</span>
                                            <br />
                                            <span class="lead" style="font-size: 16px; text-align: center">Acknowledgement of Application for Grant/Renewal of Temporary Storage/Beneficiation/Crushing Plant Permit</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;"  width="100px"><strong>Sr No : </strong>@(Html.DisplayFor(model => model.LicenseAppId)) </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> <strong>Date : </strong>@System.DateTime.Now.ToString("dd/MM/yyyy")</td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"> <strong>Time : </strong>@System.DateTime.Now.ToString("hh:mm:ss tt")</td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>1</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Application Type</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.LicenseTypeName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>2</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Applicant's Name</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.ApplicantName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>3</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Application Received On</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@Convert.ToDateTime(Model.PaymentDoneDate).ToString("dd-MM-yyyy")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>4</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Village</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.VillageName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>5</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Panchayat</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.Panchayat))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>6</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Tehsil</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.TehsilName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>7</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>District</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.DistrictName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>8</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Police Station</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.PoliceStation))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>9</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Minerals</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(Html.DisplayFor(model => model.MineralName))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>10</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Enclosures</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>No Mining Due Certificate</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/NO_DUE/@Model.NO_MINING_DUE_CERTIFICATE_FILE_NAME" target="_blank"> @(Html.DisplayFor(model => model.NO_MINING_DUE_CERTIFICATE_FILE_NAME))</a></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Affidavit stating that the applicant does not hold any mineral concession/license in the state</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/Affidavit_Mineral_Concession/@Model.AFFIDAVITE_FILE_NAME" target="_blank"> @(Html.DisplayFor(model => model.AFFIDAVITE_FILE_NAME))</a></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Affidavit showing the mineral concession/licenses held or being held by other person/persons jointly with the applicant</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/Affidavit_Mineral_Jointly/@Model.AFFIDAVITE_JOINTLY_FILE_NAME" target="_blank"> @(Html.DisplayFor(model => model.AFFIDAVITE_JOINTLY_FILE_NAME))</a></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Certified copy of the Map</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/Certified_Map/@Model.MAP_LAND_CERTIFICATE_FILE_NAME">@(Html.DisplayFor(model => model.MAP_LAND_CERTIFICATE_FILE_NAME))</a> </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Latest revenue record of the land intended to be used for storing mineral or its products</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/LatestRevenew/@Model.LATEST_REVENEW_CERTIFICATE_FILE_NAME">@(Html.DisplayFor(model => model.LATEST_REVENEW_CERTIFICATE_FILE_NAME))</a> </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Affidavit showing the surface rights/consent of the owner of the land, in case the applicant is not the owner of the land</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/Affidavit_Land/@Model.OWNER_LAND_CERTIFICATE_FILE_NAME"> @(Html.DisplayFor(model => model.OWNER_LAND_CERTIFICATE_FILE_NAME))</a></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span></span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Any other details the applicant wants to provide [NOC from PCB etc]</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span><a href="/FORM4/NOC_Certificate/@Model.NOC_OTHER_CERTIFICATE_FILE_NAME"> @(Html.DisplayFor(model => model.NOC_OTHER_CERTIFICATE_FILE_NAME))</a></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="3" style="border: 1px solid #ddd;; padding: 10px;text-align:center;color:red">
                                            User Information
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>10</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>Generated Date and Time</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>@(System.DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt"))</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>11</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;">
                                            <span>DSC</span>
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 10px;"></td>
                                    </tr>

                                    <tr>
                                        <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">
                                            <label>
                                                <i>This is a system generated form. So physical signature is not required. </i>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class="row">
                            <div class="col-sm-12 ">
                                <a href="javascript:void(0);" id="btnPrint" title="Print" onclick="DownloadForm();" class="btn btn-success btn-md ml-0 mb-2  waves-effect waves-light rounded-0">print</a>
                                <a href="javascript:void(0);" title="Send to Applicant" id="btnSave" onclick="getPDF();" class="btn btn-success btn-md  mb-2  waves-effect waves-light rounded-0">Send to Applicant</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<input id="fName" type="hidden" />
<input id="fid" type="hidden" />
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/DSC/deployJava.js"></script>*@
<script src="~/CMSjs/jquery-1.12.4.js"></script>
<script src="~/CMSjs/jspdf.min.js"></script>
<script src="~/CMSjs/html2canvas.js"></script>
<script>
    function DownloadForm() {
        debugger;
        var HTML_Width = $("#divPrint").width();
        var HTML_Height = $("#divPrint").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($("#divPrint")[0], { allowTaint: true }).then(function (canvas) {
            debugger;
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);

            // var data = canvas.toDataURL();
            var data = canvas.toDataURL("image/JPEG", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(data, 'JPEG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(data, 'JPEG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            //data = data.replace('data:image/png;base64,', '');
            data = pdf.save($("#LicenseAppId").val() + "_Form6.pdf");
        });

    }

    function getPDF() {
        debugger;
        var HTML_Width = $("#divPrint").width();
        var HTML_Height = $("#divPrint").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($("#divPrint")[0], { allowTaint: true }).then(function (canvas) {
            debugger;
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);

            // var data = canvas.toDataURL();
            var data = canvas.toDataURL("image/JPEG", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(data, 'JPEG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(data, 'JPEG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }
            //data = data.replace('data:image/png;base64,', '');
            data = pdf.output("datauristring").replace('data:application/pdf;base64,', '');

                    //-----------------
                     try {
                    var dt = new Date();
                    var FNID = $("#LicenseAppId").val();
                    var FileName = FNID + "_Form6_" + dt.getDate() + "" + (dt.getMonth() + 1) + "" + dt.getFullYear() + "_" + dt.getHours() + "_" + dt.getMinutes() + "_" + dt.getSeconds() + ".pdf";
                    $("#fName").val(FileName).change();
                    $.ajax({
                        url: "/Licensee/LicenseApplication/SaveNormalPdfFile",
                        data: { base64BinaryStr: data, fileName: $("#fName").val(), ID: $("#LicenseAppId").val(), UpdateIn: "LICENSE_APP_ACK" },
                        type: "post",
                        dataType:'json',
                        success: function (msg) {
                            debugger;
                            if (msg == "SUCCESS") {

                                var FPath = '@ViewBag.DSCReadFilePath' + $("#fName").val();
                                var OutPath = "";
                                var Postdata = 'action=signpdf' + "\n" + 'datatosign=' + FPath + '' + "\n" + 'signaction=2' + "\n" + 'outputpath=' + OutPath + '' + "\n" + 'signtype=sign' + "\n" + 'expirycheck=false' + "\n" + 'coordinate=600,100,1300,50' + "\n" + 'issuername=' + "\n" + 'certtype=ALL' + "\n" + 'certclass=0';
                                connection.send(Postdata);
                                connection.onerror = function (error) {
                                    alert('Please check the server connection: ' + error);
                                    alert(error);
                                };

                                connection.onmessage = function (e) { // when DSC is success then following function executed.
                                    debugger;
                                    if (e.data.indexOf("subProtocol") == -1) {

                                        $.ajax(
                                            {
                                                url: "/Licensee/LicenseApplication/CheckVerifyResponse",
                                                type: "POST",
                                                data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                                                async: false,
                                                success: function (msg) {
                                                    debugger;
                                                    if (msg == "SUCCESS") {

                                                        var FNID = $("#fName").val();
                                                        var LicenseAppId = $("#LicenseAppId").val();
                                                        var signData = e.data;
                                                        $.ajax({
                                                            url:"/Licensee/LicenseApplication/SavePdfFile",
                                                            type: "POST",
                                                            async: false,
                                                            data: { base64BinaryStr: e.data, fileName: FNID, ID: LicenseAppId, UpdateIn: "LICENSE_APP_ACK" },
                                                            success: function (msg) {
                                                                if (msg == "SUCCESS") {
                                                                     alert("You have successfully sent the Acknowledgement to the Applicant.");
                                                                    window.location.href = "/Licensee/LicenseApplication/LicenseRegisteredList";
                                                                }
                                                                else {
                                                                    alert(msg);
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                            });
                                    }
                                    else {
                                        alert(e.data);
                                    }
                                };
                            }
                            else {
                                alert(msg);

                            }
                        }
                    });
                }
                catch (e) {
                    alert("Your DSC Connection is not working. Please try after some time.");
                }
                    //-------------------------

        });

    }
    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');

        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
            //  alert('Please check the DSC connection: ' + error);
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
                //  alert(e.data);
            }
        };
    }
    catch (e) {
        alert("No DSC Connection Found");
    }
    //-----------------------------
</script>
