@*// *********************************************************************************************************
    //  View Name                : LicensePaymentProcess
    //  Desciption               : Application Fees Payment Information
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@


@{
    ViewBag.Title = "License Payment Process";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.LicenseApplication
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                Application Fees Payment Information
                            </a>
                           
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <form id="form1">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.LicenseAppId)
                            @Html.HiddenFor(model => model.TotalPayment)
                            @Html.Hidden("PaymentMode")
                            @Html.Hidden("PaymentBank")
                            @Html.Hidden("Pmode")
                            @Html.Hidden("NetBanking_mode")
                            <input type="hidden" value="@Model.TotalPayment" id="totalPayable" name="totalPayable">
                            <div class="row">
                                <div class="col-sm-12" style="display:none;">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">TransactionalID</label>
                                        <div class="col-sm-8">
                                            <label class="form-control">@Model.LicenseAppId</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Applicant Name</label>
                                        <div class="col-sm-7">
                                            <label class="form-control">@Model.ApplicantName</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Storage Capacity</label>
                                        <div class="col-sm-7">
                                            <label class="form-control">@Model.StorageCapicity</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Total Payable Amount</label>
                                        <div class="col-sm-7">
                                            <label class="form-control">@Model.TotalPayment</label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () { $(document).ready(function () { loadNavigation('LicensePaymentProcess', 'ql', 'pl', 'tl', 'License', 'LicensePaymentProcess', ' '); }); });
</script>