@*// *********************************************************************************************************
    //  View Name                : LicenseRegisteredList
    //  Desciption               : Registered License Information
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@


@{
    ViewBag.Title = "Storage License Applications";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using userregistrationApp.Helper;
@model IEnumerable<userregistrationEF.LicenseApplication>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                View
                            </a>

                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <h6 class="text-center">Storage License Applications Register [Form 5 of CG Mineral (Mining Transportation and Storage) Rules, 2009]</h6>
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Registration Number</th>
                                            <th>Date of Application</th>
                                            <th>Applicant's Details</th>
                                            <th>Application Payment Details</th>
                                            <th>Storage Capacity</th>
                                            <th>Mineral/Product Name</th>
                                            <th>Period for which applied</th>
                                            <th>Remarks,if any</th>
                                            <th>Status</th>
                                            <th>Grant Order No and Date</th>
                                            <th>Security Payment Details</th>
                                            <th>Security Payment Treasury Details</th>
                                            <th>LeaseDeed Fine Details</th>
                                            <th>LeaseDeed UploadFile</th>
                                            <th>Applied By</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@item.LICENSE_APP_CODE</td>
                                                    <td>@item.SubmissionDate</td>
                                                    <td>
                                                        <strong>Applicant Name : </strong> @item.ApplicantName<br />
                                                        <strong>Address : </strong> @item.CompleteAddress <br />
                                                        <strong>Ph No : </strong> @item.MobileNo <br />
                                                        <strong>Email : </strong> @item.EmailAddress<br />
                                                    </td>
                                                    <td>
                                                        <strong>Payment Reciept ID : </strong> @item.PAYMENTID <br />
                                                        <strong>Payment Bank : </strong> @item.PaymentBank <br />
                                                        <strong>Application Fees : </strong> @item.TotalPayment
                                                    </td>
                                                    <td>@item.StorageCapicity</td>
                                                    <td>@item.MINERAL_NAME</td>
                                                    <td>@item.Period</td>
                                                    <td>@item.ApplicantName</td>
                                                    <td>@item.Status</td>
                                                    <td>
                                                        <strong>Grant Order No : </strong> @item.GrantOrderNo<br />
                                                        <strong>Grant Order Date : </strong>@item.GrantOrderDate
                                                    </td>
                                                    <td>
                                                        <strong>Security No : </strong>@item.SecurityReceipteNo<br />
                                                        <strong>Date : </strong>@item.SecurityDate<br />
                                                        <strong>Security Amount : </strong>@item.SecurityAmount<br />
                                                        <strong>Bank : </strong>@item.SecurityBank
                                                    </td>
                                                    <td>
                                                        <strong>Security Treasury No : </strong> @item.SecurityAmountTreasuryNumber<br />
                                                        <strong>Security Treasury Date : </strong>@item.SecurityAmountTreasuryDate
                                                    </td>
                                                    <td>
                                                        <strong>LeaseDeed No : </strong>@item.DeedReceiptNo<br />
                                                        <strong>Date : </strong>@item.DeedAmountDate<br />
                                                        <strong>LeaseDeed Amount : </strong>@item.DeedFineAmountPaid<br />
                                                        <strong>Bank : </strong>@item.DeedBankName
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.Lease_Deed_File_Path != "" && item.Lease_Deed_File_Path != null)
                                                            {
                                                                <a href="/Upload/LicenseAppDocuments/@item.Lease_Deed_File_Name" target="_blank"><span class='command'>View LeaseDeed</span></a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (string.IsNullOrEmpty(item.AppliedName))
                                                            {
                                                                <p class="m-0 text-success">Self</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="m-0 text-success">@item.AppliedName</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.ActiveStatus == "3")
                                                        {
                                                            <a class="btn btn-success" href="@CustomQueryStringHelper.EncryptString("Licensee","LicenseUpload","LicenseApplication",new {id=item.LicenseAppId })"><span class='command'>Approve</span></a>
                                                        }

                                                        else if (item.ActiveStatus == "9")
                                                        {
                                                            @*<a class="btn btn-success" id="@item.LicenseAppId" onclick='finalApprovedCall(this.id);'><span class='command'>Final Approve</span></a>*@
                                                        }
                                                        else if (item.ActiveStatus == "8")
                                                        {
                                                            <a class="btn btn-success" id="@item.LicenseAppId" onclick='ApproveLeaseDeed(this.id);'><span class='command'>Approve Lease Deed</span></a>
                                                        }
                                                        else if (item.ActiveStatus == "6")
                                                        {
                                                            <span>Licensee Granted.</span>
                                                        }
                                                        else if (item.ActiveStatus == "5")
                                                        {
                                                            <a class="btn btn-success" id="@item.LicenseAppId" onclick='IssueGrantOrder(this.id,"@item.ApplicantName","@item.MobileNo");'><span class='command'>Issue Grant Order</span></a>
                                                        }
                                                        else if (item.ActiveStatus != "3" && item.ActiveStatus != "4" && item.ActiveStatus != "5" && item.ActiveStatus != "6")
                                                        {
                                                            <a class="btn btn-success" href="@CustomQueryStringHelper.EncryptString("Licensee","Form4ViewWithDSC","LicenseApplication",new {id=item.LicenseAppId })"><span class='command'>Review</span></a>
                                                        }

                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        debugger;
        $(document).ready(function () { loadNavigation('Storage License Applications Register', 'ql', 'pl', 'tl', 'License', 'Storage License Applications Register', ' '); });
    });
    function ApproveLeaseDeed(LicId) {


        if (confirm("Are you confirmed to approved LeaseDeed for this license application?")) {

            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
            };

            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {
                    $.ajax({
                        type: "POST",
                        url: "/Licensee/LicenseApplication/ApproveLeaseDeed",
                        data: { 'Licid': LicId },
                        dataType: "json",
                        success: function (result) {

                            if (result == "SUCCESS") {
                                alert("You have successfully approved Lease Deed.Licensee will received their Username and Password on their register mobile number and email.");
                                window.location.reload();
                            }
                            else {
                                return false;
                            }
                        }
                    });
                }
                else {
                    alert(e.data);
                }


            };
        }
        else {
            return false;
        }

    }

    function finalApprovedCall(LicId) {
        debugger;

        alert("After final approval,applicant will be registered as licensee in khanij online portal.Please confirm that Lease Deed have been Uploaded before you approved the applicaiton.");

        if (confirm("Are you confirmed to approved  for this license application?")) {

            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
            };

            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {

                    $.ajax(
                        {

                            url: "/Licensee/LicenseApplication/CheckVerifyResponse",
                            type: "POST",
                            data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                            success: function (msg) {
                                if (msg == "SUCCESS") {
                                    //  debugger;

                                    $.ajax({
                                        type: "POST",
                                        url: "/Licensee/LicenseApplication/FinalLicenseApproved",
                                        data: { 'Licid': LicId },
                                        dataType: "json",
                                        success: function (result) {

                                            if (result == "SUCCESS") {
                                                alert("You have successfully approved securty amount and issue the grant order for this license application. Licensee will received their Username and Password on their register mobile number and email.");
                                                window.location.reload();
                                            }
                                            else {
                                                return false;
                                            }
                                        }
                                    })
                                }
                                else {
                                    return false;
                                }
                            }
                        });



                }
                else {
                    alert(e.data);
                }


            };
        }
        else {
            return false;
        }


    }

    function IssueGrantOrder(LicId, ApplicantName, Mobile) {
        if (confirm("Are you confirmed to Issue Grant Order for this license application?")) {

            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
            };

            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {
                    $.ajax({
                        type: "POST",
                        url: "/Licensee/LicenseApplication/IssueGrantOrder",
                        data: { 'Licid': LicId, 'ApplicantName': ApplicantName, 'Mobile': Mobile },
                        dataType: "json",
                        success: function (result) {

                            if (result == "SUCCESS") {
                                alert("You have successfully approved securty amount and issue the grant order for this license application");
                                window.location.reload();
                            }
                            else {
                                return false;
                            }
                        }
                    });
                }
                else {
                    alert(e.data);
                }


            };
        }
        else {
            return false;
        }
    }

    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');

        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
            //  alert('Please check the DSC connection: ' + error);
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
                //  alert(e.data);
            }
        };
    }
    catch (e) {
        alert("No DSC Connection Found");
    }
    //-----------------------------
</script>