@*// *********************************************************************************************************
    //  View Name                : LicenseUpload
    //  Desciption               : Upload Document
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@

@{
    ViewBag.Title = "Storage License Applications";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.LicenseeDocUploadModel
@{
    if (ViewBag.AckMessage == "1")
    {
        <script>
            alert("All Files are uploaded successfully.");
        </script>
    }
    else if (ViewBag.AckMessage == "2")
    {
        <script>
            alert(" File uploading process failed ! Please Try Again.");
        </script>
    }
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                Add
                            </a>
                            
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <h6>Storage License Applications Register [Form 5 of CG Mineral (Mining Transportation and Storage) Rules, 2009]</h6>
                        <div class="row">
                            <div class="col-sm-12">
                               
                                    @using (Html.BeginForm("LicenseUpload", "LicenseApplication", FormMethod.Post, new { id = "form1", @enctype = "multipart/form-data", @class = "form-horizontal " }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(mb => mb.LicenseAppId)
                                        <h4>Details of Applied Area</h4>
                                        <hr />
                                        <div class="bg-light p-2 mb-4">
                                            <div class="row">
                                                <label class="col-lg-10 col-md-10 col-sm-12 col-form-label">@Html.Label("Certified copy of the Map") </label>
                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong><a target="_blank" href="/FORM4/Certified_Map/@Model.MAP_LAND_CERTIFICATE_FILE_NAME"><i class="icon-file-pdf-solid h4 text-danger"></i></a></strong></label>
                                                </div>

                                                <label class="col-lg-10 col-md-10 col-sm-12 col-form-label">@Html.Label("Latest revenue record of the land intended to be used for storing mineral or its products")</label>
                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong><a target="_blank" href="/FORM4/LatestRevenew/@Model.LATEST_REVENEW_CERTIFICATE_FILE_NAME"><i class="icon-file-pdf-solid h4 text-danger"></i></a></strong></label>
                                                </div>

                                                <label class="col-lg-10 col-md-10 col-sm-12 col-form-label">@Html.Label("Affidavit showing the surface rights/consent of the owner of the land, in case the applicant is not the owner of the land")</label>
                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span><strong><a target="_blank" href="/FORM4/Affidavit_Land/@Model.OWNER_LAND_CERTIFICATE_FILE_NAME"><i class="icon-file-pdf-solid h4 text-danger"></i></a></strong></label>
                                                </div>

                                                 
                                            </div>
                                        </div>
                                      
                                           


                                                
                                                <h4>Granted Area Detail(s)</h4>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.North, "North", new { @class = "" })
                                                        <input type="text" id="North" class="form-control" name="North" maxlength="150" value="@Model.North" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.East, "East", new { @class = "" })
                                                        <input type="text" id="East" class="form-control" name="East" maxlength="150" value="@Model.East" />

                                                    </div>
                                                </div>

                                                <div class="row" >
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.South, "South", new { @class = "" })
                                                        <input type="text" id="South" class="form-control" name="South" maxlength="150" value="@Model.South" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.West, "West", new { @class = "" })
                                                        <input type="text" id="West" class="form-control" name="West" maxlength="150" value="@Model.West" />
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.KhasraPanchsala, "Total Area (in hect)", new { @class = "" })
                                                        <input type="text" id="TotalAreaInHect" class="form-control" name="TotalAreaInHect" onkeydown="return isNumberKey(event);" value="@Model.TotalAreaInHect" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                        <div class="form-group">
                                                            <label>Demarcation Report</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="DemarcationReport" name="DemarcationPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>




                                                <hr />
                                                <h4>Environmental Clearance Detail(s)</h4>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.KhasraPanchsala, "Environmental Clearance Order Date", new { @class = "" })
                                                        <input type="text" class="form-control" id="ECFromDate" name="ECFromDate" value="@Model.ECFromDate" title="Environmental Clearance Order Date" placeholder="Environmental Clearance Order Date" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.MapPlanofAppliedArea, "Environmental Clearance Valid upto", new { @class = "" })
                                                        <input type="text" class="form-control" id="ECToDate" name="ECToDate" value="@Model.ECToDate" title="Environmental Clearance Valid upto" placeholder="Environmental Clearance Valid upto" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.ECNumber, "ECNumber", new { @class = "" })
                                                        <input type="text" class="form-control" id="ECNumber" name="ECNumber" value="@Model.ECNumber" title="ECNumber" placeholder="ECNumber" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Environmental Clearance Letter</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="EnvironmentalClearancePhoto" name="EnvironmentalClearancePhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <hr />
                                                <h4>Consent To Operate Detail(s)</h4>
                                                <hr />


                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.CTONumber, "Consent To Operate Order Number", new { @class = "" })
                                                        <input type="text" class="form-control" id="CTONumber" name="CTONumber" value="@Model.CTONumber" title="Consent To Operate Order Number" placeholder="Consent To Operate Order Number" />
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        @Html.LabelFor(model => model.KhasraPanchsala, "Consent To Operate Order Date", new { @class = "" })
                                                        <input type="text" class="form-control" id="CTOOrderDate" name="CTOOrderDate" value="@Model.CTOOrderDate" title="Consent To Operate Order Date" placeholder="Consent To Operate Order Date" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Consent To Operate Letter (Air and Water Consent)</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="ConsentToOperatePhoto" name="ConsentToOperatePhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <hr />
                                                <h4>Other Detail(s)</h4>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Khasra Panchsala</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="KhasraPanchsalaPhoto" name="KhasraPanchsalaPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Map/Plan of Applied Area</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="MapPlanofAppliedAreaPhoto" name="MapPlanofAppliedAreaPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Forest Report (In case of forest land)</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="ForestReportPhoto" name="ForestReportPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Revenue Officer Report</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="RevenueOfficerReportPhoto" name="RevenueOfficerReportPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Spot Inspection and Analysis Report</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="SpotInspectionAnalysisReportPhoto" name="SpotInspectionAnalysisReportPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Mining Inspector Report</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="MiningInspectorReportPhoto" name="MiningInspectorReportPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Gram Panchayat Proposa</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="form-control custom-file-input" id="GramPanchayatProposalPhoto" name="GramPanchayatProposalPhoto">
                                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                                <small class="text-danger">Only <strong> jpg, jpeg, png, pdf, tif</strong> file types with size less than <strong>2 MB </strong> are allowed.</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                           
                                            <br />
                                            <div class="row" id="divButtons">
                                                <div class="col-12">
                                                    <input type="button" title="Submit" value="Submit" id="btnSave" class="btn btn-primary" style="width: 160px; height: 40px;" onclick="return OnSubmitForm();" />
                                                     
                                                </div>
                                            </div>
                                      
                                    }
                               


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        debugger;
        $(document).ready(function () { loadNavigation('LicenseUpload', 'ql', 'pl', 'tl', 'License', 'LicenseUpload', ' '); });
        //----------------------------------------
        $('#ECFromDate').datetimepicker({
            format: 'LT',
            format: "DD/MM/YYYY",
            daysOfWeekDisabled: [0, 6]
        });
        $('#ECToDate').datetimepicker({
            format: 'LT',
            format: "DD/MM/YYYY",
            daysOfWeekDisabled: [0, 6]
        });

        $('#CTOOrderDate').datetimepicker({
            format: 'LT',
            format: "DD/MM/YYYY",
            daysOfWeekDisabled: [0, 6]
        });
        //----------------------
        $('#DemarcationReport').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //---------------------------------------------------
        $('#EnvironmentalClearancePhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-------------------------------------------------------------
        $('#ConsentToOperatePhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-----------------------------------------------------------------
        $('#KhasraPanchsalaPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //--------------------------------------------------
        $('#MapPlanofAppliedAreaPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //---------------------------------------
        $('#ForestReportPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-------------------------------
        $('#RevenueOfficerReportPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-------------------------------------
        $('#SpotInspectionAnalysisReportPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-------------------------------------------
        $('#MiningInspectorReportPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //-----------------------------------------
        $('#GramPanchayatProposalPhoto').on('change', function () {
            debugger;
            var fileExtension = ['jpg', 'jpeg', 'png', 'pdf', 'tif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : " + fileExtension.join(', '));
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else if (Number(this.files[0].size) > 2097152) {
                alert('Try to upload file less than 2MB!');
                $(this).val('');
                $(this).focus();
                $(this).next('.custom-file-label').html('Choose Files');
                return false;
            }
            else {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            }

        });
        //---------------------------------------------
    });
    //-----------------------------------------
    function checkFields() {
        var valid = 1;


        if ($('#North').val() == "") {
            alert("Enter North Description");
            valid = 0;
            return false;
        }

        if ($('#East').val() == "") {
            alert("Enter East Description !");
            valid = 0;
            return false;
        }

        if ($('#West').val() == "") {
            alert("Enter West Description !");
            valid = 0;
            return false;
        }

        if ($('#South').val() == "") {
            alert("Enter South Description !");
            valid = 0;
            return false;
        }

        if ($('#KhasraPanchsalaPhoto').val() == "") {
            valid = 0;
            alert("Upload Khasra Panchsala.");
            return false;
        }

        if ($('#MapPlanofAppliedAreaPhoto').val() == "") {
            valid = 0;
            alert("Upload Map Plan of Applied Area .");
            return false;
        }

        if ($('#RevenueOfficerReportPhoto').val() == "") {
            valid = 0;
            alert("Upload Revenue Officer Report.");
            return false;
        }

        if ($('#SpotInspectionAnalysisReportPhoto').val() == "") {
            valid = 0;
            alert("Upload Spot Inspection Analysis Report.");
            return false;
        }

        if ($('#MiningInspectorReportPhoto').val() == "") {
            valid = 0;
            alert("Upload Mining Inspector Report.");
            return false;
        }

        if ($('#DemarcationReport').val() == "") {
            valid = 0;
            alert("Upload Demarcation Report.");
            return false;
        }

        if ($('#EnvironmentalClearancePhoto').val() == "") {
            valid = 0;
            alert("Upload Environmental Clearance Letter .");
            return false;
        }

        if ($('#ConsentToOperatePhoto').val() == "") {
            valid = 0;
            alert("Upload Consent To Operate Letter .");
            return false;
        }

        return valid;


    }

    function OnSubmitForm() {

        var checkdata = checkFields();
        if (checkdata == 1) {
            if (confirm("Are you confirmed to proceed further for approve grant order?")) {
                $("#form1").submit();
            }
            else {
                return false;
            }


        }
        else
            return false;
    }
    //----------------------------------------
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


</script>