@model MasterEF.RoleListModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>
        swal("",'@ViewBag.msg',"success");
    </script>
}
@if (TempData["Message"] != null)
{
    <script>
        swal("",'@TempData["Message"]',"success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")

        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/Designation/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/Designation/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <form action="Add" method="post" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label">Department <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownList("RoleTypeId", ViewBag.Departments as IEnumerable<SelectListItem>, "Select", new { @class = "form-control searchableselect", @title = "Department" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoleTypeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Designation <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.RoleName, new { @maxlength = 50, @class = "form-control", @title = "Designation", @Onkeypress = "return inputLimiter(event,'NameCharacters')" })
                                            @Html.HiddenFor(m => m.RoleId)
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoleName)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                                <label class="radio-label">Inactive</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <a class="btn btn-danger btn-md" href="/Master/Designation/Add">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>

<script>
    indicateMe = "yes"
    $(document).ready(function () {
        debugger;
        //--------------
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Designation', ' ');
        $('.searchableselect').searchableselect();
        //---------------
        $("#Submit").click(function () {
            debugger;
            if ($('#RoleTypeId').val() == "") {
                swal("", "Please Select Department", "warning");
                $("#RoleTypeId").focus();
                return false;
            }

            if ($('#RoleName').val() == "") {
                swal("", "Please Enter Designation", "warning");
                $("#RoleTypeName").focus();
                return false;
            }

        });
    });
</script>