@*// *********************************************************************************************************
    //  View Name                : Compare
    //  Desciption               : To Compare,Approve,Reject Licensee Mineral Information Details
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 04 February 2022
    // ********************************************************************************************************
*@
@model IEnumerable<MasterEF.MineralDetails>
@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        swal("",'@TempData["Message"]',"success");
    </script>
}
<style type="text/css">
    .compare td.field-name {
        font-size: .9rem;
        font-weight: bold;
    }
</style>
<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('Compare', 'glUIS', 'pllesseprof', 'tl', 'Licensee Profile', 'Mineral Information', ' ');
        if (@Model.ElementAt(1).STATUS == 1) {
            $('.btnsave').show();
        }
        else {
            $('.btnsave').hide();
        }
    });
    function ValidateDsc(btnAction) {
        var Type;
        if (btnAction == 'Approve') {
            Type = 'Approve';
            $("#Remarks").prop('required', false);
        }
        else if (btnAction == 'Reject') {
            Type = 'Reject';
            $("#Remarks").prop('required', true);
            if ($("#Remarks").val() == "") {
                $("#Remarks").focus();
                swal("",'Remarks is required!',"warning")
                return;
            }
        }
        if (confirm("Before " + Type + " you need to apply your Digital Signature. Are you confirmed to " + Type + " Profile??")) {
            debugger;
            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);
            connection.onerror = function (error) {
                swal("",'Please check the server connection: ' + error+'',"warning");
            };
            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {
                    //debugger;
                    $("#DSCResponse").val(e.data).change();
                    $.ajax(
                    {
                        url: '@Url.Action("CheckVerifyResponse", "UserInformationLiensee", new { Area = "Licensee" })',
                        type: "POST",
                        data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                            success: function (msg) {
                                if (msg == "SUCCESS") {
                                //  debugger;
                                if (btnAction == "Approve") {
                                    $("#SubApprove").val("Approve");
                                }
                                if (btnAction == "Reject") {
                                    $("#SubReject").val("Reject");
                                }
                                $("#form1").submit();
                            }
                        }
                    });
                }
                else {
                    swal("",e.data,"warning");
                }
            };
        }
        else {
            return false;
        }
    }
    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');
        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
            }
        };
    }
    catch (e) {
        swal("","No DSC Connection Found","warning");
    }
    function CountAddress() {
        $("#lblRemarks").text(500 - (document.getElementById("Remarks").value.length));
    }
    function ForwordToDdWithoutDS(btnAction) {

        if (btnAction == "Approve") {
            $("#SubApprove").val("Approve");
        }
        if (btnAction == "Reject") {
            $("#SubReject").val("Reject");
        }
        $("#form1").submit();

    }
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <section class="box form-container">
                    <div class="content-body mt-3">
                        @using (Html.BeginForm("Compare", "Mineralinfo", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ElementAt(1).SubApprove)
                            @Html.HiddenFor(m => m.ElementAt(1).SubReject)
                            @Html.HiddenFor(m => m.ElementAt(1).CREATED_BY)
                            @Html.HiddenFor(m => m.ElementAt(1).LICENSEE_APPLICATION_ID)

                            <h5 class="text-brown font-weight-bold mt-0 mb-4">Mineral Information</h5>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="viewtable">
                                        <table id="datatable" class="table table-sm table-bordered compare">
                                            <thead>
                                                <tr>
                                                    <th>Field Names</th>
                                                    <th>Existing Data</th>
                                                    <th>Modified Data</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="field-name">Mineral Category</td>
                                                    <td>@Model.ElementAt(0).MINERAL_CATEGORY_NAME</td>
                                                    <td>@Model.ElementAt(1).MINERAL_CATEGORY_NAME</td>
                                                    @if (Model.ElementAt(0).MINERAL_CATEGORY_NAME != Model.ElementAt(1).MINERAL_CATEGORY_NAME)
                                                    {
                                                        <td class="text-center"><i class="icon-arrow-alt-circle-left-solid text-danger h4"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="field-name">Mineral Name</td>
                                                    <td>@Model.ElementAt(0).MineralName</td>
                                                    <td>@Model.ElementAt(1).MineralName</td>
                                                    @if (Model.ElementAt(0).MineralName != Model.ElementAt(1).MineralName)
                                                    {
                                                        <td class="text-center"><i class="icon-arrow-alt-circle-left-solid text-danger h4"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="field-name">Mineral Form</td>
                                                    <td>@Model.ElementAt(0).MineralFormName</td>
                                                    <td>@Model.ElementAt(1).MineralFormName</td>
                                                    @if (Model.ElementAt(0).MineralFormName != Model.ElementAt(1).MineralFormName)
                                                    {
                                                        <td class="text-center"><i class="icon-arrow-alt-circle-left-solid text-danger h4"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="field-name">Mineral Grade</td>
                                                    <td>@Model.ElementAt(0).MineralGradeName</td>
                                                    <td>@Model.ElementAt(1).MineralGradeName</td>
                                                    @if (Model.ElementAt(0).MineralGradeName != Model.ElementAt(1).MineralGradeName)
                                                    {
                                                        <td class="text-center"><i class="icon-arrow-alt-circle-left-solid text-danger h4"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>

                                                <tr>
                                                    <td class="field-name">Remarks</td>
                                                    <td>@Model.ElementAt(0).Remarks</td>
                                                    <td>@Model.ElementAt(1).Remarks</td>
                                                    @if (Model.ElementAt(0).Remarks != Model.ElementAt(1).Remarks)
                                                    {
                                                        <td class="text-center"><i class="icon-arrow-alt-circle-left-solid text-danger h4"></i></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12 text-center">
                                    <input data-toggle="modal" data-target="#approve" type="button" value="Approve" class="btn btn-success btn-md btnsave" name="Approve" />
                                    <input data-toggle="modal" data-target="#reject" type="button" value="Reject" class="btn btn-danger btn-md btnsave" name="Reject" />
                                </div>
                            </div>
                            <div class="modal fade approve" id="approve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content text-center">
                                        <div class="modal-body">
                                            <h5>Are You Sure to Approve the Information !! </h5>
                                            <button type="button" class="btn btn-success btn-md" onclick="return ValidateDsc('Approve');">Yes</button>
                                            @*<button type="button" class="btn btn-success btn-md" onclick="return ForwordToDdWithoutDS('Approve');">Yes</button>*@
                                            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0 font-weight-bold" id="H1">Rejection Remark</h5>
                                            <a class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <label>Remark<span class="text-danger">*</span></label>
                                            @Html.TextAreaFor(m => m.ElementAt(1).Remarks, new { @class = "form-control", @maxlength = "500", @rows = "2", @onkeyup = "CountAddress()" })
                                            <small class="text-danger">Maximum <strong><label id="lblRemarks" class="col-form-label">500</label></strong> characters</small>
                                            <input type="button" class="btn btn-success btn-md mt-4" name="Reject" value="Submit" onclick="return ValidateDsc('Reject');" />
                                            @*<input type="button" class="btn btn-success btn-md mt-4" name="Reject" value="Submit" onclick="return ForwordToDdWithoutDS('Reject');" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


