@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View Lesee Mineral Information Details
    //  Created By               : Prakash Chandra Biswal 
    //  Created On               : 02 Feb 2022
    // ********************************************************************************************************
*@
@model MasterEF.MineralDetails;
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glUIS', 'pllesseprof', 'tl', 'Licensee Profile', 'Mineral Information', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Licensee/Mineralinfo/Create">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Mineral Information</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report<i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/Mineralinfo/Create" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Category</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MINERAL_CATEGORY_NAME</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Form</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralFormName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Grade</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralGradeName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Remarks</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Remarks</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter1'>
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
