@model EstablishmentEf.ClassIIIAppraisalEF
@{
    ViewData["Title"] = "AddAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {






        $("#Submit").click(function () {


            if (!DropDownValidation("Department", "Department")) {
                return false;
            }
            if (!DropDownValidation("Designation", "Designation")) {
                return false;
            }
            if (!DropDownValidation("Personname", "Person Name")) {
                return false;
            }
            if (!blankFieldValidation("Paygrade", "Pay Grade")) {
                return false;
            }
            if (!blankFieldValidation("description", "Short description responsibility")) {
                return false;
            }

            if (!DropDownValidation("Naturebehavior", "Nature and behavior")) {
                return false;
            }
            if (!blankFieldValidation("Character", "Character")) {
                return false;
            }
            if (!blankFieldValidation("Relationcolleague", "Relation between colleague")) {
                return false;
            }
            if (!blankFieldValidation("Punctuality_work", "Punctuality  in work place")) {
                return false;
            }
            if (!blankFieldValidation("Accuracytyping", "Accuracy in typing")) {
                return false;
            }
            if (!blankFieldValidation("Allegiance", "Allegiance")) {
                return false;
            }
            if (!blankFieldValidation("Arrangementfiles", "Arrangement of files and register")) {
                return false;
            }
            if (!blankFieldValidation("importantwork", "Any important work done by emp")) {
                return false;
            }
            if (!blankFieldValidation("Promotion", "Promotion")) {
                return false;
            }
            if (!blankFieldValidation("Promotion", "Remarks about work details")) {
                return false;
            }
            if (!DropDownValidation("Grade", "Grade")) {
                return false;
            }

        });
    });

</script>
@if (TempData["Masg"] != null)
{
    <script>
        swal("",'@TempData["Masg"]', "success");
    </script>
    TempData["Masg"] = null;
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Appraisal Form for Class III
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/Aec/ClassIIIAppraisal/ViewAppraisal")">
                                View Appraisal Form for Class III
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("AddAppraisal", "ClassIIIAppraisal", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @*<select class="form-control form-control-sm searchableselect">
                                                    <option>select</option>
                                                    <option>DGM</option>
                                                </select>*@

                                            @Html.HiddenFor(m => m.AppraisalId);
                                            @Html.DropDownListFor(m => m.Department, ViewBag.Department as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @*<select class="form-control form-control-sm searchableselect">
                                                    <option>select</option>
                                                    <option>Additional Director	</option>
                                                </select>*@

                                            @Html.DropDownListFor(m => m.Designation, ViewBag.Designation as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @*<select class="form-control form-control-sm searchableselect">
                                                    <option>select</option>
                                                    <option>Khusbu kumari singh deo	</option>
                                                </select>*@
                                            @Html.DropDownListFor(m => m.Personname, ViewBag.User as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Pay Grade<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Paygrade, new { @class = "form-control", @maxlength = 20, Onkeypress = "return inputLimiter(event,'NameCharactersAndNumbers')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Short description responsibility <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea5" class="form-control"></textarea>*@


                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Nature and behavior<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea1" class="form-control"></textarea>*@
                                            @Html.TextAreaFor(m => m.Naturebehavior, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Character<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea2" class="form-control"></textarea>*@
                                            @Html.TextAreaFor(m => m.Character, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Relation between colleague <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Relationcolleague, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea3" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Punctuality  in work place<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Punctuality_work, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })

                                            @*<textarea name="textAddress" rows="1" cols="20" id="Textarea4" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Accuracy in typing <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Accuracytyping, new { @class = "form-control", @maxlength = 4, Onkeypress = "return inputLimiter(event,'Numbers')" })
                                            @*<input type="text" class="form-control">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Allegiance <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Allegiance, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea7" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Arrangement of files and register<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Arrangementfiles, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="2" cols="20" id="Textarea8" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Any important work done by emp <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.importantwork, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="1" cols="20" id="Textarea9" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Promotion <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Promotion, new { @class = "form-control", @maxlength = 20, Onkeypress = "return inputLimiter(event,'NameCharactersAndNumbers')" })
                                            @*<input type="text" class="form-control">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about work details<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.workdetails , new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @*<textarea name="textAddress" rows="1" cols="20" id="Textarea11" class="form-control"></textarea>*@
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <select class="form-control form-control-sm searchableselect" id="Grade" name="Grade">
                                                <option value="null">select</option>
                                                <option value="Excellent">Excellent</option>
                                                <option value="Very Good">Very Good</option>
                                                <option value="Good">Good</option>
                                                <option value="Average">Average</option>
                                                <option value="Below Average">Below Average</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>








                                <div class="col-lg-6 offset-lg-2 offset-md-5">
                                    
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                   
                                    <a href="#" class="btn btn-danger btn-md">Reset</a>
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

