@model EstablishmentEf.ClassIIIAppraisalEF;
@{
    ViewData["Title"] = "updateAccAuth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Reviewing Authority Class III
                            </a>
                        </li>

                    </ul>

                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("updateAccAuth", "ClassIIIAppraisal", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="bg-light p-3 form-group border">
                                        <h5 class="text-brown font-weight-bold mt-0">Appraisal Form for Class III Details</h5>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.ApplicantName)</label>  @Html.HiddenFor(m => m.AppraisalId)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.designationname)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Deptname)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Pay Grade</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Paygrade)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Short description responsibility </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.description)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Nature and behavior</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Naturebehavior)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Character</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Character)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Relation between colleague </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Relationcolleague)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Punctuality  in work place</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Punctuality_work)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Accuracy in typing </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Accuracytyping)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Allegiance </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Allegiance)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Arrangement of files and register</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Arrangementfiles)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Any important work done by emp </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.importantwork)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Promotion </label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayTextFor(m => m.Promotion)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="mb-2 row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about work details</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.workdetails)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class=" row">
                                                    <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade</label>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Grade)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Reviewing  Authority Remarks about work details</label>
                                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                                            <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchReviewingWorkDetails)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Reviewing  Authority Grade</label>
                                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                                            <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.ReviewingGrade)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about work details <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VchAcceptingWorkDetails, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })

                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <select class="form-control form-control-sm searchableselect" id="AcceptingGrade" name="AcceptingGrade">
                                                        <option value="null">select</option>
                                                        <option value="Excellent">Excellent</option>
                                                        <option value="Very Good">Very Good</option>
                                                        <option value="Good">Good</option>
                                                        <option value="Average">Average</option>
                                                        <option value="Below Average">Below Average</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>








                                <div class="col-lg-6 offset-lg-2 offset-md-5">

                                    <input type="submit" value='Submit' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />

                                    <a href="#" class="btn btn-danger btn-md">Reset</a>
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>