@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View,Approve Field Program Order details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 16 Feb 2021
    // ********************************************************************************************************
*@
@model GeologyEF.FPOOrdermaster
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["msg"] != null)
{
    <script>
        swal("",'@TempData["msg"]',"success");
    </script>
}
@if (ViewBag.msg != null)
{
    <script>
            swal("",'@ViewBag.msg',"success");
    </script>
}
<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glTMng', 'plFPOOrder', 'tl', 'Geology', 'Field Program Order Creator', '');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.filter-dropdown').hide();
        $('.filter-lnk').click(function () {
            $(this).toggleClass('active');
            $(this).siblings('.filter-dropdown').slideToggle();
        });
        $('.filter-btn').click(function () {
            $(this).parent('.shorting-cell .filter-dropdown').slideUp();
            if ($(this).parent().parent('.shorting-cell').find('.filter-lnk').hasClass('active')) {
                $(this).parent().siblings('.filter-lnk').removeClass('active');
            }

        });
        $("#excelIcon").click(function () {
            exportTableToExcel("datatable", "text")
        });
          $("#btnSubmit").click(function () {
            var idsToSend = new Array();
            $('table [type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    idsToSend.push($(this).val());
                }
            });
              if (idsToSend.length <= 0) {
                  swal("", "Please select FPO Order !", "warning");
                  return false;
              }

              else {
                  if (confirm("Before forward application you need to apply your Digital Signature. Are you confirmed to forward Application??")) {
                      var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
                      connection.send(Postdata);
                      connection.onerror = function (error) {
                          swal("",'Please check the server connection: ' + error);
                          swal("",error,"warning");
                      };
                      connection.onmessage = function (e) { // when DSC is success then following function executed.
                          if (e.data.indexOf("subProtocol") == -1) {
                              $("#DSCResponse").val(e.data).change();
                              $.ajax(
                                  {
                                      url: "/Geology/FPOCreator/CheckVerifyResponse",
                                      type: "POST",
                                      data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                                      success: function (msg) {
                                          if (msg == "SUCCESS") {
                                              $.ajax({
                                                  type: "POST",
                                                  url: "/Geology/FPOCreator/Submit",
                                                  data: {
                                                      arr: JSON.stringify(idsToSend)
                                                  },
                                                  dataType: "json",
                                                  success: function (result) {
                                                      swal("", "Requests sent successfully.", "success");
                                                      var url = '@Url.Action("ViewList", "FPOCreator", new { Area = "Geology" })';
                                                      setTimeout(function () {
                                                          window.location.href = url
                                                      }, 5000);
                                                  }
                                              });
                                              idsToSend = [];
                                          }
                                      }
                                  });
                          }
                      }
                  }
              }
        });
    });

    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');

        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
            //  alert('Please check the DSC connection: ' + error);
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
                //  alert(e.data);
            }
        };
    }
    catch (e) {
        swal("","No DSC Connection Found","error");
    }
    //-----------------------------
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Geology/FPOOrder/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                    @Html.AntiForgeryToken()
                </div>
                <!-- MAIN CONTENT AREA STARTS -->
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="noprint">
                                                
                                            </th>
                                            <th>
                                                FPO Code
                                            </th>
                                            <th>
                                                FPO Name
                                            </th>
                                            <th>
                                                Date of Submission
                                            </th>
                                            <th>
                                                Field Season
                                            </th>
                                            <th class="noprint text-center">
                                                Attachment
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var b in ViewBag.ViewList)
                                        {
                                            <tr>
                                                <td><input id='chkData' type="checkbox" value="@b.FPO_Id" /> </td>
                                                <td>@b.FPO_Code </td>
                                                <td>@b.FPO_Name </td>
                                                <td>@b.DateOfIssuance </td>
                                                <td>@b.ExplorationSeason </td>
                                                <td class="noprint text-center">
                                                    <a href='~/@b.FPO_Path' height='30' width='30' target="_blank">
                                                        <i class="icon-download-solid h4 text-danger" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </td>
                                                <td>@b.Remarks </td>
                                            </tr>
                                        }
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" id="btnSubmit" value="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>



