@*// *********************************************************************************************************
    //  View Name                : EndUserForceDataView
    //  Desciption               : Show all enduser force data view
    //  Created By               : Debaraj Swain
    //  Created On               : 03 April 2021
    // ********************************************************************************************************
*@

@model userregistrationEF.EndUserBasicInfoModel
@{
    ViewData["Title"] = "DailyProductionSummaryReport";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item mr-md-1">
                            <a class="nav-link active" href="/EndUserRegistration/EndUserProfile/AllRequest">
                                User Request For Profile Verification
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                @using (Html.BeginForm("EndUserForceDataView", "EndUserProfile", FormMethod.Post, new { id = "__EUAntiForgeryForm", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
                {
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.EndUserId)
                @Html.HiddenFor(model => model.DSCResponse)
                @Html.Hidden("approve")
                @Html.Hidden("reject")
                <section class="box form-container">
                    <div class="content-body" id="printForcefullyData">
                        <div class="message-highlighter">
                            <h5 class="text-brown font-weight-bold mb-4">Registration Details</h5>
                            <div class="row">


                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label font-weight-bolder">Registration Type</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.NatureOfBusiness))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                            {
                                                if (Model != null && !String.IsNullOrEmpty(Model.EUPType))
                                                {
                                        <label for="inputName" class="col-sm-5 col-form-label font-weight-bolder">Industry Type</label>
                                                }
                                            }

                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                                    {
                                                        if (Model != null && !String.IsNullOrEmpty(Model.EUPType))
                                                        {
                                                @(Html.DisplayFor(model => model.EUPType))
                                                        }
                                                    }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="dropdownUserType" class="col-sm-5 col-form-label font-weight-bolder">Registration No.</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.RegistrationNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-5 col-form-label font-weight-bolder">User Type</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.EndUserTypeStatus))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12" style="display: none;" id="firm_toggle">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-5 col-form-label font-weight-bolder">Firm as</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.Firm))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12" style="display: none;" id="company_toggle">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-5 col-form-label font-weight-bolder">Company as</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.Company))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-5 col-form-label font-weight-bolder">Applicant's Name</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.EndUserName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="dropdownState" class="col-sm-5 col-form-label font-weight-bolder">E-mail ID</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.EMailId))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="dropdownDist" class="col-sm-5 col-form-label font-weight-bolder">Mobile Number</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.MobileNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMobile" class="col-sm-5 col-form-label font-weight-bolder">Designation</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.Designation))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Mineral Name</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.MineralName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Use of Mineral</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.MineralUse))
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                            {

                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Purpose</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PurposeOfPurchaseMineral))
                                            </label>
                                        </div>
                                            }
                                    </div>
                                </div>
                                <div id="individual_toggle">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Aadhaar Card No.</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.AadhaarNumber))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload Aadhaar Card</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @*@if(!string.IsNullOrEmpty(Model.Aadhaar_FILE_NAME))
                                            {
                                                <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.Aadhaar_FILE_NAME, foldername = "Aadhar" })" height='30' width='30'>View</a>
                                            }*@

                                                    @if (@Model.Aadhaar_FILE_PATH != null)
                                                    {
                                                    <a target="_blank" href="/EndUserRegistration/Aadhar/@Model.Aadhaar_FILE_NAME" style="pointer-events:initial">@((Model.Aadhaar_FILE_PATH != null) ? "View" : "")</a>
                                                    }
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">PAN Card No.</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PAN))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload PAN Card</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @*@if(!string.Equals(Model.PAN_FILE_NAME, null))
                                        {
                                            <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.PAN_FILE_NAME, foldername = "Pan" })" height='30' width='30'>
                                                <i class="fa fa-download" aria-hidden="true">
                                                </i>
                                            </a>
                                        }*@
                                                @if(@Model.PAN_FILE_NAME != null)
                                                {
                                                <a target="_blank" href="/EndUserRegistration/Pan/@Model.PAN_FILE_NAME" style="pointer-events:initial">@((Model.PAN_FILE_PATH != null) ? "View" : "")</a>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Tin Number</label>

                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.TINNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload Tin Card</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>

                                                @*@if (!string.Equals(Model.TIN_FILE_NAME, null))
                                            {

                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.TIN_FILE_NAME, foldername = "Tin" })" height='30' width='30'>
                                            <i class="fa fa-download" aria-hidden="true">
                                            </i>
                                        </a>
                                            }*@
                                                @if(@Model.TIN_FILE_NAME != null)
                                                {
                                                <a target="_blank" href="/EndUserRegistration/Tin/@Model.TIN_FILE_NAME" style="pointer-events:initial">@((Model.TIN_FILE_PATH != null) ? "View" : "")</a>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">GST Number</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.GSTNO))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload  GST</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @*@if (!string.Equals(Model.GST_FILE_NAME, null))
                                            {
                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.GST_FILE_NAME, foldername = "GST" })" height='30' width='30'>
                                            <i class="fa fa-download" aria-hidden="true">
                                            </i>
                                        </a>
                                            }*@
                                                @if(@Model.GST_FILE_NAME != null)
                                                {
                                                <a target="_blank" href="/EndUserRegistration/GST/@Model.GST_FILE_NAME" style="pointer-events:initial">@((Model.GST_FILE_PATH != null) ? "View" : "")</a>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="divCompanyFirmAssociation" style="display: none;">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder"> Firm / Company registration copy</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @*@if (!string.Equals(Model.RegistrationCopy_FILE_NAME, null))
                                                {
                                            <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.RegistrationCopy_FILE_NAME, foldername = "RCopy" })" height='30' width='30'>
                                                <i class="fa fa-download" aria-hidden="true">
                                                </i>
                                            </a>
                                                }*@
                                                    @if(@Model.RegistrationCopy_FILE_NAME != null)
                                                    {
                                                    <a target="_blank" href="/EndUserRegistration/RCopy/@Model.RegistrationCopy_FILE_NAME" style="pointer-events:initial">@((Model.RegistrationCopy_FILE_PATH != null) ? "View" : "")</a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Name of the Individual / Firm / Society / Partnership / Company</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.CompanyName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Excise Duty Registration Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.ExciseRegNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                    {
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Electricity Bill of last 3 months</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @*@if (!string.Equals(Model.ElectricityBill_FILE_NAME, null))
                                                {
                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.ElectricityBill_FILE_NAME, foldername = "Ebill" })" height='30' width='30'>
                                            <i class="fa fa-download" aria-hidden="true">
                                            </i>
                                        </a>
                                                }*@
                                                @if (@Model.ElectricityBill_FILE_NAME != null)
                                                    {
                                                <a target="_blank" href="/EndUserRegistration/Ebill/@Model.ElectricityBill_FILE_NAME" style="pointer-events:initial">@((Model.ElectricityBill_FILE_PATH != null) ? "View" : "")</a>
                                                    }
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Letter</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @*@if (!string.Equals(Model.CTO_FILE_NAME, null))
                                                {
                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.CTO_FILE_NAME, foldername = "CTO" })" height='30' width='30'>
                                            <i class="fa fa-download" aria-hidden="true">
                                            </i>
                                        </a>
                                                }*@
                                                @if(@Model.CTO_FILE_NAME != null)
                                                    {
                                                <a target="_blank" href="/EndUserRegistration/CTO/@Model.CTO_FILE_NAME" style="pointer-events:initial">@((Model.CTO_FILE_PATH != null) ? "View" : "")</a>
                                                    }
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Approval No.</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CTOApprovalNumber))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Order Date</label>
                                        <div class="col-sm-7">
                                            @(Html.DisplayFor(model => model.CTOOrderDate))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Validity From</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CTOValidityFrom))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Validity To</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CTOValidityTo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                    }
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">IBM Registration No.</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.IBMRegistrationNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                    {
                        <div class="message-highlighter">
                            @if ((Model != null && !String.IsNullOrEmpty(Model.Address)) || Model.StateId != 0 || Model.DistrictId != 0 || Model.PinCode != "0" || Model.PinCode != "0")
                                        {
                            <h5 class="text-brown font-weight-bold  mb-4">Plant Details:</h5>
                            <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12 ">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Address</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.Address))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">State</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.StateName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">District</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.DistrictName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Pincode</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PinCode))
                                            </label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                         }
                        </div>
                         }
                        <div class="message-highlighter">
                            <h5 class="text-brown font-weight-bold  mb-4">Office Details</h5>
                            <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Address</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.OfficeAddress))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 d-lg-block d-none"></div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">State</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.StateName_O))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">District</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.DistrictName_O))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Pincode</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PinCode_O))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Mineral Form</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.MineralFormName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Mineral Grade</label>
                                        <div class="col-sm-7">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.MineralGradeName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="inputMail" class="col-lg-2 col-md-4 col-sm-12  col-form-label font-weight-bolder">Enter Remarks</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <textarea id="Remarks" class="form-control" name="Remarks" rows="2" maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="ol-lg-6 col-md-12 offset-lg-2 offset-md-4">
                            <a href="javascript:void(0);" onclick="onPrint();" id="btnPrint" class="btn  btn-sm btn-primary">Download</a>
                            <a href="javascript:void(0);" onclick="onSubmit();" id="btnApprove" class="btn  btn-sm btn-success">Approve</a>
                            <a href="javascript:void(0);" onclick="onSubmit1();" id="btnReject" class="btn  btn-sm btn-danger">Reject</a>
                            
                        </div>

                    </div>

                </section>
                }
            </div>
        </div>
    </div>
    @{if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "1")
        {
        <script>
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
        </script>
        }
        else if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "2")
        {
        <script>
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
        </script>
        }
        else if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "0")
        {
        <script>
                swal("", "Something went wrong !", "warning");
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
        </script>
        }
    }
</section>

<input type="hidden" id="hdnUserType" value="@Model.EndUserTypeStatus" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script> 
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>

    $(document).ready(function () {
        onRadioChange();
        loadNavigation('EndUserForceDataView', 'glRoleRes', 'plUser', 'tl', 'Dashboard', 'End User Profile Request', ' ');
    });
    
    function onPrint() {
        debugger;  
        var HTML_Width = $("#printForcefullyData").width();
        var HTML_Height = $("#printForcefullyData").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($("#printForcefullyData")[0], { allowTaint: true }).then(function (canvas) {
            debugger;
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);


            var data = canvas.toDataURL("image/JPEG", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(data, 'JPEG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(data, 'JPEG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }

            data = pdf.save("EndUserForcefullyDataCapture.pdf");

        });
    }

    function onSubmit() {
        $('#approve').val("approve");
        if (confirm("Before approving application, you need to have valid Digital Signature. Please validate your application with Digital Signature??")) {


            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
                return false;
            };

            connection.onmessage = function (e) {
                if (e.data.indexOf("subProtocol") == -1) {

                    $("#DSCResponse").val(e.data).change();
                    $.ajax({
                        url: "/EndUserRegistration/EndUserProfile/CheckVerifyResponse",
                        type: "POST",
                        data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                        success: function (msg) {
                            if (msg == "SUCCESS") {
                                $('#__EUAntiForgeryForm').submit();
                                return true;
                            }

                        }
                    });
                }
                else {
                    alert(e.data);
                    return false;
                }
                return false;
            };
            return false;
        }
        else {
            return false;
        }
    }

    function onSubmit1() {
        $('#reject').val("reject");
        if ($("#Remarks").val() != "") {
            if (confirm("Before rejecting application, you need to have valid Digital Signature. Please validate your application with Digital Signature??")) {

                var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
                connection.send(Postdata);

                connection.onerror = function (error) {
                    alert('Please check the server connection: ' + error);
                    alert(error);
                    return false;
                };

                connection.onmessage = function (e) {
                    if (e.data.indexOf("subProtocol") == -1) {
                        $("#DSCResponse").val(e.data).change();
                        $.ajax({
                            url: "/EndUserRegistration/EndUserProfile/CheckVerifyResponse",
                            type: "POST",
                            data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                            success: function (msg) {
                                if (msg == "SUCCESS") {
                                    $('#__EUAntiForgeryForm').submit();
                                    return true;

                                }

                            }
                        });
                    }
                    else {
                        alert(e.data);
                        return false;
                    }

                };

                return false;

            }
            else {
                return false;
            }

        }
        else {
            $("#Remarks").focus();
        }

    }

    function onRadioChange() {
        var SelectedRadioVal = $("#hdnUserType").val()

        if (SelectedRadioVal == 'Firm') {
            $('#divCompanyFirmAssociation').show();
            $("#company_toggle").hide();
            $("#firm_toggle").show();
            $("#individual_toggle").hide();
        }
        else if (SelectedRadioVal == 'Company') {
            $('#divCompanyFirmAssociation').show();
            $("#firm_toggle").hide();
            $("#company_toggle").show();
            $("#individual_toggle").hide();
        }
        else if (SelectedRadioVal == 'Association') {
            $("#firm_toggle").hide();
            $("#company_toggle").hide();
            $('#divCompanyFirmAssociation').show();
            $("#individual_toggle").hide();
        }
        else {
            $('#divCompanyFirmAssociation').hide();
            $("#firm_toggle").hide();
            $("#company_toggle").hide();
            $("#individual_toggle").show();
        }
    }

    //following code is for DSC Signature
    try {
        var connection = new WebSocket('wss://localhost.emudhra.com:8080');

        connection.onopen = function () {
            console.log('Connection Opened');
        };
        connection.onerror = function (error) {
            //  alert('Please check the DSC connection: ' + error);
        };
        connection.onmessage = function (e) {
            if (e.data.indexOf("subProtocol") == -1) {
                //  alert(e.data);
            }
        };
    }
    catch (e) {
        alert("No DSC Connection Found");
    }
    //-----------------------------
</script>
