@*// *********************************************************************************************************
    //  View Name                : EndUserDataView
    //  Desciption               : Show all enduser data view
    //  Created By               : Debaraj Swain
    //  Created On               : 30 March 2021
    // ********************************************************************************************************
*@
@model userregistrationEF.EndUserBasicInfoModel
@{
    ViewData["Title"] = "DailyProductionSummaryReport";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">




    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">


                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item mr-md-1">
                            <a class="nav-link active" href="#">
                                User Request For Profile Verification
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                @using (Html.BeginForm("EndUserForceDataView", "EndUserProfile", FormMethod.Post, new { id = "__EUAntiForgeryForm", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
                {
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.EndUserId)
                    <section class="box form-container">
                        <div class="content-body">
                            <div class="message-highlighter">
                                <h5 class="text-brown font-weight-bold mb-4">Registration Details</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label font-weight-bolder">Registration Type</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.NatureOfBusiness))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                            {
                                                if (Model != null && !String.IsNullOrEmpty(Model.EUPType))
                                                {
                                                    <label for="inputName" class="col-sm-5 col-form-label font-weight-bolder">Industry Type</label>
                                                }
                                            }

                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                                    {
                                                        if (Model != null && !String.IsNullOrEmpty(Model.EUPType))
                                                        {
                                                            @(Html.DisplayFor(model => model.EUPType))
                                                        }
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="dropdownUserType" class="col-sm-5 col-form-label font-weight-bolder">Registration No.</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.RegistrationNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="dropdownDepart" class="col-sm-5 col-form-label font-weight-bolder">User Type</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.EndUserTypeStatus))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="dropdownDesign" class="col-sm-5 col-form-label font-weight-bolder">Company as</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.Company))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-5 col-form-label font-weight-bolder">Applicant's Name</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.EndUserName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="dropdownState" class="col-sm-5 col-form-label font-weight-bolder">E-mail ID</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.EMailId))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="dropdownDist" class="col-sm-5 col-form-label font-weight-bolder">Mobile Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.MobileNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMobile" class="col-sm-5 col-form-label font-weight-bolder">Designation</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.Designation))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Mineral Name</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.MineralName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Use of Mineral</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.MineralUse))
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                            {

                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Purpose</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @(Html.DisplayFor(model => model.PurposeOfPurchaseMineral))
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Aadhaar Card Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.AadhaarNumber))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload Aadhaar Card</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @if (!string.Equals(Model.Aadhaar_FILE_NAME, null))
                                                    {
                                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.Aadhaar_FILE_NAME, foldername = "Aadhar" })" height='30' width='30'>


                                                            <i class="fa fa-download" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">PAN Card Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.PAN))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload PAN Card</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @if (!string.Equals(Model.PAN_FILE_NAME, null))
                                                    {
                                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.PAN_FILE_NAME, foldername = "Pan" })" height='30' width='30'>
                                                            <i class="fa fa-download" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Tin Number</label>

                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.TINNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload Document for Tin</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                             
                                                    @if (!string.Equals(Model.TIN_FILE_NAME, null))
                                                    {

                                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.TIN_FILE_NAME, foldername = "Tin" })" height='30' width='30'>
                                                            <i class="fa fa-download" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">GST Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.GSTNO))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Upload Document for GST</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @if (!string.Equals(Model.GST_FILE_NAME, null))
                                                    {
                                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.GST_FILE_NAME, foldername = "GST" })" height='30' width='30'>
                                                            <i class="fa fa-download" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder"> Firm / Company registration copy</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @if (!string.Equals(Model.RegistrationCopy_FILE_NAME, null))
                                                    {
                                                        <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.RegistrationCopy_FILE_NAME, foldername = "RCopy" })" height='30' width='30'>
                                                            <i class="fa fa-download" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Name of the Individual / Firm / Society / Partnership / Company</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.CompanyName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Excise Duty Registration Number</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.ExciseRegNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                    {
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">Electricity Bill of last 3 months</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @if (!string.Equals(Model.ElectricityBill_FILE_NAME, null))
                                                        {
                                                            @*<a target="_blank" href="@Model.ElectricityBill_FILE_PATH" style="pointer-events:initial">@((Model.ElectricityBill_FILE_PATH != null) ? "View" : "")</a>*@

                                                            <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.ElectricityBill_FILE_NAME, foldername = "Ebill" })" height='30' width='30'>
                                                                <i class="fa fa-download" aria-hidden="true">
                                                                </i>
                                                            </a>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Letter</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @if (!string.Equals(Model.CTO_FILE_NAME, null))
                                                        {
                                                            <a href="@Url.Action("DownloadFiles", "EndUserProfile", new { filename = @Model.CTO_FILE_NAME, foldername = "CTO" })" height='30' width='30'>
                                                                <i class="fa fa-download" aria-hidden="true">
                                                                </i>
                                                            </a>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Approval No.</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @(Html.DisplayFor(model => model.CTOApprovalNumber))
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Order Date</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @(Html.DisplayFor(model => model.CTOOrderDate))
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Validity From</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @(Html.DisplayFor(model => model.CTOValidityFrom))
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">CTO Validity To</label>
                                                <div class="col-sm-7">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>
                                                        @(Html.DisplayFor(model => model.CTOValidityTo))
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="row">
                                            <label for="inputMail" class="col-sm-5 col-form-label font-weight-bolder">IBM Registration No</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.IBMRegistrationNo))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-highlighter">
                                <h5 class="text-brown font-weight-bold mb-4">Industry  Details</h5>
                                <div class="row">

                                    @if (!string.Equals(Model.NatureOfBusiness, '2') && !string.Equals(Model.NatureOfBusiness, "Trader Outside Chhattisgarh") && !string.Equals(Model.NatureOfBusiness, '3') && !string.Equals(Model.NatureOfBusiness, "Storage Depot Outside Chhattisgarh"))
                                    {
                                        @if ((Model != null && !String.IsNullOrEmpty(Model.Address)) || Model.StateId != 0 || Model.DistrictId != 0 || Model.PinCode != "0" || Model.PinCode != "0")
                                        {


                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputMail" class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Address</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control-plaintext">
                                                            <span class="colon">:</span>
                                                            @(Html.DisplayFor(model => model.Address))
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 d-lg-block  d-none"></div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">State</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control-plaintext">
                                                            <span class="colon">:</span>
                                                            @(Html.DisplayFor(model => model.StateName))
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">District</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control-plaintext">
                                                            <span class="colon">:</span>
                                                            @(Html.DisplayFor(model => model.DistrictName))
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Pincode</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control-plaintext">
                                                            <span class="colon">:</span>
                                                            @(Html.DisplayFor(model => model.PinCode))
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="message-highlighter mb-0">
                                <h5 class="text-brown font-weight-bold mb-4">Office Details</h5>
                                <div class="row">


                                    <div class="col-lg-8 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-lg-2 col-md-4 col-sm-12 col-form-label font-weight-bolder">Address</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.OfficeAddress))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">State</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.StateName_O))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">District</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.DistrictName_O))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Pincode</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.PinCode_O))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Mineral Form</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.MineralFormName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group row">
                                            <label for="inputMail" class="col-sm-4 col-form-label font-weight-bolder">Mineral Grade</label>
                                            <div class="col-sm-7">
                                                <label class="form-control-plaintext">
                                                    <span class="colon">:</span>
                                                    @(Html.DisplayFor(model => model.MineralGradeName))
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    @{if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "1")
        {
            <script>
        alert("User registration with Registration Number @TempData["RegistrationNo"] has been Approved successfully.");
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
            </script>
        }
        else if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "2")
        {
            <script>
        alert("User registration with Registration Number @TempData["RegistrationNo"] has been Rejected successfully.");
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
            </script>
        }
        else if (!string.IsNullOrEmpty(ViewBag.AcknowledgementMessage) && Convert.ToString(ViewBag.AcknowledgementMessage) == "0")
        {
            <script>
        alert("Something went wrong !");
        window.location.href = "@Url.Action("AllRequest", "EndUserProfile", new { Area = "EndUserRegistration" })";
            </script>
        }
    }
</section>
<script>
    backMe = "yes"

    $(document).ready(function () {
        loadNavigation('ViewPaymentHead', 'glTMng', 'plpaymenthead', 'tl', 'EndUser', 'Action Taken', ' ');
        if (@ViewBag.tablerecordconnt != 0) {
            $('#btnSubmit').show();
        }
                                                else
        {
             $('#btnSubmit').hide();
        }
    });


    }
</script>
