@*// *********************************************************************************************************
    //  View Name                : EUPRegistration
    //  Desciption               : EndUser Registration Status View
    //  Created By               : Debaraj Swain
    //  Created On               : 04 April 2021
    // ********************************************************************************************************
*@
@model userregistrationEF.EndUserModel
@{
    ViewData["Title"] = "ProfileView";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<style>
    body {
        overflow: hidden;
    }

    .rimg {
        border-radius: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        -ms-transition: -ms-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }

        .rimg:hover {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }

    .default-form-control-style {
        margin-top: 10px;
    }

    .panel-heading-setting {
        width: 94.5%;
        margin: 10px 10px 10px auto;
    }

    .panel-body {
        padding: 15px;
        background: #fff;
        border: unset !important;
    }
</style>
<h3>Application Status Check :</h3>
<div class="main-content py-3 ">
    <div class="container">
        <div class="text-dark">

            @using (Html.BeginForm("EUPRegistration", "EndUserProfile", FormMethod.Post, new { id = "__EUAntiForgeryForm", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
            {



                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserCode)
                @Html.HiddenFor(model => model.RegistrationFeesId)
                @Html.Hidden("PaymentMode")
                @Html.Hidden("PaymentBank")

                <div class="panel-heading-setting" style="overflow: auto;">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                        </div>
                        @if (Model.UserId == null || Model.UserId == 0)
                        {
                            <div class="panel-heading">
                                <span style="font-size: 30px;">User's Registration No. : <b>@Model.RegistrationNo </b>is <b>@Model.ApprovalStatus </b></span>

                                @if (string.Equals(Model.NatureOfBusiness, "Industry") || string.Equals(Model.NatureOfBusiness, "1"))
                                {
                                    if (Convert.ToString(Model.StateId) == "7")
                                    {
                                        if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                        {
                                            <span style="font-size: 30px;">at </span>
                                        }
                                        else
                                        { <span style="font-size: 30px;">by </span> }
                                        <span style="font-size: 30px;">@Model.DistrictName Mining Office, Chhattisgarh. </span>
                                    }
                                    else
                                    {
                                        if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                        {
                                            <span style="font-size: 30px;">at </span>
                                        }
                                        else
                                        { <span style="font-size: 30px;">by </span> }
                                        <span style="font-size: 30px;">Directorate of Geology & Mining, Chhattisgarh. </span>
                                    }
                                }
                                else
                                {
                                    if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                    {
                                        <span style="font-size: 30px;">at </span>
                                    }
                                    else
                                    { <span style="font-size: 30px;">by </span> }
                                    <span style="font-size: 30px;">Directorate of Geology & Mining, Chhattisgarh. </span>
                                }

                                @if (!String.IsNullOrEmpty(Model.Remarks))
                                {
                                    <span style="font-size: 30px;">Remarks : @Model.Remarks. </span>
                                }

                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                <span style="font-size: 30px;">User's Registration No. : <b>@Model.RegistrationNo </b>is <b>@Model.ApprovalStatus </b></span>

                                @if (string.Equals(Model.NatureOfBusiness, "Industry") || string.Equals(Model.NatureOfBusiness, "1"))
                                {
                                    if (Convert.ToString(Model.StateId) == "7")
                                    {
                                        if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                        {
                                            <span style="font-size: 30px;">at </span>
                                        }
                                        else
                                        { <span style="font-size: 30px;">by </span> }
                                        <span style="font-size: 30px;">@Model.DistrictName Mining Office, Chhattisgarh. </span>
                                    }
                                    else
                                    {
                                        if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                        {
                                            <span style="font-size: 30px;">at </span>
                                        }
                                        else
                                        { <span style="font-size: 30px;">by </span> }
                                        <span style="font-size: 30px;">Directorate of Geology & Mining, Chhattisgarh. </span>
                                    }
                                }
                                else
                                {
                                    if (Convert.ToString(Model.ApprovalStatus) == "PENDING")
                                    {
                                        <span style="font-size: 30px;">at </span>
                                    }
                                    else
                                    { <span style="font-size: 30px;">by </span> }
                                    <span style="font-size: 30px;">Directorate of Geology & Mining, Chhattisgarh. </span>
                                }

                                @if (!String.IsNullOrEmpty(Model.Remarks))
                                {
                                    <span style="font-size: 30px;">Remarks : @Model.Remarks. </span>
                                }

                            </div>
                        }
                        <div class="panel-body" style="display: none;">


                        </div>

                        <br />
                    </div>
                </div>








            }

        </div>
       
    </div>
</div>
<script>



    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });

    });
</script>
<style type="text/css">
    .main-content {
        background-image: none;
    }
</style>