@*// *********************************************************************************************************
    //  View Name                : Profile
    //  Desciption               : Bind Tailingdam profile details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 02 June 2022
    // ********************************************************************************************************
*@
@model userregistrationEF.cls_TailingDam;
@using userregistrationEF;
@using userregistrationApp.Helper;
@using  Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "RoyaltyPayProfile";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
    var vv = '@TempData["Message"]';
    if (vv == 0) {
        swal("", "Record already existed with either applicant name or mobile number or email address  .", "warning");
    }
    else if (vv == 1) {
        swal("", "Profile updated successfully.", "success");
    }
    else if (vv == 2) {
        swal("", "Something Errror occured. Please Try After Sometime!!", "error");
    }
    </script>
}
<script>
    backMe = "yes"
    $(document).ready(function () {
        debugger;
        loadNavigation('Profile', 'glUIS', 'pllesseprof', 'tl', 'Tailing Dam', 'Profile', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" id="navlinkAdd" href="~/Contractor/Contractor/RoyaltyPay">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label divRevRecovery">Mineral Type</label>
                                <div class="col-lg-9 col-md-8 col-sm-12 divRevRecovery">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralTypeName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Name</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralName</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Form</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralForm</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Mineral Grade</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.MineralGrade</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Current Stock ( As on date )(@Model.UnitName)</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.CurrentStock</label>
                                </div>
                                <label class="col-lg-3 col-md-4 col-sm-12 col-form-label">Royalty Paid</label>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.RoyaltyPaid</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

