@*// *********************************************************************************************************
    //  View Name                : VTDUserDataView
    //  Desciption               : Show all enduser data view
    //  Created By               : Akshaya Dalei
    //  Created On               : 16 March 2021
    // ********************************************************************************************************
*@
@model userregistrationEF.VTDVendorModel
@{
    ViewData["Title"] = "VTDUserDataView";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">

    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container" id="printForcefullyData">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Company Name</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.CompanyName</label>
                        </div>

                        <label class="col-sm-2 col-form-label">GST</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.GST</label>
                        </div>
                    </div>

                    <h6>Company's Corporate Details</h6>


                    <div class="row">
                        <label class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Corp_Address</label>
                        </div>

                        <label class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Corp_State_Name</label>
                        </div>

                        <label class="col-sm-2 col-form-label">District</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Corp_District_Name</label>
                        </div>

                        <label class="col-sm-2 col-form-label">Block</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Corp_Block</label>
                        </div>

                        <label class="col-sm-2 col-form-label">Pincode</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Corp_PinCode</label>
                        </div>

                    </div>

                    <h6>Company's Local Details</h6>

                    <div class="row">

                        <label class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Local_Address</label>
                        </div>


                        <label class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.StateName</label>
                        </div>



                        <label class="col-sm-2 col-form-label">District<span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.DistrictName</label>
                        </div>



                        <label class="col-sm-2 col-form-label">Block</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.BlockName</label>
                        </div>



                        <label class="col-sm-2 col-form-label">Pincode</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Company_Local_PinCode</label>
                        </div>

                    </div>


                    <h6>Contact Person Details</h6>
                    <h6>Primary Details</h6>
                    <div class="row">

                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Contact_Person_Name</label>
                        </div>


                        <label class="col-sm-2 col-form-label ">Mobile Number</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Contact_Person_MobileNo</label>
                        </div>



                        <label class="col-sm-2 col-form-label">Email-Id</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Contact_Person_EmailId</label>
                        </div>


                        <label class="col-sm-2 col-form-label ">Designation</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Contact_Person_Designation</label>
                        </div>
                    </div>
                    <h6>Secondary Details</h6>
                    <div class="row">

                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Secondary_Contact_Person_Name</label>
                        </div>


                        <label class="col-sm-2 col-form-label ">Mobile Number</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Secondary_Contact_Person_MobileNo</label>
                        </div>



                        <label class="col-sm-2 col-form-label">Email-Id</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Secondary_Contact_Person_EmailId</label>
                        </div>
                        <label class="col-sm-2 col-form-label">Designation</label>

                        <div class="col-sm-10">
                            <label class="form-control-plaintext"><span class="colon">:</span>@Model.Secondary_Designation</label>
                        </div>

                        <label class="col-sm-2 col-form-label ">Transport Department Approval Letter</label>
                        <div class="col-sm-10">
                            <a href="/Upload/VTDVendorDocument/@Model.Transport_Dept_ApprovalLetter" target="_blank" style="pointer-events:initial"><i class="icon-file-pdf-solid h4 text-danger"></i></a>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
<script>
    backMe="yes"
    $(document).ready(function () {
        loadNavigation('ViewPaymentHead', 'glTMng', 'plpaymenthead', 'tl', 'EndUser', 'VTD User Data View', ' ');

    });
</script>
