@*// *********************************************************************************************************
    //  View Name                : VTDVendorProfile
    //  Desciption               : View VTD Vendor Profile view
    //  Created By               : Lingaraj Dalai
    //  Created On               : 31 July 2022
    // ********************************************************************************************************
*@
@model userregistrationEF.VTDVendorProfileModel
@{
    ViewData["Title"] = "VTDVendorProfile";
Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        swal("",'@TempData["Message"]',"success");
    </script>
}
<style>

    h5.text-dark {
        color: #d37a33 !important;
    }

    @@media screen and (max-width: 1024px) {
        .mobile .content-body {
            padding: 1rem;
            background-color: #fff;
            border-radius: 10px;
        }

        .mobile .nav-tabs {
            display: none;
        }
    }

    @@media screen and (max-width: 768px) {
        .mobile .colon {
            display: block;
        }
    }

    @@media screen and (max-width:640px) {
        .mobile .colon {
            display: none;
        }

        .mobile .form-control-plaintext .ml-2 {
            margin-left: 0rem !important;
        }
    }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                @using (Html.BeginForm("VTDVendorProfile", "Contractor", FormMethod.Post, new { id = "form1", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
                {
                    @Html.HiddenFor(model => model.VTDvendorId)
                    <section class="box form-container">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Company Name</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CompanyName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label for="UserType" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">GST</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.GSTNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="dropdownDesign" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Model</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.ModelName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="row">
                                        <label for="inputPassword" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Port No</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PortNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <h5 class="mt-4 text-dark">Company's Corporate Details</h5>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Company's Corporate Address</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CorpAddress))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">State</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CorpStateName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">District</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CorpDistrictName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Block </label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CorpBlockName))
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Pincode</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.CorpPincode))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-4 text-dark">Company's Local Details</h5>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Company's Address </label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.LocalAddress))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">State</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.LocalStateName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">District</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.LocalDistrictName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Block</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.LocalBlockName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Pincode</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.LocalPincode))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-4 text-dark">Primary Contact Details</h5>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Name</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PrimaryContactName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Mobile Number </label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PrimaryContactMobileNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Email Id</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PrimaryContactEmailId))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Designation</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.PrimaryContactDesignation))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-4 text-dark">Secondary Contact Details</h5>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Name</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.SecondaryContactName))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Mobile Number</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.SecondaryContactMobileNo))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Email Id</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.SecondaryContactEmailId))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Designation</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @(Html.DisplayFor(model => model.SecondaryContactDesignation))
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class=" row">
                                        <label for="inputMail" class="col-lg-5 col-md-3 col-sm-12 col-form-label font-weight-bolder">Transport Department Approval Letter</label>
                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                            <label class="form-control-plaintext">
                                                <span class="colon">:</span>
                                                @if (Model.ApprovalLetterFileName != null && Model.ApprovalLetterFileName != "")
                                                {
                                                    <label class="form-control-plaintext" id="lblRecoveryReportFileName">@(Model.ApprovalLetterFileName) <a href='/Upload/VTDVendorDocument/@Model.ApprovalLetterFilePath' title="" class="ml-2" data-original-title="Download Transport Department Approval Letter copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <a href="/Contractor/Contractor/EditVTDVendorProfile" class="btn btn-success btn-md ml-0 waves-effect waves-light">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</section>
<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('VTDVendorProfile', 'glTMng', 'plpaymenthead', 'tl', 'VTD Vendor', 'View Profile', ' ');
        onRadioChange();
    });
</script>

