@model MasterEF.RoyaltyModel
@using MasterEF;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>

 swal("",'@ViewBag.msg',"success");
    </script>
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/Royalty/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/Royalty/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <form action="Add" method="post" id="form1" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Category<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralTypeId" name="MineralTypeId" class="form-control searchableselect" title="Mineral Category">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralType = (List<MineralGradeModel>)ViewData["MineralCategory"];
                                                    if (listMineralType != null)
                                                    {
                                                        foreach (var item in listMineralType)
                                                        {
                                                            if (item.MineralTypeId == Model.MineralTypeId)
                                                            {
                                                                <option selected="selected" value="@item.MineralTypeId">@item.MineralTypeName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralTypeId">@item.MineralTypeName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralTypeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralScheduleID" name="MineralScheduleID" class="form-control searchableselect" title="Mineral Schedule">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralScheduleModel> listMineralScheduleModel = (List<MineralScheduleModel>)ViewData["MineralSchedule"];
                                                    if (listMineralScheduleModel != null)
                                                    {
                                                        foreach (var item in listMineralScheduleModel)
                                                        {
                                                            if (item.MineralScheduleID == Model.MineralScheduleId)
                                                            {
                                                                <option selected="selected" value="@item.MineralScheduleID">@item.MineralScheduleName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralScheduleID">@item.MineralScheduleName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralScheduleId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule Part<span class="text-danger"></span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralSchedulePartID" name="MineralSchedulePartID" class="form-control searchableselect" title="Mineral Schedule Part">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralSchedulePartModel> lstmineralSchedulePartModels = (List<MineralSchedulePartModel>)ViewData["MineralSchedulePart"];
                                                    if (lstmineralSchedulePartModels != null)
                                                    {
                                                        foreach (var item in lstmineralSchedulePartModels)
                                                        {
                                                            if (item.MineralSchedulePartID == Model.MineralSchedulePartId)
                                                            {
                                                                <option selected="selected" value="@item.MineralSchedulePartID">@item.MineralSchedulePartName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralSchedulePartID">@item.MineralSchedulePartName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralSchedulePartId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralId" name="MineralId" class="form-control searchableselect" title="Mineral Name">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyModels = (List<RoyaltyModel>)ViewData["MineralName"];
                                                    if (lstroyaltyModels != null)
                                                    {
                                                        foreach (var item in lstroyaltyModels)
                                                        {
                                                            if (item.MineralId == Model.MineralId)
                                                            {
                                                                <option selected="selected" value="@item.MineralId">@item.MineralName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralId">@item.MineralName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Unit<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select class="form-control searchableselect" id="UnitId" name="UnitId" title="Mineral Unit">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyModelUnit = (List<RoyaltyModel>)ViewData["MineralUnit"];
                                                    if (lstroyaltyModelUnit != null)
                                                    {
                                                        foreach (var item in lstroyaltyModelUnit)
                                                        {
                                                            if (item.UnitId == Model.UnitId)
                                                            {
                                                                <option selected="selected" value="@item.UnitId">@item.UnitName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.UnitId">@item.UnitName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.UnitId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Royalty Basis<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="RoyaltyRateTypeId" name="RoyaltyRateTypeId" Class="form-control searchableselect" title="Royalty Basis">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyBasis = (List<RoyaltyModel>)ViewData["RoyaltyBasis"];
                                                    if (lstroyaltyBasis != null)
                                                    {
                                                        foreach (var item in lstroyaltyBasis)
                                                        {
                                                            if (item.RoyaltyRateTypeId == Model.RoyaltyRateTypeId)
                                                            {
                                                                <option selected="selected" value="@item.RoyaltyRateTypeId">@item.RoyaltyRateType</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.RoyaltyRateTypeId">@item.RoyaltyRateType</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoyaltyRateTypeId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralNatureId" name="MineralNatureId" Class="form-control searchableselect" title="Mineral Form">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralForm = (List<MineralGradeModel>)ViewData["MineralForm"];
                                                    if (listMineralForm != null)
                                                    {
                                                        foreach (var item in listMineralForm)
                                                        {
                                                            if (item.MineralNatureId == Model.MineralNatureId)
                                                            {
                                                                <option selected="selected" value="@item.MineralNatureId">@item.MineralNature</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralNatureId">@item.MineralNature</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralNatureId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Grade<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralGradeId" name="MineralGradeId" Class="form-control searchableselect" title="Mineral Grade">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralGrade = (List<MineralGradeModel>)ViewData["MineralGrade"];
                                                    if (listMineralGrade != null)
                                                    {
                                                        foreach (var item in listMineralGrade)
                                                        {
                                                            if (item.MineralGradeId == Model.MineralGradeId)
                                                            {
                                                                <option selected="selected" value="@item.MineralGradeId">@item.MineralGrade</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.MineralGradeId">@item.MineralGrade</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralGradeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Rate Of Royalty<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="CalculationTypeId" name="CalculationTypeId" Class="form-control searchableselect" title="Rate Of Royalty">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listCalculationType = (List<MineralGradeModel>)ViewData["CalculationType"];
                                                    if (listCalculationType != null)
                                                    {
                                                        foreach (var item in listCalculationType)
                                                        {
                                                            if (item.CalculationTypeName == Model.CalculationTypeName)
                                                            {
                                                                <option selected="selected" value="@item.CalculationTypeId">@item.CalculationTypeName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.CalculationTypeId">@item.CalculationTypeName</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.CalculationTypeId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row" id="IdDIVAvgSalePrice">
                                        <label for="inputName" class="col-sm-4 col-form-label">Average Sale Price<span class="text-danger"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="AverageSalePrice" name="AverageSalePrice" title="Average Sale Price" value="@Model.AverageSalePrice" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.AverageSalePrice)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Royalty<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="RoyaltyRate" name="RoyaltyRate" value="@Model.RoyaltyRate" title="Royalty" class="form-control" />
                                            <input type="hidden" id="RoyaltyID" name="RoyaltyID" value="@Model.RoyaltyID" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoyaltyRate)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Rate Effective From<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="RateEffectiveFrom" name="RateEffectiveFrom" value="@Model.RateEffectiveFrom" title="Rate Effective From" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RateEffectiveFrom)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Remarks <span class="text-danger"></span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                <textarea name="Remarks" id="Remarks" class="form-control" title="Remarks">@Model.Remarks</textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <a href="/Master/Royalty/Add" class="btn btn-danger btn-md">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<input type="hidden" id="hdnMineralTypeId" value="@Model.MineralTypeId" />
<input type="hidden" id="hdnMineralScheduleId" value="@Model.MineralScheduleId" />
<input type="hidden" id="hdnMineralSchedulePartID" value="@Model.MineralSchedulePartId" />
<input type="hidden" id="hdnMineralId" value="@Model.MineralId" />
<input type="hidden" id="hdnUnitId" value="@Model.UnitId" />
<input type="hidden" id="hdnRoyaltyRateTypeId" value="@Model.RoyaltyRateTypeId" />
<input type="hidden" id="hdnMineralNatureId" value="@Model.MineralNatureId" />
<input type="hidden" id="hdnMineralGradeId" value="@Model.MineralGradeId" />
<input type="hidden" id="hdnCalculationTypeId" value="@Model.CalculationTypeName" />
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        debugger;
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Royalty', ' ');
        $('#IdDIVAvgSalePrice').hide();
        $('#CalculationTypeId').change(function () {
            if ($('#CalculationTypeId').val() == "%") {
                $('#AverageSalePrice').val('');
                $('#IdDIVAvgSalePrice').show();
            }
            else {
                $('#AverageSalePrice').val('');
                $('#IdDIVAvgSalePrice').hide();
            }
        });

        $('#RateEffectiveFrom').datetimepicker({
            format: "DD/MM/YYYY",
        });
        //--------------
        if ($('#hdnMineralTypeId').val() != "") {
            $('#MineralTypeId').val($('#hdnMineralTypeId').val());
        }
        if ($('#hdnMineralScheduleId').val() != "") {
            $('#MineralScheduleID').val($('#hdnMineralScheduleId').val());
        }
        if ($('#hdnMineralSchedulePartID').val() != "") {
            $('#MineralSchedulePartID').val($('#hdnMineralSchedulePartID').val());
        }
        if ($('#hdnMineralId').val() != "") {
            $('#MineralId').val($('#hdnMineralId').val());
        }
        if ($('#hdnUnitId').val() != "") {
            $('#UnitId').val($('#hdnUnitId').val());
        }
        if ($('#hdnRoyaltyRateTypeId').val() != "") {
            $('#RoyaltyRateTypeId').val($('#hdnRoyaltyRateTypeId').val());
        }
        if ($('#hdnMineralNatureId').val() != "") {
            $('#MineralNatureId').val($('#hdnMineralNatureId').val());
        }
        if ($('#hdnMineralGradeId').val() != "") {
            $('#MineralGradeId').val($('#hdnMineralGradeId').val());
        }
        if ($('#hdnCalculationTypeId').val() != "") {
            $('#CalculationTypeId').val($('#hdnCalculationTypeId').val());
            if ($('#hdnCalculationTypeId').val() == "%") {
                $('#IdDIVAvgSalePrice').show();
            }
            else {
                $('#IdDIVAvgSalePrice').hide();
            }
        }
        //---------------
        $("#Submit").click(function () {
            debugger;
            if ($('#MineralTypeId').val() == "") {
                swal("", "Please Select Mineral Category", "warning");
                $("#MineralTypeId").focus();
                return false;
            }
            if ($('#MineralScheduleID').val() == "") {
                swal("", "Please Select Schedule", "warning");
                $("#MineralScheduleID").focus();
                return false;
            }

            if ($('#MineralId').val() == "") {
                swal("", "Please Select Mineral Name", "warning");
                $("#MineralId").focus();
                return false;
            }


            if ($('#UnitId').val() == "") {
                swal("", "Please Select Mineral Unit", "warning");
                $('#UnitId').focus();
                return false;
            }
            if ($('#RoyaltyRateTypeId').val() == "") {
                swal("", "Please Select Royalty Basis", "warning");
                $('#RoyaltyRateTypeId').focus();
                return false;
            }
            if ($('#MineralNatureId').val() == "") {
                swal("", "Please Select Mineral Form", "warning");
                $('#MineralNatureId').focus();
                return false;
            }

            if ($('#MineralGradeId').val() == "") {
                swal("", "Please Select Mineral Grade", "warning");
                $('#MineralGradeId').focus();
                return false;
            }
            if ($('#CalculationTypeId').val() == "") {
                swal("", "Please Select Rate Of Royalty", "warning");
                $('#CalculationTypeId').focus();
                return false;
            }
            if ($('#RoyaltyRate').val() == "") {
                swal("", "Please Enter Royalty", "warning");
                $('#RoyaltyRate').focus();
                return false;
            }
            if ($('#RateEffectiveFrom').val() == "") {
                swal("", "Please Enter Rate Effective From", "warning");
                $('#RateEffectiveFrom').focus();
                return false;
            }

        });
        //-------------------------------------
        $('#MineralTypeId').change(function () {
            debugger;
            if ($('#MineralTypeId').val() != "") {

                $.ajax({
                    url: '/Master/MineralSchedulePart/GetMineralScheduleByCategoryId',
                    data: { 'MineralTypeId': $('#MineralTypeId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralScheduleID').html('');
                        $('#MineralScheduleID').append("<option value=''>Select Schedule</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralScheduleID').append("<option value='" + item.mineralScheduleID + "'>" + item.mineralScheduleName + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralScheduleID').html('');
                $('#MineralScheduleID').append("<option value=''>Select Schedule</option>");
            }
        });

        //-----------------------------------
        $('#MineralScheduleID').change(function () {
            debugger;
            if ($('#MineralScheduleID').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetSchedulePartNameByScheduleId',
                    data: { 'ScheduleId': $('#MineralScheduleID').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralSchedulePartID').html('');
                        $('#MineralSchedulePartID').append("<option value=''>Select Mineral Schedule Part</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralSchedulePartID').append("<option value='" + item.mineralSchedulePartID + "'>" + item.mineralSchedulePartName + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralSchedulePartID').html('');
                $('#MineralSchedulePartID').append("<option value=''>Select Mineral Schedule Part</option>");
            }
        });
        //--------------------
        $('#MineralSchedulePartID').change(function () {
            debugger;
            if ($('#MineralSchedulePartID').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetMineralNameBySchedulePartId',
                    data: { 'SchedulePartId': $('#MineralSchedulePartID').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralId').html('');
                        $('#MineralId').append("<option value=''>Select Mineral Name</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralId').append("<option value='" + item.mineralId + "'>" + item.mineralName + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralId').html('');
                $('#MineralId').append("<option value=''>Select Mineral Name</option>");
            }
        });

        //-------------------------
        $('#MineralId').change(function () {
            debugger;
            if ($('#MineralId').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetMineralUnitByMineralID',
                    data: { 'MineralID': $('#MineralId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#UnitId').html('');
                        $('#UnitId').append("<option value=''>Select Mineral Unit</option>");
                        $.each(data, function (ind, item) {
                            $('#UnitId').append("<option value='" + item.unitId + "'>" + item.unitName + "</option>");
                        });

                        //--------------Bind Royalty Basis---------
                        $.ajax({
                            url: '/Master/Royalty/GetRoyaltyBasisByMineralID',
                            data: { 'MineralID': $('#MineralId').val() },
                            dataType: 'json',
                            type: 'post',
                            success: function (royalty) {
                                debugger;
                                $('#RoyaltyRateTypeId').html('');
                                $('#RoyaltyRateTypeId').append("<option value=''>Select Royalty Basis</option>");
                                $.each(royalty, function (ind, item) {
                                    $('#RoyaltyRateTypeId').append("<option value='" + item.royaltyRateTypeId + "'>" + item.royaltyRateType + "</option>");
                                });

                                //--------------Bind Royalty Basis---------
                                //------------------------------Mineral Form-------
                                if ($('#MineralTypeId').val() != "" && $('#MineralId').val() != '') {
                                    $.ajax({
                                        type: "post",
                                        url: "/Master/MineralGrade/GetMineralNatureDataByMineralTypeIdAndMineralId",
                                        data: { 'mineralType': $('#MineralTypeId').val(), 'mineralId': $('#MineralId').val() },
                                        datatype: "json",
                                        traditional: true,
                                        success: function (data) {
                                            debugger;
                                            $('#MineralNatureId').html('');
                                            $('#MineralNatureId').append('<option value="">Select Mineral Form</option>');
                                            $.each(data, function (ind, item) {
                                                $('#MineralNatureId').append('<option value=' + item.mineralNatureId + '>' + item.mineralNature + '</option>');
                                            });


                                        }
                                    });
                                }
                                //----------------Mineral Form End-------

                            },
                            error: function (err) {

                            }
                        });
                        //------------------------------End Royalty Basis------------


                    },
                    error: function (err) {

                    }
                });
            }
            else {

                $('#UnitId').html('');
                $('#UnitId').append("<option value=''>Select Mineral Unit</option>");
                $('#RoyaltyRateTypeId').html('');
                $('#RoyaltyRateTypeId').append("<option value=''>Select Royalty Basis</option>");
                $('#MineralNatureId').html('');
                $('#MineralNatureId').append('<option value="">Select Mineral Form</option></select>');
            }
        });
        //----------------------------
        $('#MineralNatureId').change(function () {
            if ($('#MineralNatureId').val() != "") {
                $.ajax({
                    url: '/Master/Royalty/GetRoyaltyMineralGradeByNatureId',
                    data: { 'NatureId': $('#MineralNatureId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralGradeId').html('');
                        $('#MineralGradeId').append("<option value=''>Select Mineral Grade</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralGradeId').append("<option value='" + item.mineralGradeId + "'>" + item.mineralGrade + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralGradeId').html('');
                $('#MineralGradeId').append("<option value=''>Select Mineral Grade</option>");
            }
        });
        //----------------------------------

    });

</script>
