@model IEnumerable<MasterEF.RoyaltyModel>
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using MasterApp.Web;
@if (ViewBag.msg != null)
{
    <script>
    swal("",'@ViewBag.msg',"success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" href="/Master/Royalty/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/Master/Royalty/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mineral Category</th>
                                            <th>Mineral Schedule</th>
                                            <th>Mineral Schedule Part</th>
                                            <th>Mineral</th>
                                            <th>Mineral Form</th>
                                            <th>Mineral Grade</th>
                                            <th>Unit Name</th>
                                            <th>Royalty Basis</th>
                                            <th>Average Sale Price</th>
                                            <th>Rate of Royalty</th>
                                            <th>Royalty Rate</th>
                                            <th>Royalty Value</th>
                                            <th>Rate Effective From</th>
                                            <th>Status</th>
                                            <th>Requested date and time</th>
                                            <th>Approved date and time</th>
                                            <th width="100" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td>@item.MineralTypeName</td>
                                                    <td>@item.MineralScheduleName</td>
                                                    <td>@item.MineralSchedulePartName</td>
                                                    <td>@item.MineralName</td>
                                                    <td>@item.MineralNatureName</td>
                                                    <td>@item.MineralGradeName</td>
                                                    <td>@item.UnitName</td>
                                                    <td>@item.RoyaltyRateType</td>
                                                    <td>@item.AverageSalePrice</td>
                                                    <td>@item.CalculationTypeName</td>
                                                    <td>@item.RoyaltyRate</td>
                                                    <td>@item.BasiRoyaltyPrice</td>
                                                    <td>@item.RateEffectiveFrom</td>
                                                    <td>@item.status</td>
                                                    <td>@item.RequestTime</td>
                                                    <td>@item.ApprovedTime</td>
                                                    <td class="noprint text-center">
                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Add","Royalty",new {id=item.RoyaltyID })"
                                                           class="btn-floating btn-outline-primary btn-sm"
                                                           title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@CustomQueryStringHelper.EncryptString("Master","Delete","Royalty",new {id=item.RoyaltyID })"
                                                           class="btn-floating btn-outline-danger btn-sm"
                                                           title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glRoleRes', 'plUser', 'tl', 'Master', 'Royalty', ' ');
        $('.searchableselect').searchableselect();
    });
</script>

