@*// *********************************************************************************************************
    //  View Name                : AnalysedSample
    //  Desciption               : To Submit Lab Report samples
    //  Created By               : Lingaraj Dalai
    //  Created On               : 24 Feb 2021
    // ********************************************************************************************************
*@
@model GeologyEF.LabReportmaster
@{
    ViewData["Title"] = "AnalysedSample";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>
         var vv = '@ViewBag.msg';
        if (vv == 1) {
            swal("","Files uploaded successfully.","success");
        }
        else {
            swal("","Something went wrong. Please try again!","error");
        }
    </script>
}
<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('AnalysedSample', 'glgeology', 'plmonprorep', 'tl', 'Geology', 'Analysed Samples', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">
                                Analysed Samples
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                    @Html.AntiForgeryToken()
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="col-xs-12">
                                    <h4 class="mb-4">Result Report Attachments</h4>
                               
                                
                                   @* <div class="row" >
                                        <div class="col-md-6">
                                            @Html.Label("Attachment")
                                        </div>
                                    </div>*@

                                    @if (ViewBag.ViewList != null)
                                    {
                                        foreach (var item in ViewBag.ViewList)
                                        {
                                            <div class="row" >
                                                <div class="col-md-12 mb-2">
                                                    @if (string.IsNullOrEmpty(item.ResultFileName))
                                                    {
                                                    <h3>Result is pending...</h3>
                                                    }
                                                    else
                                                    {
                                                    <ul style="padding-left: 15px;">
                                                        <li style="list-style-type: disc;">
                                                            <a class="text-primary" href='~/@item.Result_Attechment' height='30' width='30' target="_blank">
                                                                @item.ResultFileName
                                                                <i class="icon-file-pdf-solid h5 text-danger" aria-hidden="true">
                                                                </i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    
                                                    }
                                                </div>
                                            </div>
                                            
                                        }
                                    }
                                    else
                                    {
                                        <label>No attachments</label>
                                    }
                                
                           
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

