<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>*@

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href='@Url.Content("~/css/bootstrap.min.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/css/pace-theme-flash.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/css/all.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/css/perfect-scrollbar.css")' />
    <link rel="stylesheet" href='@Url.Content("~/css/style.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.Content("~/css/star-rating.css")' type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" type="text/css" />
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='@Url.Content("~/js/jquery.min.js")'></script>
    <script src='@Url.Content("~/js/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/js/bootstrap-select.min.js")'></script>
    <link href='@Url.Content("~/css/bootstrap-datetimepicker.min.css")' rel="stylesheet">
    <script src='@Url.Content("~/js/moment.min.js")'></script>
    <script src='@Url.Content("~/js/bootstrap-datetimepicker.min.js")'></script>
    <script src="~/js/specialChar.js"></script>
    <script src='@Url.Content("~/js/CSMValidation.js")'></script>
</head>
<body>



    @Html.Partial("_navbar")
    @Html.Partial("_CMSnavigation")
    <div class="page-container ">
        <!-- SIDEBAR - START -->
        <div class="page-sidebar fixedscroll">
            <!-- MAIN MENU - START -->
            @Html.Partial("_leftsider")
            <!-- MAIN MENU - END -->
        </div>
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <div id="main-content">
            @RenderBody()
            @Html.Partial("_footer")

        </div>
        <!-- END CONTENT -->
    </div>

    <script src='@Url.Content("~/js/scripts.js")'></script>
    <link rel="stylesheet" href='@Url.Content("~/css/searchable-select.min.css")'>
    <script src='@Url.Content("~/js/searchable-select.min.js")'></script>
    <link rel="stylesheet" href='@Url.Content("~/css/dataTables.bootstrap4.min.css")'>
    <script src='@Url.Content("~/js/jquery.dataTables.min.js")'></script>
    <script src='@Url.Content("~/js/dataTables.bootstrap4.min.js")'></script>
    @RenderSection("Scripts", required: false)
</body>


</html>
