
@model EstablishmentEf.AppraisalDriverEF ;
@{
    ViewData["Title"] = "AddAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Masg"] != null)
{
    <script>
        swal("",'@TempData["Masg"]', "success");
    </script>
    TempData["Masg"] = null;
}
<section class="wrapper main-wrapper row">
    <div class="col-12">

        @Html.Partial("_navigation")

        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Appraisal for Driver
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/aec/AppraisalDriver/ViewAppraisal")">
                                View Appraisal for Driver
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")

                </div>
                <script>

                    $(document).ready(function () {
                        $("#Submit").click(function () {
                            if (!blankFieldValidation("VchName", "Name")) {
                                return false;
                            }
                            if (!blankFieldValidation("DtmDaterequirement", "Date of Requirement")) {
                                return false;
                            }
                            if (!blankFieldValidation("Vchbehavior", "Behavior")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchPhysicalfitness", "Physical fitness")) {
                                return false;
                            }
                            if (!blankFieldValidation("vchAbilitydrive", "Ability to drive")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchSafety", "Safety")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchBOL", "BOL")) {
                                return false;
                            }
                            if (!blankFieldValidation("vchMaintenancevehicle", "Maintenance of vehicle")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchPresent", "Present ")) {
                                return false;
                            }
                            if (!blankFieldValidation("Vchpunctual", "punctual")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchUniform", "Uniform related remarks")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchCharacter", "Character ")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchAppreciation", "Appreciation ")) {
                                return false;
                            }
                            if (!DropDownValidation("Grade", "Grade ")) {
                                return false;
                            }



                        });

                    });

                </script>
                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("AddAppraisal", "AppraisalDriver", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Name  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchName, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                            @Html.HiddenFor(m=>m.id)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Date of Requirement<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.DtmDaterequirement, new { @class = "form-control datepicker", @maxlength = 100 })

                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="DtmDaterequirement"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Behavior <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Vchbehavior, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Physical fitness <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchPhysicalfitness, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Ability to drive  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.vchAbilitydrive, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })


                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Safety <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchSafety, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> BOL <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchBOL, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Maintenance of vehicle  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.vchMaintenancevehicle, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Present <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchPresent, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> punctual  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Vchpunctual, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Uniform related remarks <span span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchUniform, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Character <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchCharacter, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Appreciation <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.VchAppreciation, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <select class="form-control form-control-sm searchableselect" id="Grade" name="Grade">
                                                <option value="null">select</option>
                                                <option value="Excellent">Excellent</option>
                                                <option value="Very Good">Very Good</option>
                                                <option value="Good">Good</option>
                                                <option value="Average">Average</option>
                                                <option value="Below Average">Below Average</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 offset-lg-2 offset-md-5">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />

                                    <a href="#" class="btn btn-danger btn-md">Reset</a>
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });
    });
</script>