@model PermitEF.ePermitModel
@{
    ViewData["Title"] = "ePermitPayment";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<style>

    #leaseinformation .colon {
        top: 6px;
    }
</style>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")

        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Make Payment
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("MakeEndUserPayment", "Lessee", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "__EUAntiForgeryForm", @Area = "Permit" }))
                        {
                            @Html.HiddenFor(model => model.ProposedQty)
                            @Html.HiddenFor(model => model.BulkPermitId)
                            @Html.HiddenFor(model => model.TotalPayableAmount)
                            @Html.HiddenFor(model => model.TotalMiningPayableAmount)
                            @Html.HiddenFor(model => model.TotalEVSPayableAmount)
                            @Html.HiddenFor(model => model.TotalIncomTaxPayableAmount)
                            @Html.HiddenFor(model => model.EVSOrder)
                            @Html.HiddenFor(model => model.IncomeTaxOrder)
                            @Html.HiddenFor(model => model.MiningOrder)
                            @Html.HiddenFor(model => model.MineralName)
                            @Html.HiddenFor(model => model.MineralGradeName)
                            @Html.HiddenFor(model => model.EmailId)
                            @Html.HiddenFor(model => model.MobileNo)

                            @(Html.HiddenFor(model => model.PayableRoyalty))
                            @(Html.HiddenFor(model => model.NMET))
                            @(Html.HiddenFor(model => model.TCS))
                            @(Html.HiddenFor(model => model.DMF))
                            @(Html.HiddenFor(model => model.Cess))
                            @(Html.HiddenFor(model => model.eCess))
                            @(Html.HiddenFor(model => model.Production))
                            @(Html.HiddenFor(model => model.RemainingProduction))
                            @(Html.HiddenFor(model => model.MineralGradeName))
                            @(Html.HiddenFor(model => model.MineralNature))
                            @(Html.HiddenFor(model => model.BasicRate))

                            @Html.HiddenFor(model => model.PaymentStatus)
                            @(Html.HiddenFor(model => model.PaymentBank))
                            @(Html.HiddenFor(model => model.PaymentMode))
                            @(Html.HiddenFor(model => model.P_Mode))

                            @(Html.HiddenFor(model => model.GeneratedBy))
                            @(Html.HiddenFor(model => model.GeneratedDesignation))
                            @(Html.HiddenFor(model => model.BulkPermitNo))
                            @(Html.HiddenFor(model => model.ActiveStatus))
                            @(Html.HiddenFor(model => model.TransactionalID))
                            @(Html.HiddenFor(model => model.TillDateBalanceUpfrontPayment))
                            @(Html.HiddenFor(model => model.EAuctionType))
                            @(Html.HiddenFor(model => model.DistrictId))
                            @(Html.HiddenFor(model => model.District))
                            @(Html.HiddenFor(model => model.DistrictCode))
                            <h5 class="text-brown font-weight-bold mt-0 text-center">Calculation</h5>

                            @*@if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                {
                                    <h6 class="text-brown font-weight-bold">Online Paid</h6>
                                }
                                else
                                {
                                    <h6 class="text-brown font-weight-bold">Payable Online</h6>
                                }*@
                            if (ViewBag.CheckMiningRecord != null)
                            {
                                <h6 class="text-brown font-weight-bold">Mining Department</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="100px" class="font-weight-bolder">Classification</th>
                                                <th width="50px" class="font-weight-bolder">Total Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount(At the time of Payment) <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Paid by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Pay by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                <th width="50px" class="font-weight-bolder"></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="50px" class="font-weight-bolder">Paid Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="50px" class="font-weight-bolder">Payable Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model != null && Model.PaymentDetails != null && Model.PaymentDetails.Count > 0)
                                            {
                                                decimal A = 0;
                                                decimal B = 0;
                                                decimal C = 0;
                                                decimal D = 0;
                                                int count = 0;
                                                var pid = 0;
                                                var bulkid = 0;
                                                string order = null;
                                                int noncount = 0;
                                                int fcont = 0;

                                                for (int i = 0; i < Model.PaymentDetails.Count; i++)
                                                {
                                                    if (Model.PaymentDetails[i].PayDeptId == 1 && Model.PaymentDetails[i].ApplicableId == 1)
                                                    {
                                                        fcont += 1;
                                                        if (Model.PaymentDetails[i].OrderNStatus == 1)
                                                        {
                                                            noncount = noncount + 1;
                                                        }
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            count = count + 1;
                                                        }
                                                        order = Convert.ToString(Model.MiningOrder);
                                                        bulkid = Convert.ToInt32(Model.BulkPermitId);
                                                        pid = Convert.ToInt32(Model.PaymentDetails[i].PayDeptId);
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            A += Convert.ToDecimal(Model.PaymentDetails[i].TotalAmount);
                                                            B += Convert.ToDecimal(Model.PaymentDetails[i].AdjustmentAmount);
                                                            C += Convert.ToDecimal(Model.PaymentDetails[i].WalletAdjustedAmount);
                                                            D += Convert.ToDecimal(Model.PaymentDetails[i].MappingValue);
                                                        }
                                                        <tr>
                                                            <td>@Model.PaymentDetails[i].PaymentType</td>
                                                            <td>@Model.PaymentDetails[i].TotalAmount</td>
                                                            <td>@Model.PaymentDetails[i].AdjustmentAmount</td>
                                                            <td>@Model.PaymentDetails[i].WalletAdjustedAmount</td>
                                                            <td>=</td>
                                                            @if (Model.PaymentDetails[i].MakePayementId == 1)
                                                            {
                                                                <td>@Model.PaymentDetails[i].MappingValue</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="background-color:red">@Model.PaymentDetails[i].MappingValue (Not Applicable For Online Payment)</td>
                                                            }


                                                        </tr>
                                                    }

                                                }

                                                if (fcont == 0)
                                                {
                                                    <tr>
                                                        <td style="color:red;">No Record Available</td>
                                                    </tr>
                                                }
                                                else
                                                {

                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {
                                                            <td class="font-weight-bold">Total Paid Amount</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="font-weight-bold">Total Payable Amount</td>
                                                        }
                                                        <td>@A</td>

                                                        <td>@B</td>
                                                        <td>@C</td>
                                                        <td>=</td>
                                                        <td>@D</td>

                                                    </tr>
                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {

                                                            <td style="color: #329c46; text-align: center; font-size: 20px;" colspan="6">You Have Already Paid For the Mining Department</td>

                                                        }
                                                        else
                                                        {
                                                            <td colspan="6" style="text-align:right;">
                                                                <a href="/Permit/Lessee/MakeEndUserPayment?MiningPayment=@pid&Bulkid=@bulkid&Order=@order&Total=@D" title="Make Payment" class="btn btn-primary btn-md ">Make Payment</a>
                                                            </td>
                                                        }

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            if (ViewBag.CheckIncomeRecord != null)
                            {
                                <h6 class="text-brown font-weight-bold">Income Tax Department</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="100px" class="font-weight-bolder">Classification</th>
                                                <th width="50px" class="font-weight-bolder">Total Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount(At the time of Payment) <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Paid by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Pay by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                <th width="50px" class="font-weight-bolder"></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="50px" class="font-weight-bolder">Paid Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="50px" class="font-weight-bolder">Payable Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model != null && Model.PaymentDetails != null && Model.PaymentDetails.Count > 0)
                                            {
                                                decimal A = 0;
                                                decimal B = 0;
                                                decimal C = 0;
                                                decimal D = 0;
                                                var pid = 0;
                                                var bulkid = 0;
                                                string order = null;
                                                int count = 0;
                                                int noncount = 0;
                                                int fcont = 0;

                                                for (int i = 0; i < Model.PaymentDetails.Count; i++)
                                                {
                                                    if (Model.PaymentDetails[i].PayDeptId == 2 && Model.PaymentDetails[i].ApplicableId == 1)
                                                    {
                                                        fcont += 1;
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            count = count + 1;
                                                        }
                                                        if (Model.PaymentDetails[i].OrderNStatus == 1)
                                                        {
                                                            noncount = noncount + 1;
                                                        }
                                                        order = Convert.ToString(Model.IncomeTaxOrder);
                                                        bulkid = Convert.ToInt32(Model.BulkPermitId);
                                                        pid = Convert.ToInt32(Model.PaymentDetails[i].PayDeptId);
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            A += Convert.ToDecimal(Model.PaymentDetails[i].TotalAmount);
                                                            B += Convert.ToDecimal(Model.PaymentDetails[i].AdjustmentAmount);
                                                            C += Convert.ToDecimal(Model.PaymentDetails[i].WalletAdjustedAmount);
                                                            D += Convert.ToDecimal(Model.PaymentDetails[i].MappingValue);
                                                        }
                                                        <tr>
                                                            <td>@Model.PaymentDetails[i].PaymentType</td>
                                                            <td>@Model.PaymentDetails[i].TotalAmount</td>
                                                            <td>@Model.PaymentDetails[i].AdjustmentAmount</td>
                                                            <td>@Model.PaymentDetails[i].WalletAdjustedAmount</td>
                                                            <td>=</td>
                                                            @if (Model.PaymentDetails[i].MakePayementId == 1)
                                                            {
                                                                <td>@Model.PaymentDetails[i].MappingValue</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="background-color:red">@Model.PaymentDetails[i].MappingValue (Not Applicable For Online Payment)</td>
                                                            }

                                                        </tr>
                                                    }
                                                }

                                                if (fcont == 0)
                                                {
                                                    <tr>
                                                        <td style="color:red;">No Record Available</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {
                                                            <td class="font-weight-bold">Total Paid Amount</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="font-weight-bold">Total Payable Amount</td>
                                                        }
                                                        <td>@A</td>

                                                        <td>@B</td>
                                                        <td>@C</td>
                                                        <td>=</td>
                                                        <td>@D</td>

                                                    </tr>
                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {

                                                            <td style="color: #329c46; text-align: center; font-size: 20px;" colspan="6">You Have Already Paid For the Income Department</td>

                                                        }
                                                        else
                                                        {
                                                            <td colspan="6" style="text-align:right;">
                                                                <a href="/Permit/Lessee/MakeEndUserPayment?MiningPayment=@pid&Bulkid=@bulkid&Order=@order&Total=@D" title="Make Payment" class="btn btn-primary btn-md ">Make Payment</a>
                                                            </td>
                                                        }

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            if (ViewBag.CheckEVSRecord != null)
                            {
                                <h6 class="text-brown font-weight-bold">EVS Department</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="100px" class="font-weight-bolder">Classification</th>
                                                <th width="50px" class="font-weight-bolder">Total Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount(At the time of Payment) <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Total Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="100px" class="font-weight-bolder">Paid by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="100px" class="font-weight-bolder">Pay by Wallet Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>

                                                }
                                                <th width="50px" class="font-weight-bolder"></th>
                                                @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                {
                                                    <th width="50px" class="font-weight-bolder">Paid Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }
                                                else
                                                {
                                                    <th width="50px" class="font-weight-bolder">Payable Amount <small><i class="icon-rupee-sign-solid ml-1"></i></small></th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model != null && Model.PaymentDetails != null && Model.PaymentDetails.Count > 0)
                                            {
                                                decimal A = 0;
                                                decimal B = 0;
                                                decimal C = 0;
                                                decimal D = 0;
                                                var pid = 0;
                                                var bulkid = 0;
                                                string order = null;
                                                int count = 0;
                                                int noncount = 0;
                                                int fcont = 0;

                                                for (int i = 0; i < Model.PaymentDetails.Count; i++)
                                                {
                                                    if (Model.PaymentDetails[i].PayDeptId == 3 && Model.PaymentDetails[i].ApplicableId == 1)
                                                    {
                                                        fcont += 1;
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            count = count + 1;
                                                        }
                                                        if (Model.PaymentDetails[i].OrderNStatus == 1)
                                                        {
                                                            noncount = noncount + 1;
                                                        }
                                                        order = Convert.ToString(Model.EVSOrder);
                                                        bulkid = Convert.ToInt32(Model.BulkPermitId);
                                                        pid = Convert.ToInt32(Model.PaymentDetails[i].PayDeptId);
                                                        if (Model.PaymentDetails[i].MakePayementId == 1)
                                                        {
                                                            A += Convert.ToDecimal(Model.PaymentDetails[i].TotalAmount);
                                                            B += Convert.ToDecimal(Model.PaymentDetails[i].AdjustmentAmount);
                                                            C += Convert.ToDecimal(Model.PaymentDetails[i].WalletAdjustedAmount);
                                                            D += Convert.ToDecimal(Model.PaymentDetails[i].MappingValue);
                                                        }
                                                        <tr>
                                                            <td>@Model.PaymentDetails[i].PaymentType</td>
                                                            <td>@Model.PaymentDetails[i].TotalAmount</td>
                                                            <td>@Model.PaymentDetails[i].AdjustmentAmount</td>
                                                            <td>@Model.PaymentDetails[i].WalletAdjustedAmount</td>
                                                            <td>=</td>
                                                            @if (Model.PaymentDetails[i].MakePayementId == 1)
                                                            {
                                                                <td>@Model.PaymentDetails[i].MappingValue</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="background-color:red">@Model.PaymentDetails[i].MappingValue (Not Applicable For Online Payment)</td>
                                                            }

                                                        </tr>
                                                    }

                                                }

                                                if (fcont == 0)
                                                {
                                                    <tr>
                                                        <td style="color:red;">No Record Available</td>
                                                    </tr>
                                                }
                                                else
                                                {


                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {
                                                            <td class="font-weight-bold">Total Paid Amount</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="font-weight-bold">Total Payable Amount</td>
                                                        }
                                                        <td>@A</td>

                                                        <td>@B</td>
                                                        <td>@C</td>
                                                        <td>=</td>
                                                        <td>@D</td>

                                                    </tr>
                                                    <tr>
                                                        @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11 || count == noncount)
                                                        {

                                                            <td style="color: #329c46; text-align: center; font-size: 20px;" colspan="6">You Have Already Paid For the Envirnoment Department</td>

                                                        }
                                                        else
                                                        {
                                                            <td colspan="6" style="text-align:right;">
                                                                <a href="/Permit/Lessee/MakeEndUserPayment?MiningPayment=@pid&Bulkid=@bulkid&Order=@order&Total=@D" title="Make Payment" class="btn btn-primary btn-md ">Make Payment</a>
                                                            </td>
                                                        }

                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }

                            @*<div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>

                                            @if (Model != null && Model.PaymentDetails != null && Model.PaymentDetails.Count > 0)
                                            {
                                                var A = 0.0;
                                                var B = 0.0;
                                                var C = 0.0;
                                                var D = 0.0;
                                                var isOffline = false;
                                                for (int i = 0; i < Model.PaymentDetails.Count; i++)
                                                {
                                                    if (isOffline == false)
                                                    {

                                                        <h6 class="text-brown font-weight-bold">Shall be paid separately</h6>
                                                        isOffline = true;
                                                    }



                                                    if (Model.PaymentDetails[i].IsApplicable == false)
                                                    {
                                                        A += Convert.ToDouble(Model.PaymentDetails[i].TotalAmount);
                                                        B += Convert.ToDouble(Model.PaymentDetails[i].AdjustmentAmount);
                                                        if (Convert.ToDouble(Model.PaymentDetails[i].AdjustmentAmount) < Convert.ToDouble(Model.PaymentDetails[i].TotalAmount))
                                                        {
                                                            if (Model.PaymentDetails[i].IsWalletAdjusted == "1")
                                                            {
                                                                C += Convert.ToDouble(Model.PaymentDetails[i].MappingValue);
                                                                D += Convert.ToDouble(Model.PaymentDetails[i].AdjustmentAmount);
                                                            }
                                                            else
                                                            {
                                                                C += Convert.ToDouble(Model.PaymentDetails[i].MappingValue);
                                                            }

                                                        }
                                                        else
                                                        {
                                                            if (Model.PaymentDetails[i].IsWalletAdjusted == "1")
                                                            {

                                                                D += Convert.ToDouble(Model.PaymentDetails[i].TotalAmount);
                                                            }
                                                            C += Convert.ToDouble(Model.PaymentDetails[i].MappingValue);

                                                        }

                                                        <tr>

                                                            <td width="100px">@Model.PaymentDetails[i].PaymentType</td>

                                                            <td width="100px">@Model.PaymentDetails[i].TotalAmount</td>

                                                            <td width="100px">@Model.PaymentDetails[i].AdjustmentAmount</td>
                                                            <td width="100px">@Model.PaymentDetails[i].WalletAdjustedAmount</td>
                                                            <td width="50px">=</td>
                                                            <td width="100px">@Model.PaymentDetails[i].MappingValue</td>


                                                        </tr>
                                                    }



                                                }


                                                <tr>
                                                    @if (Model.ActiveStatus == 6 || Model.ActiveStatus == 7 || Model.ActiveStatus == 11)
                                                    {
                                                        <td width="100px">Total Paid Amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td width="100px">Total Payable Amount</td>
                                                    }

                                                    <td width="100px">@A</td>
                                                    <td width="100px">@B</td>

                                                    @if (B < A)
                                                    {
                                                        <td width="100px">@D</td>

                                                    }
                                                    else
                                                    {
                                                        if (Model.PaymentDetails[0].IsWalletAdjusted == "1")
                                                        {
                                                            <td width="100px">@D</td>

                                                        }
                                                        else
                                                        {
                                                            <td width="100px">0</td>

                                                        }
                                                    }
                                                    <td width="50px">=</td>

                                                    <td width="100px">@C</td>

                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>*@




                            <div class="row mt-3">
                                <div class="col-sm-12 text-center">
                                    <a class="btn btn-dark btn-md  " data-toggle="modal" data-target="#leaseinformation">Lease/License information</a>
                                    @if (ViewBag.payst != null)
                                    {
                                        <a class="btn btn-blue btn-md " href="@Url.Content("~/Permit/ePermit/GeneratePermit")">Genarate Permit</a>
                                    }
                                    @*<input type="submit" title="Make Payment" value="Make Payment" id="makePayment" class="btn btn-primary btn-md " />*@

                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<div class="modal fade" id="leaseinformation" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0">Lease/License information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Name of lessee/ licensee</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.LesseeName, new { @class = "form-control-plaintext" }))
                                        @Html.HiddenFor(model=>model.LesseeName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Address</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.LesseeAddress, new { @class = "form-control-plaintext", @rows = 2 }))
                                        @Html.HiddenFor(model => model.LesseeAddress)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Grant Order No.</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.GrantOrderNo, new {@class = "form-control-plaintext" }))
                                        @(Html.HiddenFor(model => model.GrantOrderNo))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Grant Order Date</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.DateOfGrant, new { @class = "form-control-plaintext" }))
                                        @Html.HiddenFor(model => model.DateOfGrant)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Period of Lease</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.PeriodOfLease, new { @class = "form-control-plaintext" }))
                                        @Html.HiddenFor(model => model.PeriodOfLease)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Mineral Name</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.MineralName, new { @class = "form-control-plaintext" }))
                                        @(Html.HiddenFor(model => model.MineralId))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Mineral Form</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.MineralNature, new { @class = "form-control-plaintext" }))
                                        @Html.HiddenFor(model => model.MineralNature)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Mineral Grade</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.MineralGradeName, new { @class = "form-control-plaintext" }))
                                        @(Html.HiddenFor(model => model.MineralGradeId))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">By End use plant inside the lease area</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        <label class="form-control-plaintext">0.000</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Quantity</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.ProposedQty, new { @class = "form-control-plaintext" }))
                                        @Html.HiddenFor(model => model.ProposedQty)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Unit</label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @(Html.DisplayFor(model => model.UnitName, new { @class = "form-control-plaintext" }))
                                        @(Html.HiddenFor(model => model.UnitId))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <label class="col-lg-5 col-md-12 col-form-label font-weight-bolder">Royalty Rate <small><i class="icon-rupee-sign-solid ml-1"></i></small></label>
                                    <div class="col-lg-7 col-md-12">
                                        <span class="colon">:</span>
                                        @if (Model != null && Model.PaymentDetails != null && Model.PaymentDetails.Count > 0)
                                        {
                                            for (int i = 0; i < Model.PaymentDetails.Count; i++)
                                            {
                                                if (Model.PaymentDetails[i].PaymentType.ToUpper().Contains("ROYALTY"))
                                                {
                                                    if (Model.PaymentDetails[i].CalType.ToUpper().Contains("%") == false)
                                                    {
                                                        <label class="form-control-plaintext" id="RoyaltyRate">@Model.PaymentDetails[i].CalValue @Model.PaymentDetails[i].CalType</label>

                                                        @* <input class="form-control" data-val="true" data-val-number="The field RoyaltyRate must be a number."
                        id="RoyaltyRate" name="RoyaltyRate" readonly="readonly" type="text" value="@Model.PaymentDetails[i].CalValue @Model.PaymentDetails[i].CalType ">*@
                                                    }
                                                    else
                                                    {
                                                        <label class="form-control-plaintext" id="RoyaltyRate">@Model.PaymentDetails[i].CalValue (@Model.PaymentDetails[i].RoyaltyRate @Model.PaymentDetails[i].CalType Of @Model.PaymentDetails[i].BasisRate)</label>
                                                        @* <input class="form-control" data-val="true" data-val-number="The field RoyaltyRate must be a number."
                        id="RoyaltyRate" name="RoyaltyRate" readonly="readonly" type="text" value="@Model.PaymentDetails[i].CalValue (@Model.PaymentDetails[i].RoyaltyRate @Model.PaymentDetails[i].CalType Of @Model.PaymentDetails[i].BasisRate)">*@
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @(Html.DisplayFor(model => model.RoyaltyRate, new { @class = "form-control-plaintext" }))
                                            @Html.HiddenFor(model => model.RoyaltyRate)
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'Permit', 'Check Out Payment', ' ');
        $('.datetime').datetimepicker({
            format: "DD/MM/YYYY"
        }).keydown(false);
    });
</script>
