@model MasterEF.UserInformationEF
@{
    ViewData["Title"] = "EnvironmentClearanceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Environment Clearnance
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                @{ string UserType = "Lessee";}
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0"> Environment Clearnance Details</h5>
                        @using (Html.BeginForm("EnvironmentClearanceDetails", "UserInformation", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">EC Approval Number <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.EC_ORDRER_NUMBER, new { @maxlength = "100", @class = "form-control" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">EC Approval Date<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.EC_APPLICATON_DATE, new { @class = "form-control datepicker", id = "dt_EC_APPLICATON_DATE" })
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="dt_EC_APPLICATON_DATE"><i class="far fa-calendar"></i></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label pt-0 font-weight-bolder">EC Valid Upto<span class="text-danger">*</span></label>
                                    <div class="custom-file">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.EC_VALID_TO, new { @class = "form-control datepicker", id = "dt_EC_APPLICATON_DATE" })
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputDate1"><i class="far fa-calendar"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label class="col-form-label font-weight-bolder">EC Approved Quantity <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.EC_APPROVED_CAPACITY, new { @type = "number", @class = "form-control", Value = String.Format("{0:0.##}", Model.EC_APPROVED_CAPACITY) })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label for="inputLoginId" class="col-form-label font-weight-bolder">EC Approval Letter<span class="text-danger">*</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="flApprovalLetter" name="flApprovalLetter">
                                        <label class="custom-file-label" for="customFile">Choose Files</label>
                                    </div>
                                    <a href="@Url.Action("Download", "UserInformation", new { fileName = Model.EC_CLEARANCE_PATH, Area = "Master" })" target="_blank">@((Model.FILE_EC_CLEARANCE != null) ? Model.FILE_EC_CLEARANCE : "")</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label for="inputLoginId" class="col-form-label font-weight-bolder">Remarks<span class="text-danger">*</span></label>
                                    @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @style = "Resize:none", @maxlength = "500" })
                                </div>
                            </div>


                            @if (@Model.STATUS != 5)
                            {
                                <div class="row" style="position: absolute; bottom: 20px; right: 30px;">

                                    <div class="col-md-12 col-sm-12">
                                        @if (UserType.ToUpper() == "LESSEE")
                                        {
                                            <input type="submit" value="Save & Update" class="btn btn-success btn-md ml-0 waves-effect waves-light">
                                            <input type="button" title="Forward to DD" value="Forward To DD" name="cmd" class="btn btn-warning text-dark btn-md waves-effect waves-light ml-0" onclick="return OnForwarding('Forward To DD');" />
                                        }
                                        <input type="button" value="Approve" class="btn btnsave DMO-Button" id="approve" name="approve" onclick="return OnForwarding('Approve');" style="display: none;">
                                        <input type="button" value="Reject" class="btn btnsave DMO-Button" id="reject" name="reject" onclick="return OnForwarding('Reject');" style="display: none;">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<uc1:footer runat="server" ID="footer" />
<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="../js/moment.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>

<script>
    indicateMe = "yes"
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('EnvironmentClearanceDetails', 'glRoleRes', 'pllesseprof', 'tl', 'Roles and Responsibity', 'Lessee Profile', ' ');
    });
</script>

<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',

        });
    });
</script>
<script type="text/javascript">
    $("input[name='lesseeProfile']").css('pointer-events', 'none')
    //Profile Percentage
    var gauge1 = loadLiquidFillGauge("fillgauge1", new Number(@ViewBag.completionCount));
    var config1 = liquidFillGaugeDefaultSettings();

    function uploadFile(e) {
        e.data = { DynamicFilePath: "Licensee\\ENVIRONALMENTAL_CLEARANCE" };
    }

    function removeFile(e) {
        e.data = { DynamicFilePath: "\\Licensee\\ENVIRONALMENTAL_CLEARANCE" };
    }
    //Slide js
    $(document).on('ready', function () {
        var leftpart = $('#left-part-Lessee').height($('#right-part-Lessee').height()).height();
        var sliderHeight = $('#slider-height-page').height();
        $('.panel').height(leftpart - sliderHeight - 16);
        $(".regular").slick({
            dots: true,
            infinite: true,
            /*autoplay: true,
            autoplaySpeed: 2000,*/
            slidesToShow: 5,
            slidesToScroll: 1
        });

        $(".slick-next").css('display', 'block');
        $(".slick-next").css('right', '0px');
        $('.slick-prev').css('display', 'block');
        $(".slick-prev").css('left', '0px');
        $(".slick-prev").css('width', '44px');
        $(".slick-next").css('width', '58px');
        $(".slick-next").css('padding-left', '36px');

        $("#reject").click(function () {
            $("#Remarks").prop('required', true);
        });
        $("#approve").click(function () {
            $('#Remarks').prop('required', false);
        });
    });
    //MEssage
    @if (TempData["Message"] != null)
    {
        <Text>
    alert('@TempData["Message"]')
    </Text>
    }

      @if (Model.VALID_TO_INTIMATION == "Validity Expired")
      {
         <Text>
    $("#EC_VALID_TO").addClass('TodateExpiry')
    $("#EC_VALID_TO").prop('title', '@Model.VALID_TO_INTIMATION')
         </Text>
      }

      else if ((Model.VALID_TO_INTIMATION == "Done"))
      {
          <Text>
    $("#EC_VALID_TO").removeClass('TodateExpiry')
    $("#EC_VALID_TO").removeClass('TodateIntimation')
         </Text>

      }
      else
      {
        <Text>
    $("#EC_VALID_TO").addClass('TodateIntimation')
    $("#EC_VALID_TO").prop('title', '@Model.VALID_TO_INTIMATION')
    </Text>
      }

    @if (UserType != "District User")
    {
        //For Disabling all DOM if  is  Forwarded to DD/DMO and Approval is Pending
        if (Model.STATUS == 1)
        {
             <Text>

    $('.pointer').css("pointer-events", "none");
    $('.btnsave').hide();
    </Text>
        }
        else if (Model.STATUS == 2)
        {

        }
          <Text>   $('#Remarks').attr('readonly', 'readonly');   </Text>
    }
    else  // While Approving or Rejectiong By DG/DMO
    {
                       <Text>
    $("#Remarks").removeAttr("readonly");
    $('.slider').css("pointer-events", "none");
    </Text>
        if (Model.STATUS == 1)
        {

        <Text>
    $('.btnsave').hide();
    $('.DMO-Button').show();
    $('.pointer').css("pointer-events", "none");
    </Text>
        }
        else
        {
         <Text>$('.pointer').css("pointer-events", "none");
    $('.btnsave').hide();
    $('.DMO-Button').hide();   </Text>
        }
    }

    $(function () {
        return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
    });


</script>
<script>

    //create By Kavita
    function OnForwarding(btnAction) {
        //var checkdata = checkFields();
        //if (checkdata == 1) {

        var Type;
        if (btnAction == 'Forward To DD') {
            Type = 'forward';
        }
        else if (btnAction == 'Approve') {
            Type = 'Approve';
            $("#Remarks").prop('required', false);
        }
        if (btnAction == 'Reject') {
            Type = 'Reject';
            $("#Remarks").prop('required', true);

            if ($("#Remarks").val() == "") {
                $("#Remarks").focus();
                alert('Remarks is required!')
                return;
            }
        }

        if (confirm("Before " + Type + " you need to apply your Digital Signature. Are you confirmed to " + Type + " Profile??")) {

            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
            };

            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {
                    //debugger;
                    //alert(e.data);
                    $("#DSCResponse").val(e.data).change();
                    $.ajax(
                    {

                        url: '@Url.Action("CheckVerifyResponse", "ForwardingNote", new { Area = "Transit" })',
                        type: "POST",
                        data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                        success: function (msg) {
                            if (msg == "SUCCESS") {
                                //  debugger;

                                if (btnAction == "Forward To DD") {
                                    $("#SubResion").val("Forward To DD");
                                }
                                else if (btnAction == "Approve") {
                                    $("#SubApprove").val("Approve");
                                }
                                else if (btnAction == "Reject") {
                                    $("#SubReject").val("Reject");
                                }
                                $("#frmEnvironment").submit();
                            }
                        }
                    });



                }
                else {
                    alert(e.data);
                }


            };
        }
        else {
            return false;
        }

        //}
        //else {
        //    return false;
        //}
    }


</script>
