@model MasterEF.UserInformationEF
@{
    ViewData["Title"] = "LeaseInformationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

</script>
<section class="wrapper main-wrapper row">
    @{string UserType = "LESSEE";}
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Lesse Information Details
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("LeaseInformationDetails", "UserInformation", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @(Html.HiddenFor(model => model.DSCResponse))
                            @(Html.HiddenFor(model => model.SubResion))
                            @(Html.HiddenFor(model => model.SubApprove))
                            @(Html.HiddenFor(model => model.SubReject))

                            @Html.HiddenFor(x => x.CREATED_BY)
                            <ul class="nav nav-tabs progressbar border-0" id="myTab" role="tablist">
                                <li class="startstep activestep1">
                                    <a class="active" id="Lease-tab" data-toggle="tab" href="#Lease" role="tab" aria-controls="Lease" aria-selected="true">Lease Location</a>
                                </li>
                                <li>
                                    <a id="Area-tab" data-toggle="tab" href="#Area" role="tab" aria-controls="Area" aria-selected="false">Area in Hectare</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Lease" role="tabpanel" aria-labelledby="Lease-tab">
                                    <h5 class="text-brown font-weight-bold">Lease Location</h5>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">State<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(model => model.STATE_ID, ViewBag.ViewStateList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus", required = "required" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">District<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(model => model.DISTRICT_ID, ViewBag.ViewDistrictList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Tehsil/Forest Division<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(model => model.TEHSIL_FOREST_DIVISION, ViewBag.ViewTehsilList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus" })
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Village/Forest Range <span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(model => model.VILLAGE_ID, ViewBag.ViewVillageList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Block Forest Range <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.BLOCK_FOREST_RANGE, new { @class = "form-control" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Pin Code<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.PIN_CODE, new { @maxlength = "6", @class = "form-control" })
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Police Station<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.POLICE_STATION, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Gram Panchayat<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.GRAM_PANCHAYAT, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Forest<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Forest, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Revenue Forest<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Revenue_Forest, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Revenue Government Land<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Revenue_Government_Land, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Private Tribal<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Private_Tribal, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Private Non Tribal<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Private_Non_Tribal, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Nistar<span class="text-danger">*</span></label>
                                            @(Html.TextBoxFor(model => model.Nistar, new { @type = "number", @class = "form-control", min = "0" }))
                                        </div>

                                    </div>
                                    @*<div class="row mt-3">
                                            <div class="col-sm-12 text-center">
                                                <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                                <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                            </div>
                                        </div>*@

                                </div>
                                <div class="tab-pane fade" id="Area" role="tabpanel" aria-labelledby="Area-tab">
                                    @*<h5 class="text-brown font-weight-bold">Area in Hectare</h5>*@
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Area in Hectare<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.AREA_IN_HECT, new { @maxlength = "20", @class = "form-control" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Toposheet Number<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.TOPOSHEET_NO, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Coordinates<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(x => x.COORDINATES, new { @maxlength = "20", @class = "form-control" })
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Demarcation/DGPS/GPS/Total Station Survey Report/Coordinates <span class="text-danger">*</span></label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="flCoordinates" name="flCoordinates">
                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                            </div>
                                            <a href="@Url.Action("Download", "Application", new { name = Model.DEMARCATION_REPORT_DGPS_GPS_TOTAL_STATION_SURVEY_REPORT_COORDINATES_FILE_NAME, path = Model.DEMARCATION_REPORT_DGPS_GPS_TOTAL_STATION_SURVEY_REPORT_COORDINATES_FILE_PATH })" target="_blank" class="file-download-licensee">@((Model.DEMARCATION_REPORT_DGPS_GPS_TOTAL_STATION_SURVEY_REPORT_COORDINATES_FILE_NAME != null) ? Model.DEMARCATION_REPORT_DGPS_GPS_TOTAL_STATION_SURVEY_REPORT_COORDINATES_FILE_NAME : "")</a>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Date Of Working Permission <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.WORKING_PERMISSION_DATE, new { @class = "form-control datepicker", id = "dt_WB_WORKING_PERMISSION_DATE" })
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="dt_WB_WORKING_PERMISSION_DATE"><i class="far fa-calendar"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Date of Agreement<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.DATE_OF_EXECUTION, new { @class = "form-control datepicker", id = "dt_DATE_OF_EXECUTION" })
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="dt_DATE_OF_EXECUTION"><i class="far fa-calendar"></i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label class="col-form-label font-weight-bolder">Copy of working permission<span class="text-danger">*</span></label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="flPermission" name="flPermission">
                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                            </div>
                                            <a href="@Url.Action("Download", "Application", new { name = Model.WORKING_PERMISSION_COPY_NAME, path = Model.WORKING_PERMISSION_COPY_PATH })" target="_blank" class="file-download-licensee">@((Model.WORKING_PERMISSION_COPY_NAME != null) ? Model.WORKING_PERMISSION_COPY_NAME : "")</a>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Remark<span class="text-danger">*</span></label>
                                            @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @style = "Resize:none", @maxlength = "500" })
                                        </div>
                                    </div>
                                    
                                            @if (@Model.STATUS != 5)
                                            {
                                                <div class="row mt-3" style="position: absolute; top: 380px; right: 30px;">
                                                    <div class="col-sm-12 text-center">

                                                        @if (UserType.ToUpper() == "LESSEE")
                                                        {
                                                            <input type="submit" value="Save & Update" class="btn btn-success btn-md ml-0 waves-effect waves-light ">

                                                            <input type="button" title="Forward to DD" value="Forward To DD" name="cmd" class="btn btn-warning text-dark btn-md waves-effect waves-light" onclick="return OnForwarding('Forward To DD');" />
                                                        }
                                                        <input type="button" value="Approve" class="btn btnsave DMO-Button" id="approve" name="approve" onclick="return OnForwarding('Approve');" style="display: none;">
                                                        <input type="button" value="Reject" class="btn btnsave DMO-Button" id="reject" name="reject" onclick="return OnForwarding('Reject');" style="display: none;">
                                                    </div>
                                                </div>
                                            }
                                       
                                </div>
                            </div>

                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<uc1:footer runat="server" ID="footer" />
<script src="../js/moment.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>

<script>
    indicateMe = "yes"
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('LeaseInformationDetails', 'glRoleRes', 'pllesseprof', 'tl', 'Roles and Responsibity', 'Lessee Profile', ' ');
    });
</script>

<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',

        });
    });
</script>
<script type="text/javascript">

    $("input[name='lesseeProfile']").css('pointer-events', 'none')
    //Profile Percentage
    var gauge1 = loadLiquidFillGauge("fillgauge1", new Number(@ViewBag.completionCount));
    var config1 = liquidFillGaugeDefaultSettings();

    $('#PIN_CODE').keypress(function (e) {
        if (isNaN(this.value + String.fromCharCode(event.keyCode))) return false;
    });



    $("#reject").click(function () {

        $("#Remarks").prop('required', true);
    });
    $("#approve").click(function () {
        $('#Remarks').prop('required', false);
    });
    //var lheight = $("#left-detail-pan").css("height");
    //$("#left-pan").css("height", lheight + 08);

    //MEssage
    @if (TempData["Message"] != null)
    {
        <Text>
    alert('@TempData["Message"]')
    </Text>
    }

    @if (UserType != "District User")
    {
        //For Disabling all DOM if  is  Forwarded to DD/DMO and Approval is Pending
        if (Model.STATUS == 1)
        {
             <Text>

    $('.pointer').css("pointer-events", "none");
    $('.btnsave').hide();
    </Text>
        }
        else if (Model.STATUS == 2)
        {

        }
          <Text>   $('#Remarks').attr('readonly', 'readonly');   </Text>
    }
    else  // While Approving or Rejectiong By DG/DMO
    {
                       <Text>
    $("#Remarks").removeAttr("readonly");
    $('.slider').css("pointer-events", "none");
    </Text>
        if (Model.STATUS == 1)
        {

        <Text>
    $('.btnsave').hide();
    $('.DMO-Button').show();
    $('.pointer').css("pointer-events", "none");
    </Text>
        }
        else
        {
         <Text>$('.pointer').css("pointer-events", "none");
    $('.btnsave').hide();
    $('.DMO-Button').hide();   </Text>
        }
    }

    $(function () {
        return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
    });


    function getStateId() {
        return {
            stateId: $("#STATE_ID").val()
        };
    }
    function getDistrictId() {
        return {
            districtId: $("#DISTRICT_ID").val()
        };
    }
    function getTehsil() {
        return {
            tehsilId: $("#TEHSIL_FOREST_DIVISION").val()
        };
    }
</script>

<script>

    //create By Kavita
    function OnForwarding(btnAction) {
        //var checkdata = checkFields();
        //if (checkdata == 1) {

        var Type;
        if (btnAction == 'Forward To DD') {
            Type = 'forward';
        }
        else if (btnAction == 'Approve') {
            Type = 'Approve';
            $("#Remarks").prop('required', false);
        }
        if (btnAction == 'Reject') {
            Type = 'Reject';
            $("#Remarks").prop('required', true);

            if ($("#Remarks").val() == "") {
                $("#Remarks").focus();
                alert('Remarks is required!')
                return;
            }
        }

        if (confirm("Before " + Type + " you need to apply your Digital Signature. Are you confirmed to " + Type + " Profile??")) {

            var Postdata = 'action=signdoc' + "\n" + 'datatosign=Digital Signature Required' + "\n" + 'signaction=sign' + "\n" + 'filepath=' + "\n" + 'panNumberParam=' + "\n" + 'expirycheck=false' + "\n" + 'issuername=' + "\n" + 'certclass=1|2|3' + "\n" + 'certtype=ALL';
            connection.send(Postdata);

            connection.onerror = function (error) {
                alert('Please check the server connection: ' + error);
                alert(error);
            };

            connection.onmessage = function (e) { // when DSC is success then following function executed.
                if (e.data.indexOf("subProtocol") == -1) {
                    //debugger;
                    //alert(e.data);
                    $("#DSCResponse").val(e.data).change();
                    $.ajax(
                    {

                        url: '@Url.Action("CheckVerifyResponse", "ForwardingNote", new { Area = "Transit" })',
                        type: "POST",
                        data: { contentType: "pkcs7", signDataBase64Encoded: e.data, responseType: "plain" },
                        success: function (msg) {
                            if (msg == "SUCCESS") {
                                //  debugger;

                                if (btnAction == "Forward To DD") {
                                    $("#SubResion").val("Forward To DD");
                                }
                                else if (btnAction == "Approve") {
                                    $("#SubApprove").val("Approve");
                                }
                                else if (btnAction == "Reject") {
                                    $("#SubReject").val("Reject");
                                }
                                $("#frmLicenseArea").submit();
                            }
                        }
                    });



                }
                else {
                    alert(e.data);
                }


            };
        }
        else {
            return false;
        }

        //}
        //else {
        //    return false;
        //}
    }

</script>
<script>
    $(document).ready(function () {

        $("#STATE_ID").change(function () {
            var StateId = $('#STATE_ID').val();
            if (StateId == "") {
                StateId = 0;
            }

            $('#DISTRICT_ID').empty();
            $('#TEHSIL_FOREST_DIVISION').empty();
            $('#VILLAGE_ID').empty();
            var v = "";
            if (StateId != 0) {

                $.ajax({
                    type: "POST",
                    url: "/master/UserInformation/FillDistrict",
                    data: { 'StateID': StateId },
                    cache: false,
                    //contentType: "application/json",
                    datatype: "JSON",
                    success: function (SList) {
                        console.log(SList);
                        $.each(SList, function (i, item) {

                            var opt = new Option(item.districtName, item.districT_ID);
                            $('#DISTRICT_ID').append(opt);


                        });

                    }
                });
            }
            else {
                alert('Select State');
            }

        });
        $("#DISTRICT_ID").change(function () {
            var DistId = $('#DISTRICT_ID').val();
            var StateId = $('#STATE_ID').val();
            if (DistId == "") {
                DistId = 0;
            }


            $('#TEHSIL_FOREST_DIVISION').empty();
            $('#VILLAGE_ID').empty();
            var v = "";
            if (DistId != 0) {

                $.ajax({
                    type: "POST",
                    url: "/master/UserInformation/FillTehsil",
                    data: { 'DistId': DistId, 'StateId': StateId },
                    cache: false,
                    //contentType: "application/json",
                    datatype: "JSON",
                    success: function (SList) {
                        console.log(SList);
                        $.each(SList, function (i, item) {

                            var opt = new Option(item.tehsilName, item.tehsiL_FOREST_DIVISION);
                            $('#TEHSIL_FOREST_DIVISION').append(opt);


                        });

                    }
                });
            }
            else {
                alert('Select State');
            }

        });
        $("#TEHSIL_FOREST_DIVISION").change(function () {
            var DistId = $('#DISTRICT_ID').val();
            var StateId = $('#STATE_ID').val();
            var TehsilId = $('#TEHSIL_FOREST_DIVISION').val();
            if (TehsilId == "") {
                TehsilId = 0;
            }



            $('#VILLAGE_ID').empty();
            var v = "";
            if (TehsilId != 0) {

                $.ajax({
                    type: "POST",
                    url: "/master/UserInformation/FillVillage",
                    data: { 'DistId': DistId, 'StateId': StateId, 'TehsilId': TehsilId },
                    cache: false,
                    //contentType: "application/json",
                    datatype: "JSON",
                    success: function (SList) {
                        console.log(SList);
                        $.each(SList, function (i, item) {

                            var opt = new Option(item.villageName, item.villagE_ID);
                            $('#VILLAGE_ID').append(opt);


                        });

                    }
                });
            }
            else {
                alert('Select State');
            }

        });
    });
</script>
