
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'CMS', 'Primary Link', ' ');
        BindGlobalLink();      
    });
    $(document).on("click",".spanMenu", function (e) {
        $(this).parent('div').parent('li').remove();
    });
    /* To Bind Plugin Type Details */
    function BindGlobalLink() {
        debugger;
        $.ajax({
            url: '/Website/PrimaryLink/GetGlobalLinkList',
            dataType: 'json',
            type: 'post',
            success: function (data) {
                $('#GlobalLinks').html('');
                $('#GlobalLinks').append("<option value=''>Select</option>");
                $.each(data, function (ind, item) {
                    $('#GlobalLinks').append("<option value='" + item.inT_PAGE_ID + "'>" + item.vcH_PAGE_NAME + "</option>");
                });
                /*inT_PAGE_ID*/
            },
            error: function (err) {

            }
        });
    }
    function addToList() {
        debugger;
        if (!DropDownValidation("GlobalLinks", "Global Link")) {
            return false;
        }
        var ck_box = $('input[type="checkbox"]:checked').length;
        if (ck_box == 0) {
            swal("", "Please select Page to add !", "warning");
            return false;
        }

        if ($("#GlobalLinks :selected").text() == "About Us") {

            var valuesToSend = new Array(); var valuesToSend1 = new Array();
            var idsToSend = new Array(); var idsToSend1 = new Array();
            $('div [type="checkbox"]').each(function () {
                debugger;
                if ($(this).is(':checked')) {
                    debugger;
                    var Id = $(this).val();
                    var Value = $(this).next('label').text();
                    valuesToSend.push(Value);
                    idsToSend.push(Id);
                }
            });
            $(".ulTopmenu li").each(function (idx, li) {
                debugger;
                var product = $(li).text();
                var Id = $(this).val();
                valuesToSend1.push(product);
                idsToSend1.push(Id);
            });
            var Topmenuvalue = []; var Topmenuid = [];
            for (var i = 0; i < valuesToSend.length; i++) {
                var found = false;
                for (var j = 0; j < valuesToSend1.length; j++) {
                    if (valuesToSend[i] == valuesToSend1[j]) {
                        found = true;
                        swal("", "Page already exist !", "warning");
                    }
                }
                if (!found) {
                    Topmenuvalue.push(valuesToSend[i]);
                }
            }
            for (var i = 0; i < idsToSend.length; i++) {
                var found = false;
                for (var j = 0; j < idsToSend1.length; j++) {
                    if (idsToSend[i] == idsToSend1[j]) {
                        found = true;
                    }
                }
                if (!found) {
                    Topmenuid.push(idsToSend[i]);
                }
            }
            $.ajax({
                url: '/Website/PrimaryLink/Addmenulist',
                dataType: 'json',
                type: 'post',
                data: {
                    Page: JSON.stringify(Topmenuvalue),
                    Id: JSON.stringify(Topmenuid)
                },
                success: function (data) {
                    $(".ulTopmenu").append(data);
                },
                error: function (err) {
                }
            });
        }
        if ($("#GlobalLinks :selected").text() == "Registrations") {
            var valuesToSend = new Array(); var valuesToSend1 = new Array();
            var idsToSend = new Array(); var idsToSend1 = new Array();
            $('div [type="checkbox"]').each(function () {
                debugger;
                if ($(this).is(':checked')) {
                    debugger;
                    var Id = $(this).val();
                    var Value = $(this).next('label').text();
                    valuesToSend.push(Value);
                    idsToSend.push(Id);
                }
            });
            $(".ulMainmenu li").each(function (idx, li) {
                debugger;
                var product = $(li).text();
                var Id = $(this).val();
                valuesToSend1.push(product);
                idsToSend1.push(Id);
            });
            var Mainmenuvalue = []; var Mainmenuid = [];
            for (var i = 0; i < valuesToSend.length; i++) {
                var found = false;
                for (var j = 0; j < valuesToSend1.length; j++) {
                    if (valuesToSend[i] == valuesToSend1[j]) {
                        found = true;
                        swal("", "Page already exist !", "warning");
                    }
                }
                if (!found) {
                    Mainmenuvalue.push(valuesToSend[i]);
                }
            }
            for (var i = 0; i < idsToSend.length; i++) {
                var found = false;
                for (var j = 0; j < idsToSend1.length; j++) {
                    if (idsToSend[i] == idsToSend1[j]) {
                        found = true;
                    }
                }
                if (!found) {
                    Mainmenuid.push(idsToSend[i]);
                }
            }
            $.ajax({
                url: '/Website/PrimaryLink/Addmenulist',
                dataType: 'json',
                type: 'post',
                data: {
                    Page: JSON.stringify(Mainmenuvalue),
                    Id: JSON.stringify(Mainmenuid)
                },
                success: function (data) {
                    $(".ulMainmenu").append(data);
                },
                error: function (err) {
                }
            });
        }
        if ($("#GlobalLinks").val() == "Footer Menu") {
            var valuesToSend = new Array(); var valuesToSend1 = new Array();
            var idsToSend = new Array(); var idsToSend1 = new Array();
            $('div [type="checkbox"]').each(function () {
                debugger;
                if ($(this).is(':checked')) {
                    debugger;
                    var Id = $(this).val();
                    var Value = $(this).next('label').text();
                    valuesToSend.push(Value);
                    idsToSend.push(Id);
                }
            });
            $(".ulFootermenu li").each(function (idx, li) {
                debugger;
                var product = $(li).text();
                var Id = $(this).val();
                valuesToSend1.push(product);
                idsToSend1.push(Id);
            });
            var Footermenuvalue = []; var Footermenuid = [];
            for (var i = 0; i < valuesToSend.length; i++) {
                var found = false;
                for (var j = 0; j < valuesToSend1.length; j++) {
                    if (valuesToSend[i] == valuesToSend1[j]) {
                        found = true;
                        swal("", "Page already exist !", "warning");
                    }
                }
                if (!found) {
                    Footermenuvalue.push(valuesToSend[i]);
                }
            }
            for (var i = 0; i < idsToSend.length; i++) {
                var found = false;
                for (var j = 0; j < idsToSend1.length; j++) {
                    if (idsToSend[i] == idsToSend1[j]) {
                        found = true;
                    }
                }
                if (!found) {
                    Footermenuid.push(idsToSend[i]);
                }
            }
            $.ajax({
                url: '/Website/PrimaryLink/Addmenulist',
                dataType: 'json',
                type: 'post',
                data: {
                    Page: JSON.stringify(Footermenuvalue),
                    Id: JSON.stringify(Footermenuid)
                },
                success: function (data) {
                    $(".ulFootermenu").append(data);
                },
                error: function (err) {
                }
            });
        }
        $('div [type="checkbox"]').each(function () {
            this.checked = false;
        });
    }
    function publish() {
        var TopmenuidsToSend = new Array(); var MainmenuidsToSend = new Array(); var FootermenuidsToSend = new Array();
        $(".ulTopmenu li").each(function (idx, li) {
            debugger;
            TopmenuidsToSend.push($(li).val());
        });
        $(".ulMainmenu li").each(function (idx, li) {
            debugger;
            MainmenuidsToSend.push($(li).val());
        });
        $(".ulFootermenu li").each(function (idx, li) {
            debugger;
            FootermenuidsToSend.push($(li).val());
        });
        //alert(TopmenuidsToSend); alert(MainmenuidsToSend); alert(FootermenuidsToSend);
        if (TopmenuidsToSend.length <= 0 && MainmenuidsToSend.length <= 0 && FootermenuidsToSend.length <= 0) {
            swal("", "Please select Page to Publish !", "warning");
            return false;
        }
        else {
            if (confirm("Are you sure to Publish?")) {
                $.ajax({
                    url: '/Website/PrimaryLink/Publish',
                    dataType: 'json',
                    type: 'post',
                    data: {
                        Topmenu: JSON.stringify(TopmenuidsToSend),
                        Mainmenu: JSON.stringify(MainmenuidsToSend),
                        Footermenu: JSON.stringify(FootermenuidsToSend)
                    },
                    success: function (data) {
                        if (data == 1) {
                            swal("", "Published Sucessfully!!", "success");
                        }
                        else {
                            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                        }
                        window.location.href = '@Url.Action("Add", "PrimaryLink", new { Area = "Website" })';
                    },
                    error: function (err) {
                    }
                });
            }
        }
    }
</script>
<style>
    .card .card-body {
        overflow-y: scroll;
        height: 300px;
    }

    .dragging-menu {
        padding-left: 0px;
    }

        .dragging-menu li div {
            display: flex;
            justify-content: space-between;
            background-color: rgb(241 241 241);
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 5px;
            align-items: center;
            margin-bottom: .8rem;
        }

            .dragging-menu li div span.icon-times-solid {
                cursor: pointer;
            }
</style>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add Primary Link
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card">
                                    <h5 class="card-header">Pages</h5>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-5 col-form-label">Global Link</label>
                                            <div class="col-sm-7">

                                                <select id="GlobalLinks" name="GLOBAL_LINK_ID" class="form-control searchableselect" autofocus="autofocus">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        @Html.Raw((String)ViewData["Pagetable"])
                                        <input type="submit" value="Add Menu" class="btn btn-dark btn-sm mt-3" id="btnAdd" onclick="return addToList();">


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card">
                                    <h5 class="card-header">About Us</h5>
                                    <div class="card-body">
                                        <ul class='dragging-menu ulTopmenu'>
                                            @Html.Raw((String)ViewData["Aboutus"])
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card">
                                    <h5 class="card-header">Registration &amp; Application</h5>
                                    <div class="card-body">
                                        <ul class='dragging-menu ulMainmenu'>
                                            @Html.Raw((String)ViewData["Registrations"])
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <h5 class="card-header">Statistical Report</h5>
                                    <div class="card-body">
                                        <ul class='dragging-menu ulMainmenu'>
                                            @Html.Raw((String)ViewData["StatisticalReport"])
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 text-center">
                            <input type="submit" value="Publish" class="btn btn-success btn-md btnsave" onclick="publish();">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    var remove = document.querySelector('.draggable');

    function dragStart(e) {
        this.style.opacity = '0.4';
        dragSrcEl = this;
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
    };

    function dragEnter(e) {
        this.classList.add('over');
    }

    function dragLeave(e) {
        e.stopPropagation();
        this.classList.remove('over');
    }

    function dragOver(e) {
        e.preventDefault();
        e.dataTransfer.dropEffect = 'move';
        return false;
    }

    function dragDrop(e) {
        if (dragSrcEl != this) {
            dragSrcEl.innerHTML = this.innerHTML;
            this.innerHTML = e.dataTransfer.getData('text/html');
        }
        return false;
    }

    function dragEnd(e) {
        var listItens = document.querySelectorAll('.draggable');
        [].forEach.call(listItens, function (item) {
            item.classList.remove('over');
        });
        this.style.opacity = '1';
    }

    function addEventsDragAndDrop(el) {
        el.addEventListener('dragstart', dragStart, false);
        el.addEventListener('dragenter', dragEnter, false);
        el.addEventListener('dragover', dragOver, false);
        el.addEventListener('dragleave', dragLeave, false);
        el.addEventListener('drop', dragDrop, false);
        el.addEventListener('dragend', dragEnd, false);
    }

    var listItens = document.querySelectorAll('.draggable');
    [].forEach.call(listItens, function (item) {
        addEventsDragAndDrop(item);
    });

    function addNewItem() {
        var newItem = document.querySelector('.input').value;
        if (newItem != '') {
            document.querySelector('.input').value = '';
            var li = document.createElement('li');
            var attr = document.createAttribute('draggable');
            var ul = document.querySelector('ul');
            li.className = 'draggable';
            attr.value = 'true';
            li.setAttributeNode(attr);
            li.appendChild(document.createTextNode(newItem));
            ul.appendChild(li);
            addEventsDragAndDrop(li);
        }
    }
</script>



