@{
    ViewData["Title"] = "MergeEPermit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script src=" https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<section class="wrapper main-wrapper row">
    <div class="col-12" id="mainDiv">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                E Permit
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <ol>
                    <li>
                        <a href="@Url.Content("~/Permit/CoalEPermit/CoalEPermit")">Apply for new e-permit</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Permit/epermit/list")">
                            Apply e-permit with balanced quantity
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Permit/CoalEPermit/CoalSavedEPermit")">Saved application</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Permit/CoalEPermit/ePayment?id=GeneratePermit")">Generate e-permit</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Permit/CoalEPermit/ePayment?id=GeneratedPermit")">Generated e-permit</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Permit/CoalEPermit/ePayment?id=ArchivePermit")">Archive e-permit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('balancequantitye-permit', 'glepermit', 'Epermit', 'tl', 'E-Permit', 'Apply e-permit', ' ');
        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();


        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });


</script>
<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',

        });
    });
</script>