@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View Generated Field Program Order Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 17 Feb 2021
    // ********************************************************************************************************
*@
@model GeologyEF.FPOOrdermaster
@using GeologyApp.Web
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["msg"] != null)
{
    <script>
        swal("",'@TempData["msg"]',"success");
    </script>
}
@if (ViewBag.msg != null)
{
    <script>
            swal("", '@ViewBag.msg', "success");
    </script>
}
<script>
    $(document).ready(function () {
        loadNavigation('ViewGeneratedFPO', 'glTMng', 'plFPOOrder', 'tl', 'Geology', 'Generated Field Program Order', '');
        $('.searchableselect').searchableselect();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.filter-dropdown').hide();
        $('.filter-lnk').click(function () {
            $(this).toggleClass('active');
            $(this).siblings('.filter-dropdown').slideToggle();
        });
        $('.filter-btn').click(function () {
            $(this).parent('.shorting-cell .filter-dropdown').slideUp();
            if ($(this).parent().parent('.shorting-cell').find('.filter-lnk').hasClass('active')) {
                $(this).parent().siblings('.filter-lnk').removeClass('active');
            }
        });
        $("#excelIcon").click(function () {
            exportTableToExcel("datatable", "text")
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                    @Html.AntiForgeryToken()
                </div>
                <!-- MAIN CONTENT AREA STARTS -->
                <section class="box form-container">
                    <div class="content-body">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                FPO Code
                                            </th>
                                            <th>
                                                FPO Name
                                            </th>
                                            <th>
                                                Date of Submission
                                            </th>
                                            <th>
                                                Field Season
                                            </th>
                                            <th class="text-center noprint">
                                                Attachment
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th class="text-center noprint">Other Info</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var b in ViewBag.ViewList)
                                            {
                                                var dyclass = b.STATUS == "Active" ? "active-row" : "inactive-row";
                                                <tr class="@dyclass">
                                                    <td>@b.FPO_Code </td>
                                                    <td>@b.FPO_Name </td>
                                                    <td>@b.DateOfIssuance </td>
                                                    <td>@b.ExplorationSeason </td>
                                                    <td class="text-center noprint">
                                                        @*<a href="~/Geology/GeneratedFPO/DowuloadFPO?filename=@b.FPO_File" height='30' width='30' target="_blank" title="Download Attachment">
                                                                <i class="icon-download-solid" aria-hidden="true">
                                                                </i>
                                                            </a>*@
                                                        <a href="@CustomQueryStringHelper.EncryptString("Geology","DowuloadFPO","GeneratedFPO",new {filename=@b.FPO_File })" height='30' width='30' target="_blank" title="Download Attachment">
                                                            <i class="icon-download-solid h4 text-danger" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    </td>
                                                    @if (b.STATUS == "Active")
                                                    {
                                                        <td class="text-success">@b.STATUS</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-warning">@b.STATUS</td>
                                                    }
                                                    <td class="text-center noprint">
                                                        <a href='~/@b.FPO_Path' height='30' width='30' target="_blank" title="Download Attachment">
                                                            <i class="icon-download-solid h4 text-danger" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
