@*// *********************************************************************************************************
    //  View Name                : PartFourH2
    //  Desciption               : To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "PartTwoH2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.msg != null)
    {
        <script>
                alert('@ViewBag.msg');
        </script>
    }
}
@using ReturnEF;
@model ReturnEF.AnnualReturnH1PartFourModel
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartTwoH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartThreeH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFourH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 4
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFiveH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 5
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSixH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSevenH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">

                        <div class="text-center text-dark">
                            <h6 class="font-weight-bold">Annual Return <small>(Form G-2)</small></h6>
                            <p class="font-weight-normal mb-0">
                                To be used for minerals other than Copper, Gold, Lead, Pyrites, Tin, Tungsten, Zinc and precious and semi-precious stones
                            </p>
                            <h6 class="font-weight-bold">Consumption of Explosives<small> (Part – IV)</small></h6>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <h5 class="text-brown font-weight-bold">Consumption of Explosives</h5>
                                <h6 class="text-brown font-weight-bold">
                                    Licensed capacity of magazine:
                                    (specify unit separately in kg/tonne, numbers, metres)
                                </h6>
                            </div>

                            @using (Html.BeginForm("PartFourH2", "EReturnYearlyNonCoalG2", FormMethod.Post, new { @id = "G2_Consumption", @enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(m => m.Flag4)
                                @Html.HiddenFor(m => m.Explosives_Id)
                                <input type="hidden" value="@ViewBag.Year" name="Year" id="Year" />

                                <div class="col-xl-12">
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Item</label>
                                                <input type="text" value="@Model.LicensedCapacity_Item1" name="LicensedCapacity_Item1" id="LicensedCapacity_Item1" class="form-control PartVI">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Unit</label>
                                                <select class="form-control form-control-sm searchableselect LicensedCapacity_Unit1" name="LicensedCapacity_Unit1" id="LicensedCapacity_Unit1">
                                                    <option value="">Select</option>
                                                    @{
                                                        List<UnitType> lstUnit = (List<UnitType>)ViewData["Unit"];
                                                        if (lstUnit != null)
                                                        {
                                                            foreach (var item in lstUnit)
                                                            {
                                                                if(item.UnitID ==Convert.ToInt32(Model.LicensedCapacity_Unit1))
                                                                {
                                                                    <option selected="selected" value="@item.UnitID">@item.UnitName</option>
                                                                }
                                                                else
                                                                {
                                                                     <option value="@item.UnitID">@item.UnitName</option>
                                                                }

                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Capacity</label>
                                                <input type="number" value="@Model.LicensedCapacity_Capacity1" name="LicensedCapacity_Capacity1" id="LicensedCapacity_Capacity1" class="form-control PartVI">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Item</label>
                                                <input type="text" value="@Model.LicensedCapacity_Item2" name="LicensedCapacity_Item2" id="LicensedCapacity_Item2" class="form-control PartVI">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Unit</label>
                                                <select class="form-control form-control-sm searchableselect LicensedCapacity_Unit2" name="LicensedCapacity_Unit2" id="LicensedCapacity_Unit2">
                                                    <option value="">Select</option>
                                                    @{

                                                        if (lstUnit != null)
                                                        {
                                                            foreach (var item in lstUnit)
                                                            {
                                                                if (item.UnitID == Convert.ToInt32(Model.LicensedCapacity_Unit2))
                                                                {
                                                                    <option selected="selected" value="@item.UnitID">@item.UnitName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.UnitID">@item.UnitName</option>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Capacity</label>
                                                <input type="number" value="@Model.LicensedCapacity_Capacity2" name="LicensedCapacity_Capacity2" id="LicensedCapacity_Capacity2" class="form-control PartVI">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Item</label>
                                                <input type="text" value="@Model.LicensedCapacity_Item3" name="LicensedCapacity_Item3" id="LicensedCapacity_Item3" class="form-control PartVI">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Unit</label>
                                                <select class="form-control form-control-sm searchableselect LicensedCapacity_Unit3" name="LicensedCapacity_Unit3" id="LicensedCapacity_Unit3">
                                                    <option value="">Select</option>
                                                    @{

                                                        if (lstUnit != null)
                                                        {
                                                            foreach (var item in lstUnit)
                                                            {
                                                                if (item.UnitID == Convert.ToInt32(Model.LicensedCapacity_Unit3))
                                                                {
                                                                    <option selected="selected" value="@item.UnitID">@item.UnitName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.UnitID">@item.UnitName</option>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label font-weight-bold">Capacity</label>
                                                <input type="number" value="@Model.LicensedCapacity_Capacity3" name="LicensedCapacity_Capacity3" id="LicensedCapacity_Capacity3" class="form-control PartVI">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th rowspan="2" class="text-center font-weight-bold">Classification of Explosives</th>
                                                    <th rowspan="2" class="text-center font-weight-bold">Unit</th>
                                                    <th colspan="2" class="text-center font-weight-bold">Quantity consumed during the year</th>
                                                    <th colspan="2" class="text-center font-weight-bold">Estimated requirement during the next year</th>
                                                </tr>
                                                <tr>
                                                    <th class="font-weight-bold">Small dia.(upto 32 mm</th>
                                                    <th class="font-weight-bold">Large dia. (above 32 mm</th>
                                                    <th class="font-weight-bold">Small dia.(upto 32 mm</th>
                                                    <th class="font-weight-bold">Large dia.(above 32 mm</th>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">1.Gun Powder</td>
                                                    <td>Kg.</td>
                                                    <td><input value="@Model.GunPow_Qty_Small" name="GunPow_Qty_Small" id="GunPow_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.GunPow_Qty_Large" name="GunPow_Qty_Large" id="GunPow_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.GunPow_Estimated_Small" name="GunPow_Estimated_Small" id="GunPow_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.GunPow_Estimated_Large" name="GunPow_Estimated_Large" id="GunPow_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">2.Nitrate Mixture</td>
                                                    <td>Kg.</td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                </tr>
                                                <tr>
                                                    <td>a. Loose ammonium nitrate</td>
                                                    <td></td>
                                                    <td><input value="@Model.Looseammo_nitrate_Qty_Small" name="Looseammo_nitrate_Qty_Small" id="Looseammo_nitrate_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Looseammo_nitrate_Qty_Large" name="Looseammo_nitrate_Qty_Large" id="Looseammo_nitrate_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Looseammo_nitrate_Estimated_Small" name="Looseammo_nitrate_Estimated_Small" id="Looseammo_nitrate_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Looseammo_nitrate_Estimated_Large" name="Looseammo_nitrate_Estimated_Large" id="Looseammo_nitrate_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>b. Ammonium nitrate in cartridged form</td>
                                                    <td></td>
                                                    <td><input value="@Model.Cartridged_Qty_Small" name="Cartridged_Qty_Small" id="Cartridged_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Cartridged_Qty_Large" name="Cartridged_Qty_Large" id="Cartridged_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Cartridged_Estimated_Small" name="Cartridged_Estimated_Small" id="Cartridged_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Cartridged_Estimated_Large" name="Cartridged_Estimated_Large" id="Cartridged_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">3. Nitro compound</td>
                                                    <td>Kg.</td>
                                                    <td><input value="@Model.NitroCompound_Qty_Small" name="NitroCompound_Qty_Small" id="NitroCompound_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.NitroCompound_Qty_Large" name="NitroCompound_Qty_Large" id="NitroCompound_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.NitroCompound_Estimated_Small" name="NitroCompound_Estimated_Small" id="NitroCompound_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.NitroCompound_Estimated_Large" name="NitroCompound_Estimated_Large" id="NitroCompound_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">4. Liquid Oxygen soaked cartridges</td>
                                                    <td>Kg.</td>
                                                    <td><input value="@Model.LiquidOxygen_Qty_Small" name="LiquidOxygen_Qty_Small" id="LiquidOxygen_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.LiquidOxygen_Qty_Large" name="LiquidOxygen_Qty_Large" id="LiquidOxygen_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.LiquidOxygen_Estimated_Small" name="LiquidOxygen_Estimated_Small" id="LiquidOxygen_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.LiquidOxygen_Estimated_Large" name="LiquidOxygen_Estimated_Large" id="LiquidOxygen_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">5.Slurry explosives (Mention different trade names)</td>
                                                    <td>Kg.</td>
                                                    <td><input value="@Model.SlurryExplosives_Qty_Small" name="SlurryExplosives_Qty_Small" id="SlurryExplosives_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.SlurryExplosives_Qty_Large" name="SlurryExplosives_Qty_Large" id="SlurryExplosives_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.SlurryExplosives_Estimated_Small" name="SlurryExplosives_Estimated_Small" id="SlurryExplosives_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.SlurryExplosives_Estimated_Large" name="SlurryExplosives_Estimated_Large" id="SlurryExplosives_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">6. Detonators</td>
                                                    <td>No.s</td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                </tr>
                                                <tr>
                                                    <td>i) Ordinary</td>
                                                    <td></td>
                                                    <td><input value="@Model.Detonators_Ord_Qty_Small" name="Detonators_Ord_Qty_Small" id="Detonators_Ord_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Ord_Qty_Large" name="Detonators_Ord_Qty_Large" id="Detonators_Ord_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Ord_Estimated_Small" name="Detonators_Ord_Estimated_Small" id="Detonators_Ord_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Ord_Estimated_Large" name="Detonators_Ord_Estimated_Large" id="Detonators_Ord_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">ii) Electrical</td>
                                                    <td></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                </tr>
                                                <tr>
                                                    <td>(a) Ordinary</td>
                                                    <td></td>
                                                    <td><input value="@Model.Detonators_Elec_Ord_Qty_Small" name="Detonators_Elec_Ord_Qty_Small" id="Detonators_Elec_Ord_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Ord_Qty_Large" name="Detonators_Elec_Ord_Qty_Large" id="Detonators_Elec_Ord_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Ord_Estimated_Small" name="Detonators_Elec_Ord_Estimated_Small" id="Detonators_Elec_Ord_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Ord_Estimated_Large" name="Detonators_Elec_Ord_Estimated_Large" id="Detonators_Elec_Ord_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>(b) Delay</td>
                                                    <td></td>
                                                    <td><input value="@Model.Detonators_Elec_Del_Qty_Small" name="Detonators_Elec_Del_Qty_Small" id="Detonators_Elec_Del_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Del_Qty_Large" name="Detonators_Elec_Del_Qty_Large" id="Detonators_Elec_Del_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Del_Estimated_Small" name="Detonators_Elec_Del_Estimated_Small" id="Detonators_Elec_Del_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Detonators_Elec_Del_Estimated_Large" name="Detonators_Elec_Del_Estimated_Large" id="Detonators_Elec_Del_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">7. Fuse</td>
                                                    <td>Mts</td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                    <td><input class="form-control" type="number" placeholder="None" disabled=""></td>
                                                </tr>
                                                <tr>
                                                    <td>(a)Safety Fuse</td>
                                                    <td></td>
                                                    <td><input value="@Model.Fuse_Saf_Qty_Small" name="Fuse_Saf_Qty_Small" id="Fuse_Saf_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Saf_Qty_Large" name="Fuse_Saf_Qty_Large" id="Fuse_Saf_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Saf_Estimated_Small" name="Fuse_Saf_Estimated_Small" id="Fuse_Saf_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Saf_Estimated_Large" name="Fuse_Saf_Estimated_Large" id="Fuse_Saf_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>(b)Detonating Fuse</td>
                                                    <td></td>
                                                    <td><input value="@Model.Fuse_Deton_Qty_Small" name="Fuse_Deton_Qty_Small" id="Fuse_Deton_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Deton_Qty_Large" name="Fuse_Deton_Qty_Large" id="Fuse_Deton_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Deton_Estimated_Small" name="Fuse_Deton_Estimated_Small" id="Fuse_Deton_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Fuse_Deton_Estimated_Large" name="Fuse_Deton_Estimated_Large" id="Fuse_Deton_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">8.Plastic ignition cord</td>
                                                    <td>Mts</td>
                                                    <td><input value="@Model.Plastic_Qty_Small" name="Plastic_Qty_Small" id="Plastic_Qty_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Plastic_Qty_Large" name="Plastic_Qty_Large" id="Plastic_Qty_Large" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Plastic_Estimated_Small" name="Plastic_Estimated_Small" id="Plastic_Estimated_Small" class="form-control PartVI" type="number"></td>
                                                    <td><input value="@Model.Plastic_Estimated_Large" name="Plastic_Estimated_Large" id="Plastic_Estimated_Large" class="form-control PartVI" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">9.Others (specify)</td>
                                                    <td>
                                                        <select class="form-control form-control-sm searchableselect Others_Qty_Unit" name="Others_Qty_Unit" id="Others_Qty_Unit">
                                                            <option value="">Select Unit</option>
                                                            @{

                                                                if (lstUnit != null)
                                                                {
                                                                    foreach (var item in lstUnit)
                                                                    {
                                                                        if (item.UnitID == Convert.ToInt32(Model.Others_Qty_Unit))
                                                                        {
                                                                            <option selected="selected" value="@item.UnitID">@item.UnitName</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.UnitID">@item.UnitName</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td><input value="@Model.Others_Qty_Small" name="Others_Qty_Small" id="Others_Qty_Small" class="form-control" type="number"></td>
                                                    <td><input value="@Model.Others_Qty_Large" name="Others_Qty_Large" id="Others_Qty_Large" class="form-control" type="number"></td>
                                                    <td><input value="@Model.Others_Estimated_Small" name="Others_Estimated_Small" id="Others_Estimated_Small" class="form-control" type="number"></td>
                                                    <td><input value="@Model.Others_Estimated_Large" name="Others_Estimated_Large" id="Others_Estimated_Large" class="form-control" type="number"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    @if (Model.Explosives_Id != null && Model.Explosives_Id != 0)
                                    {
                                        <a onclick="return OnUpdateConsumption();" href="javascript:void(0);" class="btn btn-success btn-md ml-0 waves-effect waves-light">Update</a>
                                    }
                                    else
                                    {

                                        <a onclick="return OnSaveConsumption();" href="javascript:void(0);" class="btn btn-success btn-md ml-0 waves-effect waves-light">Save</a>
                                    }
                                </div>
                            }
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
 
<script>

    $(document).ready(function () {
        loadNavigation('PartFourH2', 'glereturn', 'plyearetcop', 'tl', 'E-Return Non-coal', 'Yearly Return G-2', ' ');
        $('.searchableselect').searchableselect(); 
        
    });
    //--------------Save and Update Consumption----------
    function OnSaveConsumption() {
        if ($("#Year").val() == "") {
            $("#Year").focus();
            alert('Please Select Financial Year!')
            return false;
        }
        else {
            if (ValidatePartVI() != false) {
                $("#Flag4").val(2);
                $("#G2_Consumption").submit();
            }
        }
    }

    function OnUpdateConsumption() {
        if (ValidatePartVI() != false) {
            $("#Flag4").val(1);
            $("#G2_Consumption").submit();
        }
    }
    //-------------End Here----------------------
    //--------------Validation---------------
    function ValidatePartVI() {
        if ($('#LicensedCapacity_Unit1').val() == "") {
            alert("This field is required");
            $('.LicensedCapacity_Unit1').focus();
            return false;
        }
        else if ($('#LicensedCapacity_Unit2').val() == "") {
            alert("This field is required");
            $('.LicensedCapacity_Unit2').focus();
            return false;
        }
        else if ($('#LicensedCapacity_Unit3').val() == "") {
            alert("This field is required");
            $('.LicensedCapacity_Unit3').focus();
            return false;
        }
        else {
            var PartVI = document.getElementsByClassName("PartVI");
            for (var i = 0; i < PartVI.length; i++) {
                if (PartVI[i].value == "") {
                    alert("This field is required.");
                    PartVI[i].focus();
                    return false;
                }
            }
        }
    }
    //-------------End Here-----------------
</script>

