@*// *********************************************************************************************************
    //  View Name                : PartSevenH2
    //  Desciption               : To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "PartSevenH2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ReturnEF.CostOfProduction_Annual
@{
    if (ViewBag.msg != null)
    {
        <script>
                alert('@ViewBag.msg');
        </script>
    }
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartTwoH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartThreeH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFourH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 4
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFiveH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 5
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSixH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSevenH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    @using (Html.BeginForm("PartSevenH2", "EReturnYearlyNonCoalG2", FormMethod.Post, new { @id = "G2_PartSeven", @enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@ViewBag.Year" name="Year" id="Year" />
                        <div class="content-body">
                            <div class="text-center text-dark">
                                <h6 class="font-weight-bold">Annual Return <small>(FORM G-2)</small></h6>
                                <p class="font-weight-normal mb-0">
                                    To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
                                </p>
                                <h6 class="font-weight-bold">(PRODUCTION, DESPATCHES AND STOCKS)<small> (Part – VI)</small></h6>
                            </div>
                            <h5 class="text-brown font-weight-bold">Production and Stocks of ROM ore at Mine-head</h5>
                            <h6 class="text-brown font-weight-bold">1 Direct Cost</h6>
                            <div class="row">
                                @Html.HiddenFor(m => m.CostOfProduction_Id)
                                @Html.HiddenFor(m => m.Flag1)
                                @Html.HiddenFor(m => m.FinalSubmitFlag)
                                <div class="col-xl-4">
                                    <div class="bg-light p-2 form-group border">
                                        <label class="col-form-label font-weight-bolder pt-0">(a) Exploration</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Exploration, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="bg-light p-2 form-group border">
                                        <label class="col-form-label font-weight-bolder pt-0">b) Mining</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Mining, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="bg-light p-2 form-group border">
                                        <label class="col-form-label font-weight-bolder pt-0">(c) Beneficiation(Mechanical Only)</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Beneficiation, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">2 Over-head cost</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Over_headcost, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">3 Depreciation</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Depreciation, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">4 Interest</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Interest, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">5 Royalty</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Royalty, new { @class = "form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();", @readonly = "readonly" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">6 Payments made to DMF</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.DMF, new { @class = "form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();", @readonly = "readonly" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">7 Payments made to NMET</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.NMET, new { @class = "form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();", @readonly = "readonly" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">8 Taxes</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Taxes, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">9 Dead Rent</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Dead_Rent, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">10 Others (specify)</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Others, new { @class = "PartVII form-control", @placeholder = "Cost per tonne (Rs)", @onchange = "TextChange();" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="text-brown font-weight-bold">Total (1) to (10)</h6>
                                    <div class="bg-light p-2 form-group border">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Total, new { @class = "form-control", @placeholder = "Cost per tonne (Rs)", @readonly = "readonly" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(m => m.certify, new { @class = "custom-control-input", @id = "certify" })
                                        <label class="custom-control-label" for="certify">
                                            I certify that the information furnished above is correct and complete in all respects
                                        </label>
                                    </div>
                                </div>
                            </div>





                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    @if (Model.CostOfProduction_Id != null && Model.CostOfProduction_Id != 0)
                                    {
                                        <a onclick="return OnUpdateCostOfProduction();" href="javascript:void(0);" class="btn btn-success btn-md ml-0 waves-effect waves-light" data-original-title="" title="">Update</a>
                                        <a onclick="return OnSubmit();" href="javascript:void(0);" class="btn btn-success btn-md ml-0 waves-effect waves-light" data-original-title="" title="">Submit</a>
                                    }
                                    else
                                    {
                                        <a onclick="return OnSaveCostOfProduction();" href="javascript:void(0);" class="btn btn-success btn-md ml-0 waves-effect waves-light" data-original-title="" title="">Save</a>
                                    }
                                </div>
                            </div>


                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>


<script>

    $(document).ready(function () {
        loadNavigation('PartSevenH2', 'glereturn', 'plyearetcop', 'tl', 'E-Return Non-coal', 'Yearly Return Copper', ' ');
          
    });

    function OnSaveCostOfProduction() {
        if ($("#Year").val() == "") {
            $("#Year").focus();
            alert('Please Select Financial Year!')
            return false;
        }
        else if ($("#certify").prop('checked') == false) {
            alert('Please Checked Certify Statement!')
            return false;
        }
        else {
            if (ValidatePartVII() != false) {
                $("#Flag1").val(2);
                $("#G2_PartSeven").submit();
            }
        }
    }

    function OnUpdateCostOfProduction() {
        if (ValidatePartVII() != false) {
            $("#Flag1").val(1);
            $("#G2_PartSeven").submit();
        }
    }


    function OnSubmit() {
        if ($("#Year").val() == "") {
            alert('Please Select Financial Year!')
            return false;
        }

        else {
            if (confirm("Are you sure to Submit Majar Mineral Yearly Return ?")) {
                $("#FinalSubmitFlag").val(1);
                $("#G2_PartSeven").submit();
            }
            else {
                return false;
            }
        }

    }

    function TextChange() {
        var Exploration = $("#Exploration").val();
        if (Exploration == "") {
            Exploration = 0;
        }
        var Mining = $("#Mining").val();
        if (Mining == "") {
            Mining = 0;
        }
        var Beneficiation = $("#Beneficiation").val();
        if (Beneficiation == "") {
            Beneficiation = 0;
        }

        var Over_headcost = $("#Over_headcost").val();
        if (Over_headcost == "") {
            Over_headcost = 0;
        }

        var Depreciation = $("#Depreciation").val();
        if (Depreciation == "") {
            Depreciation = 0;
        }

        var Interest = $("#Interest").val();
        if (Interest == "") {
            Interest = 0;
        }

        var Royalty = $("#Royalty").val();
        if (Royalty == "") {
            Royalty = 0;
        }

        var DMF = $("#DMF").val();
        if (DMF == "") {
            DMF = 0;
        }

        var NMET = $("#NMET").val();
        if (NMET == "") {
            NMET = 0;
        }

        var Taxes = $("#Taxes").val();
        if (Taxes == "") {
            Taxes = 0;
        }

        var Dead_Rent = $("#Dead_Rent").val();
        if (Dead_Rent == "") {
            Dead_Rent = 0;
        }

        var Others = $("#Others").val();
        if (Others == "") {
            Others = 0;
        }

        var SUM = Number(Exploration) + Number(Mining) + Number(Beneficiation) + Number(Over_headcost) + Number(Depreciation) + Number(Interest) + Number(Royalty) + Number(DMF) + Number(NMET) + Number(Taxes) + Number(Dead_Rent) + Number(Others);
        $("#Total").val(SUM);
    }

    function ValidatePartVII() {
        var PartVII = document.getElementsByClassName("PartVII");
        for (var i = 0; i < PartVII.length; i++) {
            if (PartVII[i].value == "") {
                PartVII[i].focus();
                alert("This field is required");
                return false;
            }
        }
    }
</script>

