@*// *********************************************************************************************************
    //  View Name                : PartOneH2
    //  Desciption               : To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "Part One Form G-2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ReturnEF;
@model ReturnEF.AnnualReturnH1ViewModel
@{
    if (ViewBag.msg != null)
    {
        <script>
                alert('@ViewBag.msg');
        </script>
    }
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartTwoH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartThreeH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFourH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 4
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFiveH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 5
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSixH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSevenH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center text-dark">
                            <h6 class="font-weight-bold">Annual Return <small>(Form G-1)</small></h6>
                            <p class="font-weight-normal mb-0">
                                To be used for minerals other than Copper, Gold, Lead, Pyrites, Tin, Tungsten, Zinc and precious and semi-precious stones
                            </p>
                            <h6 class="font-weight-bold">General<small> (Part – I)</small></h6>

                        </div>




                        <ul class="nav nav-tabs progressbar border-0" id="myTab" role="tablist">
                            <li class="startstep activestep1">
                                <a class="active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Details of mine</a>
                            </li>
                            <li>
                                <a id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Mine other details</a>
                            </li>
                            <li>
                                <a id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Particulars of area operated/Lease</a>
                            </li>
                            <li>
                                <a id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">Lease area (surface area) utilisation</a>
                            </li>

                        </ul>
                        @using (Html.BeginForm("PartOneH2", "EReturnYearlyNonCoalG2", FormMethod.Post, new { @id = "FormPart1G2", @enctype = "multipart/form-data" }))
                        {
                            <div class="tab-content" id="myTabContent">

                                <input type="hidden" value="@ViewBag.Year" name="Year" id="Year" />
                                <input type="hidden" value="@ViewBag.Year" name="objOtherDetails.Year" id="OtherDetailsYear" />
                                <input type="hidden" value="@ViewBag.Year" name="objParticular.Year" id="objParticularYear" />
                                <input type="hidden" value="@ViewBag.Year" name="objLeaseArea.Year" id="objLeaseAreaYear" />

                                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                    <h5 class="text-brown font-weight-bold">Details of  mine</h5>

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Registration No. <small> (allotted by IBM)</small></label>
                                            <input type="text" value="@Model.objMineDetails.Registrationnumber" name="objMineDetails.Registrationnumber" id="objMineDetails_Registrationnumber" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Mine Code <small> (allotted by IBM)</small></label>
                                            <input type="text" value="@Model.objMineDetails.MINE_CODE" name="objMineDetails.MINE_CODE" id="objMineDetails_MINE_CODE" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Name of the Mineral</label>
                                            <input type="text" value="@Model.objMineDetails.MineralName" name="objMineDetails.MineralName" id="objMineDetails_MineralName" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Name of Mine</label>
                                            <input type="text" value="@Model.objMineDetails.MineName" name="objMineDetails.MineName" id="objMineDetails_MineName" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Name(s) of other mineral(s), if any,produced from the same mine</label>
                                            <input type="text" value="@Model.objMineDetails.OtherMineral" name="objMineDetails.OtherMineral" id="objMineDetails_OtherMineral" class="form-control">
                                        </div>


                                    </div>

                                    <h5 class="text-brown font-weight-bold">Location of the mine</h5>

                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Village</label>
                                            <input type="text" value="@Model.objMineDetails.MineVillage" name="objMineDetails.MineVillage" id="objMineDetails_MineVillage" class="form-control">
                                        </div>
                                        <div class="col-lg-3 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Post Office</label>
                                            <input type="text" value="@Model.objMineDetails.MinePostOffice" name="objMineDetails.MinePostOffice" id="objMineDetails_MinePostOffice" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Tahsil/Taluk</label>
                                            <input type="text" value="@Model.objMineDetails.MineTehsil" name="objMineDetails.MineTehsil" id="objMineDetails_MineTehsil" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">District</label>
                                            <input type="text" value="@Model.objMineDetails.MineDistrict" name="objMineDetails.MineDistrict" id="objMineDetails_MineDistrict" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">State</label>
                                            <input type="text" value="@Model.objMineDetails.MineState" name="objMineDetails.MineState" id="objMineDetails_MineState" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group row">


                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">PIN Code</label>
                                            <input type="text" value="@Model.objMineDetails.MinePinCode" name="objMineDetails.MinePinCode" id="objMineDetails_MinePinCode" maxlength="6" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Fax No.</label>
                                            <input type="text" value="@Model.objMineDetails.MineFaxNo" name="objMineDetails.MineFaxNo" id="objMineDetails_MineFaxNo" class="form-control">
                                        </div>
                                        <div class="col-lg-3 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">E-mail Id</label>
                                            <input type="text" value="@Model.objMineDetails.MineEmailID" name="objMineDetails.MineEmailID" id="objMineDetails_MineEmailID" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Mobile No.</label>
                                            <input type="text" value="@Model.objMineDetails.MineMobileNo" name="objMineDetails.MineMobileNo" id="objMineDetails_MineMobileNo" class="form-control">
                                        </div>
                                        <div class="col-lg-3 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Phone No.</label>
                                            <input type="text" value="@Model.objMineDetails.MinePhoneNo" name="objMineDetails.MinePhoneNo" id="objMineDetails_MinePhoneNo" class="form-control">
                                        </div>
                                    </div>


                                    <h5 class="text-brown font-weight-bold">Name and address of lessee/owner (along with fax No. and e-mail)</h5>

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Name of Lessee/Owner</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeName" name="objMineDetails.LesseeName" id="objMineDetails_LesseeName" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Address</label>
                                            <textarea class="form-control" name="objMineDetails.LesseeAddress" id="objMineDetails_LesseeAddress" rows="1">@Model.objMineDetails.LesseeAddress</textarea>
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">District</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeDistrictName" name="objMineDetails.LesseeDistrictName" id="objMineDetails_LesseeDistrictName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">State</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeStateName" name="objMineDetails.LesseeStateName" id="objMineDetails_LesseeStateName" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">PIN Code</label>
                                            <input type="text" value="@Model.objMineDetails.LesseePinCode" name="objMineDetails.LesseePinCode" id="objMineDetails_LesseePinCode" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Fax No.</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeFaxNo" name="objMineDetails.LesseeFaxNo" id="objMineDetails_LesseeFaxNo" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">E-mail</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeEmailID" name="objMineDetails.LesseeEmailID" id="objMineDetails_LesseeEmailID" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Mobile No.</label>
                                            <input type="text" value="@Model.objMineDetails.LesseeMobileNo" name="objMineDetails.LesseeMobileNo" id="objMineDetails_LesseeMobileNo" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Phone No.</label>
                                            <input type="text" value="@Model.objMineDetails.LesseePhoneNo" name="objMineDetails.LesseePhoneNo" id="objMineDetails_LesseePhoneNo" class="form-control">
                                        </div>
                                    </div>


                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            @*<a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>*@
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>




                                </div>

                                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                    @Html.HiddenFor(m => m.objOtherDetails.Flag1)
                                    @Html.HiddenFor(m => m.objOtherDetails.OtherDetails_Id)
                                    @Html.HiddenFor(m => m.objOtherDetails.MinePostOffice)
                                    @Html.HiddenFor(m => m.objOtherDetails.MineFaxNo)
                                    @Html.HiddenFor(m => m.objOtherDetails.LesseeFaxNo)
                                    <h5 class="text-brown font-weight-bold">Mine other details</h5>

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Registered Office of the Lessee</label>
                                            <input type="text" value="@Model.objOtherDetails.RegisteredOffice" name="objOtherDetails.RegisteredOffice" id="objOtherDetails_RegisteredOffice" class="form-control MineDetails">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Director in charge</label>
                                            <input type="text" value="@Model.objOtherDetails.Director_in_charge" name="objOtherDetails.Director_in_charge" id="objOtherDetails_Director_in_charge" class="form-control MineDetails">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder"> Agent</label>
                                            <input type="text" value="@Model.objOtherDetails.Agent" name="objOtherDetails.Agent" id="objOtherDetails_Agent" class="form-control MineDetails">
                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Manager</label>
                                            <input type="text" value="@Model.objOtherDetails.Manager" name="objOtherDetails.Manager" id="objOtherDetails_Manager" class="form-control MineDetails">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Mining Engineer in charge</label>
                                            <input type="text" value="@Model.objOtherDetails.MiningEngineer_in_charge" name="objOtherDetails.MiningEngineer_in_charge" id="objOtherDetails_MiningEngineer_in_charge" class="form-control MineDetails">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label for="inputLoginId" class="col-form-label font-weight-bolder">Geologist in charge</label>
                                            <input type="text" value="@Model.objOtherDetails.Geologist_in_charge" name="objOtherDetails.Geologist_in_charge" id="objOtherDetails_Geologist_in_charge" class="form-control MineDetails">
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Transferor (previous owner), if any</label>
                                            <input type="text" value="@Model.objOtherDetails.Transferor" name="objOtherDetails.Transferor" id="objOtherDetails_Transferor" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">Date of Transfer</label>
                                            <div class="input-group">
                                                <input type="text" value="@Model.objOtherDetails.Dateof_Transfer" name="objOtherDetails.Dateof_Transfer" id="objOtherDetails_Dateof_Transfer" class="form-control datepicker">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="objOtherDetails_Dateof_Transfer"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                                    @Html.HiddenFor(m => m.objParticular.Flag2)
                                    <h5 class="text-brown font-weight-bold">Particulars of area operated/Lease</h5>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-bordered mb-0" id="insert">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-weight-bolder" rowspan="2">Lease number allotted by the State Government</th>
                                                            <th class="font-weight-bolder text-center" colspan="3">Area under lease (hectares)</th>
                                                            <th class="font-weight-bolder" rowspan="2">Date of execution of mining lease deed</th>
                                                            <th class="font-weight-bolder" rowspan="2">Period of lease</th>
                                                            <th class="font-weight-bolder text-center" colspan="3">Area for which surface rights are held (hectares)</th>
                                                            <th class="font-weight-bolder text-center" colspan="2">Date and period of renewal (if applicable)</th>
                                                            <th width="130px" class="font-weight-bolder" rowspan="2">Actions</th>
                                                        </tr>
                                                        <tr>

                                                            <th class="font-weight-bolder">Under Forest</th>
                                                            <th class="font-weight-bolder">Outside Forest</th>
                                                            <th class="font-weight-bolder">Total</th>
                                                            <th class="font-weight-bolder">Under Forest</th>
                                                            <th class="font-weight-bolder">Outside Forest</th>
                                                            <th class="font-weight-bolder">Total</th>
                                                            <th class="font-weight-bolder" width="200px">Date (if applicable)</th>
                                                            <th class="font-weight-bolder" width="200px">Period of renewal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.objParticular.Particular_Id != null && Model.objParticular.Particular_Id.Count != 0)
                                                            {

                                                                for (int i = 0; i < Model.objParticular.Particular_Id.Count; i++)
                                                                {

                                                                    <tr id="tr_MoreThen_OneLease">
                                                                        <td id="t1">
                                                                            <input type="hidden" id="Particular_Id" name="objParticular.Particular_Id" value="@Model.objParticular.Particular_Id[i]" />
                                                                            <input type="text" id="Lease_number" value="@Model.objParticular.Lease_number[i]" name="objParticular.Lease_number" class="form-control">
                                                                        </td>
                                                                        <td id="t2">
                                                                            <input type="text" id="underlease_UnderForest" value="@Model.objParticular.underlease_UnderForest[i]" name="objParticular.underlease_UnderForest" class="form-control">
                                                                        </td>
                                                                        <td id="t3">
                                                                            <input type="text" id="underlease_OutsideForest" name="objParticular.underlease_OutsideForest" value="@Model.objParticular.underlease_OutsideForest[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t4">
                                                                            <input type="text" id="underlease_Total" name="objParticular.underlease_Total" value="@Model.objParticular.underlease_Total[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t5">
                                                                            <input type="text" id="Date_of_execution" readonly name="objParticular.Date_of_execution" value="@Model.objParticular.Date_of_execution_str[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t6">
                                                                            <input type="text" id="Periodoflease" name="objParticular.Periodoflease" value="@Model.objParticular.Periodoflease[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t7">
                                                                            <input type="text" onblur="CalcuateTotal()" id="Surfacerights_UnderForest" name="objParticular.Surfacerights_UnderForest" value="@Model.objParticular.Surfacerights_UnderForest[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t8">
                                                                            <input type="text" onblur="CalcuateTotal()" id="Surfacerights_OutsideForest" name="objParticular.Surfacerights_OutsideForest" value="@Model.objParticular.Surfacerights_OutsideForest[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t9">
                                                                            <input type="text" id="Surfacerights_Total" name="objParticular.Surfacerights_Total" value="@Model.objParticular.Surfacerights_Total[i]" class="form-control">
                                                                        </td>
                                                                        <td id="t10">
                                                                            <div class="input-group">
                                                                                <input type="text" id="RenewalDate" name="objParticular.RenewalDate" value="@Model.objParticular.RenewalDate_str[i]" class="form-control datepicker">
                                                                                <div class="input-group-prepend">
                                                                                    <label class="input-group-text" for="RenewalDate"><i class="icon-calendar-alt-solid"></i></label>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td id="t11">
                                                                            <div class="input-group">
                                                                                <input type="text" id="RenewalPeriod" name="objParticular.RenewalPeriod" value="@Model.objParticular.RenewalPeriod[i]" class="form-control datepicker">
                                                                                <div class="input-group-prepend">
                                                                                    <label class="input-group-text" for="RenewalPeriod"><i class="icon-calendar-alt-solid"></i></label>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-success btn-md add-btn waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                                            @if (i != 0)
                                                                            {
                                                                                <button class="btn btn-danger btn-md remove  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Remove Row"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                            }
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr id="tr_MoreThen_OneLease">
                                                                    <td id="t1">
                                                                        <input type="hidden" id="Particular_Id" name="objParticular.Particular_Id" value="@Model.objParticular.Particular_Id.FirstOrDefault()" />
                                                                        <input type="text" id="Lease_number" value="@Model.objParticular.Lease_number.FirstOrDefault()" name="objParticular.Lease_number" class="form-control">
                                                                    </td>
                                                                    <td id="t2">
                                                                        <input type="text" id="underlease_UnderForest" value="@Model.objParticular.underlease_UnderForest.FirstOrDefault()" name="objParticular.underlease_UnderForest" class="form-control">
                                                                    </td>
                                                                    <td id="t3">
                                                                        <input type="text" id="underlease_OutsideForest" name="objParticular.underlease_OutsideForest" value="@Model.objParticular.underlease_OutsideForest.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t4">
                                                                        <input type="text" id="underlease_Total" name="objParticular.underlease_Total" value="@Model.objParticular.underlease_Total.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t5">

                                                                        <input type="text" id="Date_of_execution" readonly name="objParticular.Date_of_execution" value="@Model.objParticular.Date_of_execution_str.FirstOrDefault()" class="form-control">

                                                                    </td>
                                                                    <td id="t6">
                                                                        <input type="text" id="Periodoflease" name="objParticular.Periodoflease" value="@Model.objParticular.Periodoflease.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t7">
                                                                        <input type="text" onblur="CalcuateTotal()" id="Surfacerights_UnderForest" name="objParticular.Surfacerights_UnderForest" value="@Model.objParticular.Surfacerights_UnderForest.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t8">
                                                                        <input type="text" onblur="CalcuateTotal()" id="Surfacerights_OutsideForest" name="objParticular.Surfacerights_OutsideForest" value="@Model.objParticular.Surfacerights_OutsideForest.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t9">
                                                                        <input type="text" id="Surfacerights_Total" name="objParticular.Surfacerights_Total" value="@Model.objParticular.Surfacerights_Total.FirstOrDefault()" class="form-control">
                                                                    </td>
                                                                    <td id="t10">
                                                                        <div class="input-group">
                                                                            <input type="text" id="RenewalDate" name="objParticular.RenewalDate" value="@Model.objParticular.RenewalDate_str.FirstOrDefault()" class="form-control datepicker">
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text" for="RenewalDate"><i class="icon-calendar-alt-solid"></i></label>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td id="t11">
                                                                        <div class="input-group">
                                                                            <input type="text" id="RenewalPeriod" name="objParticular.RenewalPeriod" value="@Model.objParticular.RenewalPeriod.FirstOrDefault()" class="form-control datepicker">
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text" for="RenewalPeriod"><i class="icon-calendar-alt-solid"></i></label>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-success btn-md add-btn waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a>

                                                                    </td>

                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder">In case there is more than one mine in the same lease area, indicate name of mine</label>
                                            <input type="text" value="@Model.objParticular.More_mine_details" name="objParticular.More_mine_details" id="objParticular_More_mine_details" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="col-form-label font-weight-bolder"> In case there is more than one mine in the same lease area, indicate name of mineral produced</label>
                                            <input type="text" value="@Model.objParticular.Mineral_produced" name="objParticular.Mineral_produced" id="objParticular_Mineral_produced" class="form-control">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                                    <h5 class="text-brown font-weight-bold">Lease area (surface area) utilisation</h5>
                                    @Html.HiddenFor(m => m.objLeaseArea.Flag3)
                                    @Html.HiddenFor(m => m.objLeaseArea.Lease_Area_Id)
                                    <div class="row mt-3">
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(i) Already exploited & abandoned by opencast (O/C) mining</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest1" name="objLeaseArea.UnderForest1" id="objLeaseArea_UnderForest1" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest1" name="objLeaseArea.Outsideforest1" id="objLeaseArea_Outsideforest1" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input value="@Model.objLeaseArea.Total1" name="objLeaseArea.Total1" id="objLeaseArea_Total1" class="form-control" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(ii) Covered under current (O/C) Workings</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest2" name="objLeaseArea.UnderForest2" id="objLeaseArea_UnderForest2" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest2" name="objLeaseArea.Outsideforest2" id="objLeaseArea_Outsideforest2" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input class="form-control" value="@Model.objLeaseArea.Total2" name="objLeaseArea.Total2" id="objLeaseArea_Total2" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">((iii) Reclaimed/rehabilitated</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest3" name="objLeaseArea.UnderForest3" id="objLeaseArea_UnderForest3" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest3" name="objLeaseArea.Outsideforest3" id="objLeaseArea_Outsideforest3" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input class="form-control" value="@Model.objLeaseArea.Total3" name="objLeaseArea.Total3" id="objLeaseArea_Total3" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(iv) Used for waste disposal</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest4" name="objLeaseArea.UnderForest4" id="objLeaseArea_UnderForest4" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest4" name="objLeaseArea.Outsideforest4" id="objLeaseArea_Outsideforest4" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input class="form-control" value="@Model.objLeaseArea.Total4" name="objLeaseArea.Total4" id="objLeaseArea_Total4" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(v) Occupied by plant, buildings, residential, welfare buildings & roads</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest5" name="objLeaseArea.UnderForest5" id="objLeaseArea_UnderForest5" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest5" name="objLeaseArea.Outsideforest5" id="objLeaseArea_Outsideforest5" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input value="@Model.objLeaseArea.Total5" name="objLeaseArea.Total5" id="objLeaseArea_Total5" class="form-control" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(vi) Used for any other purpose (specify)</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest6" name="objLeaseArea.UnderForest6" id="objLeaseArea_UnderForest6" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest6" name="objLeaseArea.Outsideforest6" id="objLeaseArea_Outsideforest6" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input value="@Model.objLeaseArea.Total6" name="objLeaseArea.Total6" id="objLeaseArea_Total6" class="form-control" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(vii) Work done under progressive mine closure plan during the year</label>
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.UnderForest7" name="objLeaseArea.UnderForest7" id="objLeaseArea_UnderForest7" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Under Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input type="text" value="@Model.objLeaseArea.Outsideforest7" name="objLeaseArea.Outsideforest7" id="objLeaseArea_Outsideforest7" onchange="TextChange();" class="form-control mb-lg-0 mb-3 LeaseArea" placeholder="Outside Forest">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <input value="@Model.objLeaseArea.Total7" name="objLeaseArea.Total7" id="objLeaseArea_Total7" class="form-control" readonly="readonly" type="text" placeholder="Total">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-5 col-md-12 col-sm-12 col-form-label font-weight-bolder">Ownership/exploiting Agency of the mine</label>
                                                <div class="col-lg-5 col-md-12 col-sm-12">
                                                    <select name="objLeaseArea.AgencyofMine" id="objLeaseArea_AgencyofMine" class="form-control form-control-sm searchableselect">
                                                        <option value="">Select</option>
                                                        @{
                                                            List<YearlyReturnModel> lstYearlyReturnModel = (List<YearlyReturnModel>)ViewData["AgencyOfMine"];
                                                            if (lstYearlyReturnModel != null)
                                                            {
                                                                foreach (var item in lstYearlyReturnModel)
                                                                {

                                                                    <option value="@item.Agency_Mine">@item.Agency_Mine</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            @{
                                                if (Model.objLeaseArea.Lease_Area_Id != null && Model.objLeaseArea.Lease_Area_Id != 0)
                                                {
                                                    <a onclick="return OnUpdateArea();" class="btn btn-success btn-md ml-0 waves-effect waves-light">Update</a>
                                                }
                                                else
                                                {
                                                    <a onclick="return OnSaveArea();" class="btn btn-danger btn-md ml-0 waves-effect waves-light">Save</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<input type="hidden" id="hdnAgencyOfMine" value="@Model.objLeaseArea.AgencyofMine" />
<script>

    $(document).ready(function () {
        loadNavigation('PartOneH2', 'glereturn', 'plyearetcop', 'tl', 'E-Return Non-coal', 'Yearly Return Copper', ' ');
        if ($('#hdnAgencyOfMine').val() != "") {
            $($('#objLeaseArea_AgencyofMine')).val($('#hdnAgencyOfMine').val());
        }

    //----------Date Picker------------
     //$('.datepicker').datetimepicker({
     //       //format: 'LT',
     //       format: 'DD-MM-YYYY',
     //       // daysOfWeekDisabled: [0, 6],
     //   });
    //-----Add Table Rows-----------
     $(document).on('click', '.add-btn', function () {
            $("#insert").find('tbody').append
                (
                    '<tr id="tr_MoreThen_OneLease">' +
                    '<td id="t1"> <input type="hidden" id="Particular_Id" name="objParticular.Particular_Id" value="@Model.objParticular.Particular_Id.FirstOrDefault()" /><input type="text" id="Lease_number" value="" name="objParticular.Lease_number" class="form-control"></td>' +
                    '<td id="t2"><input type="text" id="underlease_UnderForest" value="" name="objParticular.underlease_UnderForest" class="form-control"></td>' +
                    '<td id="t3"><input type="text" id="underlease_OutsideForest" name="objParticular.underlease_OutsideForest" value="" class="form-control"></td>' +
                    '<td id="t4"><input type="text" id="underlease_Total"  name="objParticular.underlease_Total" value="" class="form-control"></td>' +
                    '<td id="t5"><input type="text" id="Date_of_execution" readonly name="objParticular.Date_of_execution" value="" class="form-control"></td>' +
                    '<td id="t6"><input type="text" id="Periodoflease"  name="objParticular.Periodoflease" value="" class="form-control"></td>' +
                    '<td id="t7"><input type="text" onblur="CalcuateTotal()" id="Surfacerights_UnderForest" name="objParticular.Surfacerights_UnderForest" value="" class="form-control"></td>' +
                    '<td id="t8"><input type="text" onblur="CalcuateTotal()" id="Surfacerights_OutsideForest" name="objParticular.Surfacerights_OutsideForest" value="" class="form-control"></td>' +
                    '<td id="t9"><input type="text" id="Surfacerights_Total" name="objParticular.Surfacerights_Total" value="" class="form-control"></td><td id="t10"><div class="input-group"><input type="text" id="RenewalDate" name="objParticular.RenewalDate" value="" class="form-control datepicker"><div class="input-group-prepend"><label class="input-group-text" for="RenewalDate"><i class="icon-calendar-alt-solid"></i></label></div></div></td>' +
                    '<td id="t11"><div class="input-group"><input type="text" id="RenewalPeriod" name="objParticular.RenewalPeriod" value="" class="form-control datepicker"><div class="input-group-prepend"><label class="input-group-text" for="RenewalPeriod"><i class="icon-calendar-alt-solid"></i></label></div></div></td>' +
                    '<td><button class="btn btn-danger btn-md remove  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Remove Row"><i class="fa fa-times" aria-hidden="true"></i></button><a class="btn btn-success btn-md add-btn  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a></td></tr >'
            );
            var underlease_Total = document.getElementsByName('objParticular.underlease_Total');
            var Date_of_execution = document.getElementsByName('objParticular.Date_of_execution');
            var Periodoflease = document.getElementsByName('objParticular.Periodoflease');


            for (var i = 0; i < underlease_Total.length; i++) {
                underlease_Total[i].value = $('#underlease_Total').val();
                Date_of_execution[i].value = $('#Date_of_execution').val();
                Periodoflease[i].value = $('#Periodoflease').val();
            }

          });
   //---------End Here-----------------
   //---------Remove Table Rows------------
     $("#insert").on('click', '.remove', function () {
        $(this).parents('tr').remove();
        });
  //---------End Here------------------

});

//---------------Validation---------------
function ValidateMineDetails() {
if ($('#objMineDetails_MinePinCode').val() == "") {
$("#four").removeClass("active");
$("#first").addClass("tab-pane fade show active");
$('#objMineDetails_MinePinCode').focus();
alert("This field is required");
return false;
}
else if ($('#objMineDetails_LesseePinCode').val() == "") {
$("#four").removeClass("active");
$("#first").addClass("tab-pane fade show active");
$('#objMineDetails_LesseePinCode').focus();
alert("This field is required");
return false;
}
else if ($('#objMineDetails_LesseeFaxNo').val() == "") {

$("#four").removeClass("active");
$("#first").addClass("tab-pane fade show active");
$('#objMineDetails_LesseeFaxNo').focus();
alert("This field is required");
return false;
}
    }

function ValidateMineOtherDetails() {
var MineDetails = document.getElementsByClassName("MineDetails");
for (var i = 0; i < MineDetails.length; i++) {
if (MineDetails[i].value == "") {
$("#four").removeClass("active");
$("#second").addClass("tab-pane fade show active");
MineDetails[i].focus();
alert("This field is required");
return false;
}
}
    }

function ParticularArea() {
var underlease_UnderForest = document.getElementsByName("objParticular.underlease_UnderForest");
var underlease_OutsideForest = document.getElementsByName("objParticular.underlease_OutsideForest");
var underlease_Total = document.getElementsByName("objParticular.underlease_Total");
var UnderForest, OutsideForest, Total, Sum;

for (var i = 0; i < underlease_UnderForest.length; i++) {
Sum = parseFloat(underlease_UnderForest[i].value) + parseFloat(underlease_OutsideForest[i].value);
if (parseFloat(underlease_Total[i].value) != parseFloat(Sum)) {
$("#four").removeClass("active");
$("#third").addClass("tab-pane fade show active");
underlease_UnderForest[i].focus();
alert('Total should be sum of Under Forest + Outside Forest (Total=Forest + Outside Forest)');
return false;
}
}
    }

function ValidateLeaseArea() {
var LeaseArea = document.getElementsByClassName("LeaseArea");

for (var i = 0; i < LeaseArea.length; i++) {
if (LeaseArea[i].value == "") {
LeaseArea[i].focus();
alert("This field is required");
return false;
}
}
}

function ValidatePartI() {
for (var i = 0; i < 1; i++) {
if (ValidateMineDetails() == false) {
return false;
}
else if (ValidateMineOtherDetails() == false) {
return false;
}
else if (ParticularArea() == false) {
return false;
}
else if (ValidateLeaseArea() == false) {
return false;
}
else { return true; }
}
}
//---------------End Here-------------------

//-----------Save Part One H2------------
function OnSaveArea() {
if (ValidatePartI() != false) {
$("#objOtherDetails_Flag1").val(2);
$('#objOtherDetails_MinePostOffice').val($("#objMineDetails_MinePostOffice").val());
$('#objOtherDetails_MineFaxNo').val($("#objMineDetails_MineFaxNo").val());
$('#objOtherDetails_LesseeFaxNo').val($("#objMineDetails_LesseeFaxNo").val());

$("#objParticular_Flag2").val(2);

$("#objLeaseArea_Flag3").val(2);
$("#FormPart1G2").submit();
}
}
//-----------End Here-----------------
//----------Update Part One H2------------
function OnUpdateArea() {
if (ValidatePartI() != false) {
$("#objOtherDetails_Flag1").val(1);
$('#objOtherDetails_MinePostOffice').val($("#objMineDetails_MinePostOffice").val());
$('#objOtherDetails_MineFaxNo').val($("#objMineDetails_MineFaxNo").val());
$('#objOtherDetails_LesseeFaxNo').val($("#objMineDetails_LesseeFaxNo").val());

$("#objParticular_Flag2").val(1);

$("#objLeaseArea_Flag3").val(1);
$("#FormPart1G2").submit();
}
}
//-----------End Here---------------------
    //------Calculate Particulars of Area---
  function CalcuateTotal() {
        var Surfacerights_UnderForest = document.getElementsByName("objParticular.Surfacerights_UnderForest");
        var Surfacerights_OutsideForest = document.getElementsByName("objParticular.Surfacerights_OutsideForest");
        var Surfacerights_Total = document.getElementsByName("objParticular.Surfacerights_Total");

        var UnderForest, OutsideForest, Total;

        for (var i = 0; i < Surfacerights_UnderForest.length; i++) {
            Surfacerights_UnderForest[i].value = Surfacerights_UnderForest[i].value || 0;
            Surfacerights_OutsideForest[i].value = Surfacerights_OutsideForest[i].value || 0;
            Surfacerights_Total[i].value = parseFloat(Surfacerights_UnderForest[i].value) + parseFloat(Surfacerights_OutsideForest[i].value);
            if (Surfacerights_UnderForest[i].value == 0) {
                Surfacerights_UnderForest[i].value = "";
            }
            if (Surfacerights_OutsideForest[i].value == 0) {
                Surfacerights_OutsideForest[i].value = "";
            }
            if (Surfacerights_Total[i].value == 0) {
                Surfacerights_Total[i].value = "";
            }
        }

    }
//---------End Here----------------
//--------Lease Area On Text Change-------
 function TextChange() {
        var UnderForest1 = $("#objLeaseArea_UnderForest1").val();
        if (UnderForest1 == "") {
            UnderForest1 = 0;
        }
        var Outsideforest1 = $("#objLeaseArea_Outsideforest1").val();
        if (Outsideforest1 == "") {
            Outsideforest1 = 0;
        }
        var SUM1 = Number(UnderForest1) + Number(Outsideforest1)
        $("#objLeaseArea_Total1").val(SUM1);

        //---------------------------------
        var UnderForest2 = $("#objLeaseArea_UnderForest2").val();
        if (UnderForest2 == "") {
            UnderForest2 = 0;
        }
        var Outsideforest2 = $("#objLeaseArea_Outsideforest2").val();
        if (Outsideforest2 == "") {
            Outsideforest2 = 0;
        }
        var SUM2 = Number(UnderForest2) + Number(Outsideforest2)
        $("#objLeaseArea_Total2").val(SUM2);
        //--------------------------------------
        var UnderForest3 = $("#objLeaseArea_UnderForest3").val();
        if (UnderForest3 == "") {
            UnderForest3 = 0;
        }
        var Outsideforest3 = $("#objLeaseArea_Outsideforest3").val();
        if (Outsideforest3 == "") {
            Outsideforest3 = 0;
        }
        var SUM3 = Number(UnderForest3) + Number(Outsideforest3)
        $("#objLeaseArea_Total3").val(SUM3);
        //--------------------------------------
        var UnderForest4 = $("#objLeaseArea_UnderForest4").val();
        if (UnderForest4 == "") {
            UnderForest4 = 0;
        }
        var Outsideforest4 = $("#objLeaseArea_Outsideforest4").val();
        if (Outsideforest4 == "") {
            Outsideforest4 = 0;
        }
        var SUM4 = Number(UnderForest4) + Number(Outsideforest4)
        $("#objLeaseArea_Total4").val(SUM4);
        //--------------------------------------
        var UnderForest5 = $("#objLeaseArea_UnderForest5").val();
        if (UnderForest5 == "") {
            UnderForest5 = 0;
        }
        var Outsideforest5 = $("#objLeaseArea_Outsideforest5").val();
        if (Outsideforest5 == "") {
            Outsideforest5 = 0;
        }
        var SUM5 = Number(UnderForest5) + Number(Outsideforest5)
        $("#objLeaseArea_Total5").val(SUM5);
        //---------------------------------------
        var UnderForest6 = $("#objLeaseArea_UnderForest6").val();
        if (UnderForest6 == "") {
            UnderForest6 = 0;
        }
        var Outsideforest6 = $("#objLeaseArea_Outsideforest6").val();
        if (Outsideforest6 == "") {
            Outsideforest6 = 0;
        }
        var SUM6 = Number(UnderForest6) + Number(Outsideforest6)
        $("#objLeaseArea_Total6").val(SUM6);

        //---------------------------------------
        var UnderForest7 = $("#objLeaseArea_UnderForest7").val();
        if (UnderForest7 == "") {
            UnderForest7 = 0;
        }
        var Outsideforest7 = $("#objLeaseArea_Outsideforest7").val();
        if (Outsideforest7 == "") {
            Outsideforest7 = 0;
        }
        var SUM7 = Number(UnderForest7) + Number(Outsideforest7)
        $("#objLeaseArea_Total7").val(SUM7);
    }
//--------End Here-------------
    $("#objMineDetails_MinePinCode").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $("#objMineDetails_LesseePinCode").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


</script>



