@*// *********************************************************************************************************
    //  View Name                : PartTwoH2
    //  Desciption               : To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@model ReturnEF.AnnualReturnH1PartTwoModel
@{
    ViewData["Title"] = "PartTwoH2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.msg != null)
    {
        <script>
                alert('@ViewBag.msg');
        </script>
    }
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartTwoH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartThreeH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFourH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 4
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFiveH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 5
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSixH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSevenH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center text-dark">
                            <h6 class="font-weight-bold">Annual Return <small>(Form G-1)</small></h6>
                            <p class="font-weight-normal mb-0">
                                To be used for minerals other than Copper, Gold, Lead, Pyrites, Tin, Tungsten, Zinc and precious and semi-precious stones
                            </p>
                            <h6 class="font-weight-bold">Employment and Wages<small> (Part – II)</small></h6>

                        </div>


                        <ul class="nav nav-tabs progressbar border-0" id="myTab" role="tablist">
                            <li class="startstep activestep1">
                                <a class="active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Staff Details</a>
                            </li>
                            <li>
                                <a id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Work Deatils</a>
                            </li>
                            <li>
                                <a id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Salary/Wages Paid</a>
                            </li>
                            <li>
                                <a id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">PART-II A (Capital Structure)</a>
                            </li>
                            <li>
                                <a id="five-tab" data-toggle="tab" href="#five" role="tab" aria-controls="five" aria-selected="false">PART-II A (Source of Finance/Interest & Rent)</a>
                            </li>

                        </ul>
                        @using (Html.BeginForm("PartTwoH2", "EReturnYearlyNonCoalG2", FormMethod.Post, new { @id = "G2_SourceOfFinance", @enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@ViewBag.Year" name="Year" id="Year" />
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objStaffWork.Year" id="objStaffWorkYear" />
                                    @Html.HiddenFor(m => m.objStaffWork.Flag1)
                                    @Html.HiddenFor(m => m.objStaffWork.WorkDetails_Id)
                                    <h5 class="text-brown font-weight-bold">Number of supervisory staff employed at the mine</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(i) Graduate Mining Engineer</label>
                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Whollyemployed1" name="objStaffWork.Whollyemployed1" id="objStaffWork_Whollyemployed1" onchange="TextChangeWhollyemployed()" class="form-control mb-lg-0 mb-3 StaffDetails" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Partlyemployed1" name="objStaffWork.Partlyemployed1" id="objStaffWork_Partlyemployed1" class="form-control StaffDetails" onchange="TextChangeWhollyemployed()" placeholder="Partly employed">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(ii) Diploma Mining Engineer</label>
                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Whollyemployed2" name="objStaffWork.Whollyemployed2" id="objStaffWork_Whollyemployed2" onchange="TextChangeWhollyemployed()" class="form-control mb-lg-0 mb-3 StaffDetails" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Partlyemployed2" name="objStaffWork.Partlyemployed2" id="objStaffWork_Partlyemployed2" onchange="TextChangePartlyemployed()" class="form-control StaffDetails" placeholder="Partly employed">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(iii) Geologist</label>
                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Whollyemployed3" name="objStaffWork.Whollyemployed3" id="objStaffWork_Whollyemployed3" onchange="TextChangeWhollyemployed()" class="form-control mb-lg-0 mb-3 StaffDetails" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Partlyemployed3" name="objStaffWork.Partlyemployed3" id="objStaffWork_Partlyemployed3" onchange="TextChangePartlyemployed()" class="form-control StaffDetails" placeholder="Partly employed">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(iv) Surveyor</label>
                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Whollyemployed4" name="objStaffWork.Whollyemployed4" id="objStaffWork_Whollyemployed4" onchange="TextChangeWhollyemployed()" class="form-control mb-lg-0 mb-3 StaffDetails" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Partlyemployed4" name="objStaffWork.Partlyemployed4" id="objStaffWork_Partlyemployed4" onchange="TextChangePartlyemployed()" class="form-control StaffDetails" placeholder="Partly employed">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(v) Other administrative and technical supervisory staff</label>
                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Whollyemployed5" name="objStaffWork.Whollyemployed5" id="objStaffWork_Whollyemployed5" onchange="TextChangeWhollyemployed()" class="form-control mb-lg-0 mb-3 StaffDetails" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                        <input type="number" value="@Model.objStaffWork.Partlyemployed5" name="objStaffWork.Partlyemployed5" id="objStaffWork_Partlyemployed5" onchange="TextChangePartlyemployed()" class="form-control StaffDetails" placeholder="Partly employed">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">Total (i) to (v)</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <input type="number" readonly value="@Model.objStaffWork.Whollyemployed_Total" name="objStaffWork.Whollyemployed_Total" id="objStaffWork_Whollyemployed_Total" class="form-control mb-lg-0 mb-3" placeholder="Wholly employed">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" readonly value="@Model.objStaffWork.Partlyemployed_Total" name="objStaffWork.Partlyemployed_Total" id="objStaffWork_Partlyemployed_Total" class="form-control" placeholder="Partly employed">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">

                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objWork.Year" id="objWork" />
                                    @Html.HiddenFor(m => m.objWork.Flag)
                                    <div class="row mt-md-3">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="dropdownUserType" class="col-sm-5 col-form-label font-weight-bolder">No. of days the mine worked</label>
                                                <div class="col-sm-4">
                                                    <input type="number" value="@Model.objWork.NoOfDaysMineWorked" name="objWork.NoOfDaysMineWorked" id="objWork_NoOfDaysMineWorked" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label for="dropdownUserType" class="col-sm-5 col-form-label font-weight-bolder">No. of shifts per day</label>
                                                <div class="col-sm-4">
                                                    <input type="number" value="@Model.objWork.NoOfShiftPerDay" name="objWork.NoOfShiftPerDay" id="objWork_NoOfShiftPerDay" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12"> <label class="col-form-label pt-0 font-weight-bolder">Indicate reasons for work stoppage in the mine during the year (due to strike, lockout, heavy rain, non-availability of labour, transport bottleneck, lack of demand, uneconomic operations,etc)and the number of days of work stoppage for each of the factors separately.</label></div>
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-sm border" id="insert">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-weight-bolder">Reasons</th>
                                                            <th class="font-weight-bolder" width="250px">No. Of days Work Stop</th>
                                                            <th width="130px" class="font-weight-bolder">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.objWork.NoOfDaysMineWorked != 0)
                                                            {
                                                                for (var i = 0; i < Model.objWork.NoOfDaysMineStop.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <input type="hidden" id="Work_Id" name="Work_Id" value="@Model.objWork.Work_Id[i]" />
                                                                            <textarea id="Reason" name="Reason" class="form-control">@Model.objWork.Reason[i]</textarea>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" id="NoOfDaysMineStop" name="NoOfDaysMineStop" value="@Model.objWork.NoOfDaysMineStop[i]" />
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-success btn-md add-btn waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                                            @if (i > 0)
                                                                            {
                                                                                <button class="btn btn-danger btn-md remove  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Remove Row"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                            }
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td id="td1">
                                                                        <input type="hidden" id="Work_Id" name="Work_Id" value="@Model.objWork.Work_Id.FirstOrDefault()" />
                                                                        <textarea class="form-control" id="Reason" name="Reason" rows="1"></textarea>
                                                                    </td>
                                                                    <td id="td2">
                                                                        <input type="number" id="NoOfDaysMineStop" name="NoOfDaysMineStop" class="form-control">
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-success btn-md add-btn waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                                    </td>

                                                                </tr>

                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objSalaryWages.Year" id="objSalaryWagesYear" />
                                    @Html.HiddenFor(m => m.objSalaryWages.SalaryWages_Id)
                                    @Html.HiddenFor(m => m.objSalaryWages.Flag2)
                                    <h5 class="text-brown font-weight-bold">Maximum number of persons employed on any one day during the year</h5>
                                    <div class="form-group row">

                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <label class="col-form-label font-weight-bolder">In workings below ground on (date)</label>
                                                        <div class="input-group">
                                                            <input type="text" name="objSalaryWages.WorkingBelowGrounddate_str" value="@Model.objSalaryWages.WorkingBelowGrounddate_str" class="form-control datepicker" id="objSalaryWages_WorkingBelowGrounddate_str">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text" for="objSalaryWages_WorkingBelowGrounddate_str"><i class="icon-calendar-alt-solid"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <label class="col-form-label font-weight-bolder">Number</label>
                                                        <input type="number" value="@Model.objSalaryWages.WorkingBelowNo" name="objSalaryWages.WorkingBelowNo" id="objSalaryWages_WorkingBelowNo" class="form-control">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <label class="col-form-label font-weight-bolder">In all in the mine on (date)</label>
                                                        <div class="input-group">
                                                            <input type="text" value="@Model.objSalaryWages.WorkingOnMinedate_str" name="objSalaryWages.WorkingOnMinedate_str" class="form-control datepicker" id="objSalaryWages_WorkingOnMinedate_str">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text" for="objSalaryWages_WorkingOnMinedate_str"><i class="icon-calendar-alt-solid"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <label class="col-form-label font-weight-bolder">Number</label>
                                                        <input type="number" value="@Model.objSalaryWages.WorkingOnMineNo" name="objSalaryWages.WorkingOnMineNo" id="objSalaryWages_WorkingOnMineNo" class="form-control">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th rowspan="2" class="font-weight-bold">Classification</th>
                                                    <th colspan="3" class="text-center font-weight-bold">Total No. of man days worked during the year</th>
                                                    <th rowspan="2" class="font-weight-bold">No. of days worked during the year</th>
                                                    <th colspan="3" class="text-center font-weight-bold">Average daily number of persons employed</th>
                                                    <th rowspan="2" class="font-weight-bold">Total Wes/Salary for the year (Rs)</th>
                                                </tr>
                                                <tr>
                                                    <th>Direct</th>
                                                    <th>Contract</th>
                                                    <th>Total</th>
                                                    <th>Male</th>
                                                    <th>Female</th>
                                                    <th>Total</th>
                                                </tr>

                                                <tr>
                                                    <td>Below Ground</td>
                                                    <td><input value="@Model.objSalaryWages.BG_Direct" name="objSalaryWages.BG_Direct" id="objSalaryWages_BG_Direct" class="form-control BG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_Contract" name="objSalaryWages.BG_Contract" id="objSalaryWages_BG_Contract" class="form-control BG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_Total" name="objSalaryWages.BG_Total" id="objSalaryWages_BG_Total" class="form-control BG" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_NoOFDaysWork" name="objSalaryWages.BG_NoOFDaysWork" id="objSalaryWages_BG_NoOFDaysWork" class="form-control BG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_Male" name="objSalaryWages.BG_Male" id="objSalaryWages_BG_Male" class="form-control BG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_Female" name="objSalaryWages.BG_Female" id="objSalaryWages_BG_Female" class="form-control BG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_Average_Total" name="objSalaryWages.BG_Average_Total" id="objSalaryWages_BG_Average_Total" class="form-control BG" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.BG_TotalWages" name="objSalaryWages.BG_TotalWages" id="objSalaryWages_BG_TotalWages" class="form-control BG" type="number"></td>
                                                </tr>

                                                <tr>
                                                    <td>Opencast</td>
                                                    <td><input value="@Model.objSalaryWages.OC_Direct" name="objSalaryWages.OC_Direct" id="objSalaryWages_OC_Direct" class="form-control OC" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_Contract" name="objSalaryWages.OC_Contract" id="objSalaryWages_OC_Contract" class="form-control OC" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_Total" name="objSalaryWages.OC_Total" id="objSalaryWages_OC_Total" class="form-control OC" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_NoOFDaysWork" name="objSalaryWages.OC_NoOFDaysWork" id="objSalaryWages_OC_NoOFDaysWork" class="form-control OC" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_Male" name="objSalaryWages.OC_Male" id="objSalaryWages_OC_Male" class="form-control OC" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_Female" name="objSalaryWages.OC_Female" id="objSalaryWages_OC_Female" class="form-control OC" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_Average_Total" name="objSalaryWages.OC_Average_Total" id="objSalaryWages_OC_Average_Total" class="form-control OC" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.OC_TotalWages" name="objSalaryWages.OC_TotalWages" id="objSalaryWages_OC_TotalWages" class="form-control OC" type="number"></td>
                                                </tr>

                                                <tr>
                                                    <td>Above Ground</td>
                                                    <td><input value="@Model.objSalaryWages.AG_Direct" name="objSalaryWages.AG_Direct" id="objSalaryWages_AG_Direct" class="form-control AG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_Contract" name="objSalaryWages.AG_Contract" id="objSalaryWages_AG_Contract" class="form-control AG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_Total" name="objSalaryWages.AG_Total" id="objSalaryWages_AG_Total" class="form-control AG" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_NoOFDaysWork" name="objSalaryWages.AG_NoOFDaysWork" id="objSalaryWages_AG_NoOFDaysWork" class="form-control AG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_Male" name="objSalaryWages.AG_Male" id="objSalaryWages_AG_Male" class="form-control AG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_Female" name="objSalaryWages.AG_Female" id="objSalaryWages_AG_Female" class="form-control AG" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_Average_Total" name="objSalaryWages.AG_Average_Total" id="objSalaryWages_AG_Average_Total" class="form-control AG" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objSalaryWages.AG_TotalWages" name="objSalaryWages.AG_TotalWages" id="objSalaryWages_AG_TotalWages" class="form-control AG" type="number"></td>
                                                </tr>

                                                <tr>
                                                    <td class="font-weight-bold">Total</td>
                                                    <td><input value="@Model.objSalaryWages.Total_Direct" name="objSalaryWages.Total_Direct" id="objSalaryWages_Total_Direct" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_Contract" name="objSalaryWages.Total_Contract" id="objSalaryWages_Total_Contract" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_Total" name="objSalaryWages.Total_Total" id="objSalaryWages_Total_Total" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_NoOFDaysWork" name="objSalaryWages.Total_NoOFDaysWork" id="objSalaryWages_Total_NoOFDaysWork" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_Male" name="objSalaryWages.Total_Male" id="objSalaryWages_Total_Male" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_Female" name="objSalaryWages.Total_Female" id="objSalaryWages_Total_Female" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_Average_Total" name="objSalaryWages.Total_Average_Total" id="objSalaryWages_Total_Average_Total" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objSalaryWages.Total_TotalWages" name="objSalaryWages.Total_TotalWages" id="objSalaryWages_Total_TotalWages" class="form-control" readonly="readonly" type="text"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objCapitalStructure.Year" id="objCapitalStructureYear" />
                                    @Html.HiddenFor(m => m.objCapitalStructure.CapitalStructure_Id)
                                    @Html.HiddenFor(m => m.objCapitalStructure.Flag3)
                                    <div class="form-group row mt-3">
                                        <div class="col-sm-6">
                                            <label class="col-form-label font-weight-bolder">Value of Fixed Assets* (Rs) (in respect of the mine, beneficiation plant, mine work-shop, power and water installation)</label>
                                            <input type="text" value="@Model.objCapitalStructure.ValueofFixedAssets" name="objCapitalStructure.ValueofFixedAssets" id="objCapitalStructure_ValueofFixedAssets" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-form-label font-weight-bolder">In case this information is furnished as combined information in another mine's return please specify Mine Code/Mine Name</label>
                                            <input type="text" value="@Model.objCapitalStructure.OtherMineCode" name="objCapitalStructure.OtherMineCode" id="objCapitalStructure_OtherMineCode" class="form-control">
                                        </div>

                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th class="font-weight-bold">Description</th>
                                                    <th class="font-weight-bold">At the beginning of the year(Rs)</th>
                                                    <th class="font-weight-bold">Additions during the Year(Rs)</th>
                                                    <th class="font-weight-bold">Sold or discarded during the year(Rs)</th>
                                                    <th class="font-weight-bold">Depreciation during the year(Rs)</th>
                                                    <th class="font-weight-bold">Net closing Balance (Rs) (2+3)-(4+5)</th>
                                                    <th class="font-weight-bold">Estimated market value**(Rs)</th>
                                                </tr>

                                                <tr>
                                                    <td>(i) Land</td>
                                                    <td><input value="@Model.objCapitalStructure.Land_AtBeginning" name="objCapitalStructure.Land_AtBeginning" id="objCapitalStructure_Land_AtBeginning" class="form-control CapitalStructure" onchange="Text_Beginning();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Land_Additions" name="objCapitalStructure.Land_Additions" id="objCapitalStructure_Land_Additions" class="form-control CapitalStructure" onchange="Text_Additions();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Land_Sold_Discarded" name="objCapitalStructure.Land_Sold_Discarded" id="objCapitalStructure_Land_Sold_Discarded" class="form-control CapitalStructure" onchange="Text_Discarded();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Land_Depreciation" name="objCapitalStructure.Land_Depreciation" id="objCapitalStructure_Land_Depreciation" class="form-control CapitalStructure" onchange="Text_Depreciation();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Land_Net_closing_Balance" name="objCapitalStructure.Land_Net_closing_Balance" id="objCapitalStructure_Land_Net_closing_Balance" class="form-control" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Land_Estimated_Market" name="objCapitalStructure.Land_Estimated_Market" id="objCapitalStructure_Land_Estimated_Market" class="form-control CapitalStructure" onchange="Text_Estimated();" type="number"></td>

                                                </tr>
                                                <tr>
                                                    <td colspan="7">(ii) Building:</td>
                                                </tr>
                                                <tr>
                                                    <td>Industrial</td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_AtBeginning" name="objCapitalStructure.Industrial_AtBeginning" id="objCapitalStructure_Industrial_AtBeginning" class="form-control CapitalStructure" onchange="Text_Beginning();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_Additions" name="objCapitalStructure.Industrial_Additions" id="objCapitalStructure_Industrial_Additions" class="form-control CapitalStructure" onchange="Text_Additions();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_Sold_Discarded" name="objCapitalStructure.Industrial_Sold_Discarded" id="objCapitalStructure_Industrial_Sold_Discarded" class="form-control CapitalStructure" onchange="Text_Discarded();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_Depreciation" name="objCapitalStructure.Industrial_Depreciation" id="objCapitalStructure_Industrial_Depreciation" class="form-control CapitalStructure" onchange="Text_Depreciation();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_Net_closing_Balance" name="objCapitalStructure.Industrial_Net_closing_Balance" id="objCapitalStructure_Industrial_Net_closing_Balance" class="form-control" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Industrial_Estimated_Market" name="objCapitalStructure.Industrial_Estimated_Market" id="objCapitalStructure_Industrial_Estimated_Market" class="form-control CapitalStructure" onchange="Text_Estimated();" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>Residential</td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_AtBeginning" name="objCapitalStructure.Residential_AtBeginning" id="objCapitalStructure_Residential_AtBeginning" class="form-control CapitalStructure" onchange="Text_Beginning();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_Additions" name="objCapitalStructure.Residential_Additions" id="objCapitalStructure_Residential_Additions" class="form-control CapitalStructure" onchange="Text_Additions();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_Sold_Discarded" name="objCapitalStructure.Residential_Sold_Discarded" id="objCapitalStructure_Residential_Sold_Discarded" class="form-control CapitalStructure" onchange="Text_Discarded();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_Depreciation" name="objCapitalStructure.Residential_Depreciation" id="objCapitalStructure_Residential_Depreciation" class="form-control CapitalStructure" onchange="Text_Depreciation();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_Net_closing_Balance" name="objCapitalStructure.Residential_Net_closing_Balance" id="objCapitalStructure_Residential_Net_closing_Balance" class="form-control" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Residential_Estimated_Market" name="objCapitalStructure.Residential_Estimated_Market" id="objCapitalStructure_Residential_Estimated_Market" class="form-control CapitalStructure" onchange="Text_Estimated();" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>(iii) Plant and Machinery including transport equipment</td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_AtBeginning" name="objCapitalStructure.P_M_T_AtBeginning" id="objCapitalStructure_P_M_T_AtBeginning" class="form-control CapitalStructure" onchange="Text_Beginning();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_Additions" name="objCapitalStructure.P_M_T_Additions" id="objCapitalStructure_P_M_T_Additions" class="form-control CapitalStructure" onchange="Text_Additions();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_Sold_Discarded" name="objCapitalStructure.P_M_T_Sold_Discarded" id="objCapitalStructure_P_M_T_Sold_Discarded" class="form-control CapitalStructure" onchange="Text_Discarded();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_Depreciation" name="objCapitalStructure.P_M_T_Depreciation" id="objCapitalStructure_P_M_T_Depreciation" class="form-control CapitalStructure" onchange="Text_Depreciation();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_Net_closing_Balance" name="objCapitalStructure.P_M_T_Net_closing_Balance" id="objCapitalStructure_P_M_T_Net_closing_Balance" class="form-control CapitalStructure" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.P_M_T_Estimated_Market" name="objCapitalStructure.P_M_T_Estimated_Market" id="objCapitalStructure_P_M_T_Estimated_Market" class="form-control CapitalStructure" onchange="Text_Estimated();" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td>(iv) Capitalised Expenditure such as pre-production exploration, development,major overhaul and repair to machinery etc (As prescribed under Income Tax Act)</td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_AtBeginning" name="objCapitalStructure.Exp_AtBeginning" id="objCapitalStructure_Exp_AtBeginning" class="form-control CapitalStructure" onchange="Text_Beginning();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_Additions" name="objCapitalStructure.Exp_Additions" id="objCapitalStructure_Exp_Additions" class="form-control CapitalStructure" onchange="Text_Additions();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_Sold_Discarded" name="objCapitalStructure.Exp_Sold_Discarded" id="objCapitalStructure_Exp_Sold_Discarded" class="form-control CapitalStructure" onchange="Text_Discarded();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_Depreciation" name="objCapitalStructure.Exp_Depreciation" id="objCapitalStructure_Exp_Depreciation" class="form-control CapitalStructure" onchange="Text_Depreciation();" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_Net_closing_Balance" name="objCapitalStructure.Exp_Net_closing_Balance" id="objCapitalStructure_Exp_Net_closing_Balance" class="form-control" readonly="readonly" type="number"></td>
                                                    <td><input value="@Model.objCapitalStructure.Exp_Estimated_Market" name="objCapitalStructure.Exp_Estimated_Market" id="objCapitalStructure_Exp_Estimated_Market" class="form-control CapitalStructure" onchange="Text_Estimated();" type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">Total</td>
                                                    <td><input value="@Model.objCapitalStructure.Total_AtBeginning" name="objCapitalStructure.Total_AtBeginning" id="objCapitalStructure_Total_AtBeginning" class="form-control CapitalStructure" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objCapitalStructure.Total_Additions" name="objCapitalStructure.Total_Additions" id="objCapitalStructure_Total_Additions" class="form-control CapitalStructure" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objCapitalStructure.Total_Sold_Discarded" name="objCapitalStructure.Total_Sold_Discarded" id="objCapitalStructure_Total_Sold_Discarded" class="form-control CapitalStructure" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objCapitalStructure.Total_Depreciation" name="objCapitalStructure.Total_Depreciation" id="objCapitalStructure_Total_Depreciation" class="form-control CapitalStructure" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objCapitalStructure.Total_Net_closing_Balance" name="objCapitalStructure.Total_Net_closing_Balance" id="objCapitalStructure_Total_Net_closing_Balance" class="form-control" readonly="readonly" type="text"></td>
                                                    <td><input value="@Model.objCapitalStructure.Total_Estimated_Market" name="objCapitalStructure.Total_Estimated_Market" id="objCapitalStructure_Total_Estimated_Market" class="form-control CapitalStructure" readonly="readonly" type="text"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            <a class="btn btn-danger btn-md ml-0 waves-effect waves-light">Reset</a>
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="five" role="tabpanel" aria-labelledby="five-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objSource.Year" id="objSourceYear" />
                                    @Html.HiddenFor(m => m.objSource.Flag4)
                                    @Html.HiddenFor(m => m.objSource.SourceOfFinance_Id)
                                    <p class="text-danger">
                                        <span class=" font-weight-bold">Note</span><br>
                                        Indicate the names of the lending institutions such as State Finance Corporation,
                                        Industrial Development and other Public Corporations, Co-operative Banks, Nationalised Banks
                                        and other sources along with the amount of loan from each source and the rate of interest at
                                        which loan has been taken.
                                    </p>
                                    <h5 class="text-brown font-weight-bold">Source of finance ( at the end of the year)</h5>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Paid up Share Capital (Rs)</label>
                                            <input type="number" value="@Model.objSource.ShareCapital" name="objSource.ShareCapital" id="objSource_ShareCapital" class="form-control Source">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Own Capital (Rs)</label>
                                            <input type="number" value="@Model.objSource.OwnCapital" name="objSource.OwnCapital" id="objSource_OwnCapital" class="form-control Source">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Reserve & Surplus (All Types)( Rs)</label>
                                            <input type="number" value="@Model.objSource.Reserve" name="objSource.Reserve" id="objSource_Reserve" class="form-control Source">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Name of the Institution/Source</label>
                                            <input type="number" value="@Model.objSource.Institution" name="objSource.Institution" id="objSource_Institution" class="form-control Source">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Amount of Loan (Rs)</label>
                                            <input type="number" value="@Model.objSource.AmountofLoan" name="objSource.AmountofLoan" id="objSource_AmountofLoan" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Rate of Interest</label>
                                            <input type="number" value="@Model.objSource.RateofInterest" name="objSource.RateofInterest" id="objSource_RateofInterest" class="form-control Source">
                                        </div>
                                    </div>
                                    <h5 class="text-brown font-weight-bold">Interest and rent (Rs)</h5>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Interest paid during the year</label>
                                            <input type="text" value="@Model.objSource.Interestpaid" name="objSource.Interestpaid" id="objSource_Interestpaid" class="form-control Source">
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-form-label font-weight-bolder">Rents (excluding surface rent) paid during the year</label>
                                            <input type="text" value="@Model.objSource.Rentspaid" name="objSource.Rentspaid" id="objSource_Rentspaid" class="form-control Source">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            @if (Model.objSource.SourceOfFinance_Id != null && Model.objSource.SourceOfFinance_Id != 0)
                                            {
                                                <a onclick="return OnUpdateSourceOfFinance();" class="btn btn-success btn-md ml-0 waves-effect waves-light">Update</a>
                                            }
                                            else
                                            {
                                                <a onclick="return OnSaveSourceOfFinance();" class="btn btn-danger btn-md ml-0 waves-effect waves-light">Save</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>

    $(document).ready(function () {
        loadNavigation('PartTwoH2', 'glereturn', 'plyearetcop', 'tl', 'E-Return Non-coal', 'Yearly Return Copper', ' ');
        //$('.datepicker').datetimepicker({
        //    //format: 'LT',
        //    format: 'DD-MM-YYYY',
        //    //daysOfWeekDisabled: [0, 6],
        //});

        $(document).on('click', '.add-btn', function () {
            $("#insert").find('tbody').append(
                '<tr>'+
                '<td id = "t1">'+
                '<input type = "hidden" id = "Work_Id" name = "Work_Id" value = "@Model.objWork.Work_Id.FirstOrDefault()" />'+
                '<textarea id="Reason" name="Reason" class= "form-control" rows = "1"></textarea></td > '+
                '<td id = "t2" ><input type="number" class="form-control" id="NoOfDaysMineStop" name="NoOfDaysMineStop"></td>' +
                '<td><button class="btn btn-danger btn-md remove  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Remove Row"><i class="fa fa-times" aria-hidden="true"></i></button>' +
                '<a  class="btn btn-success btn-md add-btn  m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Add Row"><i class="fa fa-plus" aria-hidden="true"></i></a></td ></tr >'
            );
        });

        $("#insert").on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

    });
    //-------------Staff and Work Details------------
    function TextChangeWhollyemployed() {
        var Whollyemployed1 = $("#objStaffWork_Whollyemployed1").val();
        if (Whollyemployed1 == "") {
            Whollyemployed1 = 0;
        }
        var Whollyemployed2 = $("#objStaffWork_Whollyemployed2").val();
        if (Whollyemployed2 == "") {
            Whollyemployed2 = 0;
        }
        var Whollyemployed3 = $("#objStaffWork_Whollyemployed3").val();
        if (Whollyemployed3 == "") {
            Whollyemployed3 = 0;
        }
        var Whollyemployed4 = $("#objStaffWork_Whollyemployed4").val();
        if (Whollyemployed4 == "") {
            Whollyemployed4 = 0;
        }
        var Whollyemployed5 = $("#objStaffWork_Whollyemployed5").val();
        if (Whollyemployed5 == "") {
            Whollyemployed5 = 0;
        }
        var SUM = Number(Whollyemployed1) + Number(Whollyemployed2) + Number(Whollyemployed3) + Number(Whollyemployed4) + Number(Whollyemployed5)
        $("#objStaffWork_Whollyemployed_Total").val(SUM);
    }

    function TextChangePartlyemployed() {
        var Partlyemployed1 = $("#objStaffWork_Partlyemployed1").val();
        if (Partlyemployed1 == "") {
            Partlyemployed1 = 0;
        }
        var Partlyemployed2 = $("#objStaffWork_Partlyemployed2").val();
        if (Partlyemployed2 == "") {
            Partlyemployed2 = 0;
        }
        var Partlyemployed3 = $("#objStaffWork_Partlyemployed3").val();
        if (Partlyemployed3 == "") {
            Partlyemployed3 = 0;
        }
        var Partlyemployed4 = $("#objStaffWork_Partlyemployed4").val();
        if (Partlyemployed4 == "") {
            Partlyemployed4 = 0;
        }
        var Partlyemployed5 = $("#objStaffWork_Partlyemployed5").val();
        if (Partlyemployed5 == "") {
            Partlyemployed5 = 0;
        }
        var SUM = Number(Partlyemployed1) + Number(Partlyemployed2) + Number(Partlyemployed3) + Number(Partlyemployed4) + Number(Partlyemployed5)
        $("#objStaffWork_Partlyemployed_Total").val(SUM);
    }
    //--------------End Here----------------------------
    //-------------Capital Structure------------------
    function Text_Beginning() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_AtBeginning").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_AtBeginning").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_AtBeginning").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_AtBeginning").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_AtBeginning").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_AtBeginning").val(SUM);

    }

    function Text_Additions() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_Additions").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_Additions").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_Additions").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_Additions").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_Additions").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_Additions").val(SUM);

    }

    function Text_Discarded() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_Sold_Discarded").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_Sold_Discarded").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_Sold_Discarded").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_Sold_Discarded").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_Sold_Discarded").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_Sold_Discarded").val(SUM);

    }

    function Text_Depreciation() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_Depreciation").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_Depreciation").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_Depreciation").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_Depreciation").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_Depreciation").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_Depreciation").val(SUM);

    }

    function Text_Estimated() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_Estimated_Market").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_Estimated_Market").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_Estimated_Market").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_Estimated_Market").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_Estimated_Market").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_Estimated_Market").val(SUM);

    }

    function Text_NetClosingBalance1() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_AtBeginning").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Land_Additions = $("#objCapitalStructure_Land_Additions").val();
        if (Land_Additions == "") {
            Land_Additions = 0;
        }
        var Land_Sold_Discarded = $("#objCapitalStructure_Land_Sold_Discarded").val();
        if (Land_Sold_Discarded == "") {
            Land_Sold_Discarded = 0;
        }
        var Land_Depreciation = $("#objCapitalStructure_Land_Depreciation").val();
        if (Land_Depreciation == "") {
            Land_Depreciation = 0;
        }

        var SUM = (Number(Land_AtBeginning) + Number(Land_Additions)) - (Number(Land_Sold_Discarded) + Number(Land_Depreciation));
        $("#objCapitalStructure_Land_Net_closing_Balance").val(SUM);
    }

    function Text_NetClosingBalance2() {
        var AtBeginning = $("#objCapitalStructure_Industrial_AtBeginning").val();
        if (AtBeginning == "") {
            AtBeginning = 0;
        }
        var Additions = $("#objCapitalStructure_Industrial_Additions").val();
        if (Additions == "") {
            Additions = 0;
        }
        var Sold_Discarded = $("#objCapitalStructure_Industrial_Sold_Discarded").val();
        if (Sold_Discarded == "") {
            Sold_Discarded = 0;
        }
        var Depreciation = $("#objCapitalStructure_Industrial_Depreciation").val();
        if (Depreciation == "") {
            Depreciation = 0;
        }

        var SUM = (Number(AtBeginning) + Number(Additions)) - (Number(Sold_Discarded) + Number(Depreciation));
        $("#objCapitalStructure_Industrial_Net_closing_Balance").val(SUM);
    }

    function Text_NetClosingBalance3() {
        var AtBeginning = $("#objCapitalStructure_Residential_AtBeginning").val();
        if (AtBeginning == "") {
            AtBeginning = 0;
        }
        var Additions = $("#objCapitalStructure_Residential_Additions").val();
        if (Additions == "") {
            Additions = 0;
        }
        var Sold_Discarded = $("#objCapitalStructure_Residential_Sold_Discarded").val();
        if (Sold_Discarded == "") {
            Sold_Discarded = 0;
        }
        var Depreciation = $("#objCapitalStructure_Residential_Depreciation").val();
        if (Depreciation == "") {
            Depreciation = 0;
        }

        var SUM = (Number(AtBeginning) + Number(Additions)) - (Number(Sold_Discarded) + Number(Depreciation));
        $("#objCapitalStructure_Residential_Net_closing_Balance").val(SUM);
    }

    function Text_NetClosingBalance4() {
        var AtBeginning = $("#objCapitalStructure_P_M_T_AtBeginning").val();
        if (AtBeginning == "") {
            AtBeginning = 0;
        }
        var Additions = $("#objCapitalStructure_P_M_T_Additions").val();
        if (Additions == "") {
            Additions = 0;
        }
        var Sold_Discarded = $("#objCapitalStructure_P_M_T_Sold_Discarded").val();
        if (Sold_Discarded == "") {
            Sold_Discarded = 0;
        }
        var Depreciation = $("#objCapitalStructure_P_M_T_Depreciation").val();
        if (Depreciation == "") {
            Depreciation = 0;
        }

        var SUM = (Number(AtBeginning) + Number(Additions)) - (Number(Sold_Discarded) + Number(Depreciation));
        $("#objCapitalStructure_P_M_T_Net_closing_Balance").val(SUM);
    }

    function Text_NetClosingBalance5() {
        var AtBeginning = $("#objCapitalStructure_Exp_AtBeginning").val();
        if (AtBeginning == "") {
            AtBeginning = 0;
        }
        var Additions = $("#objCapitalStructure_Exp_Additions").val();
        if (Additions == "") {
            Additions = 0;
        }
        var Sold_Discarded = $("#objCapitalStructure_Exp_Sold_Discarded").val();
        if (Sold_Discarded == "") {
            Sold_Discarded = 0;
        }
        var Depreciation = $("#objCapitalStructure_Exp_Depreciation").val();
        if (Depreciation == "") {
            Depreciation = 0;
        }

        var SUM = (Number(AtBeginning) + Number(Additions)) - (Number(Sold_Discarded) + Number(Depreciation));
        $("#objCapitalStructure_Exp_Net_closing_Balance").val(SUM);
    }

    function Text_NetClosing_Total() {
        var Land_AtBeginning = $("#objCapitalStructure_Land_Net_closing_Balance").val();
        if (Land_AtBeginning == "") {
            Land_AtBeginning = 0;
        }
        var Industrial_AtBeginning = $("#objCapitalStructure_Industrial_Net_closing_Balance").val();
        if (Industrial_AtBeginning == "") {
            Industrial_AtBeginning = 0;
        }
        var Residential_AtBeginning = $("#objCapitalStructure_Residential_Net_closing_Balance").val();
        if (Residential_AtBeginning == "") {
            Residential_AtBeginning = 0;
        }
        var P_M_T_AtBeginning = $("#objCapitalStructure_P_M_T_Net_closing_Balance").val();
        if (P_M_T_AtBeginning == "") {
            P_M_T_AtBeginning = 0;
        }
        var Exp_AtBeginning = $("#objCapitalStructure_Exp_Net_closing_Balance").val();
        if (Exp_AtBeginning == "") {
            Exp_AtBeginning = 0;
        }
        var SUM = Number(Land_AtBeginning) + Number(Industrial_AtBeginning) + Number(Residential_AtBeginning) + Number(P_M_T_AtBeginning) + Number(Exp_AtBeginning);
        $("#objCapitalStructure_Total_Net_closing_Balance").val(SUM);

    }

    $("#objCapitalStructure_Land_AtBeginning").on("change", function () {
        Text_NetClosingBalance1();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Land_Additions").on("change", function () {
        Text_NetClosingBalance1();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Land_Sold_Discarded").on("change", function () {
        Text_NetClosingBalance1();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Land_Depreciation").on("change", function () {
        Text_NetClosingBalance1();
        Text_NetClosing_Total();
    });
    //---------------------------------------------------------------------
    $("#objCapitalStructure_Industrial_AtBeginning").on("change", function () {
        Text_NetClosingBalance2();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Industrial_Additions").on("change", function () {
        Text_NetClosingBalance2();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Industrial_Sold_Discarded").on("change", function () {
        Text_NetClosingBalance2();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Industrial_Depreciation").on("change", function () {
        Text_NetClosingBalance2();
        Text_NetClosing_Total();
    });
    //---------------------------------------------------------------------
    $("#objCapitalStructure_Residential_AtBeginning").on("change", function () {
        Text_NetClosingBalance3();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Residential_Additions").on("change", function () {
        Text_NetClosingBalance3();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Residential_Sold_Discarded").on("change", function () {
        Text_NetClosingBalance3();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Residential_Depreciation").on("change", function () {
        Text_NetClosingBalance3();
        Text_NetClosing_Total();
    });
    //---------------------------------------------------------------------
    $("#objCapitalStructure_P_M_T_AtBeginning").on("change", function () {
        Text_NetClosingBalance4();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_P_M_T_Additions").on("change", function () {
        Text_NetClosingBalance4();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_P_M_T_Sold_Discarded").on("change", function () {
        Text_NetClosingBalance4();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_P_M_T_Depreciation").on("change", function () {
        Text_NetClosingBalance4();
        Text_NetClosing_Total();
    });
    //---------------------------------------------------------------------
    $("#objCapitalStructure_Exp_AtBeginning").on("change", function () {
        Text_NetClosingBalance5();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Exp_Additions").on("change", function () {
        Text_NetClosingBalance5();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Exp_Sold_Discarded").on("change", function () {
        Text_NetClosingBalance5();
        Text_NetClosing_Total();
    });

    $("#objCapitalStructure_Exp_Depreciation").on("change", function () {
        Text_NetClosingBalance5();
        Text_NetClosing_Total();
    });
    //-------------End Here---------------------------
    //-------------Validation--------------------
    function ValidateStaffDetails() {
        var StaffDetails = document.getElementsByClassName("StaffDetails");

        for (var i = 0; i < StaffDetails.length; i++) {
            if (StaffDetails[i].value == "") {
                $("#five").removeClass("active");
                $("#first").addClass("tab-pane fade show active");
                StaffDetails[i].focus();
                alert('This field is required.');
                return false;
            }
        }
    }

    function ValidateWorkDetails() {
        if ($("#objWork_NoOfDaysMineWorked").val() == "") {
            $("#five").removeClass("active");
            $("#second").addClass("tab-pane fade show active");
            $("#objWork_NoOfDaysMineWorked").focus();
            alert("This field is required");
            return false;
        }
        else if ($("#objWork_NoOfShiftPerDay").val() == "") {
            $("#five").removeClass("active");
            $("#second").addClass("tab-pane fade show active");
            $("#objWork_NoOfShiftPerDay").focus();
            alert("This field is required");
            return false;
        }
        else {
            var Reason = document.getElementsByName("Reason");
            var NoOfDaysMineStop = document.getElementsByName("NoOfDaysMineStop");

            for (var i = 0; i < NoOfDaysMineStop.length; i++) {
                if (NoOfDaysMineStop[i].value > 0) {
                    if (Reason[i].value == "") {
                        $("#five").removeClass("active");
                        $("#second").addClass("tab-pane fade show active");
                        Reason[i].focus();
                        alert("This field is required");
                        return false;
                    }
                }
            }
        }
    }

    function ValidateSalaryWages() {


        var BGD = $("#objSalaryWages_BG_Direct").val();
        var BGD1 = $("#objSalaryWages_OC_Direct").val();
        var BGD2 = $("#objSalaryWages_AG_Direct").val();

        if ($('#objSalaryWages_WorkingBelowGrounddate_str').val() == "") {
            $("#five").removeClass("active");
            $("#third").addClass("tab-pane fade show active");
            $('#objSalaryWages_WorkingBelowGrounddate_str').focus();
            alert("This field is required");
            return false;
        }
        else if ($('#objSalaryWages_WorkingBelowNo').val() == "") {
            $("#five").removeClass("active");
            $("#third").addClass("tab-pane fade show active");
            $('#objSalaryWages_WorkingBelowNo').focus();
            alert("This field is required");
            return false;
        }
        else if ($('#objSalaryWages_WorkingOnMinedate_str').val() == "") {
            $("#five").removeClass("active");
            $("#third").addClass("tab-pane fade show active");
            $('#objSalaryWages_WorkingOnMinedate_str').focus();
            alert("This field is required");
            return false;
        }
        else if ($('#objSalaryWages_WorkingOnMineNo').val() == "") {
            $("#five").removeClass("active");
            $("#third").addClass("tab-pane fade show active");
            $('#objSalaryWages_WorkingOnMineNo').focus();
            alert("This field is required");
            return false;
        }
        else if (BGD == "" && BGD1 == "" && BGD2 == "") {
            $("#five").removeClass("active");
            $("#third").addClass("tab-pane fade show active");
            $("#objSalaryWages_BG_Direct").focus();
            alert('Atleast one Direct Work should be filled');
            return false;


        }
        var BG = document.getElementsByClassName("BG");
        var OC = document.getElementsByClassName("OC");
        var AG = document.getElementsByClassName("AG");

        for (var i = 0; i < BG.length; i++) {
            if (BG[i].value > 0 && i <= BG.length) {
                for (var j = 0; j < BG.length; j++) {
                    if (BG[j].value == "") {
                        $("#five").removeClass("active");
                        $("#third").addClass("tab-pane fade show active");
                        alert("This field is required.");
                        BG[j].focus();
                        return false
                        break;
                    }
                }
            }
        }
        for (var i = 0; i < OC.length; i++) {
            if (OC[i].value > 0 && i <= OC.length) {
                for (var j = 0; j < OC.length; j++) {
                    if (OC[j].value == "") {
                        $("#five").removeClass("active");
                        $("#third").addClass("tab-pane fade show active");
                        alert("This field is required.");
                        OC[j].focus();
                        return false
                        break;
                    }
                }
            }
        }
        for (var i = 0; i < AG.length; i++) {
            if (AG[i].value > 0 && i <= AG.length) {
                for (var j = 0; j < AG.length; j++) {
                    if (AG[j].value == "") {
                        $("#five").removeClass("active");
                        $("#third").addClass("tab-pane fade show active");
                        alert("This field is required.");
                        AG[j].focus();
                        return false
                        break;
                    }
                }
            }
        }
    }

    function ValidateCapitalStructure() {
        if ($('#objCapitalStructure_ValueofFixedAssets').val() == "") {
            $("#five").removeClass("active");
            $("#four").addClass("tab-pane fade show active");
            alert("This field is required.");
            $('#objCapitalStructure_ValueofFixedAssets').focus();
            return false;
        }
        if ($('#objCapitalStructure_OtherMineCode').val() == "") {
            $("#five").removeClass("active");
            $("#four").addClass("tab-pane fade show active");
            alert("This field is required.");
            $('#objCapitalStructure_OtherMineCode').focus();
            return false;
        }
        var CapitalStructure = document.getElementsByClassName("CapitalStructure");
        for (var i = 0; i < CapitalStructure.length; i++) {
            if (CapitalStructure[i].value == "") {
                $("#five").removeClass("active");
                $("#four").addClass("tab-pane fade show active");
                alert("This field is required.");
                CapitalStructure[i].focus();
                return false
                break;
            }
        }
    }

    function ValidateSource() {
        var Source = document.getElementsByClassName("Source");
        for (var i = 0; i < Source.length; i++) {
            if (Source[i].value == "") {
                alert("This field is required");
                Source[i].focus();
                return false;
            }
        }
    }

    function ValidatePartII() {
        for (var i = 0; i < 2; i++) {
            if (ValidateStaffDetails() == false) {
                return false;
            }
            else if (ValidateWorkDetails() == false) {
                return false;
            }
            else if (ValidateSalaryWages() == false) {
                return false;
            }
            else if (ValidateCapitalStructure() == false) {
                return false;
            }
            else if (ValidateSource() == false) {
                return false;
            }
            else { return true; }
        }
    }
    //------------End Here------------------------
    //------------Save & Update G2----------------
    function OnSaveSourceOfFinance() {
        if ($("#objSource_Year").val() == "") {
            $("#objSource_Year").focus();
            alert('Please Select Financial Year!')
            return false;
        }
        else {

            if (ValidatePartII() != false) {
                $("#objWork_Flag").val(2);

                $("#objStaffWork_Flag1").val(2);

                $("#objSalaryWages_Flag2").val(2);

                $("#objCapitalStructure_Flag3").val(2);

                $("#objSource_Flag4").val(2);

                $("#G2_SourceOfFinance").submit();
            }

        }
    }

    function OnUpdateSourceOfFinance() {
        if (ValidatePartII() != false) {
            $("#objWork_Flag").val(1);

            $("#objStaffWork_Flag1").val(1);

            $("#objSalaryWages_Flag2").val(1);

            $("#objCapitalStructure_Flag3").val(1);

            $("#objSource_Flag4").val(1);

            //$("#FormPart2G2").submit();
            $("#G2_SourceOfFinance").submit();
        }
    }
    //-----------End Here------------------------
    //for Salary and Wages
    function TextBelowGround() {
        var BG_Direct = $("#objSalaryWages_BG_Direct").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var BG_Contract = $("#objSalaryWages_BG_Contract").val();
        if (BG_Contract == "") {
            BG_Contract = 0;
        }
        var SUM = Number(BG_Direct) + Number(BG_Contract);
        $("#objSalaryWages_BG_Total").val(SUM);
    }
    function TextOpenCast() {
        var BG_Direct = $("#objSalaryWages_OC_Direct").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var BG_Contract = $("#objSalaryWages_OC_Contract").val();
        if (BG_Contract == "") {
            BG_Contract = 0;
        }
        var SUM = Number(BG_Direct) + Number(BG_Contract);
        $("#objSalaryWages_OC_Total").val(SUM);
    }
    function TextAboveGround() {
        var BG_Direct = $("#objSalaryWages_AG_Direct").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var BG_Contract = $("#objSalaryWages_AG_Contract").val();
        if (BG_Contract == "") {
            BG_Contract = 0;
        }
        var SUM = Number(BG_Direct) + Number(BG_Contract);
        $("#objSalaryWages_AG_Total").val(SUM);
    }
    function TextDirect() {
        debugger;
        var BG_Direct = $("#objSalaryWages_BG_Direct").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var OC_Direct = $("#objSalaryWages_OC_Direct").val();
        if (OC_Direct == "") {
            OC_Direct = 0;
        }
        var AG_Direct = $("#objSalaryWages_AG_Direct").val();
        if (AG_Direct == "") {
            AG_Direct = 0;
        }
        var SUM = Number(BG_Direct) + Number(OC_Direct) + Number(AG_Direct);
        $("#objSalaryWages_Total_Direct").val(SUM);
    }
    function TextContract() {
        var BG_Direct = $("#objSalaryWages_BG_Contract").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var OC_Direct = $("#objSalaryWages_OC_Contract").val();
        if (OC_Direct == "") {
            OC_Direct = 0;
        }
        var AG_Direct = $("#objSalaryWages_AG_Contract").val();
        if (AG_Direct == "") {
            AG_Direct = 0;
        }
        var SUM = Number(BG_Direct) + Number(OC_Direct) + Number(AG_Direct);
        $("#objSalaryWages_Total_Contract").val(SUM);
    }
    function TextTotal() {
        var BG_Total = $("#objSalaryWages_BG_Total").val();
        if (BG_Total == "") {
            BG_Total = 0;
        }
        var OC_Total = $("#objSalaryWages_OC_Total").val();
        if (OC_Total == "") {
            OC_Total = 0;
        }
        var AG_Total = $("#objSalaryWages_AG_Total").val();
        if (AG_Total == "") {
            AG_Total = 0;
        }
        var SUM = Number(BG_Total) + Number(OC_Total) + Number(AG_Total);
        $("#objSalaryWages_Total_Total").val(SUM);
    }
    //-----------------------------------
    function TextBG_persons() {
        var BG_Direct = $("#objSalaryWages_BG_Male").val();
        if (BG_Direct == "") {
            BG_Direct = 0;
        }
        var BG_Contract = $("#objSalaryWages_BG_Female").val();
        if (BG_Contract == "") {
            BG_Contract = 0;
        }
        var SUM = Number(BG_Direct) + Number(BG_Contract);
        $("#objSalaryWages_BG_Average_Total").val(SUM);
    }
    function TextOC_persons() {
        var OC_Male = $("#objSalaryWages_OC_Male").val();
        if (OC_Male == "") {
            OC_Male = 0;
        }
        var OC_Female = $("#objSalaryWages_OC_Female").val();
        if (OC_Female == "") {
            OC_Female = 0;
        }
        var SUM = Number(OC_Male) + Number(OC_Female);
        $("#objSalaryWages_OC_Average_Total").val(SUM);
    }
    function TextAG_persons() {
        var AG_Male = $("#objSalaryWages_AG_Male").val();
        if (AG_Male == "") {
            AG_Male = 0;
        }
        var AG_Female = $("#objSalaryWages_AG_Female").val();
        if (AG_Female == "") {
            AG_Female = 0;
        }
        var SUM = Number(AG_Male) + Number(AG_Female);
        $("#objSalaryWages_AG_Average_Total").val(SUM);
    }
    function TextMaleTotal() {
        var BG_Male = $("#objSalaryWages_BG_Male").val();
        if (BG_Male == "") {
            BG_Male = 0;
        }
        var OC_Male = $("#objSalaryWages_OC_Male").val();
        if (OC_Male == "") {
            OC_Male = 0;
        }
        var AG_Male = $("#objSalaryWages_AG_Male").val();
        if (AG_Male == "") {
            AG_Male = 0;
        }
        var SUM = Number(BG_Male) + Number(OC_Male) + Number(AG_Male);
        $("#objSalaryWages_Total_Male").val(SUM);
    }
    function TextFemaleTotal() {
        var BG_Female = $("#objSalaryWages_BG_Female").val();
        if (BG_Female == "") {
            BG_Female = 0;
        }
        var OC_Female = $("#objSalaryWages_OC_Female").val();
        if (OC_Female == "") {
            OC_Female = 0;
        }
        var AG_Female = $("#objSalaryWages_AG_Female").val();
        if (AG_Female == "") {
            AG_Female = 0;
        }
        var SUM = Number(BG_Female) + Number(OC_Female) + Number(AG_Female);
        $("#objSalaryWages_Total_Female").val(SUM);
    }
    function Text_personsTotal() {
        var BG_Average_Total = $("#objSalaryWages_BG_Average_Total").val();
        if (BG_Average_Total == "") {
            BG_Average_Total = 0;
        }
        var OC_Average_Total = $("#objSalaryWages_OC_Average_Total").val();
        if (OC_Average_Total == "") {
            OC_Average_Total = 0;
        }
        var AG_Average_Total = $("#objSalaryWages_AG_Average_Total").val();
        if (AG_Average_Total == "") {
            AG_Average_Total = 0;
        }
        var SUM = Number(BG_Average_Total) + Number(OC_Average_Total) + Number(AG_Average_Total);
        $("#objSalaryWages_Total_Average_Total").val(SUM);

    }
    function Text_TotalWages_Salary() {
        var BG_TotalWages = $("#objSalaryWages_BG_TotalWages").val();
        if (BG_TotalWages == "") {
            BG_TotalWages = 0;
        }
        var OC_TotalWages = $("#objSalaryWages_OC_TotalWages").val();
        if (OC_TotalWages == "") {
            OC_TotalWages = 0;
        }
        var AG_TotalWages = $("#objSalaryWages_AG_TotalWages").val();
        if (AG_TotalWages == "") {
            AG_TotalWages = 0;
        }
        var SUM = Number(BG_TotalWages) + Number(OC_TotalWages) + Number(AG_TotalWages);
        $("#objSalaryWages_Total_TotalWages").val(SUM);

    }
    function Text_Noofdaysworked() {
        var BG_NoOFDaysWork = $("#objSalaryWages_BG_NoOFDaysWork").val();
        if (BG_NoOFDaysWork == "") {
            BG_NoOFDaysWork = 0;
        }
        var OC_NoOFDaysWork = $("#objSalaryWages_OC_NoOFDaysWork").val();
        if (OC_NoOFDaysWork == "") {
            OC_NoOFDaysWork = 0;
        }
        var AG_NoOFDaysWork = $("#objSalaryWages_AG_NoOFDaysWork").val();
        if (AG_NoOFDaysWork == "") {
            AG_NoOFDaysWork = 0;
        }
        var SUM = Number(BG_NoOFDaysWork) + Number(OC_NoOFDaysWork) + Number(AG_NoOFDaysWork);
        $("#objSalaryWages_Total_NoOFDaysWork").val(SUM);

    }

    $("#objSalaryWages_BG_Direct").on("change", function () {
        TextBelowGround();
        TextDirect();
        TextTotal();
    });
    $("#objSalaryWages_BG_Contract").on("change", function () {
        TextBelowGround();
        TextContract();
        TextTotal();
    });

    $("#objSalaryWages_OC_Direct").on("change", function () {
        TextOpenCast();
        TextDirect();
        TextTotal();
    });

    $("#objSalaryWages_AG_Direct").on("change", function () {
        debugger;
        TextDirect();
        TextAboveGround();
        TextTotal();
    });

    $("#objSalaryWages_OC_Contract").on("change", function () {
        TextContract();
        TextOpenCast();
        TextTotal();
    });

    $("#objSalaryWages_AG_Contract").on("change", function () {
        TextContract();
        TextAboveGround();
        TextTotal();
    });

    //-----------------------------------------------------------------


    $("#objSalaryWages_BG_Male").on("change", function () {
        TextBG_persons();
        TextMaleTotal();
        Text_personsTotal();
    });

    $("#objSalaryWages_OC_Male").on("change", function () {
        TextOC_persons();
        TextMaleTotal();
        Text_personsTotal();
    });

    $("#objSalaryWages_AG_Male").on("change", function () {
        TextAG_persons();
        TextMaleTotal();
        Text_personsTotal();
    });

    $("#objSalaryWages_BG_Female").on("change", function () {
        TextBG_persons();
        TextFemaleTotal();
        Text_personsTotal();
    });

    $("#objSalaryWages_OC_Female").on("change", function () {
        TextOC_persons();
        TextFemaleTotal();
        Text_personsTotal();
    });

    $("#objSalaryWages_AG_Female").on("change", function () {
        TextAG_persons();
        TextFemaleTotal();
        Text_personsTotal();
    });
    $("#objSalaryWages_BG_TotalWages").on("change", function () {
        Text_TotalWages_Salary();
    });
    $("#objSalaryWages_OC_TotalWages").on("change", function () {
        Text_TotalWages_Salary();
    });
    $("#objSalaryWages_AG_TotalWages").on("change", function () {
        Text_TotalWages_Salary();
    });

    $("#objSalaryWages_BG_NoOFDaysWork").on("change", function () {
        Text_Noofdaysworked();
    });
    $("#objSalaryWages_OC_NoOFDaysWork").on("change", function () {
        Text_Noofdaysworked();
    });
    $("#objSalaryWages_AG_NoOFDaysWork").on("change", function () {
        Text_Noofdaysworked();
    });
</script>


