@*// *********************************************************************************************************
    //  View Name                : PartThreeH2
    //  Desciption               : To be used for minerals Copper, Gold, Lead, Pyrites, Tin, Tungsten and Zinc
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@{
    ViewData["Title"] = "PartThreeH2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ReturnEF.AnnualReturnH1PartThreeModel
@{
    if (ViewBag.msg != null)
    {
        <script>
                alert('@ViewBag.msg');
        </script>
    }
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartTwoH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartThreeH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFourH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 4
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartFiveH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 5
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSixH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartSevenH2?Financial_Year=@ViewBag.FinancialYear">
                                Part 7
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="text-center text-dark">
                            <h6 class="font-weight-bold">Annual Return <small>(Form G-1)</small></h6>
                            <p class="font-weight-normal mb-0">
                                To be used for minerals other than Copper, Gold, Lead, Pyrites, Tin, Tungsten, Zinc and precious and semi-precious stones
                            </p>
                            <h6 class="font-weight-bold">Consumption of Materials<small> (Part – III)</small></h6>

                        </div>


                        <ul class="nav nav-tabs progressbar border-0" id="myTab" role="tablist">
                            <li class="startstep activestep1">
                                <a class="active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Quantity and cost of material consumed</a>
                            </li>
                            <li>
                                <a id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Royalty, Rents and Payments</a>
                            </li>


                        </ul>
                        @using (Html.BeginForm("PartThreeH2", "EReturnYearlyNonCoalG2", FormMethod.Post, new { @id = "G2_Payments", @enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@ViewBag.Year" name="Year" id="Year" />
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objMaterialConsumed.Year" id="objMaterialConsumedYear" />
                                    @Html.HiddenFor(m => m.objMaterialConsumed.Flag1)
                                    @Html.HiddenFor(m => m.objMaterialConsumed.MaterialConsumed_Id)
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Fuel</h5>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(a) Coal</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Tonnes</label>
                                                        <input type="text" class="form-control" value="Tonnes" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.CoalQty" name="objMaterialConsumed.CoalQty" id="objMaterialConsumed_CoalQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.CoalValue" name="objMaterialConsumed.CoalValue" id="objMaterialConsumed_CoalValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(b) Diesel Oil</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Ltrs.</label>
                                                        <input type="text" class="form-control" value="Ltrs." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.DieselOilQty" name="objMaterialConsumed.DieselOilQty" id="objMaterialConsumed_DieselOilQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.DieselOilValue" name="objMaterialConsumed.DieselOilValue" id="objMaterialConsumed_DieselOilValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(c) Petrol</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Ltrs.</label>
                                                        <input type="text" class="form-control" value="Ltrs." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.PetrolQty" name="objMaterialConsumed.PetrolQty" id="objMaterialConsumed_PetrolQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.PetrolValue" name="objMaterialConsumed.PetrolValue" id="objMaterialConsumed_PetrolValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(d) Kerosene</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Ltrs.</label>
                                                        <input type="text" class="form-control" value="Ltrs." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.KeroseneQty" name="objMaterialConsumed.KeroseneQty" id="objMaterialConsumed_KeroseneQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.KeroseneValue" name="objMaterialConsumed.KeroseneValue" id="objMaterialConsumed_KeroseneValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(e) Gas</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">CUM.</label>
                                                        <input type="text" class="form-control" value="CUM." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GasQty" name="objMaterialConsumed.GasQty" id="objMaterialConsumed_GasQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GasValue" name="objMaterialConsumed.GasValue" id="objMaterialConsumed_GasValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Lubricant</h5>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(a) Lubricant oil</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Ltrs.</label>
                                                        <input type="text" class="form-control" value="Ltrs." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.LubricantoilQty" name="objMaterialConsumed.LubricantoilQty" id="objMaterialConsumed_LubricantoilQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.LubricantoilValue" name="objMaterialConsumed.LubricantoilValue" id="objMaterialConsumed_LubricantoilValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(b) Grease</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Kgs.</label>
                                                        <input type="text" class="form-control" value="Kgs." readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GreaseQty" name="objMaterialConsumed.GreaseQty" id="objMaterialConsumed_GreaseQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GreaseValue" name="objMaterialConsumed.GreaseValue" id="objMaterialConsumed_GreaseValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Electricity</h5>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(a) Consumed</label>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Kwh</label>
                                                        <input type="text" class="form-control" value="Kwh" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.ConsumedQty" name="objMaterialConsumed.ConsumedQty" id="objMaterialConsumed_ConsumedQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.ConsumedValue" name="objMaterialConsumed.ConsumedValue" id="objMaterialConsumed_ConsumedValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(b) Generated</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Kwh</label>
                                                        <input type="text" class="form-control" value="Kwh" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GeneratedQty" name="objMaterialConsumed.GeneratedQty" id="objMaterialConsumed_GeneratedQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.GeneratedValue" name="objMaterialConsumed.GeneratedValue" id="objMaterialConsumed_GeneratedValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(c) Sold</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Kwh</label>
                                                        <input type="text" class="form-control" value="Kwh" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.SoldQty" name="objMaterialConsumed.SoldQty" id="objMaterialConsumed_SoldQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.SoldValue" name="objMaterialConsumed.SoldValue" id="objMaterialConsumed_SoldValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <h5 class="text-brown font-weight-bold">Explosives (furnish full details in part IV)</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.ExplosivesValue" name="objMaterialConsumed.ExplosivesValue" id="objMaterialConsumed_ExplosivesValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <h5 class="text-brown font-weight-bold">Tyres</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Nos</label>
                                                        <input type="text" class="form-control" value="Nos" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.TyresQty" name="objMaterialConsumed.TyresQty" id="objMaterialConsumed_TyresQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.TyresValue" name="objMaterialConsumed.TyresValue" id="objMaterialConsumed_TyresValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <h5 class="text-brown font-weight-bold">Timber & Supports</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.Timber_SupportsValue" name="objMaterialConsumed.Timber_SupportsValue" id="objMaterialConsumed_Timber_SupportsValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <h5 class="text-brown font-weight-bold">Drill rods & kits</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Nos</label>
                                                        <input type="text" class="form-control" value="Nos" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Quantity</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.Drill_kitsQty" name="objMaterialConsumed.Drill_kitsQty" id="objMaterialConsumed_Drill_kitsQty" class="form-control MaterialConsumed">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.Drill_kitsValue" name="objMaterialConsumed.Drill_kitsValue" id="objMaterialConsumed_Drill_kitsValue" class="form-control MaterialConsumed">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <h5 class="text-brown font-weight-bold">Other spares & stores</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">Value (Rs)</label>
                                                        <input type="number" value="@Model.objMaterialConsumed.OtherSparesValue" name="objMaterialConsumed.OtherSparesValue" id="objMaterialConsumed_OtherSparesValue" class="form-control">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-primary btn-md ml-0 waves-effect waves-light btnNext">Next</a>
                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                    <input type="hidden" value="@ViewBag.Year" name="objRoyaltyandRents.Year" id="objRoyaltyandRentsYear" />
                                    @Html.HiddenFor(m => m.objRoyaltyandRents.Flag2)
                                    @Html.HiddenFor(m => m.objRoyaltyandRents.RoyaltyandRents_Id)
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Royalty, rents and payments made to DMF & NMET (Rs)</h5>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(a) Royalty</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Paid for current year</label>
                                                        <input type="text" value="@Model.objRoyaltyandRents.RoyaltyCurrentyear" name="objRoyaltyandRents.RoyaltyCurrentyear" id="objRoyaltyandRents_RoyaltyCurrentyear" class="form-control" readonly>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.RoyaltyArrears" name="objRoyaltyandRents.RoyaltyArrears" id="objRoyaltyandRents_RoyaltyArrears" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(b) Dead rent</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Paid for current year</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.DeadRentCurrentyear" name="objRoyaltyandRents.DeadRentCurrentyear" id="objRoyaltyandRents_DeadRentCurrentyear" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.DeadRentArrears" name="objRoyaltyandRents.DeadRentArrears" id="objRoyaltyandRents_DeadRentArrears" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(c)Surface rent</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Paid for current year</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.SurfaceRentCurrentyear" name="objRoyaltyandRents.SurfaceRentCurrentyear" id="objRoyaltyandRents_SurfaceRentCurrentyear" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.SurfaceRentArrears" name="objRoyaltyandRents.SurfaceRentArrears" id="objRoyaltyandRents_SurfaceRentArrears" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(d) Payment made to DMF</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Paid for current year</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.DMFCurrentyear" name="objRoyaltyandRents.DMFCurrentyear" id="objRoyaltyandRents_DMFCurrentyear" class="form-control" readonly>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.DMFArrears" name="objRoyaltyandRents.DMFArrears" id="objRoyaltyandRents_DMFArrears" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(e) Payment made to NMET</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Paid for current year</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.NMETCurrentyear" name="objRoyaltyandRents.NMETCurrentyear" id="objRoyaltyandRents_NMETCurrentyear" class="form-control" readonly>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.NMETArrears" name="objRoyaltyandRents.NMETArrears" id="objRoyaltyandRents_NMETArrears" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-xl-6">
                                            <h5 class="text-brown font-weight-bold">Compensation paid for felling trees during the year (Rs)</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Compensation_Trees" name="objRoyaltyandRents.Compensation_Trees" id="objRoyaltyandRents_Compensation_Trees" class="form-control RoyaltyCurrentyear">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <h5 class="text-brown font-weight-bold">Depreciation on fixed assets (Rs)</h5>
                                            <div class="bg-light p-2 form-group border">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">Paid towards past arrears</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Depreciation" name="objRoyaltyandRents.Depreciation" id="objRoyaltyandRents_Depreciation" class="form-control RoyaltyCurrentyear">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Taxes and cesses</h5>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(i) Sales Tax</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Central Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.SalesTax_CentralGovt" name="objRoyaltyandRents.SalesTax_CentralGovt" id="objRoyaltyandRents_SalesTax_CentralGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.SalesTax_StateGovt" name="objRoyaltyandRents.SalesTax_StateGovt" id="objRoyaltyandRents_SalesTax_StateGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(ii) Welfare cesses</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Central Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Welfarecess_CentralGovt" name="objRoyaltyandRents.Welfarecess_CentralGovt" id="objRoyaltyandRents_Welfarecess_CentralGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Welfarecess_StateGovt" name="objRoyaltyandRents.Welfarecess_StateGovt" id="objRoyaltyandRents_Welfarecess_StateGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <label class="col-form-label font-weight-bolder pt-0">(iii) Other Taxes and cesses</label>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(a) Mineral cesses</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Central Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Cess_CentralGovt" name="objRoyaltyandRents.Cess_CentralGovt" id="objRoyaltyandRents_Cess_CentralGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Cess_StateGovt" name="objRoyaltyandRents.Cess_StateGovt" id="objRoyaltyandRents_Cess_StateGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(b) cess on deed rent</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Central Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.CessdeadRent_CentralGovt" name="objRoyaltyandRents.CessdeadRent_CentralGovt" id="objRoyaltyandRents_CessdeadRent_CentralGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.CessdeadRent_StateGovt" name="objRoyaltyandRents.CessdeadRent_StateGovt" id="objRoyaltyandRents_CessdeadRent_StateGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(c) Others (Please specify)</label>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <label class="col-form-label active">Central Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Others_CentralGovt" name="objRoyaltyandRents.Others_CentralGovt" id="objRoyaltyandRents_Others_CentralGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Others_StateGovt" name="objRoyaltyandRents.Others_StateGovt" id="objRoyaltyandRents_Others_StateGovt" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h5 class="text-brown font-weight-bold">Other expenses (Rs)</h5>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(i) Overheads</label>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Overheads" name="objRoyaltyandRents.Overheads" id="objRoyaltyandRents_Overheads" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(ii) Maintenance</label>
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Maintenance" name="objRoyaltyandRents.Maintenance" id="objRoyaltyandRents_Maintenance" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(iii) Money value of other benefits paid to workmen</label>
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Moneyvalue" name="objRoyaltyandRents.Moneyvalue" id="objRoyaltyandRents_Moneyvalue" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="bg-light p-2 form-group border">
                                                <label class="col-form-label font-weight-bolder pt-0">(iv) Payment made to professional agencies</label>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label class="col-form-label">State Govt</label>
                                                        <input type="number" value="@Model.objRoyaltyandRents.Paymentmade" name="objRoyaltyandRents.Paymentmade" id="objRoyaltyandRents_Paymentmade" class="form-control RoyaltyCurrentyear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="row mt-3">
                                        <div class="col-sm-12 text-center">
                                            <a class="btn btn-dark btn-md ml-0 waves-effect waves-light btnPrevious">Previous</a>
                                            @if (Model.objRoyaltyandRents.RoyaltyandRents_Id != 0 && Model.objRoyaltyandRents.RoyaltyandRents_Id != null)
                                            {
                                                <a onclick="return OnUpdateRoyaltyandRent();" class="btn btn-success btn-md ml-0 waves-effect waves-light">Update</a>
                                            }
                                            else
                                            {
                                                <a onclick="return OnSaveRoyaltyandRent();" class="btn btn-danger btn-md ml-0 waves-effect waves-light">Save</a>
                                            }
                                        </div>
                                    </div>


                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>



<script>
    $(document).ready(function () {
        loadNavigation('PartThreeH2', 'glereturn', 'plyearetcop', 'tl', 'E-Return Non-coal', 'Yearly Return G-2', ' ');

    });

    //----------Save and Update Material Consumed and Rent and Royalty--------------
    function OnSaveRoyaltyandRent() {

        if (ValidatePartIII() != false) {
            $("#objMaterialConsumed_Flag1").val(2);
            $("#objRoyaltyandRents_Flag2").val(2);
            $("#G2_Payments").submit();
        }
    }

    function OnUpdateRoyaltyandRent() {
        if (ValidatePartIII() != false) {
            $("#objMaterialConsumed_Flag1").val(1);
            $("#objRoyaltyandRents_Flag2").val(1);
            $("#G2_Payments").submit();
        }
    }
    //---------End Here----------------------------------
    //----------Validation--------------------------
    function ValidateMaterialConsumed() {
        var MaterialConsumed = document.getElementsByClassName("MaterialConsumed");

        for (var i = 0; i < MaterialConsumed.length; i++) {
            if (MaterialConsumed[i].value == "") {
                $("#second").removeClass("active");
                $("#first").addClass("tab-pane fade show active");
                MaterialConsumed[i].focus();
                alert("This field is required");
                return false;
            }
        }
    }

    function ValidateRoyaltyRents() {
        var RoyaltyCurrentyear = document.getElementsByClassName("RoyaltyCurrentyear");

        for (var i = 0; i < RoyaltyCurrentyear.length; i++) {
            if (RoyaltyCurrentyear[i].value == "") {
                RoyaltyCurrentyear[i].focus();
                alert("This field is required");
                return false;
            }
        }
    }

    function ValidatePartIII() {
        for (var i = 0; i < 1; i++) {
            if (ValidateMaterialConsumed() == false) {
                return false;
            }
            else if (ValidateRoyaltyRents() == false) {
                return false;
            }

            else { return true; }
        }
    }
    //---------End Here------------------
</script>

