@*// *********************************************************************************************************
    //  View Name                : YearlyReturn
    //  Desciption               : Yearly Return FORM G2
    //  Created By               : Akshaya Dalei
    //  Created On               : 26 July 2021
    // ********************************************************************************************************
*@
@model IEnumerable<ReturnEF.YearlyReturnModel>
@{
    ViewData["Title"] = "Yearly Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")

        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Yearly Return FORM G-2
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bold">Financial Year</th>
                                                <th class="font-weight-bold">Status</th>
                                                <th class="font-weight-bold">Modified On</th>
                                                <th class="noprint font-weight-bold">Fill</th>
                                                <th class="noprint font-weight-bold">Print</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.ElementAt(0).MineralName =="Tin Ore" || Model.ElementAt(0).MineralName == "Copper" ||
                                                    Model.ElementAt(0).MineralName == "Gold" || Model.ElementAt(0).MineralName == "Lead" || Model.ElementAt(0).MineralName =="Pyrites" ||
                                                    Model.ElementAt(0).MineralName == "Tin" || Model.ElementAt(0).MineralName == "Tungsten" || Model.ElementAt(0).MineralName == "Zinc")
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.Financial_Year</td>
                                                            @if (item.Status == "Filled")
                                                            {
                                                                <td class="text-success">@item.Status</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-warning">@item.Status</td>
                                                            }
                                                            <td>@item.ModifiedOn</td>
                                                            @if (item.Status != "Filled")
                                                            {
                                                                <td class="noprint">
                                                                    <a href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PartOneH2?Financial_Year=@item.EncryptedId" class="btn-outline-primary btn-sm"
                                                                       >Fill</a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                            @if (item.Status == "Filled")
                                                            {
                                                                <td>
                                                                    <a href="/eReturn_NonCoal_Yearly/EReturnYearlyNonCoalG2/PrintFormG2?Financial_Year=@item.EncryptedId" class="btn-outline-primary btn-sm"
                                                                       >
                                                                        Print
                                                                    </a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }

                                                        </tr>
                                                    }
                                                }

                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    $(document).ready(function () {
        loadNavigation('YearlyReturn', 'glereturn', 'plyearet', 'tl', 'E-Return Non-coal', 'Yearly Return Form G-2', ' ');
    });
</script>