@*// *********************************************************************************************************
    //  View Name                : Add
    //  Desciption               : Add Daily Production Details
    //  Created By               : Debaraj Swain
    //  Created On               : 18 May 2021
    // ********************************************************************************************************
*@

@model ReturnEF.DailyProductionModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.msg != null)
{
    <script>
           swal("",@ViewBag.msg , "success");
    </script>
}

@*<link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" type="text/css" />
<script src="~/js/moment.min.js"></script>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<script src='@Url.Content("~/js/sweetalert.min.js")'></script>
<script src="~/js/specialChar.js"></script>
<script src="~/js/CSMValidation.js"></script>*@
<div>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.datetime').datetimepicker({
                format: 'LT',
                format: "DD/MM/YYYY",
                // daysOfWeekDisabled: [0, 7],
            });



            $("#MineralFormID").change(function () {
                var MineralID = $('#MineralFormID').val();
                if (MineralID == "") {
                    MineralID = 0;
                }

                $('#MineralGradeID').empty();
                var v = "";

                if (MineralID != 0) {

                    $.ajax({
                        type: "POST",
                        url: "/DailyProduction/DailyProduction/GetGradeList",
                        data: { 'intMineralFormID': MineralID },
                        cache: false,

                        datatype: "JSON",
                        success: function (SList) {
                            $.each(SList, function (i, item) {
                                $('#MineralGradeID').append('<option value="' + item.mineralGradeID + '">' + item.mineralGrade + '</option>');

                            });

                        }


                    });
                }
                else {
                    swal("", "Select Grade !", "warning");
                }

            });
        });
    </script>
</div>



<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">

                            <a class="nav-link " href="@Url.Action("Add", "DailyProduction")">
                                Add Dailly Production
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("Add", "DailyProduction", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.HiddenFor(x => x.ProductionCap)
                            @Html.HiddenFor(x => x.TotalQty)
                            @Html.HiddenFor(x => x.MineralId)
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Mineral Name <span class="text-danger">*</span></label>
                                        <div class="col-sm-7" style="font-size:large;font-weight:400">
                                            @Html.HiddenFor(model => model.MineralName)
                                            @(Html.DisplayFor(model => model.MineralName))
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Select Date<span class="text-danger">*</span></label>

                                        <div class="col-md-7 default-form-control-style">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control datetime" })
                                                <iv class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                </iv>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Production Status ?<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.RadioButtonFor(e => e.ProductionDataAvailableStatus, "YES", new { onchange = "onRadioChange()", @checked = "checked" })
                                            YES
                                            @Html.RadioButtonFor(e => e.ProductionDataAvailableStatus, "NO", new { onchange = "onRadioChange()" })
                                            NO
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Select Form<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">

                                            @Html.DropDownListFor(model => model.MineralFormID, ViewBag.ViewMineralList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", autofocus = "autofocus", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Select Grade<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select name="MineralGradeID" id="MineralGradeID" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Enter Quantity ( In MT )<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", onkeydown = "return ValidateNumber(event);" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 offset-sm-2">
                                    <input type="button" id="btn_GenerateGrid" onclick="checkFormValidity() && generateGrid();" value="Add To List" class="btn btn-primary btn-md ml-0" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row" id="Grid">
                        <div class="col-sm-10 offset-sm-1">
                            <label>Daily Production Grid</label>
                            <table border="1" id="GridTable" class="table" style="margin-top: 15px;">
                                <thead>
                                    <tr>
                                        <th style="border-color: black;">Sr.No.</th>
                                        <th style="border-color: black;">Date</th>
                                        <th style="border-color: black;">Mineral Name</th>
                                        <th style="border-color: black;">Mineral Form</th>
                                        <th style="border-color: black;">Mineral Grade</th>
                                        <th style="border-color: black;">Quantity ( In MT )</th>
                                        <th style="border-color: black;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-offset-5 col-md-7 col-xs-12">
                                    <input type="button" id="btn_SaveGridData" onclick="return saveGridData();" value="Save" class="btn btn-primary btn-md ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <div>

            </div>
        </div>



    </div>
</section>



<script>

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };


    $(document).ready(function () {
        $('#Grid').hide();
        //$("#MineralFormID").data("kendoComboBox").enable(false);
    });

    function checkFormValidity() {


        if (!blankFieldValidation("Date", "Date")) {
            return false;
        }
        var SelectedRadioVal = $("input[name='ProductionDataAvailableStatus']:checked").val();

        if (SelectedRadioVal == 'YES') {

            if (!DropDownValidation("MineralFormID", "Form")) {
                return false;
            }
            if (!DropDownValidation("MineralGradeID", "Grade")) {
                return false;
            }
            if (!blankFieldValidation("Quantity", "Quantity ( In MT )")) {
                return false;
            }
        }
        return true;
    }

    function clearControls() {
        $("#MineralFormID").val('');
        $('#MineralGradeID').val('');
        $('#Quantity').val('');
    }

    function generateGrid() {

        //Get the reference of the Table's TBODY element.
        var tBody = $("#GridTable > TBODY")[0];

        var CurrentSelectedDate = $("#Date").val();
        var CurrentSelectedGradeID = $('#MineralGradeID').val();

        var rowCount = $('#GridTable tbody tr').length;
        if (rowCount > 0) {
            var ListOfDates = document.getElementsByClassName("datelist");
            var ListOfGrades = document.getElementsByClassName("mineralgradeidlist");
            var RecordMatchFound = 0;

            for (var i = 0; i < ListOfDates.length; i++) {
                if (ListOfDates[i].innerHTML == CurrentSelectedDate && ListOfGrades[i].innerHTML == CurrentSelectedGradeID) {
                    RecordMatchFound = 1;
                }
            }

            if (RecordMatchFound == 0) {
                //Add Row.
                row = tBody.insertRow(-1);

                //Add Sr.No. cell.
                var rowCount = $('#GridTable tr').length;
                var cell = $(row.insertCell(-1));
                cell.html(rowCount - 1);

                //Add Date cell.
                var cell = $(row.insertCell(-1));
                cell.addClass("datelist");
                cell.html($("#Date").val());

                //Add Mineral Name cell.
                var cell = $(row.insertCell(-1));
                cell.html($("#MineralName").val());

                //Add Mineral Form cell.
                var cell = $(row.insertCell(-1));
                //cell.html($('#MineralFormID').text());
                cell.html($("#MineralFormID option:selected").text());



                //Add Mineral Grade cell.
                var cell = $(row.insertCell(-1));
                cell.html($("#MineralGradeID option:selected").text());

                //Add Quantity cell.
                var cell = $(row.insertCell(-1));
                cell.addClass("quantitylist");
                if ($('#Quantity').val() > 0) {
                    cell.html($('#Quantity').val());
                }
                else { cell.html(0); }
                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input class='k-button k-button-icontext k-primary' />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Add Mineral Form Id cell.
                var cell = $(row.insertCell(-1));
                cell.html($("#MineralFormID option:selected").val());
                cell.addClass("mineralformidlist");
                cell.attr("name", "mineralformidlist");
                cell.css("visibility", "hidden");

                //Add Mineral Grade Id cell.
                var cell = $(row.insertCell(-1));
                cell.html($("#MineralGradeID option:selected").val());
                cell.addClass("mineralgradeidlist");
                cell.css("visibility", "hidden");

                clearControls();

                $('#Grid').show();
            }
            else {
                swal("", "Record already exist with the selected date and grade in the List !", "warning");
            }
        }
        else {
            //Add Row.
            row = tBody.insertRow(-1);

            //Add Sr.No. cell.
            var rowCount = $('#GridTable tr').length;
            var cell = $(row.insertCell(-1));
            cell.html(rowCount - 1);

            //Add Date cell.
            var cell = $(row.insertCell(-1));
            cell.addClass("datelist");
            cell.html($("#Date").val());

            //Add Mineral Name cell.
            var cell = $(row.insertCell(-1));
            cell.html($("#MineralName").val());

            //Add Mineral Form cell.
            var cell = $(row.insertCell(-1));
            cell.html($("#MineralFormID option:selected").text());

            //Add Mineral Grade cell.
            var cell = $(row.insertCell(-1));
            cell.html($("#MineralGradeID option:selected").text());

            //Add Quantity cell.
            var cell = $(row.insertCell(-1));
            cell.addClass("quantitylist");
            if ($('#Quantity').val() > 0) {
                cell.html($('#Quantity').val());
            }
            else { cell.html(0); }

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input class='k-button k-button-icontext k-primary' />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Add Mineral Form Id cell.
            var cell = $(row.insertCell(-1));
            cell.html($("#MineralFormID option:selected").val());
            cell.addClass("mineralformidlist");
            cell.attr("name", "mineralformidlist");
            cell.css("visibility", "hidden");

            //Add Mineral Grade Id cell.
            var cell = $(row.insertCell(-1));
            cell.html($("#MineralGradeID option:selected").val());
            cell.addClass("mineralgradeidlist");
            cell.css("visibility", "hidden");

            clearControls();

            $('#Grid').show();
        }
    }

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {

            //Get the reference of the Table.
            var table = $("#GridTable")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
        var rowCount = $('#GridTable tr').length;
        if (rowCount == 1) {
            $('#Grid').hide();
        }
        else {
            $('#Grid').show();
        }
    }

    function saveGridData() {
        debugger;
        var quantityArray="", dateArray ="", mineralformidArray = "", mineralgradeidArray = "";

        var sum = 0;
       // var ProductionCap = $('#ProductionCap').val()
        var ProductionCap = 5000
        var TotalQty=$('#TotalQty').val()
        var quantitylist=document.getElementsByClassName('quantitylist')
        for (var i = 0;i<= quantitylist.length; i++)
        {
            if (quantitylist[i] != undefined && quantitylist[i] != "")
            {
                sum = sum + parseFloat(quantitylist[i].innerHTML);
            }
        }
        sum = sum || 0;
        var total = parseFloat(TotalQty) + parseFloat(sum)
        if (parseFloat(ProductionCap) < parseFloat(total)) {
            alert("Your Total Qty " + parseFloat(total) + " Excced the limit of Permitted Quantity " + ProductionCap)

        }
        else {

                $("#GridTable > tbody").find("tr").each(function () { //get all rows in table

                var qty = $(this).find('td.quantitylist');//Refers to TD element
                quantityArray= quantityArray+(qty[0].innerHTML)+',';

                var dt = $(this).find('td.datelist');//Refers to TD element
                dateArray=dateArray+(dt[0].innerHTML)+',';

                var form = $(this).find('td.mineralformidlist');//Refers to TD element
                 mineralformidArray= mineralformidArray+(form[0].innerHTML)+',';

                var grade = $(this).find('td.mineralgradeidlist');//Refers to TD element
                 mineralgradeidArray= mineralgradeidArray+(grade[0].innerHTML)+',';
            });
            var gg = JSON.stringify({
                QtyArray: quantityArray,
                dtArray: dateArray,
                mineralformidArray: mineralformidArray,
                mineralgradeidArray: mineralgradeidArray
            });

            $.ajax(
            {
                    url: "/DailyProduction/DailyProduction/SaveDailyProductionGrid",
                    type: "POST",
                    dataType: "json",
                    data: { QtyArray: quantityArray, dtArray: dateArray, mineralformidArray: mineralformidArray, mineralgradeidArray: mineralgradeidArray },
                success: function (msg) {
                   // alert(msg);
                    swal("", msg,"success");
                    $('#GridTable > tbody').empty();
                    $('#Grid').hide();
                   // window.location.reload();
                }
            });
        }
    }

    function GetGrade() {
        return {
            MineralFormID: $("#MineralFormID").val()
        };
    }

    function OnProductionDateChange() {
        var SelectedDate = $("#Date").val();
        var SelectedRadioVal = $("input[name='ProductionDataAvailableStatus']:checked").val();

        $.ajax({
            url: '@Url.Action("SelectedDateMonthSubmitted", "DailyProduction")',
            type: "GET",
            data: { Date: SelectedDate },
            success: function (data) {
                console.log(data);
                if (data != "" && data != 0) {
                    //alert("Record already submitted for the selected month.");
                    swal("", "Record already submitted for the selected month.", "warning");
                    window.location.reload();
                }
            },
            error: function (data) {
            }
        });

        if (SelectedRadioVal == 'YES') {
            $("#MineralFormID").enable(true);
            $('#Quantity').enable(true);
            $("#MineralFormID").value('');
            $('#MineralGradeID').value('');
            $('#Quantity').value('');
        }
        else {
            $("#MineralFormID").enable(false);
            $('#Quantity').enable(false);
            $("#MineralFormID").value('');
            $('#MineralGradeID').value('');
            $('#Quantity').value('');
        }


    }

    function OnMineralGradeChange(e) {

        var mineralGradeWidget = e.sender;
        if (mineralGradeWidget.value() && mineralGradeWidget.select() === -1) {
            mineralGradeWidget.value(""); //reset widget
        }
        else {
            var SelectedDate = $("#Date").val();
            var MineralGrade = $('#MineralGradeID').val();

            if (MineralGrade != "") {
                $.ajax({
                    url: '@Url.Action("GradeWiseCheckQTYEntry", "DailyProduction")',
                    type: "GET",
                    data: { MineralGradeId: MineralGrade, Date: SelectedDate },
                    success: function (data) {
                        if (data != "" && data != 0) {
                            swal("", "Record already exist in the selected date and grade. Please Delete the Record from Daily Production Details.", "warning");
                            clearControls();
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        }
    }

    function onRadioChange() {
        debugger;
        var SelectedRadioVal = $("input[name='ProductionDataAvailableStatus']:checked").val();

        if (SelectedRadioVal == 'YES') {
          if ($("#Date").val()) {

                $("#MineralFormID").prop("disabled", false);


                $("#Quantity").prop("disabled", false);
            }
            else {

                $("#MineralFormID").prop("disabled", true);

                $("#Quantity").prop("disabled", true);

                $("#MineralFormID").val('');
                $('#MineralGradeID').val('');
                $('#Quantity').val('');
            }
        }
        else {

            $("#MineralFormID").prop("disabled", true);
            $("#Quantity").prop("disabled", true);


            $("#MineralFormID").val('');

            $('#MineralGradeID').val('');
            $('#Quantity').val('');
        }
    }

    function onChangeMineralForm(e) {
        var mineralFormWidget = e.sender;
        if (mineralFormWidget.value() && mineralFormWidget.select() === -1) {
            mineralFormWidget.value(""); //reset widget
        }
     }
</script>


<script>
    indicateMe = "yes"

    $(document).ready(function () {
        loadNavigation('AddUser', 'glRoleRes', 'plUser', 'tl', 'Master', 'Daily Production', ' ');
    });
</script>
