
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model MasterEF.PaymentHeadViewModel
@using MasterEF;
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Master/PaymentHeadMaster/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Master/PaymentHeadMaster/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label text-left">Account Type <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="py-2">
                                            <select id="ddlAccountType" name="AccountType" class="form-control searchableselect">
                                                <option value="">Select</option>
                                                <option value="Single Account">Single Account</option>
                                                <option value="District Wise Account">District Wise Account</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-sm-6"></div>
                        <div class="single-account" id="IdDIVSingleAccount">
                            <div class="row">

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label text-left">Select Payment Type<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="ddlSinglePaymentType" class="form-control  searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<SinglePaymentHeadModel> singlePaymentHeadModels = (List<SinglePaymentHeadModel>)ViewData["PaymentType"];
                                                    if (singlePaymentHeadModels != null)
                                                    {
                                                        foreach (var item in singlePaymentHeadModels)
                                                        {
                                                            <option value="@item.PaymentTypeId">@item.PaymentType</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label">Head of Account <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="txtHeadOfAccount" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label text-left">SBI Scheme Code<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="txtSBISchemeCode" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label">HDFC Scheme Code<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="txtHDFCSchemeCode" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label">ICICI Scheme Code<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="txtICICISchemeCode" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <button onclick="Validate();" class="btn btn-primary btn-md ml-0">@ViewBag.Button</button>
                                    <a href="/Master/PaymentHeadMaster/Add" class="btn btn-danger btn-md">Reset</a>
                                </div>
                            </div>
                        </div>


                        <div class="offset-sm-6"></div>
                        <div class="District-Account" id="IdDIVDistrictWiseAccount">
                            <form id="form1" action="Add" method="post">
                                <div class="row">

                                    <div class="col-lg-6 col-12">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-3 col-form-label text-left">Payment Type<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                <select id="ddlDistrictWisePaymentType" name="PaymentTypeId" class="form-control searchableselect">
                                                    <option value="">Select</option>
                                                    @{
                                                        List<SinglePaymentHeadModel> DistrictWisePaymentHeadModels = (List<SinglePaymentHeadModel>)ViewData["PaymentType"];
                                                        if (DistrictWisePaymentHeadModels != null)
                                                        {
                                                            foreach (var item in DistrictWisePaymentHeadModels)
                                                            {

                                                                <option value="@item.PaymentTypeId">@item.PaymentType</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="offset-sm-6"></div>
                                    <div class="col-sm-12">
                                        <table class="table   table-bordered">
                                            <thead>
                                                <tr>

                                                    <th>District Name</th>
                                                    <th>Account Head <span class="text-danger">*</span></th>
                                                    <th>SBI Scheme Code <span class="text-danger">*</span></th>
                                                    <th>HDFC Scheme Code <span class="text-danger">*</span></th>
                                                    <th>ICICI Scheme Code <span class="text-danger">*</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    PaymentHeadViewModel Districts = (PaymentHeadViewModel)ViewData["District"];
                                                    if (Districts != null)
                                                    {
                                                        var i = 0;
                                                        foreach (var item in Districts.objPaymentHead)
                                                        {

                                                            <tr>

                                                                @*<td><input type="hidden" name='[@i].DistrictId' value="@item.DistrictId.ToString()" /></td>*@
                                                                <td>@Html.Label(item.DistrictName)</td>
                                                                <td>
                                                                    @Html.TextBox("[" + i + "].HeadOFAccount", null, new { @class = "form-control" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBox("[" + i + "].SBISchemeCode", null, new { @class = "form-control" })
                                                                </td>
                                                                <td>@Html.TextBox("[" + i + "].HDFCSchemeCode", null, new { @class = "form-control" })</td>
                                                                <td>@Html.TextBox("[" + i + "].ICICISchemeCode", null, new { @class = "form-control" })</td>


                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6 ">
                                        <input type="submit" value="@ViewBag.Button" name="Submit" id="Submit" class="btn btn-primary btn-md ml-0">
                                        <a href="/Master/PaymentHeadMaster/Add" class="btn btn-danger btn-md">Reset</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="hdnHeadId" value="0" />
<input type="hidden" id="hdnPaymentTypeId" value="" />
<input type="hidden" id="hdnddlAccountType" value="" />
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Payment Head', ' ');
        debugger;
        $('#IdDIVSingleAccount').hide();
        $('#IdDIVDistrictWiseAccount').hide();
        $('#ddlAccountType').change(function () {
            if ($(this).val() == "") {
                $('#IdDIVSingleAccount').hide();
                $('#IdDIVDistrictWiseAccount').hide();
            }
            else if ($(this).val() == "Single Account") {
                $('#IdDIVSingleAccount').show();
                $('#IdDIVDistrictWiseAccount').hide();
            }
            else {
                $('#IdDIVSingleAccount').hide();
                $('#IdDIVDistrictWiseAccount').show();
            }
        });

        if ($('#hdnPaymentTypeId').val() != "") {
            $('#ddlSinglePaymentType').val($('#hdnPaymentTypeId').val());
        }

        if ($('#hdnddlAccountType').val() != "") {
            if ($('#hdnddlAccountType').val() == "Single Account") {
                $('#IdDIVSingleAccount').show();
                $('#IdDIVDistrictWiseAccount').hide();
                $('#ddlAccountType').val($('#hdnddlAccountType').val());
                $('#ddlAccountType').attr('disabled', 'disabled');
            }
            else {
                $('#IdDIVSingleAccount').hide();
                $('#IdDIVDistrictWiseAccount').show();
                $('#ddlAccountType').val($('#hdnddlAccountType').val());
                $('#ddlAccountType').attr('disabled', 'disabled');
            }
        }

    });
    var ddlAccountType = $('#ddlAccountType');
    var ddlSinglePaymentType = $('#ddlSinglePaymentType');
    var txtHeadOfAccount = $('#txtHeadOfAccount');
    var txtSBISchemeCode = $('#txtSBISchemeCode');
    var txtHDFCSchemeCode = $('#txtHDFCSchemeCode');
    var txtICICISchemeCode = $('#txtICICISchemeCode');

    function Validate() {
        if (ddlAccountType.val() == "Single Account") {
            if (ddlSinglePaymentType.val() == "") {
                swal("", 'Please Select Payment Type', "warning");
                ddlSinglePaymentType.focus();
                return false;
            }
            if (txtHeadOfAccount.val() == "") {
                swal("", 'Please Enter Head Of Account', "warning");
                txtHeadOfAccount.focus();
                return false;
            }

            if (txtSBISchemeCode.val() == "") {
                swal("", 'Please Enter SBI Scheme Code', "warning");
                txtSBISchemeCode.focus();
                return false;
            }
            if (txtHDFCSchemeCode.val() == "") {
                swal("", 'Please Enter HDFC Scheme Code', "warning");
                txtHDFCSchemeCode.focus();
                return false;
            }
            if (txtICICISchemeCode.val() == "") {
                swal("", 'Please Enter ICICI Scheme Code', "warning");
                txtICICISchemeCode.focus();
                return false;
            }


            $.ajax({
                type: "post",
                url: "/Master/PaymentHeadMaster/AddSinglePayment",
                data: {
                    'PaymentHeadId': $('#hdnHeadId').val(), 'PaymentTypeId': ddlSinglePaymentType.val(),
                    'AccountType': ddlAccountType.val(), 'DistrictId': null, 'HeadOFAccount': txtHeadOfAccount.val(),
                    'SBISchemeCode': txtSBISchemeCode.val(), 'HDFCSchemeCode': txtHDFCSchemeCode.val(),
                    'ICICISchemeCode': txtICICISchemeCode.val()
                },
                dataType: "json",
                success: function (msg) {
                    if (msg == 1) {
                        alert("Record has been submitted successfully.");
                        window.location.href = "/Master/PaymentHeadMaster/ViewList";
                    }
                    else if (msg == 2) {
                        alert("Record already existed.");
                    }


                },
                error: function (msg) { }
            });
        }
    }

</script>