
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model List<MasterEF.SinglePaymentHeadModel>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/Master/PaymentHeadMaster/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Master/PaymentHeadMaster/ViewList">

                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Account Type</th>
                                            <th>District Name</th>
                                            <th>Head OF Account</th>
                                            <th>SBI Scheme Code</th>
                                            <th>HDFC Scheme Code</th>
                                            <th>ICICI Scheme Code</th>
                                            <th class="noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.PaymentType</td>
                                                    <td>@item.AccountType</td>
                                                    <td>@item.DistrictName</td>
                                                    <td>@item.HeadOFAccount</td>
                                                    <td>@item.SBISchemeCode</td>
                                                    <td>@item.HDFCSchemeCode</td>
                                                    <td>@item.ICICISchemeCode</td>
                                                    @if (item.AccountType == "Single Account")
                                                    {
                                                        <td class="noprint">
                                                            <a href="/Master/PaymentHeadMaster/EditSinglePaymentHead/@item.PaymentHeadId"
                                                               class="btn-floating btn-outline-primary btn-sm"
                                                               title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                            <a href="/Master/PaymentHeadMaster/DeleteSinglePaymentHead?id=@item.PaymentHeadId&&AccountType=@item.AccountType"
                                                               class="btn-floating btn-outline-danger btn-sm"
                                                               title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="noprint">
                                                            <a href="/Master/PaymentHeadMaster/UpdateDistrictWise?PaymentHeadId=@item.PaymentHeadId&&AccountType=@item.AccountType"
                                                               class="btn-floating btn-outline-primary btn-sm"
                                                               title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                            <a href="/Master/PaymentHeadMaster/DeletePaymentHead?PaymentHeadId=@item.PaymentHeadId&&AccountType=@item.AccountType"
                                                               class="btn-floating btn-outline-danger btn-sm"
                                                               title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glRoleRes', 'plUser', 'tl', 'Master', 'Payment Head', ' ');
        $('.searchableselect').searchableselect();
    });
</script>