@model MasterEF.CountryMaster
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@if (ViewBag.msg != null)
{
    <script>
          swal("", "@ViewBag.msg", "success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/Country/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/Country/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <form action="Add" method="post" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Country <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtCountryName" name="CountryName" title="CountryName" value="@Model.CountryName" class="form-control" Onkeypress = "return inputLimiter(event,'NameCharacters')"/>
                                            <input type="hidden" id="hdnCountryId" name="CountryId" value="@Model.CountryId" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.CountryName)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                                <label class="radio-label">Inactive</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <a href="~/Master/Country/Add" class="btn btn-danger btn-md">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        debugger;
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Country', ' ');

        $("#Submit").click(function () {
            debugger;
            if ($('#txtCountryName').val() == "") {
                swal("", "Please Enter Country", "warning");
                $("#txtCountryName").focus();
                return false;
            }
        });
        //----------------
    });



</script>
