@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View Licensee Area Details
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 22 July 2021
    // ********************************************************************************************************
*@
@model MasterEF.AreaDetails;
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    $(document).ready(function () {
        loadNavigation('ViewList', 'glUIS', 'pllesseprof', 'tl', 'Licensee Profile', 'Area Details', ' ');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Licensee/AreaDetails/Create">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Lease Location</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report<i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/AreaDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">State</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.StateName</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">District</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.DistrictName</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Tehsil/Forest Division</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.TehsilName</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Village/Forest Range</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.VillageName</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Block Forest Range</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.BLOCK_FOREST_RANG</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Pin Code</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.PIN_CODE</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Police Station</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.POLICE_STATION</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Gram Panchayat</label>
                                <div class="col-lg-2 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.GRAM_PANCHAYAT</label>
                                </div>

                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter1'>
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Area In Hectare</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter2">Log Report<i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/AreaDetails/Create" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Area In Hectare</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.AREA_IN_HECT</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Toposheet Number</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.TOPOSHEET_NO</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Co-ordinates No</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.COORDINATES_NO</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Longitude</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Longitude</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Latitude</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Latitude</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Demarcation File</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.FILE_DEMARCATION_REPORT
                                        @if (Model.DEMARCATION_REPORT_PATH != null && Model.DEMARCATION_REPORT_PATH != "")
                                        {
                                            <a href='~/@Model.DEMARCATION_REPORT_PATH' title="" class="ml-2" data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a>
                                        }
                                    </label>
                                </div>

                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter2'>
                                @Html.Raw((String)ViewBag.tableLB)
                            </ul>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

