@*// *********************************************************************************************************
    //  View Name                : Add
    //  Desciption               : To Add,Edit,Update Field Program Order Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 12 Feb 2021
    // ********************************************************************************************************
*@
@model GeologyEF.FPOOrdermaster
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["msg"] != null)
{
    <script>
         var vv = '@TempData["msg"]';
        if (vv == 1) {
            swal("","Field Program Order created successfully.","success");
        }
        else if (vv == 4) {
            swal("", "Field Program Order updated successfully.", "success");
        }
        else if (vv == 2) {
            swal("","Field Program Order already exists.","warning");
        }
        else {
            swal("","Field Program Order not Saved Sucessfully!!","error");
        }
    </script>
}

<script>
    indicateMe="yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Geology', 'Field Program Order', ' ');
        $('.datetime').datetimepicker({
            format: "DD/MM/YYYY"
        }).keydown(false);
        BindFYData();
        $('.searchableselect').searchableselect();
        var filesize = 0;
        $('input[name="FPO_copy"]').bind('change', function () {
            $("input[name='Submit']").attr('disabled', false);
            filesize = this.files[0].size;
            var val = $(this).val().toLowerCase(),
                regex = new RegExp("(.*?)\.(pdf|jpeg|jpg|png|xls|tif)$");
            if (!(regex.test(val))) {
                swal("", ".docx  type is not an allowed file type. You can use only jpg, jpeg, png, pdf, tif types of file(s). ", "warning");
                this.value = '';
                $("input[name='Submit']").attr('disabled', true);
                return false;
            }
            return false;
        });
        $("#Submit").click(function () {
            debugger;
            if (!blankFieldValidation("FPO_Code", "Field Program Order Code")) {
                return false;
            }
            else if (!blankFieldValidation("FPO_Name", "Field Program Order Name")) {
                return false;
            }
            else if (!blankFieldValidation("txtDateofSubmission", "Date of Submission")) {
                return false;
            }
            else if (!DropDownValidation("ddlSeason", "Field Season")) {
                return false;
            }
            else if ($("#hdnFPOFile").val()=="") {
                if (!FileUploadValidation("Photo", "Field Program Order")) {
                    return false;
                }
            }
            else if ($('input[name="Photo"]').val() != "") {
                if (filesize > 2048000) {
                    swal("", "File size must be 2 MB !", "warning");
                    return false;
                }
            }
                 });
    });
    /*Bind FY details*/
    function BindFYData() {
        $.ajax({
            url: '/Geology/FPOOrder/GetFinancialYearlist',
            dataType: 'json',
            type: 'post',
            success: function (data) {
                debugger;
                var row = "";
                $('#ddlSeason').html('');
                row += "<option value=''>Select</option>";
                $.each(data, function (ind, item) {
                    row += "<option value='" + item.year + "'>" + item.year + "</option>";
                });
                $('#ddlSeason').html(row);
                if ($("#hfYear").val() != "") {
                    $("#ddlSeason").val($("#hfYear").val());
                }
            },
            error: function (err) {
            }
        });
    }
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Geology/FPOOrder/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("Add", "FPOOrder", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">FPO Code <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.FPO_Code, new { @class = "form-control", @autofocus = "autofocus", @maxlength = "20" })
                                            @Html.ValidationMessageFor(m => m.FPO_Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">FPO Name <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.FPO_Name, new { @class = "form-control", @autofocus = "autofocus", @maxlength = "50" })
                                            @Html.HiddenFor(m => m.FPO_Id)
                                            @Html.ValidationMessageFor(m => m.FPO_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Date of Submission <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control datetime" name="DateOfIssuance" id="txtDateofSubmission" value="@Model.DateOfIssuance" />
                                            @Html.ValidationMessageFor(m => m.DateOfIssuance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Field Season <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="ddlSeason" name="Year" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                            </select>
                                            @Html.HiddenFor(m => m.ExplorationSeason, new { @id = "hfYear" })
                                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Upload FPO <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="custom-file">
                                                <input type="file" id="Photo" class="custom-file-input" name="FPO_copy">
                                                <label class="custom-file-label">Choose Files</label>
                                                @Html.ValidationMessageFor(m => m.FPO_copy, "", new { @class = "text-danger" })
                                            </div>
                                            @if (Model.FPO_File != null && Model.FPO_File != "")
                                            {
                                                <label class="form-control-plaintext">@(Model.FPO_File) <a href='~/@Model.FPO_Path' title="" class="ml-2" data-original-title="Download FPO Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></label>
                                            }
                                            @Html.HiddenFor(m => m.FPO_File, new { @id = "hdnFPOFile" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status</label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                                <label class="radio-label">Inactive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" id="Submit" value='@ViewBag.Button' name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light">
                                    <a class="btn btn-danger btn-md ml-0 waves-effect waves-light" href="@Url.Content("~/Geology/FPOOrder/Add")">Reset</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


