@model MasterEF.OtherMineralsmaster
@{
    ViewData["Title"] = "Download_OtherMinerals";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<style>
    #Calculation {
        text-align: center;
        position: absolute;
        white-space: nowrap;
        padding: 1em;
        cursor: pointer;
    }
</style>

<section class="content-header">
    @* <h1>Download e-LTP Permit Application
            <img src="@Url.Content("~/Images/1475779253_BT_printer.ico")" style="height:40px;width:40px;" onclick="getPDF('form')"  />

        </h1>*@

    @if (Model == null || (Model.DscFilePath == null || Model.DscFilePath == ""))
    {
        if (Model.OtherMineralId == null || Model.OtherMineralId == 0)
        {
            <h1>
                Save Configuration for Bauxite Copy
                @*<img src="@Url.Content("~/Images/1475779253_BT_printer.ico")" style="height:40px;width:40px; cursor:pointer;" onclick="getPDF('form')" />*@
            </h1>
        }
        else
        {
            <h1>
                <span id="lblGenerate">Generate Configuration for Bauxite</span>
                @*<img src="@Url.Content("~/Images/1475779253_BT_printer.ico")" style="height:40px;width:40px; cursor:pointer; " id="FNClick" onclick="getPDF2('form')" />*@
            </h1>
        }
    }
    else
    {
        <h1>
            <span id="lblGenerate">Download Royalty Application</span>
            <a target="_blank" class="btn btn-primary" href='@Model.DscFilePath'>Download</a>
        </h1>

    }
</section>

<section class="content">
    <div class="row panel-heading-setting">
        <div class="col-xs-12">
            <table id="tablePRint" class="pdf-page table table-responsive" style="margin-bottom: 2px; margin-top: 15px; border: 0px solid black">

                @(Html.HiddenFor(model => model.OtherMineralId))
                @(Html.HiddenFor(model => model.DscFilePath))


                <tr>
                    <td>
                        <table class="table table-responsive" style="margin-bottom: 2px; background-color: #F2F2F2">
                            <tr>
                                <th rowspan="2" style="text-align: center; border-top: 1px solid black; border-left: 1px solid black;">
                                    <img id="imgLogo" src="@Url.Content("/img/govt-logo.png")" style="height: 100px; width: 100px;" alt="LOGO" />
                                </th>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid black; border-right: 1px solid black; text-align: center">
                                    <span id="lead1" class="lead" style="font-size: 3vw; text-align: center">MINERAL RESOURCES DEPARTMENT</span>
                                    <br />
                                    <span id="lead2" class="lead" style="font-size: 1.5vw; text-align: center; color: red">GOVERNMENT OF CHHATTISGARH</span>
                                    <br />
                                    @*   <span id="lead3" class="lead" style="font-size: 1vw; text-align: center; color: red">(@(Html.DisplayFor(model => model.DistrictName))  District)</span>*@
                                </td>
                            </tr>
                        </table>
                        <table id="tablePRint2" class="pdf-page table table-responsive" style="margin-bottom: 10px; border: 1px solid black">

                            <tr>
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>1</span>
                                </td>
                                <td style="border: 1px solid black; width: 45%;">
                                    <span>Mineral</span>
                                </td>
                                <td style="border: 1px solid black; width: 50%;">
                                    <span>@(Html.DisplayFor(model => model.MineralName))</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>2</span>
                                </td>
                                <td style="border: 1px solid black; width: 45%;">
                                    <span>Factor</span>
                                </td>
                                <td style="border: 1px solid black; width: 50%;">
                                    <span>@(Html.DisplayFor(model => model.Fector1))</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>3</span>
                                </td>
                                <td style="border: 1px solid black; width: 45%;">
                                    <span>Effective From</span>
                                </td>
                                <td style="border: 1px solid black; width: 50%;">
                                    <span>@(Html.DisplayFor(model => model.EffectiveFromDate))</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>4</span>
                                </td>
                                <td style="border: 1px solid black; width: 45%;">
                                    <span>Effective To</span>
                                </td>
                                <td style="border: 1px solid black; width: 50%;">
                                    <span>@(Html.DisplayFor(model => model.EffectiveToDate))</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>5</span>
                                </td>
                                <td style="border: 1px solid black; width: 45%;">
                                    <span>Generated Date and Time</span>
                                </td>
                                <td style="border: 1px solid black; width: 50%;">
                                    <span>@(System.DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt"))</span>
                                </td>
                            </tr>
                            <tr style="height: 90px">
                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                    <span>6</span>
                                </td>
                                <td style="width: 45%; border-bottom: 1px solid black; border-top: 1px solid black; border-left: 1px solid black;">
                                    <span>DSC</span>
                                </td>
                                <td style="border-bottom: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; width: 50%;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="javaRequiredDiv">
    </div>

    @*<input id="SavePathName" type="hidden" value="@Path.Combine(System.Web.HttpContext.Current.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["FNDSCCreateFilePATH"]))" />*@
    <input id="fName" type="hidden" />
    <input id="fid" type="hidden" />

</section>

<script type="text/javascript">
    $(document).ready(function () {
        var m = new Date();

        $("#datetime").text(m.getDate() + " - " + m.getMonth() + " - " + m.getFullYear() + " " + m.getHours() + " : " + m.getMinutes());

        var fn = $("#OtherMineralId").val();
        var dscfile = $("#DscFilePath ").val();


    });


    function LoadData() {
        window.history.back();
    }

   

</script>



