@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model MasterEF.MineralModel
@using MasterEF

@if (ViewBag.msg != null)
{
<script>

 swal("",'@ViewBag.msg',"success");
</script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/Mineral/Mineral">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/Mineral/ViewMineral">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <form action="Mineral" method="post" id="form1" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Category<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralTypeId" name="MineralTypeId" class="form-control searchableselect" title="Mineral Category">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralType = (List<MineralGradeModel>)ViewData["MineralCategory"];
                                                    if (listMineralType != null)
                                                    {
                                                        foreach (var item in listMineralType)
                                                        {
                                                            <option value="@item.MineralTypeId">@item.MineralTypeName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m=>m.MineralTypeId)</span>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralScheduleID" name="MineralScheduleID" class="form-control searchableselect" title="Mineral Schedule">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralScheduleModel> listMineralScheduleModel = (List<MineralScheduleModel>)ViewData["MineralSchedule"];
                                                    if (listMineralScheduleModel != null)
                                                    {
                                                        foreach (var item in listMineralScheduleModel)
                                                        {
                                                            <option value="@item.MineralScheduleID">@item.MineralScheduleName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralScheduleId)</span>
                                        </div>
                                    </div>
                                </div>                       
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule Part<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralSchedulePartID" name="MineralSchedulePartID" class="form-control searchableselect" title="Mineral Schedule Part">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralSchedulePartModel> lstmineralSchedulePartModels = (List<MineralSchedulePartModel>)ViewData["MineralSchedulePart"];
                                                    if (lstmineralSchedulePartModels != null)
                                                    {
                                                        foreach (var item in lstmineralSchedulePartModels)
                                                        {
                                                            <option value="@item.MineralSchedulePartID">@item.MineralSchedulePartName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralSchedulePartId)</span>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" id="MineralName" name="MineralName" value="@Model.MineralName" title="Mineral Name"  class="form-control" />
                                            <input type="hidden" id="hdnMineralID" name="MineralID" value="@Model.MineralID" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralName)</span>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Unit<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select class="form-control searchableselect" id="UnitId" name="UnitId" title="Mineral Unit">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyModelUnit = (List<RoyaltyModel>)ViewData["MineralUnit"];
                                                    if (lstroyaltyModelUnit != null)
                                                    {
                                                        foreach (var item in lstroyaltyModelUnit)
                                                        {
                                                            <option value="@item.UnitId">@item.UnitName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.UnitId)</span>
                                        </div>
                                    </div>
                                </div>                         
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Royalty Basis<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="RoyaltyRateTypeId" name="RoyaltyRateTypeId" Class="form-control searchableselect" title="Royalty Basis">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyBasis = (List<RoyaltyModel>)ViewData["RoyaltyBasis"];
                                                    if (lstroyaltyBasis != null)
                                                    {
                                                        foreach (var item in lstroyaltyBasis)
                                                        {
                                                            <option value="@item.RoyaltyRateTypeId">@item.RoyaltyRateType</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoyaltyRateTypeId)</span>
                                        </div>
                                    </div>
                                </div>                       
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">

                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                                <label class="radio-label">Inactive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <a href="/Master/Mineral/Mineral" class="btn btn-danger btn-md">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="hdnMineralTypeId" value="@Model.MineralTypeId" />
<input type="hidden" id="hdnMineralScheduleId" value="@Model.MineralScheduleId" />
<input type="hidden" id="hdnMineralSchedulePartID" value="@Model.MineralSchedulePartId" />
<input type="hidden" id="hdnUnitId" value="@Model.UnitId" />
<input type="hidden" id="hdnRoyaltyRateTypeId" value="@Model.RoyaltyRateTypeId" />
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        debugger;
        loadNavigation('Mineral', 'glRoleRes', 'plUser', 'tl', 'Master', 'Mineral', ' ');
        //---------------------------------------------------
        if ($('#hdnMineralTypeId').val() != "") {
            $('#MineralTypeId').val($('#hdnMineralTypeId').val());
        }
        if ($('#hdnMineralScheduleId').val() != "") {
            $('#MineralScheduleID').val($('#hdnMineralScheduleId').val());
        }
        if ($('#hdnMineralSchedulePartID').val() != "") {
            $('#MineralSchedulePartID').val($('#hdnMineralSchedulePartID').val());
        }
        if ($('#hdnUnitId').val() != "") {
            $('#UnitId').val($('#hdnUnitId').val());
        }
        if ($('#hdnRoyaltyRateTypeId').val() != "") {
            $('#RoyaltyRateTypeId').val($('#hdnRoyaltyRateTypeId').val());
        }
        //----------------------------------------------------
        $('#Submit').click(function () {
            if ($('#MineralTypeId').val() == "") {
                swal("", "Please Select Mineral Category", "warning");
                $("#MineralTypeId").focus();
                return false;
            }
            if ($('#MineralScheduleID').val() == "") {
                swal("", "Please Select Mineral Schedule", "warning");
                $("#MineralScheduleID").focus();
                return false;
            }
            if ($('#MineralSchedulePartID').val() == "") {
                swal("", "Please Select Mineral Schedule Part", "warning");
                $("#MineralSchedulePartID").focus();
                return false;
            }
            if ($('#MineralName').val() == "") {
                swal("", "Please Enter Mineral Name", "warning");
                $("#MineralName").focus();
                return false;
            }
            if ($('#UnitId').val() == "") {
                swal("", "Please Select Mineral Unit", "warning");
                $("#UnitId").focus();
                return false;
            }
            if ($('#RoyaltyRateTypeId').val() == "") {
                swal("", "Please Select Royalty Basis", "warning");
                $("#RoyaltyRateTypeId").focus();
                return false;
            }

        });
        //------------------------------
        $('#MineralTypeId').change(function () {
            debugger;
            if ($('#MineralTypeId').val() != "") {

                $.ajax({
                    url: '/Master/MineralSchedulePart/GetMineralScheduleByCategoryId',
                    data: { 'MineralTypeId': $('#MineralTypeId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralScheduleID').html('');
                        $('#MineralScheduleID').append("<option value=''>Select Schedule</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralScheduleID').append("<option value='" + item.mineralScheduleId + "'>" + item.mineralScheduleName + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralScheduleID').html('');
                $('#MineralScheduleID').append("<option value=''>Select Schedule</option>");

                $('#MineralSchedulePartID').html('');
                $('#MineralSchedulePartID').append("<option value=''>Select Mineral Schedule Part</option>");
            }
        });
        //-----------------------------------
        $('#MineralScheduleID').change(function () {
            debugger;
            if ($('#MineralScheduleID').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetSchedulePartNameByScheduleId',
                    data: { 'ScheduleId': $('#MineralScheduleID').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        $('#MineralSchedulePartID').html('');
                        $('#MineralSchedulePartID').append("<option value=''>Select Mineral Schedule Part</option>");
                        $.each(data, function (ind, item) {
                            $('#MineralSchedulePartID').append("<option value='" + item.mineralSchedulePartId + "'>" + item.mineralSchedulePartName + "</option>");
                        });
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                $('#MineralSchedulePartID').html('');
                $('#MineralSchedulePartID').append("<option value=''>Select Mineral Schedule Part</option>");
            }
        });
        //-------------------------------

    });

</script>
