@*// *********************************************************************************************************
    //  View Name                : DEMOBANK
    //  Desciption               : Application Fees Payment Information
    //  Created By               : Akshaya Dalei
    //  Created On               : 24 July 2021
    // ********************************************************************************************************
*@


@{
    ViewBag.Title = "License Payment Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IntegrationEF.PaymentModel
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            DEMO BANK Payment Information
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <form action="DEMOBANK" method="post" id="__EUAntiForgeryForm">
                            <input type="hidden" name="MerchantTxnRefNumber" value="@Model.MerchantTxnRefNumber" />
                            <input type="hidden" name="Amount" value="@Model.Amount" />
                            <input type="hidden" name="MerchantCode" value="@Model.MerchantCode" />
                            <input type="hidden" name="TxnDate" value="@Model.TxnDate" />
                            <input type="hidden" name="TPSLTXNID" value="@Model.TPSLTXNID" />
                            <input type="hidden" name="uniqueCustomerID" value="@Model.uniqueCustomerID" />
                            <input type="hidden" name="" value="" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label font-weight-bolder">Payment Status</label>
                                        <div class="col-sm-8">
                                            <select name="PaymentStatus" class="form-control">
                                                <option value="SUCCESS">SUCCESS</option>
                                                <option value="PENDING">PENDING</option>
                                                <option value="AWAITED">AWAITED</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type="submit" id="btnSave" value="Save" class="btn btn-success btn-md ml-0 waves-effect waves-light" />

                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

 