@model IntegrationEF.PaymentEF
@{
    ViewData["Title"] = "MergeEPermit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src=" https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<section class="wrapper main-wrapper row">
    <div class="col-12" id="mainDiv">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                E Permit
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")
                </div>
                @using (Html.BeginForm("AddBulkPermitData", "Lessee", FormMethod.Post, new { enctype = "multipart/form-data", AUTOCOMPLETE = "Off", id = "__EUAntiForgeryForm", @Area = "Permit" }))
                {
                    <ol>
                        <li>
                            @Html.RadioButtonFor(m => m.PaymentBank, "SBI")
                        </li>
                        <li>
                            Amount
                            @Html.TextBoxFor(m => m.AMOUNT)
                        </li>
                        <li>
                            Payment Type
                            @Html.TextBoxFor(m => m.PaymentType)
                        </li>
                        <li>
                            <input type="submit"  id="btnSave" value="Save" class="btn btn-success btn-md ml-0 waves-effect waves-light" />
                        </li>
                    </ol>
                }
                </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<uc1:footer runat="server" ID="footer" />
<script>
    excelMe = "yes"
    pdfMe = "yes"
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('balancequantitye-permit', 'glepermit', 'Epermit', 'tl', 'E-Permit', 'Apply e-permit', ' ');
        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();


        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });


</script>
<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MM-YYYY',

        });
    });
</script>