@*// *********************************************************************************************************
    //  View Name                : DownloadLetter
    //  Desciption               : Download Vehicle BreakDown Details
    //  Created By               : Akshaya Dalei
    //  Created On               : 25 July 2021
    // ********************************************************************************************************
*@
@{
    ViewBag.Title = "Download Letter";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.VehicleBreakdown
<style>
    .pdf-page {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        width: 100%;
    }

    td {
        /*border: 1px solid black;*/
        text-align: left;
    }

    tr:nth-child(even) {
    }

    font-face {
        font-family: HindiFont;
        font-size: 20px;
        src: url("~/fonts/kruti-dev-021.ttf") format("truetype");
    }

    .hindifont {
        font-family: HindiFont;
        font-size: 20px;
    }
</style>
<section class="wrapper main-wrapper row">

    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">

                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <div class="row">
                            @Html.Hidden("BreakDownId")
                            <table id="tablePRint" class="pdf-page table table-responsive" style="margin-bottom: 2px; border: 0px solid black">
                                <tr>
                                    <td>
                                        <table class="table table-responsive" style="margin-bottom: 2px; background-color: #F2F2F2">
                                            <tr>
                                                <th rowspan="2" style="text-align: center; border-top: 1px solid black; border-left: 1px solid black">
                                                    <img id="imgLogo" src="~/img/govt-logo.png" style="height: 100px; width: 100px;" alt="LOGO" />
                                                </th>
                                            </tr>
                                            <tr>
                                                <td style="border-top: 1px solid black; border-right: 1px solid black; text-align: center">
                                                    <span id="lead1" class="lead" style="font-size: 3vw; text-align: center">MINERAL RESOURCES DEPARTMENT</span>
                                                    <br />
                                                    <span id="lead2" class="lead" style="font-size: 1.5vw; text-align: center; color: red">GOVERNMENT OF CHHATTISGARH</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="tablePRint2" class="pdf-page table table-responsive" style="margin-bottom: 10px; border: 1px solid black">
                                            <tr>
                                                <td colspan="3" style="border-top: 1px solid black; text-align: center">

                                                    <br />

                                                    <br />

                                                    <span class="lead" id="ApplicatinoForm" style="font-size: 16px; text-align: center;">Approval of vehicle Changed for E-TransitPass No : @Model.TransitPassNo</span>

                                                    <div class="row">

                                                        <div class="col-md-3">
                                                            <h5 style="text-align: right"><b>Date and Time : </b>@DateTime.Now.ToString() </h5>
                                                        </div>


                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                                    <span>1</span>
                                                </td>
                                                <td style="border: 1px solid black; width: 45%;">
                                                    <span>Location Of BreakDown </span>
                                                </td>
                                                <td style="border: 1px solid black; width: 50%;">
                                                    <span>@Model.LocationOfBreakDown</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                                    <span>2</span>
                                                </td>
                                                <td style="border: 1px solid black; width: 45%;">
                                                    <span>Reason Of BreakDown </span>
                                                </td>
                                                <td style="border: 1px solid black; width: 50%;">
                                                    <span>@Model.ReasonOfBreakDown</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black; width: 5%; text-align: center">
                                                    <span>3</span>
                                                </td>
                                                <td style="border: 1px solid black; width: 45%;">
                                                    <span>Changed Vehicle Number </span>
                                                </td>
                                                <td style="border: 1px solid black; width: 50%;">
                                                    <span>@Model.VehicleNumber</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="border-top: 1px solid black; text-align: left">
                                                    <div class="default-form-control-style">
                                                        <label>
                                                            <span>
                                                                Declaration: I here by declare that the above statement is true to the best of my knowledge and belief.I understand
                                                                it is made for use as evidence in court and is subject to penalty for perjury.<br />
                                                                <span style="color: red;">Mineral Resources Department is not responsible to any contravention of rules.</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="font-size: 12px; text-align: left">
                                                    <label>

                                                        @*<i id="Frm">This is a system generated form. So physical signature is not required. </i>*@
                                                    </label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadNavigation('Vehicle', 'ql', 'pl', 'tl', 'Vehicle', 'Download Letter', ' '); 
    });

</script>