@*// *********************************************************************************************************
    //  View Name                : VehicleSticker
    //  Desciption               : To View Vehicle Sticker
    //  Created By               : Akshaya Dalei
    //  Created On               : 25 July 2021
    // ***************************

    *****************************************************************************
*@
@{
    ViewBag.Title = "Vehicle Sticker";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model userregistrationEF.Vehicle

    <script>
        
        $(document).ready(function () {
            loadNavigation('Vehicle Sticker', 'ql', 'pl', 'tl', 'Vehicle', 'Vehicle Sticker', ' ');

        });
    </script>
    <style>
        .pdf-page {
            font-family: "DejaVu Sans", "Arial", sans-serif;
            width: 100%;
        }

        td {
            /*border: 1px solid black;*/
            text-align: left;
        }

        tr:nth-child(even) {
        }

        font-face {
            font-family: HindiFont;
            font-size: 20px;
            src: url("~/fonts/kruti-dev-021.ttf") format("truetype");
        }

        .hindifont {
            font-family: HindiFont;
            font-size: 20px;
        }
    </style>
    <section class="wrapper main-wrapper row">

        <div class="col-12">
            @Html.Partial("_CMSnavigation")
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="main-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:void(0);">
                                    Vehicle Details
                                </a>

                            </li>
                        </ul>
                        @Html.Partial("_CMSutil")
                    </div>

                    <section class="box form-container">
                        <div class="content-body">
                            @Html.Hidden("Type")
                            <div class="row" id="tablePRint"> 
                                <img src="~/CMSimg/khanij_logo.png" alt="LOGO" style="width: 232px;display: block;margin: 0 auto;">

                                <div class="col-sm-12">
                                    <table border="1" style="width:100%; margin-top: 10px">
                                        <tr>
                                            <td style="padding-left:10px;"><b>Vehicle Registration Number</b><br /><span class="hindifont">¼okgu jftLVªs”ku uacj½ </span></td>
                                            <td style="padding-left:10px;">@Model.VehicleNumber</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px;"><b>Registration Number</b><br /><span class="hindifont">¼[kfut vkWuykbu jftLVªs”ku uacj½ </span></td>
                                            <td style="padding-left:10px;">@Model.RegistrationNumber</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px;">
                                                <b>Vehicle Carrying Capacity (Metric Ton/Cubic Meter)</b>
                                                <br />
                                                <span class="hindifont">okgu {kerk ¼esfVªd Vu@@ /ku ehVj½</span>
                                            </td>
                                            <td style="padding-left:10px;"><span>@Model.CarryingCapacity (@Model.CarryingCapacity_UnitName)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px;">
                                                <b>Valid From</b>
                                                <br />
                                                <span class="hindifont">oS/krk ¼ls ekU;½</span>
                                            </td>
                                            <td style="padding-left:10px;"><span>@Model.VehicleValidFromDate</span></td>
                                        </tr>

                                        <tr>
                                            <td style="padding-left:10px;">
                                                <b>Valid To</b>
                                                <br />
                                                <span class="hindifont">oS/krk ¼bl rd ekU;½</span>
                                            </td>
                                            <td style="padding-left:10px;"><span>@Model.VehicleValidToDate</span></td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            debugger;
            // var m = new Date();
            //$("#datetime").text(m.getDate() + " - " + m.getMonth() + " - " + m.getFullYear() + " " + m.getHours() + " : " + m.getMinutes());
            var type = $('#Type').val();
            if (type == 'Form') {
                $(".Certificate").hide();
                $("#Cer").hide();
                getFormPDF();
            }
            else {
                $("#ApplicatinoForm").hide();
                $("#ApplicatinoForm2").hide();
                $(".Certificate").show();
                $("#Frm").hide();
                $("#Cer").show();
                getCeftificatePDF();
            }
        });
        function getCeftificatePDF() {
            debugger;
            $("#ApplicatinoForm").hide();
            $("#ApplicatinoForm2").hide();
            $(".Certificate").show();

            html2canvas($('#tablePRint'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("VehicleSticker.pdf");
                }
            });

        }

        function getFormPDF() {
            $(".Certificate").hide();
        }

    </script>