@*// *********************************************************************************************************
    //  View Name                : VehicleTrips
    //  Desciption               : To View Vehicle Trips
    //  Created By               : Akshaya Dalei
    //  Created On               : 25 July 2021
    // ********************************************************************************************************
*@
@{
    ViewBag.Title = "Vehicles Trips";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model IEnumerable<userregistrationEF.ETransitPassModel>


<script>

    $(document).ready(function () {
        loadNavigation('Vehicles Trips', 'ql', 'pl', 'tl', 'Vehicle Owner', 'Vehicle Trips', ' ');

    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Vehicle Trips
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="search-box">
                        <form action="VehicleTrips" method="get">
                            <div class="searchform px-3 pt-3">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group row">
                                            <label for="inputText" class="col-sm-3 col-form-label">Choose Type</label>
                                            <div class="col-sm-8">
                                                <input type="radio" id="rdoTripStatus0" name="trip_Status" value="0" />Running
                                                <input type="radio" id="rdoTripStatus1" name="trip_Status" value="1" />Closed
                                                <input type="radio" id="rdoTripStatus2" name="trip_Status" value="2" />Both
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group row">
                                            <label for="inputText" class="col-sm-3 col-form-label">Vehicle No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtVehicleNo" name="VehicleNo" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group row">
                                            <label for="inputText" class="col-sm-3 col-form-label"> From date</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtFromdate" name="From" class="form-control datepicker" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group row">
                                            <label for="inputText" class="col-sm-3 col-form-label">To date</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtTodate" name="To" class="form-control datepicker" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group row">
                                            <input type="submit" value="Search" class="btn btn-sm btn-success m-0">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="content-body pt-0">
                        <div class="row">
                            <div class="col-sm-12"> 
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">Sl#</th>
                                            <th>Pass No.</th>
                                            <th>Vehicle Type</th>
                                            <th>Vehicle No.</th>
                                            <th>Source User</th>
                                            <th>Source Address</th>
                                            <th>Mineral Name</th>
                                            <th>Mineral Form</th>
                                            <th>Mineral Grade</th>
                                            <th>Mineral Quantity</th>
                                            <th>Date and Time of Dispatched of the mineral</th>
                                            <th>Destination User</th>
                                            <th>Destination Address</th>
                                            <th>Name Of Driver</th>
                                            <th>Driver Contact Number</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@item.PassNo</td>
                                                    <td>@item.VehicleTypeName</td>
                                                    <td>@item.VehicleNumber</td>
                                                    <td>@item.SourceUserName</td>
                                                    <td>@item.Source</td>
                                                    <td>@item.MineralName</td>
                                                    <td>@item.MineralNature</td>
                                                    <td>@item.MineralGrade</td>
                                                    <td>@item.ApprovedQty</td>
                                                    <td>@item.D_O_Dispatche</td>
                                                    <td>@item.DestUserName</td>
                                                    <td>@item.Destination</td>
                                                    <td>@item.DriverName</td>
                                                    <td>@item.DriverContactNumber</td>
                                                    <td>@item.Display_TripStatus</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>



