@model EstablishmentEf.AppraisalClassIVEF;
@{
    ViewData["Title"] = "AddAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Appraisal From for Class IV
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/aec/AppraisalClassIV/ViewAppraisal")">
                                View Appraisal From for Class IV
                            </a>
                        </li>

                    </ul>
                    
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using(Html.BeginForm("AddAppraisal", "AppraisalClassIV", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken();
                        <div class="row">

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Name  <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchName, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                        @Html.HiddenFor(m => m.id)
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Father Name <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchFatherName, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Higher education <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchHighereducation, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Post<span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchPost, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Joining date<span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.dtmJoiningdate, new { @class = "form-control datepicker", @maxlength = 20  })

                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="dtmJoiningdate"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Pace of work <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchPaceofwork, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Time period  <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.intTimeperiod, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Behavior  <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchbehavior, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Punctual<span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchpunctual, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Physical capacity  <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.vchPhysicalcapacity, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Responsibility of assign work    <span span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.VchResponsibility, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Transform and punishment  <span class="text-danger">*</span></label>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        @Html.TextBoxFor(m => m.VchTransform, new { @class = "form-control", @maxlength = 100, Onkeypress = "return inputLimiter(event,'Description')" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="form-group row">
            <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Grade  <span class="text-danger">*</span></label>
            <div class="col-lg-7 col-md-6 col-sm-12">
                <select class="form-control form-control-sm searchableselect" id="Grade" name="Grade">
                    <option value="null">select</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Below Average">Below Average</option>
                </select>
            </div>
        </div>
    </div>











                            <div class="col-lg-6 offset-lg-2 offset-md-5">
                                <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />

                                <a href="#" class="btn btn-danger btn-md">Reset</a>
                            </div>

                        </div>
                        }
                        </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [0, 6],
        });
    });
</script>

