@model IEnumerable<EstablishmentEf.AppraisalClassIVEF>

@{
    ViewData["Title"] = "ViewAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Masg"] != null)
{
    <script>
        swal("",'@TempData["Masg"]', "success");
    </script>
    TempData["Masg"] = null;
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*<uc1:navigation runat="server" ID="navigation" />*@
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Content("~/Aec/AppraisalClassIV/AddAppraisal")">
                                Add Appraisal From for Class IV
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View Appraisal From for Class IV
                            </a>
                        </li>
                    </ul>
                    @*<uc1:util runat="server" ID="util" />*@
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    @*<div class="search-box">*@
                    @*<div class="searchform px-3 py-3">
                            <div class="row">


                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-4 col-form-label">
                                            From Date
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="inputDate1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">
                                            To Date
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="inputDate2">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate2"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-2">
                                    <a href="#" class="btn btn-md btn-success m-0 waves-effect waves-light"> Show </a>
                                </div>


                            </div>




                        </div>*@

                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30px">Sl#</th>
                                                <th>Name</th>
                                                <th>Father Name </th>
                                                <th>Higher education</th>
                                                <th>Post</th>
                                                <th>Joining date</th>
                                                <th>Pace of work</th>



                                                <th width="60px" class="noprint">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="active-row">
                                                        <td>@count</td>
                                                        <td>@item.vchName</td>
                                                        <td>@item.vchFatherName </td>
                                                        <td>@item.vchHighereducation</td>
                                                        <td>@item.vchPost</td>
                                                        <td>@Convert.ToString(string.Format("{0:dd/MMM/yyyy}", Convert.ToDateTime(item.dtmJoiningdate))) </td>
                                                        <td>@item.vchPaceofwork</td>
                                                        <td class="noprint">
                                                            <a href="@Url.Content("~/Aec/AppraisalClassIV/AddAppraisal?id=")@item.id" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" title="" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                            @*<a href="javascript:void(0);" class="btn-floating btn-outline-danger btn-sm waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Delete" "=" "><i class="far fa-trash-alt"></i></a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            }


                                            @*<tr class="active-row">
                                                    <td>1</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>

                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td>Dummy Text</td>
                                                    <td class="noprint">
                                                        <a href="AddAppraisalforDriver.aspx" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" title="" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="javascript:void(0);" class="btn-floating btn-outline-danger btn-sm waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Delete" "=" "><i class="far fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>*@


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    excelMe = "yes"
    pdfMe = "yes"

    $(document).ready(function () {
        loadNavigation('ViewAppraisalforDriver', 'glaec', 'plaecad', 'tl', 'AEC', 'Appraisal for Driver', ' ');

        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();


        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>

