@model MasterEF.MainMenuMaster
@using MasterEF;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@if (ViewBag.msg != null)
{
    <script>
          swal("", "@ViewBag.msg", "success");
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="/Master/MainMenu/Add">Add</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Master/MainMenu/ViewList">View</a></li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        <form action="Add" method="post" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">MainMenu Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtMainMenuName" name="MainMenuName" title="MainMenuName" value="@Model.MainMenuName" class="form-control" />
                                            <input type="hidden" id="hdnMmenuId" name="MmenuID" value="@Model.MmenuID" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MainMenuName)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Module Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="ddlModuleId" name="ModuleId" Class="form-control searchableselect" title="Module Name">
                                                <option value="">Select</option>
                                                @{
                                                    List<ModuleMasterModel> lstModuleMasterModel = (List<ModuleMasterModel>)ViewData["ModuleDetails"];
                                                    if (lstModuleMasterModel != null)
                                                    {
                                                        foreach (var item in lstModuleMasterModel)
                                                        {
                                                            if (Model.ModuleId != item.ModuleId)
                                                            {
                                                                <option value="@item.ModuleId">@item.ModuleName</option>
                                                            }
                                                            else
                                                            {
                                                                <option selected="selected" value="@item.ModuleId">@item.ModuleName</option>
                                                            }

                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ModuleId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Icon<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txticon" name="icon" title="icon" value="@Model.icon" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.icon)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Link Path<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtLinkPath" name="LinkPath" title="LinkPath" value="@Model.LinkPath" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.LinkPath)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Module Icon<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtSvgPath" name="SvgPath" title="icon" value="@Model.SvgPath" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.SvgPath)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">Menu Div Class<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtdivclass" name="divclass" title="LinkPath" value="@Model.divclass" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.divclass)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDesign" class="col-sm-4 col-form-label">SlNo<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" maxlength="50" id="txtSlno" name="Slno" title="Slno" value="@Model.Slno" class="form-control" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Slno)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                                <label class="radio-label">Inactive</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 offset-lg-2 offset-md-4">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <a href="~/Master/MainMenu/Add" class="btn btn-danger btn-md">Reset</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        debugger;
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'MainMenu', ' ');

        $("#Submit").click(function () {
            debugger;
            if ($('#txtMainMenuName').val() == "") {
                swal("", "Please Enter MainMenu Name", "warning");
                $("#txtMainMenuName").focus();
                return false;
            }
            if ($('#ddlModuleId').val() == "") {
                swal("", "Please Select Module", "warning");
                $("#ddlModuleId").focus();
                return false;
            }
            if ($('#txticon').val() == "") {
                swal("", "Please Enter icon", "warning");
                $("#txticon").focus();
                return false;
            }
            if ($('#txtLinkPath').val() == "") {
                swal("", "Please Enter Link Path", "warning");
                $("#txtLinkPath").focus();
                return false;
            }
            if ($('#txtSlno').val() == "") {
                swal("", "Please Enter Slno", "warning");
                $("#txtSlno").focus();
                return false;
            }

        });
        //----------------
    });



</script>
