@*// *********************************************************************************************************
    //  View Name                : LeaveInbox
    //  Desciption               : To LeaveInbox
    //  Created By               : Suresh kumar behera
    //  Created On               : 13-july-2021
    // ********************************************************************************************************
*@

@model IEnumerable<EstablishmentEf.LeaveInboxQuery>
@{
    ViewData["Title"] = "LeaveInbox";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using EstablishmentApp.Web;
@*@inject EstablishmentApp.KhanijSecurity.KhanijIDataProtection protector;*@
@if (TempData["msg"] != null)
{
    <script>
        var vv = '@TempData["msg"]';
        if (vv == 1) {
            swal("", "leave approved successfully.", "success");
        }
        else if (vv == 2) {
            swal("", "leave reject sucessfully", "success");
        }

        else {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>

    TempData["msg"] = null;

}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*@Html.Partial("_navigation")*@
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Leave Inbox
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/LeaveManagement/LeaveManagement/ViewLeaveInbox")">
                                View Leave Inbox
                            </a>
                        </li>
                    </ul>

                    @*@Html.Partial("_util")*@
                </div>

                <section class="box form-container">

                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30px">Sl#</th>
                                                <th>Name</th>
                                                <th>Leave Type</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>No. of Days</th>
                                                <th>Reason</th>
                                                <th>Pending At</th>
                                                <th>Status</th>
                                                <th width="100px" class="noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr class="active-row">

                                                        <td>@count</td>
                                                        <td>@item.EmployeeName</td>
                                                        <td>@item.LeaveType</td>
                                                        <td>@item.dtFromDate</td>
                                                        <td>@item.dtToDate</td>
                                                        <td>@item.NoOfDays</td>
                                                        <td>@item.varReason</td>
                                                        <td>@item.PrimaryAuthority</td>
                                                        <td>@item.Status</td>
                                                        <td class="noprint">
                                                            <a href="@CustomQueryStringHelper.EncryptString("LeaveManagement","LeaveTakeAction","LeaveManagement",new {id=item.intLeaveId })"
                                                               class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" onclick="return confirm('Are you sure to take action?')">Take Action</a>

                                                            @*<a href="@Url.Content("~/LeaveManagement/LeaveManagement/LeaveTakeAction/")@protector.Decode(Convert.ToString(@item.intLeaveId))" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" onclick="return confirm('Are you sure to take action?')">Take Action</a>*@
                                                        </td>
                                                    </tr>

                                                }
                                            }


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    excelMe = "yes"
    pdfMe = "yes"

    $(document).ready(function () {
        loadNavigation('LeaveInbox', 'glempprofile', 'plofficetype', 'tl', 'Leave Management', 'Leave Inbox', ' ');

        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>

