@*// *********************************************************************************************************
    //  View Name                : ViewLeaveType
    //  Desciption               : To view Leave Type
    //  Created By               : Suresh kumar behera
    //  Created On               : 13-july-2021
    // ********************************************************************************************************
*@

@model IEnumerable<EstablishmentEf.LeaveTypeMasterEF>;
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using EstablishmentApp.Web;
@*@inject EstablishmentApp.KhanijSecurity.KhanijIDataProtection protector;*@

@if (TempData["msg"] != null)
{
    <script>
        var vv = '@TempData["msg"]';
        if (vv == 1) {
            swal("", "leave type sucessfully.", "success");
        }
        else if (vv == 2) {
            swal("", "leave type allready exists.", "warning");
        }
        else if (vv == 3) {
            swal("", "leave type updated sucessfully", "success");
        }
        else if (vv == 4) {
            swal("", "leave type deleted sucessfully", "success");
        }

        else {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>

    TempData["msg"] = null;

}


<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*@Html.Partial("_navigation")*@
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/LeaveManagement/LeaveManagement/AddLeaveType")">
                                Add Leave Type
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link active" href="">
                                View Leave Type
                            </a>
                        </li>
                    </ul>

                    @*@Html.Partial("_util")*@
                </div>

                <section class="box form-container">

                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30px">Sl#</th>
                                            <th>Leave Type</th>
                                            <th>Rule No</th>
                                            <th>No Of leave</th>
                                            <th>Include Holiday</th>
                                            <th>Carry Forward</th>

                                            <th>Document Required</th>
                                            <th>Per month leave</th>
                                            <th>Per month No of leave</th>

                                            <th>Description</th>
                                            <th width="60px" class="noprint">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {

                                                count++;

                                                <tr class="active-row">

                                                    <td>@count</td>
                                                    <td>@item.LeaveType</td>
                                                    <td>@item.RuleNo</td>

                                                    <td>@item.NoOfLeave</td>
                                                    <td>
                                                        @if (item.BitIncludeHoliday == true)
                                                        {
                                                            <span>Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <span>No</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.BitCarryForward == true)
                                                        {
                                                            <span>Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <span>No</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.BitDocRequired == true)
                                                        {
                                                            <span>Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <span>No</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.BitPerMonthLeave == true)
                                                        {
                                                            <span>Yes</span>
                                                        }
                                                        else
                                                        {
                                                            <span>No</span>
                                                        }
                                                    </td>
                                                    <td>@item.intPerMonthLeave</td>
                                                    <td>@item.Description</td>
                                                    <td class="noprint">
                                                        <a href="@CustomQueryStringHelper.EncryptString("LeaveManagement","AddLeaveType","LeaveManagement",new {id=item.LeaveTypeId })"
                                                           class="btn-floating btn-outline-primary btn-sm"
                                                           title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@CustomQueryStringHelper.EncryptString("LeaveManagement","DeleteLeaveTypeDetails","LeaveManagement",new {id=item.LeaveTypeId })"
                                                           class="btn-floating btn-outline-danger btn-sm"
                                                           title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>

                                                        @*<a href="@Url.Content("~/LeaveManagement/LeaveManagement/AddLeaveType/")@protector.Decode(Convert.ToString(@item.LeaveTypeId))" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" title="" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@Url.Content("~/LeaveManagement/LeaveManagement/DeleteLeaveTypeDetails/")@protector.Decode(Convert.ToString(@item.LeaveTypeId))" class="btn-floating btn-outline-danger btn-sm waves-effect waves-light" onclick="return confirm('Are you sure to Delete?')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="icon-trash-alt-solid"></i></a>*@

                                                    </td>

                                                </tr>

                                            }
                                        }


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>

    $(document).ready(function () {
        loadNavigation('ViewLeaveType', 'glempprofile', 'plofficetype', 'tl', 'Leave Management', 'View Leave Type', ' ');

        $('.searchableselect').searchableselect();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>

