@*// *********************************************************************************************************
    //  View Name                : View UserWiseSetAuthorityQuery
    //  Desciption               : To view UserWiseSetAuthorityQuery
    //  Created By               : Suresh kumar behera
    //  Created On               : 13-july-2021
    // ********************************************************************************************************
*@
@model IEnumerable<EstablishmentEf.UserWiseSetAuthorityQuery>
@{
    ViewData["Title"] = "ViewUserWiseSetAuthority";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using EstablishmentApp.Web;
@*@inject EstablishmentApp.KhanijSecurity.KhanijIDataProtection protector;*@

@if (TempData["msg"] != null)
{
    <script>
        var vv = '@TempData["msg"]';
        if (vv == 1) {
            swal("", "User wise set authority saved successfully.", "success");
        }
        else if (vv == 2) {
            swal("", "User wise set authority allready exists.", "warning");
        }
        else if (vv == 3) {
            swal("", "User wise set authority updated sucessfully", "success");
        }
        else if (vv == 4) {
            swal("", "User wise set authority deleted sucessfully", "success");
        }
        else {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>

    TempData["msg"] = null;

}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*@Html.Partial("_navigation")*@
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/LeaveManagement/LeaveManagement/AddUserWiseSetAuthority")">
                                Add User Wise Set Authority
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link active" href="javascript:void(0);">
                                View User Wise Set Authority
                            </a>
                        </li>
                    </ul>

                    @*@Html.Partial("_util")*@
                </div>

                <section class="box form-container">
                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30px">Sl#</th>
                                            <th>OfficeLevel</th>
                                            <th>EmployeeDesignation</th>
                                            <th>Employee Name</th>
                                            <th>Step</th>
                                            <th>PrimaryAuthority</th>
                                            <th>SecondaryAuthorityUser</th>
                                            <th width="60px" class="noprint">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{

                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                <tr class="active-row">

                                                    <td>@count</td>
                                                    <td>@item.OfficeLevel</td>
                                                    <td>@item.EmployeeDesignation</td>
                                                    <td>@item.EmployeeName</td>
                                                    <td>@item.intStep</td>
                                                    <td>@item.PrimaryAuthorityUser</td>
                                                    <td>@item.SecondaryAuthorityUser</td>
                                                    <td class="noprint">
                                                        <a href="@CustomQueryStringHelper.EncryptString("LeaveManagement","AddUserWiseSetAuthority","LeaveManagement",new {id=item.intAuthorityId })"
                                                           class="btn-floating btn-outline-primary btn-sm"
                                                           title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@CustomQueryStringHelper.EncryptString("LeaveManagement","DeleteUserWiseSetAuthority","LeaveManagement",new {id=item.intAuthorityId })"
                                                           class="btn-floating btn-outline-danger btn-sm"
                                                           title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>

                                                        @*<a href="@Url.Content("~/LeaveManagement/LeaveManagement/AddUserWiseSetAuthority/")@protector.Decode(Convert.ToString(@item.intAuthorityId))" class="btn-outline-primary btn-sm"><i class="icon-pencil-alt-solid"></i></a>
                                                        <a href="@Url.Content("~/LeaveManagement/LeaveManagement/DeleteUserWiseSetAuthority/")@protector.Decode(Convert.ToString(@item.intAuthorityId))" class="btn-outline-danger btn-sm" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>*@
                                                    </td>
                                                </tr>

                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>

    $(document).ready(function () {
        loadNavigation('ViewUserWiseSetSetAuthority', 'glempprofile', 'plofficetype', 'tl', 'Leave Management', 'View User Wise Set Authority', ' ');

        $('.searchableselect').searchableselect();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>

