@model MasterEF.RoyaltyMappingmaster
@using MasterEF;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@if (ViewBag.msg != null)
{
<script>

 swal("",'@ViewBag.msg',"success");
</script>
}
@if (TempData["msg"] != null)
{
    <script>
        swal("",'@TempData["msg"]',"success");
    </script>
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Master/RoyaltyMapping/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Master/RoyaltyMapping/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">

                    <div class="content-body">
                        <form action="Add" method="post" id="form1" autocomplete="off">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Category<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralTypeId" name="MineralTypeId" class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralType = (List<MineralGradeModel>)ViewData["MineralCategory"];
                                                    if (listMineralType != null)
                                                    {
                                                        foreach (var item in listMineralType)
                                                        {
                                                            <option value="@item.MineralTypeId">@item.MineralTypeName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralTypeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule<span class="text-danger">*</span></label>
                                        <div class="col-sm-7"> 
                                            <select id="MineralScheduleID" name="MineralScheduleId" class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralScheduleModel> listMineralScheduleModel = (List<MineralScheduleModel>)ViewData["MineralSchedule"];
                                                    if (listMineralScheduleModel != null)
                                                    {
                                                        foreach (var item in listMineralScheduleModel)
                                                        {
                                                            <option value="@item.MineralScheduleID">@item.MineralScheduleName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralScheduleId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Schedule Part<span class="text-danger"></span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralSchedulePartID" name="MineralSchedulePartId" class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralSchedulePartModel> lstmineralSchedulePartModels = (List<MineralSchedulePartModel>)ViewData["MineralSchedulePart"];
                                                    if (lstmineralSchedulePartModels != null)
                                                    {
                                                        foreach (var item in lstmineralSchedulePartModels)
                                                        {
                                                            <option value="@item.MineralSchedulePartID">@item.MineralSchedulePartName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralSchedulePartId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralId" name="MineralId" class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyModels = (List<RoyaltyModel>)ViewData["MineralName"];
                                                    if (lstroyaltyModels != null)
                                                    {
                                                        foreach (var item in lstroyaltyModels)
                                                        {
                                                            <option value="@item.MineralId">@item.MineralName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Unit<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select class="form-control searchableselect" id="UnitId" name="UnitId">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyModelUnit = (List<RoyaltyModel>)ViewData["MineralUnit"];
                                                    if (lstroyaltyModels != null)
                                                    {
                                                        foreach (var item in lstroyaltyModelUnit)
                                                        {
                                                            <option value="@item.UnitId">@item.UnitName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.UnitId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Royalty Basis<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="RoyaltyRateTypeId" name="RoyaltyRateTypeId" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyModel> lstroyaltyBasis = (List<RoyaltyModel>)ViewData["RoyaltyBasis"];
                                                    if (lstroyaltyBasis != null)
                                                    {
                                                        foreach (var item in lstroyaltyBasis)
                                                        {
                                                            <option value="@item.RoyaltyRateTypeId">@item.RoyaltyRateType</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoyaltyRateTypeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralNatureId" name="MineralNatureId" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralForm = (List<MineralGradeModel>)ViewData["MineralForm"];
                                                    if (listMineralForm != null)
                                                    {
                                                        foreach (var item in listMineralForm)
                                                        {
                                                            <option value="@item.MineralNatureId">@item.MineralNature</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralNatureId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Mineral Grade<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="MineralGradeId" name="MineralGradeId" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<MineralGradeModel> listMineralGrade = (List<MineralGradeModel>)ViewData["MineralGrade"];
                                                    if (listMineralGrade != null)
                                                    {
                                                        foreach (var item in listMineralGrade)
                                                        {
                                                            <option value="@item.MineralGradeId">@item.MineralGrade</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.MineralGradeId)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Royalty<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="RoyaltyId" name="RoyaltyId" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<RoyaltyMappingmaster> listRoyalty = (List<RoyaltyMappingmaster>)ViewData["RoyaltyRate"];
                                                    if (listRoyalty != null)
                                                    {
                                                        foreach (var item in listRoyalty)
                                                        {
                                                            <option value="@item.RoyaltyId">@item.RoyaltyRate</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.RoyaltyId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Grant Type <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsGrantType, true, new { @checked = true, @class = "custom-radio", id = "Rdbtn_Active" })                                              
                                                <label class="radio-label"> After</label>
                                                @Html.RadioButtonFor(n => n.IsGrantType, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                              
                                            <label class="radio-label">  Before</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Grant Order Date <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input type="text" id="txtGrantOrderDate" name="GrantOrderDate" class="form-control" />
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="txtGrantOrderDate"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.GrantOrderDate)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Auction Type <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="AuctionTypeId" name="AuctionName" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                <option value="With Auction">With Auction</option>
                                                <option value="Without Auction">Without Auction</option>
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.AuctionName)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label">Lease Type <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <select id="ddlMinesStatus" name="ID" Class="form-control searchableselect">
                                                <option value="">Select</option>
                                                @{
                                                    List<OSUmaster> listOSU = (List<OSUmaster>)ViewData["OSU"];
                                                    if (listOSU != null)
                                                    {
                                                        foreach (var item in listOSU)
                                                        {
                                                            <option value="@item.ID">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.ID)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 pl-4">
                                        <div class="table-responsive" id="viewtable">
                                            <table id="datatable" class="table table-sm table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="row">Payment Type <span class="text-danger">*</span></th>
                                                        <th scope="col">Calculation Type <span class="text-danger">*</span></th>
                                                        <th scope="col">Calculation Rate <span class="text-danger">*</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var count = 0; if (ViewBag.PaymentType != null)
                                                        {

                                                            foreach (var b in ViewBag.PaymentType)
                                                            {
                                                                count++;
                                                                <tr class='item'>
                                                                    <td>
                                                                       
                                                                            <input id="chkData" type="checkbox" name="type" class="chk mr-1" value="@b.PaymentTypeId" @( Convert.ToBoolean(b.IsApplicable) == true ? "checked" : "" ) />@b.PaymentType
                                                                    </td>
                                                                    <td>
                                                                        <select id="ddlCalculationTypeId_@count" name="CalculationTypeId" Class="form-control searchableselect">
                                                                            <option value="">Select Royalty Rate</option>
                                                                            @{
                                                                                List<MineralGradeModel> listCalculationType = (List<MineralGradeModel>)ViewData["CalculationType"];
                                                                                if (listCalculationType != null)
                                                                                {
                                                                                    foreach (var item in listCalculationType)
                                                                                    {
                                                                                        <option value="@item.CalculationTypeId">@item.CalculationTypeName</option>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        @Html.TextBoxFor(m => m.CalValue, new { @onkeypress = "return numericdotOnly(this)", @class = "form-control", @id = "CalValue" + count })
                                                                    </td>
                                                                </tr>
                                                                @Html.Hidden("hdnCalculationType_" + count, (string)b.CalType)
                                                                @Html.Hidden("hdnCalValue_" + count, (string)b.CalValue)
                                                            }
                                                        }
                                                    }
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md" name="Submit" id="Submit" />
                                        <input type="reset" value="Reset" class="btn btn-danger btn-md" />
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.CalcChecked, new { @id = "hfCalcChecked" })
                                @Html.HiddenFor(m => m.CalcType, new { @id = "hfCalcType" })
                                @Html.HiddenFor(m => m.CalcVal, new { @id = "hfCalcVal" })
                                @Html.HiddenFor(m => m.PaymentType, new { @id = "hfPaymentTypeId" })
                                @Html.HiddenFor(m => m.MappingID)
                                </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<input type="hidden" id="hdnMineralTypeId" value="@Model.MineralTypeId" />
<input type="hidden" id="hdnMineralScheduleId" value="@Model.MineralScheduleId" />
<input type="hidden" id="hdnMineralSchedulePartID" value="@Model.MineralSchedulePartId" />
<input type="hidden" id="hdnMineralId" value="@Model.MineralId" />
<input type="hidden" id="hdnUnitId" value="@Model.UnitId" />
<input type="hidden" id="hdnRoyaltyRateTypeId" value="@Model.RoyaltyRateTypeId" />
<input type="hidden" id="hdnMineralNatureId" value="@Model.MineralNatureId" />
<input type="hidden" id="hdnRoyaltyRateID" value="@Model.RoyaltyId" />
<input type="hidden" id="hdnMineralGradeId" value="@Model.MineralGradeId" />
<input type="hidden" id="hdnLesseTypeID" value="@Model.LeaseTypeId" />
<input type="hidden" id="hdnID" value="@Model.ID" />
<input type="hidden" id="hdnAuctionName" value="@Model.AuctionName" />
<input type="hidden" id="hdnGrantOrderDate" value="@Model.GrantOrderDate" />
<input type="hidden" id="hdncount" value="@count" />
<script>
    $(document).ready(function () {
        var valuesToSend = [];
        var typesToSend = [];
        var paymentidToSend = [];
        var chkIDtoSend = [];
        var rowcount = 0;
        $("#datatable tbody input:checkbox[name=type]:checked").each(function () {
            debugger;
            rowcount++;
            $("#ddlCalculationTypeId_" + rowcount).val($("#hdnCalculationType_" + rowcount).val());
            $("#CalValue" + rowcount).val($("#hdnCalValue_" + rowcount).val());
            chkIDtoSend.push($(this).val());
            valuesToSend.push($("#CalValue" + rowcount).val());
            typesToSend.push($("#ddlCalculationTypeId_" + rowcount).val());
            paymentidToSend.push(1);
        });

        $("#hfCalcChecked").val(paymentidToSend);
        $("#hfCalcType").val(typesToSend);
        $("#hfCalcVal").val(valuesToSend);
        $("#hfPaymentTypeId").val(chkIDtoSend);
        if ($('#hdnID').val() != "") {
            $('#hdnLesseTypeID').val($('#hdnID').val());
        }
        debugger;
        if ($('#hdnLesseTypeID').val() == "") {
            $.ajax({
                
                url: '/Master/OSU/GetLesseeTypeByUserType',
                data: { 'UserType': 'Lessee' },
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    debugger;
                    var row = "";
                    $('#ddlMinesStatus').html('');
                    row += "<option value=''>Select Status</option>";
                    $.each(data, function (index, item) {
                        row += "<option value='" + item.id + "'>" + item.name + "</option>";
                    });
                    $('#ddlMinesStatus').html(row);

                },
                error: function (err) {
                }
            });
        }


        $('#txtGrantOrderDate').datetimepicker({
            format: "DD/MM/YYYY"
        });
        //--------------
        if ($('#hdnMineralTypeId').val() != "") {
            $('#MineralTypeId').val($('#hdnMineralTypeId').val());
        }
        if ($('#hdnMineralScheduleId').val() != "") {
            $('#MineralScheduleID').val($('#hdnMineralScheduleId').val());
        }
        if ($('#hdnMineralSchedulePartID').val() != "") {
            $('#MineralSchedulePartID').val($('#hdnMineralSchedulePartID').val());
        }
        if ($('#hdnMineralId').val() != "") {
            $('#MineralId').val($('#hdnMineralId').val());
        }
        if ($('#hdnUnitId').val() != "") {
            $('#UnitId').val($('#hdnUnitId').val());
        }
        if ($('#hdnRoyaltyRateTypeId').val() != "") {
            $('#RoyaltyRateTypeId').val($('#hdnRoyaltyRateTypeId').val());
        }
        if ($('#hdnMineralNatureId').val() != "") {
            $('#MineralNatureId').val($('#hdnMineralNatureId').val());
        }
        if ($('#hdnMineralGradeId').val() != "") {
            $('#MineralGradeId').val($('#hdnMineralGradeId').val());
        }
        if ($('#hdnRoyaltyRateID').val() != "") {
            $('#RoyaltyId').val($('#hdnRoyaltyRateID').val());
        }
       
        if ($('#hdnLesseTypeID').val() != "") {
            $('#ddlMinesStatus').val($('#hdnLesseTypeID').val());
        }
        if ($('#hdnAuctionName').val() != "") {
            $('#AuctionTypeId').val($('#hdnAuctionName').val());
        }
        if ($('#hdnGrantOrderDate').val() != "") {
            $('#txtGrantOrderDate').val($('#hdnGrantOrderDate').val());
        }
       
        //---------------
        $("#Submit").click(function () {
            debugger;
            if ($('#MineralTypeId').val() == "") {
                swal("", "Please Select Mineral Category", "warning");
                //alert('Please Enter Criticality Name');
                $("#MineralTypeId").focus();
                return false;
            }
            if ($('#MineralScheduleID').val() == "") {
                swal("", "Please Select Schedule", "warning");
                //alert('Please Enter Criticality Name');
                $("#MineralScheduleID").focus();
                return false;
            }

            if ($('#MineralId').val() == "") {
                swal("", "Please Select Mineral Name", "warning");
                $("#MineralId").focus();
                return false;
            }
            if ($('#MineralId').val() == "") {
                swal("", "Please Select Mineral Name", "warning");
                $("#MineralId").focus();
                return false;
            }

            if ($('#UnitId').val() == "") {
                swal("", "Please Select Mineral Unit", "warning");
                $('#UnitId').focus();
                return false;
            }
            if ($('#RoyaltyRateTypeId').val() == "") {
                swal("", "Please Select Royalty Basis", "warning");
                $('#RoyaltyRateTypeId').focus();
                return false;
            }
            if ($('#UnitId').val() == "") {
                swal("", "Please Select Mineral Unit", "warning");
                $('#UnitId').focus();
                return false;
            }

            postFormDetails();
        });

        $('#MineralTypeId').change(function () {
            debugger;
            if ($('#MineralTypeId').val() != "") {

                $.ajax({
                    url: '/Master/MineralSchedulePart/GetMineralScheduleByCategoryId',
                    data: { 'MineralTypeId': $('#MineralTypeId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var row = "";
                        $('#MineralScheduleID').html('');
                        row += "<option value=''>Select Schedule</option>";
                        $.each(data, function (ind, item) {
                            row += "<option value='" + item.mineralScheduleID + "'>" + item.mineralScheduleName + "</option>";
                        });
                        $('#MineralScheduleID').html(row);
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var row = "";
                $('#MineralScheduleID').html('');
                row += "<option value=''>Select Schedule</option>";
                $('#MineralScheduleID').html(row);
            }
        });

        //-----------------------------------
        $('#MineralScheduleID').change(function () {
            debugger;
            if ($('#MineralScheduleID').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetSchedulePartNameByScheduleId',
                    data: { 'ScheduleId': $('#MineralScheduleID').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var row = "";
                        $('#MineralSchedulePartID').html('');
                        row += "<option value=''>Select Mineral Schedule Part</option>";
                        $.each(data, function (ind, item) {
                            row += "<option value='" + item.mineralSchedulePartID + "'>" + item.mineralSchedulePartName + "</option>";
                        });
                        $('#MineralSchedulePartID').html(row);
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var row = "";
                $('#MineralSchedulePartID').html('');
                row += "<option value=''>Select Mineral Schedule Part Name</option>";
                $('#MineralSchedulePartID').html(row);
            }
        });
        //--------------------
        $('#MineralSchedulePartID').change(function () {
            debugger;
            if ($('#MineralSchedulePartID').val() != "") {
                $.ajax({
                    url: '/Master/Royalty/GetMineralNameBySchedulePartId',
                    data: { 'SchedulePartId': $('#MineralSchedulePartID').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var row = "";
                        $('#MineralId').html('');
                        row += "<option value=''>Select Mineral Name</option>";
                        $.each(data, function (ind, item) {
                            row += "<option value='" + item.mineralId + "'>" + item.mineralName + "</option>";
                        });
                        $('#MineralId').html(row);
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var row = "";
                $('#MineralId').html('');
                row += "<option value=''>Select Mineral Name</option>";
                $('#MineralId').html(row);
            }
        });

        //-------------------------
        $('#MineralId').change(function () {
            debugger;
            if ($('#MineralId').val() != "") {

                $.ajax({
                    url: '/Master/Royalty/GetMineralUnitByMineralID',
                    data: { 'MineralID': $('#MineralId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var row = "";
                        $('#UnitId').html('');
                        row += "<option value=''>Select Mineral Unit</option>";
                        $.each(data, function (ind, item) {
                            row += "<option value='" + item.unitId + "'>" + item.unitName + "</option>";
                        });
                        $('#UnitId').html(row);

                        //--------------Bind Royalty Basis---------
                        $.ajax({
                            url: '/Master/Royalty/GetRoyaltyBasisByMineralID',
                            data: { 'MineralID': $('#MineralId').val() },
                            dataType: 'json',
                            type: 'post',
                            success: function (royalty) {
                                debugger;
                                var rowRoyaltyBasis = "";
                                $('#RoyaltyRateTypeId').html('');
                                rowRoyaltyBasis += "<option value=''>Select Royalty Basis</option>";
                                $.each(royalty, function (ind, item) {
                                    rowRoyaltyBasis += "<option value='" + item.royaltyRateTypeId + "'>" + item.royaltyRateType + "</option>";
                                });
                                $('#RoyaltyRateTypeId').html(rowRoyaltyBasis);

                                //--------------Bind Royalty Basis---------
                                //------------------------------Mineral Form-------
                                if ($('#MineralTypeId').val() != "" && $('#MineralId').val() != '') {
                                    $.ajax({
                                        type: "post",
                                        url: "/Master/MineralGrade/GetMineralNatureDataByMineralTypeIdAndMineralId",
                                        data: { 'mineralType': $('#MineralTypeId').val(), 'mineralId': $('#MineralId').val() },
                                        datatype: "json",
                                        traditional: true,
                                        success: function (data) {
                                            debugger;
                                            var mineralForms = "";
                                            mineralForms = mineralForms + '<option value="">Select Mineral Form</option>';
                                            for (var i = 0; i < data.length; i++) {
                                                mineralForms = mineralForms + '<option value=' + data[i].mineralNatureId + '>' + data[i].mineralNature + '</option>';
                                            }
                                            mineralForms = mineralForms + '</select>';
                                            $('#MineralNatureId').html(mineralForms);
                                        }
                                    });
                                }
                                //----------------Mineral Form End-------

                            },
                            error: function (err) {

                            }
                        });
                        //------------------------------End Royalty Basis------------


                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var row = "";
                $('#UnitId').html('');
                row += "<option value=''>Select Mineral Unit</option>";
                $('#UnitId').html(row);

                var rowRoyaltyBasis = "";
                $('#RoyaltyRateTypeId').html('');
                rowRoyaltyBasis += "<option value=''>Select Royalty Basis</option>";
                $('#RoyaltyRateTypeId').html(rowRoyaltyBasis);

                var mineralForm = "";
                mineralForm = mineralForm + '<option value="">Select Mineral Form</option></select>';
                $('#MineralNatureId').html(mineralForm);
            }
        });
        //----------------------------
        $('#MineralNatureId').change(function () {
            if ($('#MineralNatureId').val() != "") {
                $.ajax({
                    url: '/Master/Royalty/GetRoyaltyMineralGradeByNatureId',
                    data: { 'NatureId': $('#MineralNatureId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var rowMineralGrade = "";
                        $('#MineralGradeId').html('');
                        rowMineralGrade += "<option value=''>Select Mineral Grade</option>";
                        $.each(data, function (ind, item) {
                            rowMineralGrade += "<option value='" + item.mineralGradeId + "'>" + item.mineralGrade + "</option>";
                        });
                        $('#MineralGradeId').html(rowMineralGrade);
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var rowMineralGrade = "";
                $('#MineralGradeId').html('');
                rowMineralGrade += "<option value=''>Select Mineral Grade</option>";
                $('#MineralGradeId').html(rowMineralGrade);
            }
        });
        //----------------------------------
        //--------Bind Royalty----
        $('#MineralGradeId').change(function () {
            if ($('#MineralGradeId').val() != "") {
                $.ajax({
                    url: '/Master/RoyaltyMapping/GetRoyaltyRateByMineralGrade',
                    data: { 'MineralGradeId': $('#MineralGradeId').val() },
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        debugger;
                        var rowRoyalty = "";
                        $('#RoyaltyId').html('');
                        rowRoyalty += "<option value=''>Select Royalty</option>";
                        $.each(data, function (ind, item) {
                            rowRoyalty += "<option value='" + item.royaltyId + "'>" + item.royaltyRate + "</option>";
                        });
                        $('#RoyaltyId').html(rowRoyalty);
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                var rowRoyalty = "";
                $('#RoyaltyId').html('');
                rowMineralGrade += "<option value=''>Select Royalty</option>";
                $('#RoyaltyId').html(rowRoyalty);
            }
        });
        //----------------------------------
       

        function postFormDetails() {
            debugger;

            var valuesToSend = [];
            var typesToSend = [];
            var paymentidToSend = [];
            var chkIDtoSend = [];

            //var TotalRows = 5;
            var TotalRows = 0;
            var idTest = 0;

            $("#datatable tbody input:checkbox[name=type]:checked").each(function () {
                debugger;
                TotalRows++;
                chkIDtoSend.push($(this).val());
                valuesToSend.push($("#CalValue" + TotalRows).val());
                typesToSend.push($("#ddlCalculationTypeId_" + TotalRows).val());
                paymentidToSend.push(1);
            });



            $("#hfCalcChecked").val(paymentidToSend);
            $("#hfCalcType").val(typesToSend);
            $("#hfCalcVal").val(valuesToSend);
            $("#hfPaymentTypeId").val(chkIDtoSend);

            if (idTest == 1) {
                alert("Please select Payment Type or Calculation Type or Enter Calculation Rate.");
                return false;
            }

        }       
    });

    indicateMe = "yes"

    $(document).ready(function () {
        $('.searchableselect').searchableselect();
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Royalty Mapping', ' ');

    });
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace  
    function numericdotOnly(elementRef) {
        var keyCodeEntered = (event.which) ? event.which : (window.event.keyCode) ? window.event.keyCode : -1;
        if ((keyCodeEntered >= 48) && (keyCodeEntered <= 57)) {
            return true;
        }
        // '.' decimal point...  
        else if (keyCodeEntered == 46) {
            // Allow only 1 decimal point ('.')...  
            if ((elementRef.value) && (elementRef.value.indexOf('.') >= 0))
                return false;
            else
                return true;
        }
        return false;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

