@model MasterEF.RoyaltyMappingmaster
@using MasterEF
@{
    ViewData["Title"] = "DownloadRoyaltyMapping";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
    int columnCount = 13;
}
<section class="wrapper main-wrapper row">
    
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                @Html.Partial("_CMSnavigation")
                <div class="main-tab">
                    <ul class="nav nav-tabs">

                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">

                                Royality Mapping
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <!--<section class="content-header">


                @if (Model == null || (Model.RoyaltyRateMappingFilePath == null || Model.RoyaltyRateMappingFilePath == ""))
                {
                    if (Model.MappingID == null || Model.MappingID == 0)
                    {
                        <h1>
                            Save Royalty Mapping Draft Copy
                            <img src="@Url.Content("~/Images/1475779253_BT_printer.ico")" style="height:40px;width:40px; cursor:pointer;" onclick="getPDF('form')" />
                        </h1>
                    }
                    else
                    {
                        <h1>
                            <span id="lblGenerate">Generate Royalty Mapping Application</span>
                            <img src="@Url.Content("~/Images/1475779253_BT_printer.ico")" style="height:40px;width:40px; cursor:pointer; " id="FNClick" onclick="getPDF2('form')" />
                        </h1>
                    }
                }
                else
                {
                    <h1>
                        <span id="lblGenerate">Download Royalty Mapping Application</span>
                        <a target="_blank" class="btn btn-primary" href='@Model.RoyaltyRateMappingFilePath'>Download</a>
                    </h1>

                }-->
                @*<ol class="breadcrumb">
                        @if (HttpContext.Current.Session["UserModel"] != null)
                        {
                            <li><a href="@Url.Content("~/Home/Index")"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                            <li><a href="@Url.Content("~/Masters/RoyaltyMapping/RoyaltyMapping")"><i class="fa fa-dashboard"></i>Royalty Mapping </a></li>
                            <li class="active">Royalty Mapping</li>
                        }
                    </ol>*@
                <!--</section>-->

                <section class="box form-container">
                    <div class="content-body">


                      
                            @(Html.HiddenFor(model => model.MappingID))
                            @(Html.HiddenFor(model => model.RoyaltyRateMappingFilePath))

                        <div class="table-responsive" id="viewtable">
                            <table id="tablePRint2" class="pdf-page table table-bordered table-responsive">
                                <tr>
                                    <td class="font-weight-bold text-center text-brown" colspan="4">Royalty Mapping Draft Copy</td>

                                </tr>
                                <tr>

                                    <td width="30%" class="font-weight-bold">
                                        Mineral Category
                                    </td>
                                    <td  width="20%">
                                        <span>@(Html.DisplayFor(model => model.MineralType))</span>
                                    </td>


                                    <td  width="30%" class="font-weight-bold">
                                        Mineral Schedule
                                    </td>
                                    <td  width="20%">
                                        <span>@(Html.DisplayFor(model => model.MineralScheduleName))</span>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="font-weight-bold">
                                        Mineral Schedule Part
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.MineralSchedulePart))</span>
                                    </td>


                                    <td class="font-weight-bold">
                                        Mineral Name
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.MineralName))</span>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="font-weight-bold">
                                        Mineral Unit
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.UnitName))</span>
                                    </td>


                                    <td class="font-weight-bold">
                                        Royalty Basis
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.RoyaltyRateType))</span>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="font-weight-bold">
                                        Mineral Form
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.MineralNature))</span>
                                    </td>


                                    <td class="font-weight-bold">
                                        Mineral Grade
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.MineralGrade))</span>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="font-weight-bold">
                                        Royalty
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.RoyaltyRateID))</span>
                                    </td>


                                    <td class="font-weight-bold">
                                        Royalty
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.GrantType))</span>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="font-weight-bold">
                                        Grant Order Date
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.GrantOrderDate))</span>
                                    </td>


                                    <td class="font-weight-bold">
                                        Auction Type
                                    </td>
                                    <td>
                                        <span>@(Html.DisplayFor(model => model.AuctionName))</span>
                                    </td>
                                </tr>

                                <tr>

                                    <td  class="font-weight-bold">
                                        Lease Type
                                    </td>
                                    <td colspan="3">
                                        <span>@(Html.DisplayFor(model => model.LeaseTypeName))</span>
                                    </td>
                                </tr>



                                @if (ViewBag.PaymentType != null)
                                {
                                    List<RoyaltyMappingmaster> lst = (List<RoyaltyMappingmaster>)ViewBag.PaymentType;
                                    <tr>
                                        <td class="font-weight-bold">
                                            <span>@lst[0].PaymentType</span>
                                            <span>@lst[0].CalType</span>
                                        </td>
                                        <td><span>@lst[0].CalValue</span></td>
                                        <td class="font-weight-bold">
                                            <span>@lst[1].PaymentType</span>
                                            <span>@lst[1].CalType</span>
                                        </td>
                                        <td><span>@lst[1].CalValue</span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">
                                            <span>@lst[2].PaymentType</span>
                                            <span>@lst[2].CalType</span>
                                        </td>
                                        <td><span>@lst[2].CalValue</span></td>
                                        <td class="font-weight-bold">
                                            <span>@lst[3].PaymentType</span>
                                            <span>@lst[3].CalType</span>
                                        </td>
                                        <td><span>@lst[3].CalValue</span></td>
                                    </tr>
                                    <tr>
                                        <td  class="font-weight-bold">
                                            <span>@lst[4].PaymentType</span>
                                            <span>@lst[4].CalType</span>
                                        </td>
                                        <td colspan="3"><span>@lst[4].CalValue</span></td>
                                    </tr>

                                }
                                <tr>
                                    @*<td>
                    <span>@(columnCount + 1)</span>
                </td>*@
                                    <td class="font-weight-bold">
                                        Generated Date and Time
                                    </td>
                                    <td>
                                        <span>@(System.DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt"))</span>
                                    </td>

                                    @*<td>
                    <span>@(columnCount + 2)</span>
                </td>*@
                                    <td class="font-weight-bold">
                                        DSC
                                    </td>
                                    <td></td>
                                </tr>

                            </table>
                        </div> 
                       


                    </div>
                    <div id="javaRequiredDiv">
                    </div>

                    <input id="fName" type="hidden" />
                    <input id="fid" type="hidden" />

                </section>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    excelMe = "yes"
    pdfMe = "yes"
    printMe = "yes"
    $(document).ready(function () {
        loadNavigation('DownloadRoyaltyMapping', 'glTMng', 'plRoyaltyMapping', 'tl', 'Masters', 'Royalty Mapping', '');

        var m = new Date();
        $("#datetime").text(m.getDate() + " - " + m.getMonth() + " - " + m.getFullYear() + " " + m.getHours() + " : " + m.getMinutes());

        var fn = $("#RoyaltyMappingId").val();
        var dscfile = $("#RoyaltyRateMappingFilePath").val();
    });






  function emasSubmit() {
      console.log("IN emasSubmit()");
      var FNID = $("#fName").val();
      var RoyaltyMappingId = $("#RoyaltyMappingId").val();
      var signData = websignerapplet.getGeneratedSignature();

      $.ajax({
          url: '@Url.Action("SavePdfFile", "ForwardingNote", new { Area = "Transit" })',
          type: "POST",
          data: { base64BinaryStr: signData, fileName: FNID, ID: RoyaltyMappingId, UpdateIn: "Royalty_Mapping" },
          success: function (msg) {
              if (msg == "SUCCESS") {
                  window.location.href = "@Url.Action("DownloadRoyaltyMapping", "RoyaltyMapping")" + "?id=" + RoyaltyMappingId;
                }
                else {
                    alert(msg);

                }
            }
      });

    }

    function emasCancel() {
        alert('Signing cancelled');
    }


    $(document).ready(function () {
        if ($("#lblGenerate").text() == "Generate Royalty Mapping Application") {
            //  getPDF2();
        }
    });
</script>

