@*// *********************************************************************************************************
    //  View Name                : Production Agreement
    //  Desciption               : To MANAGE MDPA by District officer
    //  Created By               : Suroj Kumar Pradhan
    //  Created On               : 02-may-2021
    // ********************************************************************************************************
*@

@model UserInformationEF.LeaseApplicationModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" type="text/css" />
<script src="~/js/moment.min.js"></script>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <uc1:navigation runat="server" ID="navigation" />
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Online Lease Application
                            </a>
                        </li>
                    </ul>
                    <uc1:util runat="server" ID="util" />
                </div>

                <section class="box form-container">
                    @using (Html.BeginForm("Submission", "LeaseApplication", FormMethod.Post, new { id = "__AntiForgeryForm", @enctype = "multipart/form-data", @class = "form-horizontal bordered-row" }))
                    {
                        @Html.HiddenFor(x => x.Status)
                        @Html.HiddenFor(x => x.SpMode)

                        @Html.HiddenFor(x => x.LesseeLOI)
                        <div class="content-body">
                            <h1 class="text-center"> Execution of Mine Development Production Agreement [MDPA]</h1>
                            <div class="cotainer">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">

                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right font-weight-bolder">Firm Type</label>
                                            <div class="col-md-8">
                                                <label for="email_address">@Model.CategoryOfLicensee</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right font-weight-bolder">Comapny</label>
                                            <div class="col-md-6">
                                                <label for="email_address">@Model.CompanyName</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right font-weight-bolder">Name of Authorized Person</label>
                                            <div class="col-md-6">
                                                <label for="email_address">@Model.NameOfApplicant</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label text-md-right font-weight-bolder">Execution Date *</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(x => x.MDPAUploadedDate, new { @class = "form-control datetime pointer", DataFormatString = "{0:yyyy-MM-dd}", onkeydown = "return false;" })

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right font-weight-bolder">MDPA Document *</label>
                                            <div class="col-md-6">
                                                <input type="file" class="custom-file-input" id="filesupport" name="@Html.NameFor(Model => Model.MDPAFile)">
                                                <label class="custom-file-label" for="customFile">Choose Files</label>
                                                <label><span class="text-danger text-sm">Only jpg, jpeg, png, pdf, tif file types are allowed.</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right font-weight-bolder">Remarks</label>
                                            <div class="col-md-6">
                                                @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @maxlength = 1000, style = "width: 100%;height: 100px;" })
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-6 offset-sm-6">
                                    <input type="button" value="Submit" id="btnSubmit" class="btn  btn-primary" onclick="onMakePayment();" style="margin-right: 10px; width: 200px;" />

                                </div>
                            </div>


                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.datetime').datetimepicker({
                format: 'LT',
                format: "DD/MM/YYYY",

            }).keydown(false);



        });

        $('input[name="MDPAFile"]').bind('change', function () {
            debugger;
            filesize = this.files[0].size;
            var filess = this.files;
            var label = $(this).siblings('.custom-file-label');
            var val = $(this).val().toLowerCase(),
                regex = new RegExp("(.*?)\.(pdf|jpeg|jpg|png|tif)$");
            var extension = val.substr((val.lastIndexOf('.') + 1));
            if (!(regex.test(val))) {
                debugger;
                swal("", " " + extension + "  type is not an allowed file type. You can use only jpg, jpeg, png, pdf, tif types of file(s). ", "warning");
                this.value = '';
                label.html('');
                $("#MLA").focus();
                return false;
            }
            else {
                label.html(filess.length + ' Files Selected');
            }
            return false;

        });
        var MDPAFilefilesize = 0;
        $('input[name="MDPAFile"]').bind('change', function () { MDPAFilefilesize = this.files[0].size; return false; });

        function ApplyDsc() {
            if (confirm("Digital Signature is require for Submitting the Online Application. Are you sure to proceed?")) {
                $("#__AntiForgeryForm").submit();
            }
        }
        function onMakePayment(chk) {
            if ($('#Status').val() == "11") {

                if ($('#MDPAUploadedDate').val() == "") {
                    alert("Please Enter Execution Date!");
                    $('input[name="MDPAUploadedDate"]').focus();
                    return false;
                }
                else if (MDPAFilefilesize == 0) {
                    alert("Please Select MDPA Document!");
                    $('input[name="MDPAFile"]').focus();
                    return false;
                }
                else if ($("#Remarks").val() == '') {
                    alert("Please enter remarks.");
                    $("#Remarks").focus();
                    return false
                }
                else {
                    $('#SpMode').val('MDPA');
                    ApplyDsc();
                    //$("#__AntiForgeryForm").submit();
                }
            }
        }
    </script>
</section>

