@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View Grant Order Details of Licensee
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 29 July 2021
    // ********************************************************************************************************
*@
@model MasterEF.GrantDetails;
@{
    ViewData["Title"] = "GrantOrderDetails";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Licensee/GrantDetails/Create">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="message-heading">
                            <h5 class="font-weight-bold text-brown">Grant Order Details</h5>
                            <div>
                                <a href="javascript:void(0);" class="btn-dark btn-sm log-btn" data-val="collapsefillter1">Log Report<i class="icon-angle-down-solid"></i></a>
                                <a href="~/Licensee/GrantDetails/Create/@Model.CREATED_BY" class="btn-success btn-sm ml-3" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                            </div>
                        </div>
                        <div class="message-highlighter">
                            <div class="row">
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Order No</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.GrantOrderNumber</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Order Date</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.GrantOrderDate</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Valid From</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.FromValidity</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Valid To</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.ToValidity</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Period(In Year) </label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.LicensePeriod</label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Order Copy</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext">
                                        <span class="colon">:</span>@Model.GrantOrderFileName
                                        @if (Model.GrantOrderFileName != null && Model.GrantOrderFileName != "")
                                        {
                                            <a href='~/@Model.GrantOrderFilePath' title="" class="ml-2" data-original-title="Download Grant Order Copy" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a>
                                        }
                                    </label>
                                </div>
                                <label class="col-lg-2 col-md-4 col-sm-12 col-form-label">Remarks</label>
                                <div class="col-lg-4 col-md-8 col-sm-12">
                                    <label class="form-control-plaintext"><span class="colon">:</span>@Model.Remarks</label>
                                </div>
                            </div>
                            <ul class='timeline custom-scroll log-box' id='collapsefillter1'>
                                @Html.Raw((String)ViewBag.tableLA)
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

