@*// *********************************************************************************************************
    //  View Name                : View WorkFlow
    //  Desciption               : To View LeaveAssignClassWise
    //  Created By               : Suresh kumar behera
    //  Created On               : 13-july-2021
    // ********************************************************************************************************
*@
@model IEnumerable<MasterEF.WorkFlowEFQuery>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ViewWorkFlow";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using MasterApp.Web;

@if (TempData["msg"] != null)
{
    <script>
        var vv = '@TempData["msg"]';
        if (vv == 1) {
            swal("", "WorkFlow saved successfully.", "success");
        }
        else if (vv == 2) {
            swal("", "WorkFlow allready exists.", "warning");
        }
        else if (vv == 3) {
            swal("", "WorkFlow updated sucessfully", "success");
        }
        else if (vv == 4) {
            swal("", "WorkFlow  deleted sucessfully", "success");
        }
        else {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>

    TempData["msg"] = null;

}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/WorkFlowEngine/WorkFlow/AddWorkFlow")">
                                Add WorkFlow
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View WorkFlow
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="box form-container">
                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="table-exports" class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30px">
                                                @Localizer["Sl"]
                                            </th>
                                            <th>
                                                @Localizer["Module Name"]

                                            </th>
                                            <th>
                                                @Localizer["SubModule Name"]

                                            </th>
                                            <th>
                                                @Localizer["Activity Name"]

                                            </th>
                                            <th>
                                                @Localizer["Step"]

                                            </th>
                                            <th>
                                                @Localizer["Authority Type"]

                                            </th>
                                            @*<th>@Localizer["Escalation"]
                                             </th>
                                             <th>@Localizer["Escalation in Day"] 
                                             </th>
                                             <th>@Localizer[" Required Notification"]    
                                            </th>*@
                                            <th>
                                                @Localizer["Set Authority"]
                                                
                                            </th>

                                            <th>
                                                @Localizer["Action To Be Taken At"]
                                                
                                            </th>
                                            <th>
                                                @Localizer["Action To Be Taken By"]
                                               
                                            </th>
                                            <th width="60px" class="noprint">
                                                @Localizer["Action Taking Authority"]
                                                
                                            </th>
                                            <th width="60px" class="noprint">
                                                @Localizer["Action"]
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;

                                                <tr class="active-row">
                                                    <td>@count</td>
                                                    <td>@item.ModuleName</td>
                                                    <td>@item.SubModuleName</td>
                                                    <td>@item.ActivityName</td>
                                                    <td>@item.intStep</td>
                                                    <td>@item.AuthorityType</td>

                                                    @* <td>@item.Escalation</td>
                                                        <td>@item.intEscalationinDays</td>
                                                        <td>@item.Notification</td>*@
                                                    <td>@item.SetAuthority</td>

                                                    <td>@item.ActionToBeTakenAt</td>
                                                    <td>@item.ActionToBeTakenBy</td>
                                                    <td class="noprint">
                                                        <a class="btn-floating btn-outline-primary btn-sm" id="History"
                                                           onclick="ShowAuthority(@item.intWorkFlowId);"
                                                           title="Action Details">Details</a>
                                                    </td>
                                                    <td class="noprint">
                                                        @if (item.intSetAuthority == 3 || item.intSetAuthority == 1)//1:No, 2:Yes(authority take from workflow) , 3:Default(Authority take from :user wise set authority)
                                                        {
                                                            <a href="@CustomQueryStringHelper.EncryptString("WorkFlowEngine", "DeleteWorkFlow", "WorkFlow", new { id = item.intWorkFlowId })"
                                                               class="btn-floating btn-outline-danger btn-sm"
                                                               title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>

                                                        }
                                                        else
                                                        {
                                                            <a href="@CustomQueryStringHelper.EncryptString("WorkFlowEngine", "AddWorkFlow", "WorkFlow", new { id = item.intWorkFlowId })"
                                                               class="btn-floating btn-outline-primary btn-sm"
                                                               title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                            <a href="@CustomQueryStringHelper.EncryptString("WorkFlowEngine", "DeleteWorkFlow", "WorkFlow", new { id = item.intWorkFlowId })"
                                                               class="btn-floating btn-outline-danger btn-sm"
                                                               title="Delete" onclick="return confirm('Are you sure to Delete?')"><i class="icon-trash-alt-solid"></i></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="modal fade" id="Notice_model" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Action Taking Authority</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="tblHistory" class="table table-sm table-bordered">
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>

    $(document).ready(function () {
        loadNavigation('ViewWorkFlow', 'glempprofile', 'plofficetype', 'tl', 'Configuration', 'ViewWorkFlow', ' ');

        $('.searchableselect').searchableselect();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });


    function ShowAuthority(intWorkFlowId) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/WorkFlowEngine/WorkFlow/ViewActionTakingAuthority")',
            data: {
                "intWorkFlowId": intWorkFlowId
            },
            dataType: "Json",
            success: function (data) {
                var row = '<thead><tr><th width="30px">Sl#</th><th>Primary Authority</th><th>Secondary Authority</th></tr ></thead >'
                for (var i = 0; i < data.length; i++) {
                    row += '<tr><th width="30px">' + (parseInt(i) + 1) + '</th><th>' + data[i].primaryAuthority + '</th><th>' + data[i].secondaryAuthority + '</th></tr >'
                }
                $("#tblHistory").html(row);
                $('#Notice_model').modal('show');
            },
            error: function () {
                alert('Error');
            }
        })
    }
</script>
