@model HomeEF.GraphMineralAvailModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("","Mineral Resources Saved.","success");
        }
        if (vv == 2) {
            swal("", "Mineral Resources Updated.", "success");
        }
        else if (vv == 3) {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'Website', 'Notification', ' ');
    });
    function Validate() {
        var Iss = false;
        if (!blankFieldValidation("Totalcoal_Chattisgarh", "Coal in Chattisgarh")) {
            return false;
        }
        else if (!blankFieldValidation("Totalcoal_India", "Coal in India")) {
            return false;
        }
        else if (!blankFieldValidation("TotalIronore_Chattisgarh", "Ironore in Chattisgarh")) {
            return false;
        }
        else if (!blankFieldValidation("TotalIronore_India", "Ironore in India")) {
            return false;
        }
        else if (!blankFieldValidation("TotalLimestone_Chattisgarh", "Limestone in Chattisgarh")) {
            return false;
        }
        else if (!blankFieldValidation("TotalLimestone_India", "Limestone in India")) {
            return false;
        }
        else if (!blankFieldValidation("TotalBauxite_Chattisgarh", "Bauxite in Chattisgarh")) {
            return false;
        }
        else if (!blankFieldValidation("TotalBauxite_India", "Bauxite in India")) {
            return false;
        }
        Iss = true;
        return Iss;
    }
</script>
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("","Mineral Resource Saved.","success");
        }
        else if (vv == 3) {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Edit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Graph/MineralViewEdit">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0"> </h5>
                        <form method="post" action="/Website/Graph/MineralAvailAdd" autocomplete="off">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total coal in Chattisgarh <span class="text-danger">*</span></label>
                                            <input type="text" id="Totalcoal_Chattisgarh" name="Totalcoal_Chattisgarh" class="form-control" value="@Model.Totalcoal_Chattisgarh" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Totalcoal_Chattisgarh)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total coal in India <span class="text-danger">*</span></label>

                                            <input type="text" id="Totalcoal_India" name="Totalcoal_India" value="@Model.Totalcoal_India" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Totalcoal_India)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Iron ore in Chattisgarh <span class="text-danger">*</span></label>

                                            <input type="text" id="TotalIronore_Chattisgarh" name="TotalIronore_Chattisgarh" value="@Model.TotalIronore_Chattisgarh" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalIronore_Chattisgarh)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Iron ore in India <span class="text-danger">*</span></label>

                                            <input type="text" id="TotalIronore_India" name="TotalIronore_India" value="@Model.TotalIronore_India" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalIronore_India)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Limestone in Chattisgarh<span class="text-danger">*</span></label>

                                            <input type="text" id="TotalLimestone_Chattisgarh" name="TotalLimestone_Chattisgarh" value="@Model.TotalLimestone_Chattisgarh" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalLimestone_Chattisgarh)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Limestone in India<span class="text-danger">*</span></label>

                                            <input type="text" id="TotalLimestone_India" name="TotalLimestone_India" value="@Model.TotalLimestone_India" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalLimestone_India)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Bauxite in Chattisgarh<span class="text-danger">*</span></label>

                                            <input type="text" id="TotalBauxite_Chattisgarh" name="TotalBauxite_Chattisgarh" value="@Model.TotalBauxite_Chattisgarh" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalBauxite_Chattisgarh)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <div class="col-lg-7 col-md-7 col-sm-12">
                                            <label class="col-form-label pt-0 font-weight-bolder">Total Bauxite in India<span class="text-danger">*</span></label>

                                            <input type="text" id="TotalBauxite_India" name="TotalBauxite_India" value="@Model.TotalBauxite_India" class="form-control" Onkeypress = "return inputLimiter(event,'Numbers')" />
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.TotalBauxite_India)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <input type="hidden" id="ID" value="@Model.ID" name="ID" />
                                    <input type="submit" value='@ViewBag.submit' name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="Submit" onclick="return Validate()">
                                    <a href="~/Website/Graph/MineralViewEdit" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
@section Scripts{
    <script src="~/CMSjs/specialChar.js"></script>
}

