@model HomeEF.GraphMineralAvailModel
@{
    ViewData["Title"] = "MineralViewEdit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        @*<li class="nav-item">
                            <a class="nav-link" href="~/Website/Graph/ProductionAdd">
                                Add
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <h5 class="text-brown font-weight-bold mt-0">Mineral Resources </h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Total coal India</th>
                                                <th>Total Ironore India</th>
                                                <th>Total Limestone India</th>
                                                <th>Total Bauxite India</th>
                                                <th>Total coal Chattisgarh</th>
                                                <th>Total Ironore Chattisgarh</th>
                                                <th>Total Limestone Chattisgarh</th>
                                                <th>Total Bauxite Chattisgarh</th>
                                                <th class="text-center noprint">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.Totalcoal_India</td>
                                                <td>@Model.TotalIronore_India</td>
                                                <td>@Model.TotalLimestone_India</td>
                                                <td>@Model.TotalBauxite_India</td>
                                                <td>@Model.Totalcoal_Chattisgarh</td>
                                                <td>@Model.TotalIronore_Chattisgarh</td>
                                                <td>@Model.TotalLimestone_Chattisgarh</td>
                                                <td>@Model.TotalBauxite_Chattisgarh</td>
                                                <td class='noprint text-center'><a class='text-success btn-sm' href="~/Website/Graph/MineralEditByID/@Model.ID"><i class='icon-pencil-alt-solid'></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

