<footer class="py-2 ">
    <p class="copy-right  mb-0">
        &copy;
        <script>
        document.write(new Date().getFullYear());
        </script> Mineral Resources Department, All rights reserved
    </p>
</footer>


<script src='@Url.Content("~/js/mdb.min.js")'></script>
<script src='@Url.Content("~/js/popper.min.js")'></script>
<script src='@Url.Content("~/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/js/perfect-scrollbar.min.js")'></script>
<script src='@Url.Content("~/js/styleswitch.js")'></script>
<script src='@Url.Content("~/js/scripts.js")'></script>
