@model EstablishmentEf.PastaffEF;
@{
    ViewData["Title"] = "AddAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Appraisal From for PA Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/aec/Pastaff/AddAppraisal")" >
                                View Appraisal From for PA Staff
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("AddAppraisal", "Pastaff", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.HiddenFor(m => m.intApprisalld)
                                            @Html.DropDownListFor(m => m.Department, ViewBag.Department as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.DropDownListFor(m => m.Designation, ViewBag.Designation as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.DropDownListFor(m => m.Person_name, ViewBag.User as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Pay Grade<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.PayGrade, new { @class = "form-control", @maxlength = 20, Onkeypress = "return inputLimiter(event,'NameCharactersAndNumbers')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Reporting authority name <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.DropDownListFor(m => m.RepAutname, ViewBag.RepAutname as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Stenography speed <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.Stenographyspeed, new { @class = "form-control", @maxlength = 4, Onkeypress = "return inputLimiter(event,'Numbers')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Ability to writing remarks<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">

                                            @Html.TextAreaFor(m => m.Abilitytowritingremarks, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })

                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Maintain  relation to visitor<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Maintainrelvisitor, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Ability to keep information confidential<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Abilityinformationconfidential, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Telephone communication skill  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.TelComSkill, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Arrangement of meeting <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Arrtmeeting, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Manage of letter in the absent of officer <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.MangLetabsentofficer, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Ability to complete the task  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.AbilitCompletetask, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Punctuality  <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Punctuality, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Extra qualification<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Extraqualification, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <select class="form-control form-control-sm searchableselect" id="Grade" name="Grade">
                                                <option value="null">select</option>
                                                <option value="Excellent">Excellent</option>
                                                <option value="Very Good">Very Good</option>
                                                <option value="Good">Good</option>
                                                <option value="Average">Average</option>
                                                <option value="Below Average">Below Average</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 offset-lg-2 offset-md-5">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <input type="reset" value="Reset"  class="btn btn-danger btn-md" />
                                    
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
