
@{
    ViewData["Title"] = "ViewAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Content("~/aec/Pastaff/ViewAppraisal")">
                                Add Appraisal From for PA Staff
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View Appraisal From for PA Staff
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">



                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30px">Sl#</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                <th>Person Name</th>
                                                <th>Pay Grade</th>

                                                <th width="60px" class="noprint">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.Deptname</td>
                                                        <td>@item.designationname</td>
                                                        <td>@item.ApplicantName</td>
                                                        <td>@item.Paygrade</td>
                                                        <td class="noprint">
                                                            <a href="@Url.Content("~/Aec/Pastaff/AddAppraisal?id="+item.AppraisalId+"")" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" title="" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>
                                                            @*<a href="javascript:void(0);" class="btn-floating btn-outline-danger btn-sm waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Delete" "=" "><i class="far fa-trash-alt"></i></a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    excelMe = "yes"
    pdfMe = "yes"

    $(document).ready(function () {
        loadNavigation('ViewAppraisalFormforClassIII', 'glaec', 'plaffc', 'tl', 'AEC', 'Appraisal Form for Class III', ' ');

        $('.searchableselect').searchableselect();

        $('#datatable').DataTable();


        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>

