<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='@Url.Content("~/css/all.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/css/khanij-icon.css")' rel="stylesheet" />
    <link href='@Url.Content("~/css/login.css")' rel="stylesheet" />
    <script src='@Url.Content("~/js/jquery.min.js")'></script>
</head>
<body>

    <header class="head-sec fixed-top bg-white">
        <div class="container">
            <div class="header">
                <nav class="navbar">
                    <a class="navbar-brand" href="#">
                        <img src='@Url.Content("~/img/govt-logo.png")' class="login-logo" alt="Logo" />
                        <h1 class="mb-1">
                            Mineral Resources Department
                            <small class="d-block">Government of Chhattisgarh</small>
                        </h1>
                    </a>
                    <div class="ml-lg-auto contact-culm">
                        <ul class="top-link mb-2">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Important Links
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                    <a class="dropdown-item" href="javascript:void(0);">Chhattisgarh Government Portal</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Chhattisgarh Environment Conservation Board</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Chhattisgarh State Mineral Development Corporation</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Ministry of Mines</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Indian Bureau of Mines</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Ministry of Forest & Environment</a>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Feedback</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Photo Gallery</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Contact</a>
                            </li>
                        </ul>
                        <ul class="contact-dtls mb-0 d-flex align-items-center">
                            <li>
                                <i class="khanijicon-call mr-2"></i>

                                @*<%--<small class="d-lg-block d-none text-muted ">Call Us</small> --%>*@
                                <h6 class="mb-0"><a href="mailto:khanijonline@gmail.com">1800 233 3767</a> </h6>

                            </li>
                            <li>
                                <i class="khanijicon-mail mr-2"></i>

                                @*<%--<small class="d-lg-block d-none text-muted">Mail Us</small> --%>*@
                                <h6 class="mb-0"><a href="mailto:khanijonline@gmail.com">khanijonline@gmail.com</a></h6>

                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-info btn-sm text-uppercase"><i class="khanijicon-user-login"></i> User Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar">
            <div class="container">
                <a class="navbar-toggler" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-lg-center mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">User Manual</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User & Vehicle Owner
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">User Registration</a>
                                <a class="dropdown-item" href="#">Vehicle Owner Registration</a>
                                <a class="dropdown-item" href="#">Tailing Dam, Ashdyke, Mud Pond etc. Registration</a>
                                <a class="dropdown-item" href="#">Application Status Check</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                New Application
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">License Application</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Digital Signature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Grievance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">e-TP Verification</a>
                        </li>
                        <li class="khanij-online align-items-center justify-content-end ml-auto d-md-none d-lg-flex">

                            <img src='@Url.Content("~/img/khanij-online.png")' alt="Khanij Online" class="mr-2" />
                            A Web based mines & minerals management system

                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </header>

    @RenderBody()

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>
                    Copyright
                    <script>document.write(new Date().getFullYear());</script> All rights reserved. Khanij Online
                </span>
            </div>
        </div>
    </footer>
    <script src='@Url.Content("~/js/jquery.min.js")'></script>
    <script src='@Url.Content("~/js/popper.min.js")'></script>
    <script src='@Url.Content("~/js/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/js/districtDetails.js")'></script>
    <script src='@Url.Content("~/js/distwiseactive.js")'></script>
    <script>
        $(document).ready(function () {
            $('.head-sec .navbar-nav li.dropdown,.top-link li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });

            var hdrHeight = $('header').height();
            $('body').css('padding-top', hdrHeight);
            var winHeight = $(window).height();
            if ($('.main-content').height() < winHeight) {
                $('.main-content').css({
                    "min-height": winHeight - 220
                })
                //if ($(window).width() > 1400) {
                //    $('.main-content').css({
                //        "min-height": winHeight - 110
                //    })
                //}
            }
            if ($(window).width() < 991) {
                $('.main-content').css({
                    "min-height": "100%"
                })
            }
        });
    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
