@*// *********************************************************************************************************
    //  View Name                : Add
    //  Desciption               : To Save and Update Website Page Details
    //  Created By               : Prakash Chandra Biswal
    //  Created On               : 20 Oct 2021
    // ********************************************************************************************************
*@
@model IEnumerable<HomeEF.ViewPageModel>

@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script>
    pdfMe = "yes";
    excelMe = "yes";
    printMe = "yes";
    publishedMe = "yes";
    unpublishedMe = "yes";
    deleteMe = "yes";
    $(document).ready(function () {
        loadNavigation('IntroductionViewList', 'glhelpdesk', 'plraiseticket', 'tl', 'Website', 'Introduction', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Page/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Publish</li>
                                <li><span class="bg-warning"></span> Unpublish</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px" class="text-center">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkbox1">
                                                        <label class="custom-control-label" for="checkbox1"></label>
                                                    </div>
                                                </th>
                                                <th width="30px">Sl#</th>
                                                <th>Page Name</th>
                                                <th>Page Alias</th>
                                                <th>Page Title</th>
                                                <th>Page Snippet</th>
                                                <th>Meta Title</th>
                                                <th>Meta Keyword</th>
                                                <th>Meta Description</th>
                                                <th>Meta Image</th>
                                                <th>Featured Image</th>
                                                <th>Link Type</th>
                                                <th>URL</th>
                                                <th>Windows Status</th>
                                                <th>Page Type</th>
                                                <th>Plugin Type</th>
                                                <th>Page Content</th>
                                                <th width="50px" class="noprint text-center">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    var dynamicclass = @item.BIT_STATUS == "Active" ? "active-row" : "inactive-row";
                                                    <tr class="active-row">
                                                        <td class="text-center noprint">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                                <label class="custom-control-label" for="checkbox2"></label>
                                                            </div>
                                                        </td>
                                                        <td>@count</td>
                                                        <td>@item.VCH_PAGE_NAME</td>
                                                        <td>@item.VCH_PAGE_NAME_ALIAS</td>
                                                        <td>@item.VCH_PAGE_TITLE</td>
                                                        <td>@item.VCH_PAGE_SNIPPET</td>
                                                        <td>@item.VCH_META_TITLE</td>
                                                        <td>@item.VCH_META_KEYWORD</td>
                                                        <td>@item.VCH_META_DESCIPTION</td>
                                                        <td class="text-center noprint"><a href='~/@item.VCH_META_IMAGE_NAME' data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></td>
                                                        <td class="text-center noprint"><a href='~/@item.VCH_FEATURE_IMAGE_NAME' data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></td>
                                                        <td>@item.BIT_LINK_TYPE</td>
                                                        <td>@item.VCH_URL</td>
                                                        <td>@item.BIT_WINDOW_STATUS</td>
                                                        <td>@item.INT_PAGE_TYPE</td>
                                                        <td>@item.INT_PLUGIN_TYPE</td>
                                                        <td>@item.VCH_PAGE_CONTENT</td>
                                                        <td class="noprint text-center">
                                                            <a href="/Website/Page/Add/@item.INT_PAGE_ID" class="text-success btn-sm">
                                                                <i class="icon-pencil-alt-solid"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>


