<!DOCTYPE html>
<html>
<head>
    <title>Khanij Online </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='@Url.Content("~/css/all.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/css/khanij-icon.css")' rel="stylesheet" />
    <script src='@Url.Content("~/CMSjs/sweetalert.min.js")'></script>
    <link href='@Url.Content("~/css/login.css")' rel="stylesheet" />
    <script src='@Url.Content("~/js/jquery.min.js")'></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
