@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View and Delete Website Banner Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 22 Oct 2021
    // ********************************************************************************************************
*@
@model IEnumerable<HomeEF.ViewBannerModel>
@using HomeApp.Web;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("", "Banner updated successfully.", "success");
        }
        else if (vv == 2) {
            swal("","Banner already exists.","warning");
        }
        else if (vv == 3){
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
        else if (vv == 4) {
            swal("", "Banner Deleted Sucessfully!!", "success");
        }
    </script>
}
<script>
    publishedMe = "yes";
    unpublishedMe = "yes";
    archiveMe = "yes";
    $(document).ready(function () {
        loadNavigation('ViewList', 'glhelpdesk', 'plraiseticket', 'tl', 'CMS', 'Banner', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
        });
        $("#archiveIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Banner to archive !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Archive?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Banner/ArchiveMove",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Banner Moved To Archive Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                              setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Banner", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
        $("#publishedIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Banner to Publish !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Publish?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Banner/Publish",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Banner Published Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                             setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Banner", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
        $("#unpublishedIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Banner to Unpublish !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Unpublish?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Banner/UnPublish",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Banner Unpublished Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                             setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Banner", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
    });
    function StatusUpdateInActive(Id) {
        if (confirm("Are you sure to InActive?")) {
            $.ajax({
                url: '/Website/Banner/StatusUpdate',
                type: "POST",
                data: { BannerId: Id, BitStatus: false },
                success: function (data) {
                    debugger;
                    if (data == 1) {
                        swal("", "Status updated successfully.", "success");
                    }
                    else {
                        swal("", "Something went wrong. Please try again!", "error");
                    }
                    setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Banner", new { Area = "Website" })'
                            }, 10000);
                },
                error: function (err) {
                }
            });
        }
    }
    function StatusUpdateActive(Id) {
        if (confirm("Are you sure to Active?")) {
            $.ajax({
                url: '/Website/Banner/StatusUpdate',
                type: "POST",
                data: { BannerId: Id, BitStatus: true },
                success: function (data) {
                    if (data == 1) {
                        swal("", "Status updated successfully.", "success");
                    }
                    else {
                        swal("", "Something went wrong. Please try again!", "error");
                    }
                     setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Banner", new { Area = "Website" })'
                            }, 10000);
                },
                error: function (err) {
                }
            });
        }
    }
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Banner/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Banner/Archive">
                                Archive
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Publish</li>
                                <li><span class="bg-warning"></span> Unpublish</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="20px" class="text-center noprint">
                                                        <input type="checkbox" id="ckbCheckAll">
                                                    </th>
                                                    <th width="20px">@Localizer["Sl"]#</th>
                                                    <th>@Localizer["Content"]</th>
                                                    <th>@Localizer["Banner for Desktop"] </th>
                                                    <th>@Localizer["Banner for Mobile"]</th>
                                                    <th>@Localizer["Sequence"] </th>
                                                    <th width="40" class="text-center noprint"> @Localizer["Action"] </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var count = 0;
                                                    foreach (var item in Model)
                                                    {
                                                        count++;
                                                        var dyclass = @item.BIT_STATUS == "Active" ? "active-row" : "inactive-row";
                                                        <tr class="@dyclass">
                                                            <td class="text-center noprint">
                                                                <input type="checkbox" class="checkBoxClass" id='chkData' value="@item.INT_BANNER_ID">
                                                            </td>
                                                            <td>@count</td>
                                                            <td>@item.VCH_DESCRIPTION</td>
                                                            <td>
                                                                <a href="~/Website/Banner/DownloadFiles?filename=@item.VCH_DESKTOP_DOCUMENT_NAME" title="" class="ml-2" data-original-title="Download Desktop Document">
                                                                    <img src="~/@item.VCH_DESKTOP_DOCUMENT" width="50" height="50" />
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="~/Website/Banner/DownloadFiles?filename=@item.VCH_MOBILE_DOCUMENT_NAME" title="" class="ml-2" data-original-title="Download Mobile Document">
                                                                    <img src="~/@item.VCH_MOBILE_DOCUMENT" width="50" height="50" />
                                                                </a>
                                                            </td>
                                                            <td>@item.INT_SEQUENCE</td>
                                                            <td class="text-center noprint">
                                                                @*@if (item.BIT_STATUS != "Active")
                                                                    {*@
                                                                @*<a href="@CustomQueryStringHelper.EncryptString("Website", "Add", "Banner", new { id = item.INT_BANNER_ID })" class="text-success btn-sm">
                                                                        <i class="icon-pencil-alt-solid"></i>
                                                                    </a>*@
                                                                @*<a href="@CustomQueryStringHelper.EncryptString("Website", "Add", "Banner", new { id = item.INT_BANNER_ID })" class="text-success btn-sm">
                                                                        <i class="icon-pencil-alt-solid"></i>
                                                                    </a>*@
                                                                <a href="/Website/Banner/Add/@item.INT_BANNER_ID" class="text-success btn-sm">
                                                                    <i class="icon-pencil-alt-solid"></i>
                                                                </a>
                                                                @*}*@
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

