@model HelpDeskEF.RaiseTicket
@{
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
    ViewData["Title"] = "DetailReport";
}
<script>
    $(document).ready(function () {
        loadNavigation('DetailReport', 'glTMng', 'plUser', 'tl', 'Helpdesk', 'Detail Report', '');
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        @*<uc1:navigation runat="server" ID="navigation" />*@
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="search-box">                        
                        <div class="content-body pt-0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        @{ int i = 1;
                                        }
                                        @foreach (var b in ViewBag.viewdetailreport)
                                        {
                                            if (i == 1)
                                            {
                                                <thead>
                                                    <tr>
                                                        <th width="30">Sl#</th>
                                                        <th>Ticket No.</th>
                                                        <th>Open Date & Time</th>
                                                        <th>State</th>
                                                        <th>District</th>
                                                        <th>Complainer Name</th>
                                                        <th>Complainer Mobile Number</th>
                                                        <th>Complainer EmailID</th>
                                                        <th>User ID</th>
                                                        <th>Category :: Module :: Item</th>
                                                        <th>Problem Description</th>
                                                        <th>Solution Description</th>
                                                        <th>Priority</th>
                                                        <th>Status</th>
                                                        <th>Close Date & Time</th>
                                                        <th>Days/Time Taken For Close</th>
                                                        <th>Issue Reported By</th>
                                                        <th>Designation</th>
                                                    </tr>
                                                </thead>
                                            }
                                            <tbody>
                                                <tr class="active-row">
                                                    <td>
                                                        @i
                                                        @{ i++; }
                                                    </td>
                                                    <td>
                                                        <p class="m-0">
                                                            @b.TicketNumber
                                                        </p>
                                                    </td>
                                                    <td><p class="m-0">@b.TicketOpenDate</p></td>
                                                    <td><p class="m-0">@b.StateName</p></td>
                                                    <td><p class="m-0">@b.DistrictName</p></td>
                                                    <td><p class="m-0">@b.ComplainerName</p></td>
                                                    <td><p class="m-0">@b.ComplainerMobileNumber</p></td>
                                                    <td><p class="m-0">@b.ComplainerEmailID</p></td>
                                                    <td><p class="m-0">@b.ComplainerUserName</p></td>
                                                    <td><p class="m-0">@b.CategoryName</p></td>
                                                    <td><p class="m-0">@b.ProblemDescription</p></td>
                                                    <td><p class="m-0">@b.SolutionDescription</p></td>
                                                    <td><p class="m-0">@b.PriorityName</p></td>
                                                    <td><p class="m-0">@b.Status_Details</p></td>
                                                    <td><p class="m-0">@b.CloseDateTime</p></td>
                                                    <td><p class="m-0">@b.DaysTimeTaken</p></td>
                                                    <td><p class="m-0">@b.IssueReportedBy</p></td>
                                                    <td><p class="m-0">@b.designation</p></td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


