@using PermitEF;
@using PermitApp.Helper;
@using PermitApp.Web;
@using  Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserLoginSession profile = HttpContextAccessor.HttpContext.Session.Get<UserLoginSession>(KeyHelper.UserKey);
}
<div class="page-topbar ">
    <div class="logo-area">
        <img src='@Url.Content("~/CMSimg/govt-logo.png")' alt="Chhattishgarh Govt" class="main-logo">
        <h1>
            Mineral Resources Department
            <small>Govt. of Chhattisgarh</small>
        </h1>
    </div>
    <div class="quick-area">
        <div class="khanij-online">
            <img src='@Url.Content("~/CMSimg/khanij-online.jpg")' alt="Khanij Online" class="mr-2" />
            <span class="text-white font-weight-bold">A Web based mines & minerals<br /> management system</span>
        </div>
        <div class="top-menu-section">
            <ul class="">
                @*<li class="nav-item language-change">
                        <partial name="_Culture" />
                    </li>*@
                <li>
                    @{
                        string Path = configuration.GetSection("NavigationPath")["Dashboardsubpath"];
                    }
                    <a href="@Path" title="Choose Module" class="module-icon"><i class="icon-buromobelexperte"></i></a>
                </li>
                <li>
                    <label id="switch" class="switch">
                        <input type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="">
                    <a href="#">
                        <i class="icon-bell-solid"></i>
                        <span class="badge badge-pill badge-accent">3</span>
                    </a>
                    <ul class="dropdown-menu messages">
                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">8th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">8th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li class="unread">
                            <a href="javascript:;">
                                <span class="time small d-block">7th Dec</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">16th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">16th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="time small d-block">15th Nov</span>
                                <span class="desc small">
                                    Sometimes it takes a lifetime to win a battle.
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="profile">
                    <a href="#">
                        <img src='@Url.Content("~/CMSimg/profile.jpg")' alt="user-image" class="rounded-circle img-inline">
                    </a>
                    <span class="administrator">
                        @profile.ApplicantName  <br>
                        <span>User Type : <strong>@profile.UserType</strong></span> |
                        <span id="WelcomeTime">Wed, 10 August 2016, 10:23 AM</span>
                    </span>

                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <span class="d-lg-none d-block">@profile.ApplicantName </span>
                        </li>
                        <li class="">
                            <a href="/Home/Profile" title="Profile">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="last">
                            <a href="/Home/ChangePassword" title="Change Password">
                                <i class="icon-key-solid"></i>
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/home/Logout")" class="toggle">
                                <i class="icon-power-off-solid"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () { GetTimeValue(); });
    // function to set a given theme/color-scheme
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
    }

    // function to toggle between light and dark theme
    function toggleTheme() {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-light');


        } else {
            setTheme('theme-dark');
        }
    }

    // Immediately invoked function to set the theme on initial load
    (function () {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-dark');
            document.getElementById('slider').checked = true;

        } else {
            setTheme('theme-light');

            document.getElementById('slider').checked = false;
        }
    })();
    function GetTimeValue() {
        var date = "";
        var time = "";
        var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();
        date = curr_date + "-" + m_names[curr_month] + "-" + curr_year;
        var a_p = "";
        var d = new Date();
        var curr_hour = d.getHours();
        var ss = d.getSeconds();
        if (curr_hour < 12) {
            a_p = "AM";
        }
        else {
            a_p = "PM";
        }
        if (curr_hour == 0) {
            curr_hour = 12;
        }
        if (curr_hour > 12) {
            curr_hour = curr_hour - 12;
        }
        var curr_min = d.getMinutes();
        curr_min = curr_min + "";
        if (curr_min.length == 1) {
            curr_min = "0" + curr_min;
        }
        if (ss <= 9) {
            ss = "0" + ss;
        }
        time = " " + curr_hour + ":" + curr_min + ":" + ss + " " + a_p;
        $("#WelcomeTime").text(date + "" + time);
    }
    setInterval(function () { GetTimeValue() }, 1000);
</script>
