<footer class="py-2">
    <p class="copy-right  mb-0">
        &copy;
        <script>
            document.write(new Date().getFullYear());
        </script> Mineral Resources Department, All rights reserved
    </p>
</footer>
<script src='@Url.Content("~/CMSjs/jquery.dataTables.min.js")'></script>
@*<script src="@Url.Content("~/CMSjs/jquery.dataTables.fixedHeader.min.js")"></script>*@
<script src='@Url.Content("~/CMSjs/dataTables.buttons.min.js")'></script>
<script src='@Url.Content("~/CMSjs/jszip.min.js")'></script>
<script src='@Url.Content("~/CMSjs/pdfmake.min.js")'></script>
<script src='@Url.Content("~/CMSjs/vfs_fonts.js")'></script>
<script src='@Url.Content("~/CMSjs/buttons.html5.min.js")'></script>
<script src='@Url.Content("~/CMSjs/buttons.print.min.js")'></script>
<script src='@Url.Content("~/CMSjs/buttons.colVis.min.js")'></script>
<script src='@Url.Content("~/CMSjs/popper.min.js")'></script>
<script src='@Url.Content("~/CMSjs/bootstrap.min.js")'></script>
<script src='@Url.Content("~/CMSjs/perfect-scrollbar.min.js")'></script>
<script src='@Url.Content("~/CMSjs/styleswitch.js")'></script>
<script src='@Url.Content("~/CMSjs/scripts.js")'></script>

