<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>*@

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/bootstrap-select.min.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/bootstrap.min.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/pace-theme-flash.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/all.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/perfect-scrollbar.css")' />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/iconslist.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/style.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.Content("~/CMScss/iconslist.css")' type="text/css" />
    <link rel="alternate stylesheet" media="screen" title="infotheme" href='@Url.Content("~/CMScss/theme-info.css")' />
    <link rel="alternate stylesheet" media="screen" title="greentheme" href='@Url.Content("~/CMScss/theme-success.css")' />
    <link rel="alternate stylesheet" media="screen" title="orangetheme" href='@Url.Content("~/CMScss/theme-warning.css")' />
    <link rel="alternate stylesheet" media="screen" title="purpletheme" href='@Url.Content("~/CMScss/theme-secondary.css")' />
    <link rel="alternate stylesheet" media="screen" title="redtheme" href='@Url.Content("~/CMScss/theme-danger.css")' />
    <script src='@Url.Content("~/CMSjs/jquery.min.js")'></script>
    <script src='@Url.Content("~/CMSjs/sweetalert.min.js")'></script>
    <link href='@Url.Content("~/CMScss/bootstrap-datetimepicker.min.css")' rel="stylesheet">
    <script src='@Url.Content("~/CMSjs/moment.min.js")'></script>
    <script src='@Url.Content("~/CMSjs/bootstrap-datetimepicker.min.js")'></script>
    <script src='@Url.Content("~/CMSjs/CSMValidation.js")'></script>

</head>
<body>



    @Html.Partial("_CMSnavbar")
    @Html.Partial("_CMSnavigation")
    <div class="page-container ">

        <!-- SIDEBAR - START -->

        <div class="page-sidebar fixedscroll">
            <!-- MAIN MENU - START -->
            @Html.Partial("_leftsider")
            <!-- MAIN MENU - END -->
        </div>
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <div id="main-content">

            @RenderBody()
            @Html.Partial("_CMSfooter")

        </div>
        <!-- END CONTENT -->
    </div>

    <script src='@Url.Content("~/CMSjs/scripts.js")'></script>
    <link rel="stylesheet" href='@Url.Content("~/CMScss/searchable-select.min.css")'>
    <script src='@Url.Content("~/CMSjs/searchable-select.min.js")'></script>
    <link rel="stylesheet" href='@Url.Content("~/CMScss/dataTables.bootstrap4.min.css")'>
    <script src='@Url.Content("~/CMSjs/jquery.dataTables.min.js")'></script>
    <script src='@Url.Content("~/CMSjs/dataTables.bootstrap4.min.js")'></script>
    <script src='@Url.Content("~/CMSjs/bootstrap-select.min.js")'></script>
    @RenderSection("Scripts", required: false)
</body>


</html>
