@*// *********************************************************************************************************
    //  View Name                : Add
    //  Desciption               : To Add and Update Block Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 25 Dec 2021
    // ********************************************************************************************************
*@
@model MasterEF.BlockMaster
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
<script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("","Block created successfully.","success");
        }
        else if (vv == 2) {
            swal("","Block already exists.","warning");
        }
        else if (vv == 3) {
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
</script>
}
<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Block', ' ');
        $('.searchableselect').searchableselect();
        if ($("#hfStateId").val() != "") {
            $("#ddlState").val($("#hfStateId").val());
        }
        if ($("#ddlState").val() != "") {
            BindDistrictData();
        }
    });
    function BindDistrictData() {        
        if ($('#ddlState').val() != "") {
            debugger;
            $.ajax({
                url: '/Master/Block/GetDistrictByStateId',
                data: { 'StateId': $('#ddlState').val() },
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    debugger;
                    var row = "";
                    $('#ddlDistrict').html('');
                    row += "<option value=''>Select</option>";
                    $.each(data, function (ind, item) {
                        row += "<option value='" + item.districtId + "'>" + item.districtName + "</option>";
                    });
                    $('#ddlDistrict').html(row);
                    if ($("#hfDistrictId").val() != "") {
                        $("#ddlDistrict").val($("#hfDistrictId").val());
                    }
                },
                error: function (err) {
                }
            });
        }
        else {
            $('#ddlDistrict').html('');
            $('#ddlDistrict').append("<option value=''>Select</option>");
        }
    }
    function Validate() {
        var Iss = false;
        if (!DropDownValidation("ddlState", "State")) {
            return false;
        }
        if (!DropDownValidation("ddlDistrict", "District")) {
            return false;
        }
        if (!blankFieldValidation("BlockName", "Block Name")) {
            return false;
        }
        Iss = true;
        return Iss;
    }
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_CMSnavigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Master/Block/ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("Add", "Block", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <label class="col-form-label">State <span class="text-danger">*</span></label>
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.StateId, ViewBag.State as IEnumerable<SelectListItem>, "Select", new { @class = "form-control  searchableselect", autofocus = "autofocus", @onchange = "BindDistrictData()", @id = "ddlState" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.StateId)</span>
                                    @Html.HiddenFor(m => m.StateId, new { @id = "hfStateId" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <label class="col-form-label">District <span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select id="ddlDistrict" name="DistrictId" class="form-control searchableselect">
                                        <option value="">Select</option>
                                    </select>
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.DistrictId)</span>
                                    @Html.HiddenFor(m => m.DistrictId, new { @id = "hfDistrictId" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <label class="col-form-label">Block Name <span class="text-danger">*</span></label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.BlockName, new { @class = "form-control", @autofocus = "autofocus", @maxlength = 200, @Onkeypress = "return inputLimiter(event,'NameCharacters')" })
                                    @Html.HiddenFor(m => m.BlockId)
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.BlockName)</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <label class="col-form-label pt-0">Status</label>
                                <div class="form-group">
                                    @Html.RadioButtonFor(n => n.IsActive, true, new { @class = "custom-radio", id = "Rdbtn_Active", @checked = true })
                                    <label class="radio-label mr-2">Active</label>
                                    @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio", id = "Rdbtn_Inactive" })
                                    <label class="radio-label">InActive</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <input type="submit" value='@ViewBag.Button' name="Submit" class="btn btn-success btn-md ml-0 waves-effect waves-light  btnsave" id="Submit" onclick="return Validate()">
                                <a href="~/Master/Block/Add" class="btn btn-danger btn-md ml-0 waves-effect waves-light btncancel">Cancel</a>
                            </div>
                        </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

