@model PermitEF.ePermitModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

@if (ViewBag.msg != null)
{
    <script>
        alert('@ViewBag.msg');
    </script>
}




<section class="wrapper main-wrapper row">
    <div class="col-12">
        <!-- MAIN CONTENT AREA STARTS -->
        @Html.Partial("_navigation")
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/Permit/PaymentConfig/ScheduleRateMasterView")">
                                View
                            </a>
                        </li>

                    </ul>
                    @Html.Partial("_util")
                    @*<uc1:util runat="server" ID="util" />*@
                </div>

                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("ScheduleRateMaster", "PaymentConfig", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label font-weight-bold">Schedule<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.ScheduleId, ViewBag.ViewScheduleTypeList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-group", autofocus = "autofocus" })
                                            @(Html.HiddenFor(model => model.ScheduleId))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label font-weight-bold">Mineral Name<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.MineralId, ViewBag.ViewMineralList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-group", autofocus = "autofocus" })
                                            @(Html.HiddenFor(model => model.MineralId))
                                            @(Html.HiddenFor(model => model.ScheduleRateId))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label font-weight-bold">Mineral Form<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.MineralNatureId, ViewBag.ViewMineralNatureList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-group", autofocus = "autofocus" })
                                            @(Html.HiddenFor(model => model.MineralNatureId))


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label font-weight-bold">Description<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control form-group" })
                                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger", @maxlength = 50 })
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row">
                                        <label for="inputLoginId" class="col-sm-4 col-form-label font-weight-bold">Addtional Rate<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.AddtionalRate, new { Value = "", @class = "form-control form-group", @type="number" })
                                            @Html.ValidationMessageFor(x => x.AddtionalRate, "", new { @class = "text-danger", @maxlength = 50 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="row form-group">
                                        <label for="inputName" class="col-sm-4 col-form-label font-weight-bold">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                           
                                                @Html.RadioButtonFor(n => n.IsActive, "1", new { @checked = "checked" }) Active
                                                @Html.RadioButtonFor(n => n.IsActive, "0", new { @class = "custom-radio ml-2" })Inactive


                                                @*<asp:RadioButtonList ID="customRadio" class="custom-radio" runat="server" RepeatDirection="Horizontal" RepeatColumns="3">
                                    <asp:ListItem Value="1" Selected="True">Active</asp:ListItem>
                                    <asp:ListItem Value="2">Inactive</asp:ListItem>
                                </asp:RadioButtonList>*@
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md" name="Submit" id="Submit" />
                                    <input type="reset" value="Reset" class="btn btn-danger btn-md" />
                                    @*<a href="#" class="btn btn-primary btn-md ml-0">Submit</a>
                    <a href="#" class="btn btn-danger btn-md">Reset</a>*@
                                </div>
                            </div>
                        }
                    </div>
                    </section>
            </div>

        </div>

    </div>
</section>




<script>
    indicateMe = "yes"
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'Permit', 'Schedule Rate', ' ');
        $('.datetime').datetimepicker({
            format: "DD/MM/YYYY"
        }).keydown(false);
    });
</script>
<script>
    $(document).ready(function () {
        $("#Submit").click(function () {
            if (!DropDownValidation("ScheduleId", "Schedule Name")) {
                return false;
            }
            if (!DropDownValidation("MineralId", "Mineral Name")) {
                return false;
            }
            //if (!DropDownValidation("MineralNatureId", "Mineral Nature")) {
            //    return false;
            //}
            if (!blankFieldValidation("Description", "Description")) {
                return false;
            }
            if (!blankFieldValidation("AddtionalRate", "Addtional Rate")) {
                return false;
            }


        });


    });

</script>

<script>
    $(document).ready(function () {
        function BindMineralForm() {
            var MineralId = $('#MineralId').val();
            if (MineralId == "") {
                MineralId = 0;
            }
            //alert(RoleTypeId.toString());
            $('#MineralNatureId').empty();
            var v = "";
            if (MineralId != 0) {

                $.ajax({
                    type: "POST",
                    url: "/Permit/PaymentConfig/GetMineralForm",
                    data: { 'MineralId': MineralId },
                    cache: false,
                    //contentType: "application/json",
                    datatype: "JSON",
                    success: function (SList) {
                        var opt = new Option('--Select--', 0);
                        $('#MineralNatureId').append(opt).selectpicker('refresh');
                        $.each(SList, function (i, item) {

                            // console.log(item);
                            var opt = new Option(item.MineralNature, item.MineralNatureId);
                            $('#MineralNatureId').append(opt).selectpicker('refresh');
                            //$('#ddlUserName').append('<option value="' + item[" UserID"] + '"> ' + item["ApplicantName"] + ' </option>' );
                            // v += "<option value='" + item.userID.toString() + "'>" + item.applicantName + "</option>";
                            // alert(v);
                        });

                    }
                });
            }
            else {
                $('#MineralNatureId').val("");
                alert('Select Mineral Name');
            }
        }
        $("#MineralId").change(function () {

            BindMineralForm();

        });
    });

</script>