@model MasterEF.TransportationModeMaster
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<script>
    indicateMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glRoleRes', 'plUser', 'tl', 'Master', 'Transportation Mode', ' ');
            $("#Submit").click(function () {
                debugger;
                if ($('#TransportationModeName').val().trim() == "") {
                    swal("", "Please Enter Transportation Mode Name", "warning");
                    $("#TransportationModeName").focus();
                    return false;
                }

                //var atLeastOneChecked = false;
                //debugger;
                //$("input[type=radio][name=Status]").each(function () {
                //    if ($(this).attr("checked") == "checked") {
                //        atLeastOneChecked = true;
                //    }
                //});

                //if (!atLeastOneChecked) {
                //   // swal("", "Please Check Status", "warning");
                //    alert("Please Check Status");
                //    $("#Status").focus();
                //    return false;
                //}
            });
        });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ViewList">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        @using (Html.BeginForm("Add", "TransportationMode", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="dropdownDepart" class="col-sm-4 col-form-label">Transportation Mode<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(m => m.TransportationModeName, new { @class = "form-control", @Onkeypress = "return inputLimiter(event,'NameCharactersAndNumbers')" })
                                            @Html.HiddenFor(m => m.TransportationModeId)
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-sm-6"></div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="py-2">
                                                @Html.RadioButtonFor(n => n.IsActive, true, new { @class = "custom-radio", @checked = "true" })
                                                <label class="radio-label">Active</label>
                                                @Html.RadioButtonFor(n => n.IsActive, false, new { @class = "custom-radio" })
                                                <label class="radio-label">Inactive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 offset-sm-2">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <input type="reset" value="Reset" class="btn btn-danger btn-md" />
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>


