@model PermitEF.ECCappingEF
@using PermitApp.Helper;
@{
    ViewBag.Title = "DMO Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Results = ViewBag.Result;
}

<script src=" https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<section class="content-header">

    
</section>
<div class="main-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link " href="~/ECCapping/ecCapping/CapingScreen">
                Add
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);">
                View
            </a>
        </li>
    </ul>
    @Html.Partial("_CMSutil")
</div>

<section class="box form-container">


    <div class="content-body">

        <div class="row">
            <div class="col-sm-12">

                <table id="tableexport" class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Applicant Name</th>
                            <th>District</th>
                            <th>Financial Year</th>
                            <th>Mineral Grade</th>
                            <th>Opening Stock</th>
                            <th>Created On</th>
                            <th>Remarks</th>
                            <th>Status</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 1;


                            @foreach (var b in Results)
                            {

                        <tr>
                            

                            <td>@count</td>
                            <td>@b.UserName </td>
                            <td> @b.DistrictName </td>
                            <td> @b.FinancialYear </td>
                            <td>@b.MineralGrade</td>
                            <td>@b.OpeningStockValue</td>
                            <td>@b.CreatedDate</td>
                            <td style="color:green"> @b.Remarks </td>
                            <td style="color:blue"> @b.AStatus </td>

                            @*@if (@b.ActiveStatus == 1)
                            {

                            <td>   </td>

                            }
                            @if (@count == 1) 
                            {
                                       @if (@b.ActiveStatus == 2)
                                        {
                                               <td>
                                                <a href="@Url.Content("~/ECCapping/ecCapping/EditECcapping/")@b.ECCappingID"
                                                   class="btn-floating btn-outline-primary btn-sm"
                                                   title="Edit"><i class="icon-pencil-alt-solid"></i></a>

                                              </td>

                                        }
                             }*@

                            @*else
                            {

                            <td>   </td>

                            }*@




                        </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <script>


        $(document).ready(function () {

            $("#tableexport").dataTable()







        });


    </script>

</section>