@*// *********************************************************************************************************
    //  View Name                : View Employee Profile
    //  Desciption               : To View Employee Profile
    //  Created By               : Suresh kumar behera
    //  Created On               : 13-july-2021
    // ********************************************************************************************************
*@
@model IEnumerable<EstablishmentEf.EmpProfileEf>

@{
    ViewData["Title"] = "ViewEmp";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using EstablishmentApp.Web;
@*@inject EstablishmentApp.KhanijSecurity.KhanijIDataProtection protector;*@
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @*@Html.Partial("_navigation")*@
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Content("~/EmpPro/EmpProfile/EmpDetail")">
                                Add Employee Personal Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View Employee Personal Details
                            </a>
                        </li>
                    </ul>
                    @*@Html.Partial("_util")*@
                </div>

                <section class="box form-container">


                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @*<div class="table-responsive" id="viewtable">*@
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30px">Sl#</th>
                                                <th>Employee Id</th>
                                                <th>Name</th>
                                                <th>Father/Mother/Husband</th>
                                                @*<th>User Name</th>*@
                                                <th>Employee Class</th>
                                                <th>Employee Type</th>
                                                <th>Aadhar No.</th>
                                                <th>Mobile No.</th>
                                                <th>Status</th>
                                                <th width="60px" class="noprint">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                                                        <tr class="active-row">
                                                                                            <td>@count</td>
                                                                                            <td>@item.VchEmployeeid</td>
                                                                                            <td>@item.VchName</td>
                                                                                            <td>@item.VchFatherName</td>
                                                                                            @*<td>@item.UserName</td>*@
                                                                                            <td>@item.EmployeeClass</td>
                                                                                            <td>@item.VchEmployeeType</td>
                                                                                            <td>@item.VchAadharNumber</td>
                                                                                            <td>@item.VchMobileNo</td>
                                                                                            <td>@item.Status</td>
                                                                                            <td class="noprint">
                                                                                                @if (item.IntStep == 1)
                                                                                                {
                                                                                                    <a href="@CustomQueryStringHelper.EncryptString("EmpPro", "EmpDetail", "EmpProfile", new { id = item.intEmployeeid })"
                                                                                                       class="btn-floating btn-outline-primary btn-sm"
                                                                                                       title="Edit"><i class="icon-pencil-alt-solid"></i></a>

                                                                                                }
                                                                                            </td>
                                                                                        </tr>
                                                    }
                                                }

                                        </tbody>
                                    </table>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

<script>
    excelMe = "yes"
    pdfMe = "yes"

    $(document).ready(function () {
        loadNavigation('ViewEmpPersonalDetails', 'glempprofile', 'plemperinf', 'tl', 'Employee Profile', 'View Employee Personal Details', ' ');

        $('.searchableselect').searchableselect();

        //$('#datatable').DataTable();


        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });

    });
</script>
