
@{
    ViewData["Title"] = "ViewEdit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using HomeApp.Web;
<script>
    $(document).ready(function () {
        loadNavigation('ViewEdit', 'glhelpdesk', 'plraiseticket', 'tl', 'CMS', 'Mineral Form', ' ');

    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Production/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <form method="post" action="/Website/Revenue/ViewByFinancialYear">
                            <div>
                                <select id="financialyear" name="financialyear" class="form-group">
                                    @{
                                        foreach (var obj in (IEnumerable<string>)ViewData["financialyear"])
                                        {
                                            if (obj == (string)ViewBag.selectedfinancialyear)
                                            {
                                                <option value="@obj" selected>@obj</option>
                                            }
                                            else
                                            {
                                                <option value="@obj">@obj</option>
                                            }

                                        }
                                    }
                                </select>
                                <input type="submit" value="SEARCH" />
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Financial Year</th>
                                                <th>Mineral</th>
                                                <th>Production</th>
                                                <th>Despatch</th>
                                                <th class="text-center noprint">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in (List<HomeEF.ViewProductionModel>)ViewData["list"])
                                                {
                                                    <tr>
                                                        <td>@item.FinancialYear</td>
                                                        <td>@item.Mineral</td>
                                                        <td>@item.Production</td>
                                                        <td>@item.Despatch</td>
                                                        <td>
                                                            <a href="/Website/Production/ViewByID/@item.ID" class="text-success btn-sm">
                                                                <i class="icon-pencil-alt-solid"></i>
                                                            </a>
                                                            @*<a href="@CustomQueryStringHelper.EncryptString("Website","ViewByID","Production",new { id=item.ID })">Edit</a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    $(document).ready(function () {
        //------------filling table by financial year on page load--
        if ($('#financialyear').val() != "") {
            $.ajax({
                async: true,
                type: "get",
                url: "/Website/Production/ViewByFinancialYear",
                data: { 'financialyear': $('#financialyear').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    debugger;
                    $('#datatable tbody').empty();
                    $.each(data, function (ind, item) {
                        debugger
                        var rows = "";
                        rows += "<tr>";
                        rows += "<td style='display:none'>" + item.id + "</td>";
                        rows += "<td>" + item.financialYear + "</td>";
                        rows += "<td>" + item.mineral + "</td>";
                        rows += "<td>" + item.production + "</td>";
                        rows += "<td>" + item.despatch + "</td>";
                        rows += "<td class='noprint text-center'><a href = '/Website/Production/ViewByID/" + item.id + "' class='text-success btn-sm'><i class='icon-pencil-alt-solid'></i></a></td>";
                        rows += "</tr>";
                        $('#datatable tbody').append(rows);
                    });
                }
            });
        }
        //------------Filling table from financial year change--
        $('#financialyear').change(function () {
            debugger;
            if ($('#financialyear').val() != "") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Website/Production/ViewByFinancialYear",
                    data: { 'financialyear': $('#financialyear').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        debugger;
                        $('#datatable tbody').empty();
                        $.each(data, function (ind, item) {
                            debugger
                            var rows = "";
                            rows += "<tr>";
                            rows += "<td style='display:none'>" + item.id + "</td>";
                            rows += "<td>" + item.financialYear + "</td>";
                            rows += "<td>" + item.mineral + "</td>";
                            rows += "<td>" + item.production + "</td>";
                            rows += "<td>" + item.despatch + "</td>";
                            rows += "<td class='noprint text-center'><a href = '/Website/Production/ViewByID/" + item.id + "' class='text-success btn-sm'><i class='icon-pencil-alt-solid'></i></a></td>";
                            rows += "</tr>";
                            $('#datatable tbody').append(rows);
                        });
                    }
                });
            }
        });
    });
</script>


