@*// *********************************************************************************************************
    //  View Name                : ViewList
    //  Desciption               : To View and Delete Website Notification Details
    //  Created By               : Lingaraj Dalai
    //  Created On               : 08 Oct 2021
    // ********************************************************************************************************
*@
@model IEnumerable<HomeEF.ViewNotificationModel>
@using HomeApp.Web;
@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        var vv = '@TempData["Message"]';
        if (vv == 1) {
            swal("", "Notification updated successfully.", "success");
        }
        else if (vv == 3){
            swal("", "Something Errror occured. Please Try After Sometime!!", "error");
        }
    </script>
}
<script>
    publishedMe = "yes";
    unpublishedMe = "yes";
    archiveMe = "yes";
    $(document).ready(function () {
        loadNavigation('ViewList', 'glhelpdesk', 'plraiseticket', 'tl', 'CMS', 'Notification', ' ');
        $('.searchableselect').searchableselect();
        $('#datatable').DataTable();
        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
        });
          $("#archiveIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Notification to archive !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Archive?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Notification/ArchiveMove",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Notification Moved To Archive Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                            setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Notification", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
        $("#publishedIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Notification to Publish !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Publish?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Notification/Publish",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Notification Published Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                           setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Notification", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
        $("#unpublishedIcon").click(function () {
            var idsToSend = new Array();
                $('table [type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        idsToSend.push($(this).val());
                    }
                });
            if (idsToSend.length <= 0) {
                swal("", "Please select Notification to Unpublish !", "warning");
                return false;
            }
            else {
                if (confirm("Are you sure to Unpublish?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Website/Notification/UnPublish",
                        data: {
                            arr: JSON.stringify(idsToSend)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result == 4) {
                                swal("", "Notification Unpublished Sucessfully!!", "success");
                            }
                            else {
                                swal("", "Something Errror occured. Please Try After Sometime!!", "error");
                            }
                            setTimeout(function () {
                                window.location.href = '@Url.Action("ViewList", "Notification", new { Area = "Website" })'
                            }, 10000);
                        }
                    });
                    idsToSend = [];
                }
            }
        });
    });
</script>
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Notification/Add">
                                Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">
                                View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Website/Notification/Archive">
                                Archive
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <section class="box form-container">
                    <div class="content-body">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Publish</li>
                                <li><span class="bg-warning"></span> Unpublish</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px" class="text-center noprint">
                                                    <input type="checkbox" id="ckbCheckAll">
                                                </th>
                                                <th width="20px">Sl#</th>
                                                <th width="120px">Type</th>
                                                <th>Subject</th>
                                                <th width="100px">Publish On</th>
                                                <th width="100px">Created On</th>
                                                <th class="text-center noprint">Document</th>
                                                <th width="50px" class="text-center noprint">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    var dyclass = @item.BIT_STATUS == "Active" ? "active-row" : "inactive-row";
                                                    <tr class="@dyclass">
                                                        <td class="text-center noprint">
                                                            <input type="checkbox" class="checkBoxClass" id='chkData' value="@item.INT_NOTIFICATION_ID">
                                                        </td>
                                                        <td>@count</td>
                                                        <td>@item.VCH_NOTIFICATION_NAME</td>
                                                        <td>@item.VCH_NOTIFICATION_SUB</td>
                                                        <td>@item.DTM_PUBLISHED_ON</td>
                                                        <td>@item.DTM_CREATED_ON</td>
                                                        <td class="text-center noprint"><a href='~/@item.VCH_UPLOAD_FILE' data-original-title="Download" target="_blank"><i class="icon-file-pdf-solid h5 text-danger"></i></a></td>
                                                        <td class="text-center noprint">
                                                            @*<a href="@CustomQueryStringHelper.EncryptString("Website","Add","Notification",new {id=item.INT_NOTIFICATION_ID })" class="text-success btn-sm" title="Edit">
                                                                <i class="icon-pencil-alt-solid"></i>
                                                            </a>*@
                                                            <a href="/Website/Notification/Add/@item.INT_NOTIFICATION_ID" class="text-success btn-sm">
                                                                <i class="icon-pencil-alt-solid"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>


