
@{
    ViewData["Title"] = "AccAutView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        @if(TempData["Masg"]!=null)
            {
        <script>
                      swal("",'@TempData["Masg"]', "success");

        </script>
            TempData["Masg"] = null;
        }
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                View Grading Accepting Authority
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

                <section class="box form-container">
                    @*<div class="search-box">*@
                    @*<div class="searchform px-3 py-3">
                            <div class="row">


                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-4 col-form-label">
                                            From Date
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="inputDate1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate1"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">
                                            To Date
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="inputDate2">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputDate2"><i class="icon-calendar-alt-solid"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-2">
                                    <a href="#" class="btn btn-md btn-success m-0 waves-effect waves-light"> Show </a>
                                </div>


                            </div>




                        </div>*@

                    <div class="content-body pt-0">
                        <div class="legend-box">
                            <ul class="d-flex mb-1 justify-content-end list-unstyled">
                                <li><span class="bg-success"></span> Active</li>
                                <li><span class="bg-warning"></span> Inactive</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive" id="viewtable">
                                    <table id="datatable" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30px">Sl#</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                <th>Person Name</th>
                                                <th>Requirement Type </th>
                                                <th>Joining Date</th>
                                                <th width="60px" class="noprint">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 0;
                                                foreach (var item in Model)
                                                {
                                                    count++;
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.Deptname</td>
                                                        <td>@item.designation</td>
                                                        <td>@item.personName</td>
                                                        <td>@item.Deptname</td>
                                                        <td>@Convert.ToString(string.Format("{0:dd/MMM/yyyy}", item.datejoiningdate))</td>
                                                        <td class="noprint">
                                                            <a href="@Url.Content("~/Aec/SelfAppraisal/AccAutAction?id="+item.intID+"")" class="btn-floating btn-outline-primary btn-sm waves-effect waves-light" title="" data-original-title="Edit"><i class="icon-pencil-alt-solid"></i></a>

                                                        </td>
                                                    </tr>
                                                }
                                            }





                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>

