@model EstablishmentEf.SalfeAprasialEf
@{
    ViewData["Title"] = "AddReportingAuthority";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                 Remarking Authority
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link " href="@Url.Content("~/Aec/SelfAppraisal/ViewReportingAuthority")">
                                View Remarking Authority
                            </a*@>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>

               <script>
                   $(document).ready(function () {






                       $("#Submit").click(function () {


                          
                           if (!blankFieldValidation("Vchtargetachievement", "Remarks about target and achievement")) {
                               return false;
                           }
                           if (!blankFieldValidation("vchqualitywork", "Describe the quality of work")) {
                               return false;
                           }
                           if (!blankFieldValidation("Vchworkdetails", "Kindly provide the work details")) {
                               return false;
                           }
                           if (!blankFieldValidation("Vchworkconsternation", "Remarks about work consternation")) {
                               return false;
                           }
                           if (!blankFieldValidation("VCHDictackingquality", "Decision tacking quality")) {
                               return false;
                           }
                           if (!blankFieldValidation("Vchhandlingcapacity", "Unsuspected handling capacity")) {
                               return false;
                           }
                           if (!blankFieldValidation("Vchtrustcolleagues", "Capability to trust of colleagues")) {
                               return false;
                           }
                           if (!blankFieldValidation("vchCommunication", "Communication and logic")) {
                               return false;
                           }
                           if (!blankFieldValidation("VchRespect_others", " Respect to others")) {
                               return false;
                           }
                           if (!blankFieldValidation("VchPublicRelation", "Public Relation")) {
                               return false;
                           }
                           if (!blankFieldValidation("vchmakingplan", "Ability to making plan")) {
                               return false;
                           }
                           if (!blankFieldValidation("VchSincere", "Sincere")) {
                               return false;
                           }
                           if (!blankFieldValidation("VchAbilitycheck", "Ability to check")) {
                               return false;
                           }
                           if (!DropDownValidation("VchReportingGrade", "Grade")) {
                               return false;
                           }

                       });
                   });
               </script>
                @using (Html.BeginForm("AddReportingAuthority", "SelfAppraisal", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "Myfrom" }))
                {
                    <div class="content-body">

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="bg-light p-3 form-group border">
                                    <h5 class="text-brown font-weight-bold mt-0">Self Appraisal Class 1,2,3 Details</h5>
                                    <div class="row">


                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.personName)</label>
                                                    @Html.HiddenFor(m=>m.intID)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.designation)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Deptname)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Requirement Type </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchRequirementtype)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Joining Date</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext">
                                                        <span class="colon">:</span>@Convert.ToString(string.Format("{0:dd/MMM/yyyy}", Model.datejoiningdate))</label>
                                                            @Html.HiddenFor(m => m.datejoiningdate)
</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12"></div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Work Description </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchWorkdescription)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Goal Description</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchgoal)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Describe obstacles arises in achieve your goal</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchachievegoal)</label>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="bg-light p-3 form-group border">
                                    <h5 class="text-brown font-weight-bold mt-0">Remarking Authority Details</h5>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Remarks about target and achievement<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.Vchtargetachievement, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    @*<textarea name="textAddress" rows="2" cols="20" id="Textarea12" class="form-control"></textarea>*@
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Describe the quality of work <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.vchqualitywork, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Kindly provide the work details<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.Vchworkdetails, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about work consternation<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.Vchworkconsternation, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Decision tacking quality <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VCHDictackingquality, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Unsuspected handling capacity. <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.Vchhandlingcapacity, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">  Capability to trust of colleagues <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.Vchtrustcolleagues, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Communication and logic   <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.vchCommunication, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Respect to others<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VchRespect_others, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Public Relation <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VchPublicRelation, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Ability to making plan<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.vchmakingplan, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Sincere <span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VchSincere, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                    <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Ability to check<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    @Html.TextAreaFor(m => m.VchAbilitycheck, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Grade<span class="text-danger">*</span></label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <select class="form-control form-control-sm searchableselect" name="VchReportingGrade" id="VchReportingGrade">
                                                        <option value="null">select</option>
                                                        <option value="Excellent">Excellent</option>
                                                        <option value="Very Good">Very Good</option>
                                                        <option value="Good">Good</option>
                                                        <option value="Average">Average</option>
                                                        <option value="Below Average">Below Average</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    








                    <div class="col-lg-6 offset-lg-2 offset-md-5">

                        <input type="submit" id="Submit" class="btn btn-primary btn-md ml-0" value="Submit" />
                        <input type="submit" id="btnReset" class="btn btn-danger btn-md" value="Reset" />
                    </div>
                }

            </div>
        </div>
</section>


