@model EstablishmentEf.SalfeAprasialEf
@{
    ViewData["Title"] = "AddSelfAppraisal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Add Self Appraisal Class 1,2,3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/Aec/SelfAppraisal/ViewSelfAppraisal")">
                                View Self Appraisal Class 1,2,3
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_util")
                </div>
                <script>
                    $(document).ready(function () {






                        $("#Submit").click(function () {


                            if (!DropDownValidation("intDepartment", "Department")) {
                                return false;
                            }
                            if (!DropDownValidation("intDesignation", "Designation")) {
                                return false;
                            }
                            if (!DropDownValidation("intPersonname", "Person Name")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchRequirementtype", "Requirement Type")) {
                                return false;
                            }
                            if (!blankFieldValidation("datejoiningdate", "Joining Date")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchWorkdescription", "Work description")) {
                                return false;
                            }
                            if (!blankFieldValidation("Vchgoal", "Work descriptionDescription about goal")) {
                                return false;
                            }
                            if (!blankFieldValidation("Vchgoal", "Work descriptionDescription about goal")) {
                                return false;
                            }
                            if (!blankFieldValidation("Vchachievegoal", "If any obstacles arises in achieve your goal, describe that.")) {
                                return false;
                            }
                            if (!blankFieldValidation("VchContributiongoal", "Contribution about goal for achieve")) {
                                return false;
                            }

                        });
                    });

                </script>
                <section class="box form-container">
                    @using (Html.BeginForm("AddSelfAppraisal", "SelfAppraisal", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "form1" }))
                    {
                        <div class="content-body">

                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.HiddenFor(m => m.intID);
                                            @Html.DropDownListFor(m => m.intDepartment, ViewBag.Department as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" });
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.DropDownListFor(m => m.intDesignation, ViewBag.Designation as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" });
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.DropDownListFor(m => m.intPersonname, ViewBag.User as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control form-control-sm searchableselect" });
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Requirement Type</label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">

                                            @Html.TextBoxFor(m => m.VchRequirementtype, new { @class = "form-control", @maxlength = 20, Onkeypress = "return inputLimiter(event,'NameCharactersAndNumbers')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Joining Date</label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextBoxFor(m => m.datejoiningdate , new { @class = "form-control datepicker", @maxlength = 12 })
                                            @*<input type="text" class="form-control datepicker" id="Date1">*@
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="datejoiningdate"><i class="icon-calendar-alt-solid"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Work description <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.VchWorkdescription, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Description about goal <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Vchgoal, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">If any obstacles arises in achieve your goal, describe that.   <span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.Vchachievegoal, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">Contribution about goal for achieve<span class="text-danger">*</span></label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            @Html.TextAreaFor(m => m.VchContributiongoal, new { @class = "form-control", @maxlength = 500, col = 20, row = 1, Onkeypress = "return inputLimiter(event,'Description')" })
                                            <small class="text-danger">Maximum <strong>500</strong> characters</small>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 offset-lg-2 offset-md-5">
                                    <input type="submit" value='@ViewBag.Button' class="btn btn-primary btn-md ml-0" name="Submit" id="Submit" />
                                    <input type="reset"  class="btn btn-danger btn-md" value="Reset" />
                                    
                                </div>

                            </div>
                        </div>
                    }
                    </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
<script>
    $(document).ready(function () {
	    $('.datepicker').datetimepicker({
		    format: 'LT',
		    format: 'DD-MMM-YYYY',
		    daysOfWeekDisabled: [0, 6],
	    });
    });
</script>

