@model EstablishmentEf.SalfeAprasialEf

@{
    ViewData["Title"] = "RevAutAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_navigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Grading Reviewing Authority
                            </a>
                        </li>
                        
                    </ul>
                    @Html.Partial("_util")
                </div>

                @*<section class="box form-container">*@
                @using (Html.BeginForm("RevAutAction", "SelfAppraisal", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "Myfrom" }))
                {
                    <div class="content-body">

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="bg-light p-3 form-group border">
                                    <h5 class="text-brown font-weight-bold mt-0">Self Appraisal Class 1,2,3 Details</h5>
                                    <div class="row">

                                        @Html.HiddenFor(m => m.intID)
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Person Name</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.personName)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Designation</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.designation)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Department</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Deptname)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Requirement Type </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchRequirementtype)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Joining Date</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Convert.ToString(string.Format("{0:dd/MMM/yyyy}", Model.datejoiningdate))</label>
                                                    @Html.HiddenFor(m => m.datejoiningdate)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12"></div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Work Description </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchWorkdescription)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Goal Description</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchgoal)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Describe obstacles arises in achieve your goal</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchachievegoal)</label>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="bg-light p-3 form-group border">
                                    <h5 class="text-brown font-weight-bold mt-0">Remarking Authority Details</h5>
                                    <div class="row">
                                        @*<div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="mb-2 row">
                                        <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Goal Description</label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchContributiongoal)</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="mb-2 row">
                                        <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Describe obstacles arises in achieve your goal</label>
                                        <div class="col-lg-7 col-md-6 col-sm-12">
                                            <label class="form-control-plaintext"><span class="colon">:</span></label>
                                        </div>
                                    </div>
                                </div>*@
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Contribution about goal for achieve</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchContributiongoal)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about target and achievement</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchtargetachievement)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Describe the quality of work</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.vchqualitywork)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Kindly provide the work details</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchworkdetails)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Remarks about work consternation</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchworkconsternation)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Decision tacking quality</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VCHDictackingquality)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Unsuspected handling capacity</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchhandlingcapacity)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Capability to trust of colleague</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.Vchtrustcolleagues)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Communication and logic </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.vchCommunication)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Respect to others</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchRespect_others)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="mb-2 row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Public Relation </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchPublicRelation)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class=" row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">Ability to making plan</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.vchmakingplan)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder"> Ability to check</label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchAbilitycheck)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="row">
                                                <label class="col-lg-5 col-md-6 col-sm-12 col-form-label font-weight-bolder">  Sincere </label>
                                                <div class="col-lg-7 col-md-6 col-sm-12">
                                                    <label class="form-control-plaintext"><span class="colon">:</span>@Html.DisplayFor(m => m.VchSincere)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group row">
                                <label class="col-lg-4 col-md-6 col-sm-12 col-form-label font-weight-bolder">  Grade <span class="text-danger">*</span></label>
                                <div class="col-lg-7 col-md-6 col-sm-12">
                                    @Html.HiddenFor(m=>m.intID)
                                    <select class="form-control form-control-sm searchableselect" id="VchReviewingGrade" name="VchReviewingGrade">
                                        <option value="null">select</option>
                                        <option value="Excellent">Excellent</option>
                                        <option value="Very Good">Very Good</option>
                                        <option value="Good">Good</option>
                                        <option value="Average">Average</option>
                                        <option value="Below Average">Below Average</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="col-lg-6 offset-lg-2 offset-md-5">

                        <input type="submit" id="btnSubmit" class="btn btn-primary btn-md ml-0" value="Submit" />
                        <input type="submit" id="btnReset" class="btn btn-danger btn-md" value="Reset" />
                    </div>
                }

                </div>
        </div>
</section>
<script >
    $(document).ready(function () {
        $("#SUbmit").click(function ()
        {
            debugger;
                if(!DropDownValidation("VchReviewingGrade", "Grade")) {
                        return false;
            }
            $("#Myfrom").submit();
         });
    });

</script>

