@model PermitEF.ForwardingNoteModel
@{
    ViewData["Title"] = "MergeEPermit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script src=" https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                e-Transit Pass - Rail (Print and Close)
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>

                <section class="box form-container">
                    @using (Html.BeginForm("PrintAndCloseTP", "Transit", FormMethod.Post, new { AUTOCOMPLETE = "Off", id = "frmEPermit" }))
                    {
                        @(Html.HiddenFor(model => model.TotalPass))
                        @(Html.HiddenFor(model => model.StockQty))
                        @(Html.HiddenFor(model => model.NoofRTP))
                        @(Html.HiddenFor(model => model.ForwardingNoteId))
                        @(Html.HiddenFor(model => model.RTP_ApprovedQty))
                        <div class="content-body">
                           
                                <div class="row">
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">e-Permit No.</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.BulkPermitNumber, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Quantity Mentioned in E.D.R.M </label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.ReqQty, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>

                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Name of the Mineral</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.MineralName, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>

                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Mineral Form</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.MineralNature, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Mineral Grade</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.MineralGrade, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Railway Application Number</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.ForwardingNoteNumber, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">RTP Quantity </label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            @Html.DisplayFor(model => model.PrintAndCloseFNQty, new { @class = "plaintext", @readonly = "readonly" })
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">Till Date RTP Taken Quantity</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>
                                            <span id="ApprovedQty">
                                                @Html.DisplayFor(model => model.ApprovedQty, new { @class = "plaintext", @readonly = "readonly", id = "ApprovedQty" })
                                                 </span>
                                        </label>
                                    </div>
                                    <label class="col-lg-3 col-md-4 col-sm-12 col-form-label font-weight-bold">
                                        Quantity of Mineral
                                    </label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <label class="form-control-plaintext">
                                            <span class="colon">:</span>


                                            @Html.DisplayFor(model => model.StockQty, new { @class = "plaintext", @readonly = "readonly" })

                                            @if (Model.ApprovedQty >= 0)
                                            {
                                                var vv = Convert.ToDecimal(Model.StockQty - Model.ApprovedQty) + Convert.ToDecimal(Model.OpenRoadTPQty);
                                                <small class="text-danger">Your available Quantity on railway siding will be @vv Quantity. Are you sure you want to continue?</small>
                                                <input data-val="true"
                                                       id="RTPBalanceQty" name="RTPBalanceQty" type="hidden" value="@Model.ApprovedQty" />
                                            }
                                        </label>
                                    </div>


                                </div>
                           
                            <div class="row">
                                <div class="col-lg-12 mt-4">
                                    <input type="button"  value="Back To List" class="btn btn-primary btn-md " onclick="return printPage();" />
                                    <input type="button"  value="Print and Close" class="btn btn-danger btn-md " onclick="return GeneratePass(2);" />
                                </div>


                            </div>

                        </div>

                    }
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>
@*<uc1:footer runat="server" ID="footer" />*@

<script>
    backMe = "yes"
    $(document).ready(function () {
        loadNavigation('Add', 'glhelpdesk', 'plraiseticket', 'tl', 'E-Permit', 'e-Transit Pass - Rail (Print and Close)', ' ');
        $('.datetime').datetimepicker({
            format: "DD/MM/YYYY"
        }).keydown(false);
    });
</script>

<script>

    function printPage() {
        window.location.href = "@Url.Action("FinalForwadingNote", "Transit", new { Area = "Permit" })";
    }
    function GeneratePass(id) {
        var appQty = $('#StockQty').val();
        var entQty = $('#ApprovedQty').text();

        if (parseFloat(appQty) > parseFloat(entQty)) {
            var d = parseFloat(entQty) - parseFloat(appQty);
            alert("You have only " + entQty + " qty available. You can not enterd qty higher then available qty.");
            return false;
        }
        else {
            if (confirm("Are you confirmed to Print and Close RTP?")) {
                $.ajax({
                    url: '@Url.Action("UpdateRTPPass", "Transit", new { Area = "Permit" })',
                    type: "POST",
                    data: {
                        ForwardingNoteID: $("#ForwardingNoteId").val(),
                        TrainNo: 0,
                        RackNo: 0,
                        ApprovedQty: $('#StockQty').val(),
                        PassClick: id
                    },
                    success: function (data) {
                        if (data != null && data != 0) {
                            alert("You have successfully generated RTP Pass");
                            // var url = '@Url.Action("RailTPDesignForWardingNote", "TransitPass", new { Area = "Transit" })/' + $("#ForwardingNoteId").val();
                            var url = '@Url.Action("RailTPDesignForWardingNote", "TransitPass", new { Area = "Transit" })/' + data;
                            window.location.href = url;
                        }
                        else {
                            alert("RTP could not generated.Please try after some time.");
                        }
                    }
                });
            }
        }
    }


</script>