
@{
    ViewData["Title"] = "SampleGrade";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1>SampleGrade</h1>
<script>

    $(document).ready(function () {
        loadNavigation('DDViewProject', 'gl', 'pl', 'tl', 'Royalty Clearance', 'Take Action Project', ' ');
        $('.searchableselect').searchableselect();

        $('.shorting-lnk').click(function () {
            $('.shorting-lnk i').toggleClass('fa-sort-amount-up-alt fa-sort-amount-down-alt ');
        });
        $('.datepicker').datetimepicker({
            format: 'LT',
            format: 'DD-MMM-YYYY',
            daysOfWeekDisabled: [],
        });
    });
</script>

<section class="wrapper main-wrapper row">
    <div class="col-12">
        @Html.Partial("_CMSnavigation")
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="row">
            <div class="col-12">
                <div class="main-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/CoalGrade/CoalGrade/SampleGrade">
                                Sample Grade
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CMSutil")
                </div>
                <section class="box form-container">
                    <div class="searchform px-3 py-3">
                        <div class="row align-items-lg-center form-group">

                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">From Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate1" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate1"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-4 col-sm-12 col-form-label">To Date</label>
                            <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-3">
                                <div class="input-group">
                                    <input id="txtTenderDate2" type="text" class="form-control datepicker">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtTenderDate2"><i class="icon-calendar-alt-solid"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button class="btn btn-md btn-success m-0" id="btnShow">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="viewtable">
                                    <table id="table-exports" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Lessee Name</th>
                                                <th>E-Permit No</th>
                                                <th>Mineral Name </th>
                                                <th>Mineral Form</th>
                                                <th>Mineral Grade</th>
                                                <th>Dispatch Qty</th>
                                                <th>Updated Grade Qty</th>
                                                <th>Updated Grade</th>
                                                <th>Pending Grade</th>
                                                <th>Payment Details</th>
                                                <th>Payment Status</th>
                                                <th>Grade Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in (List<PermitEF.SampleGradeModel>)ViewData["list"])
                                                {
                                                    <tr>
                                                        <td>@item.LesseeId</td>
                                                        <td>@item.BulkPermitNo</td>
                                                        <td>@item.MineralName</td>
                                                        <td>@item.MineralNature</td>
                                                        <td>@item.PermitGrade</td>
                                                        <td>@item.DipatchQty</td>
                                                        <td>@item.UpdateGradeQty</td>
                                                        <td>@item.Updatedgrade</td>
                                                        <td>@item.PendingforUpdateGrade</td>
                                                        <td>@item.PaymentDetails</td>
                                                        <td>@item.PaymentStatus</td>
                                                        @{
                                                            if (item.UpdateGradeStatus == "PENDING")
                                                            {
                                                                <td class="text-center noprint">
                                                                    <a href="/CoalGrade/CoalGrade/UpdateSampleGrade?BulkPermitId=@item.BulkPermitId" class="btn btn-success btn-sm text-capitalize">Update</a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item.UpdateGradeStatus</td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA ENDS -->
</section>



<div class="modal fade" id="assessment-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    Project Details | Application001
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row mb-3">
                    <label class="col-lg-3 col-12 col-form-label">Project Name</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Indravati Raipur</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Type</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Govertment</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">District</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Raipur</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Block</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>Raipur</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Project Address / Location</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>NH</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Start Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>06-Jan-2022</label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">End Date</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="form-control-plaintext"><span class="colon">:</span>24-Jan-2022</label>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Mineral Name</th>
                                <th>Total Mineral Quantity</th>
                                <th>Royalty Paid (<i class="icon-rupee-sign-solid"></i>)</th>
                                <th>Received from</th>
                                <th>TP Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sand</td>
                                <td>100 CFT</td>
                                <td>3000</td>
                                <td>
                                    <span class="d-block"><strong>Consigner Name</strong>  Amit Das </span>
                                    <span class="d-block"><strong>No.</strong>  543785</span>
                                </td>
                                <td>
                                    <a href="#" class="text-primary" data-toggle="modal" data-target="#View-Details">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Stone</td>
                                <td>100 CFT</td>
                                <td>3000</td>
                                <td>
                                    <span class="d-block"><strong>Consigner Name</strong>  Amit Das </span>
                                    <span class="d-block"><strong>No.</strong>  543785</span>
                                </td>
                                <td>
                                    <a href="#" class="text-primary" data-toggle="modal" data-target="#View-Details">
                                        View Details
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>

                </div>

                <div class="row">
                    <label class="col-lg-3 col-12 col-form-label">Uploaded Document</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            <a href="#" class="text-danger h4" title="Download Document">
                                <i class="icon-file-pdf-solid"></i>
                            </a>
                        </label>
                    </div>

                    <label class="col-lg-3 col-12 col-form-label">Remark</label>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                        <label class="form-control-plaintext">
                            <span class="colon">:</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                        </label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="View-Details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tp Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Sl#</th>
                                <th>TP No.</th>
                                <th>TP Date</th>
                                <th class="text-right">TP Quantity</th>
                                <th class="text-right">Royality Paid (<i class="icon-rupee-sign-solid"></i>)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tp_000001</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tp_000002</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tp_000003</td>
                                <td>22-Jan-2022</td>
                                <td class="text-right">1000 CFT</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="font-weight-bold text-danger text-right">Total</td>
                                <td class="text-right">3000 CFT</td>
                                <td class="text-right">3000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

